<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai.manager.course.mapper.ZhsCoursePayLogMapper">
    
    <resultMap type="com.ai.manager.course.domain.ZhsCoursePayLog" id="ZhsCoursePayLogResult">
        <result property="id"    column="id"    />
        <result property="userUuid"    column="user_uuid"    />
        <result property="courseId"    column="course_id"    />
        <result property="videoId"    column="video_id"    />
        <result property="outBillOn"    column="out_bill_on"    />
        <result property="payWay"    column="pay_way"    />
        <result property="amount"    column="amount"    />
        <result property="realAmount"    column="real_amount"    />
        <result property="type"    column="type"    />
        <result property="createdAt"    column="created_at"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectZhsCoursePayLogVo">
        select id, user_uuid, course_id, video_id, out_bill_on, pay_way, amount, real_amount, type, created_at, `status`
    </sql>
    <sql id="fromZhsCoursePayLogTable">
        from zhs_course_pay_log
    </sql>

    <select id="getList" parameterType="com.ai.manager.course.domain.ZhsCoursePayLog" resultMap="ZhsCoursePayLogResult">
        <include refid="selectZhsCoursePayLogVo"/>
        <include refid="fromZhsCoursePayLogTable"/>
        <where>
            <if test="userUuid != null  and userUuid != ''"> and user_uuid = #{userUuid}</if>
            <if test="courseId != null  and courseId != ''"> and course_id = #{courseId}</if>
            <if test="videoId != null  and videoId != ''"> and video_id = #{videoId}</if>
            <if test="outBillOn != null  and outBillOn != ''"> and out_bill_on = #{outBillOn}</if>
            <if test="payWay != null  and payWay != ''"> and pay_way = #{payWay}</if>
            <if test="type != null "> and type = #{type}</if>
        </where>
    </select>
    
    <select id="getById" parameterType="String" resultMap="ZhsCoursePayLogResult">
        <include refid="selectZhsCoursePayLogVo"/>
        <include refid="fromZhsCoursePayLogTable"/>
        where id = #{id}
    </select>
    <select id="getByOutBillNo" resultMap="ZhsCoursePayLogResult">
        <include refid="selectZhsCoursePayLogVo"/>
        <include refid="fromZhsCoursePayLogTable"/>
        <where>
            out_bill_on = #{outBillOn}
        </where>
        limit 1
    </select>

    <insert id="addZhsCoursePayLog" parameterType="com.ai.manager.course.domain.ZhsCoursePayLog">
        insert into zhs_course_pay_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userUuid != null and userUuid != ''">user_uuid,</if>
            <if test="courseId != null and courseId != ''">course_id,</if>
            <if test="videoId != null">video_id,</if>
            <if test="outBillOn != null and outBillOn != ''">out_bill_on,</if>
            <if test="payWay != null">pay_way,</if>
            <if test="amount != null">amount,</if>
            <if test="realAmount != null">real_amount,</if>
            <if test="type != null">type,</if>
            <if test="createdAt != null">created_at,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userUuid != null and userUuid != ''">#{userUuid},</if>
            <if test="courseId != null and courseId != ''">#{courseId},</if>
            <if test="videoId != null">#{videoId},</if>
            <if test="outBillOn != null and outBillOn != ''">#{outBillOn},</if>
            <if test="payWay != null">#{payWay},</if>
            <if test="amount != null">#{amount},</if>
            <if test="realAmount != null">#{realAmount},</if>
            <if test="type != null">#{type},</if>
            <if test="createdAt != null">#{createdAt},</if>
         </trim>
    </insert>

    <update id="edit" parameterType="com.ai.manager.course.domain.ZhsCoursePayLog">
        update zhs_course_pay_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="userUuid != null and userUuid != ''">user_uuid = #{userUuid},</if>
            <if test="courseId != null and courseId != ''">course_id = #{courseId},</if>
            <if test="videoId != null">video_id = #{videoId},</if>
            <if test="outBillOn != null and outBillOn != ''">out_bill_on = #{outBillOn},</if>
            <if test="payWay != null">pay_way = #{payWay},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="realAmount != null">real_amount = #{realAmount},</if>
            <if test="type != null">type = #{type},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="delById" parameterType="String">
        delete from zhs_course_pay_log where id = #{id}
    </delete>

    <delete id="delByIds" parameterType="String">
        delete from zhs_course_pay_log where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>