<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai.manager.course.mapper.ZhsCourseMapper">
    
    <resultMap type="com.ai.manager.course.domain.ZhsCourse" id="ZhsCourseResult">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="subtitle" column="subtitle"/>
        <result property="content" column="content"/>
        <result property="remark" column="remark"/>
        <result property="remarkFile" column="remark_file"/>
        <result property="binding" column="binding"/>
        <result property="stage" column="stage"/>
        <result property="isHidden" column="is_hidden"/>
        <result property="isDel" column="is_del"/>
        <result property="sort" column="sort"/>
        <result property="creator" column="creator"/>
        <result property="createdAt" column="created_at"/>
        <result property="updator" column="updator"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="label" column="label"/>
        <result property="auditStatus" column="audit_status"/>

        <result property="nickname" column="nickname"/>
        <result property="avatar" column="avatar"/>
        <association property="pay" resultMap="ZhsCoursePayResult"/>
    </resultMap>
    <resultMap type="com.ai.manager.course.domain.ZhsCoursePay" id="ZhsCoursePayResult">
        <result property="uuid"    column="zcp_uuid"    />
        <result property="courseId"    column="zcp_course_id"    />
        <result property="payType"    column="zcp_pay_type"    />
        <result property="payCrowd"    column="zcp_pay_crowd"    />
        <result property="amount"    column="zcp_amount"    />
        <result property="creator"    column="zcp_creator"    />
        <result property="createdAt"    column="zcp_created_at"    />
        <result property="updator"    column="zcp_updator"    />
        <result property="updatedAt"    column="zcp_updated_At"    />
    </resultMap>

    <sql id="selectZhsCourseVo">
        select distinct c.id, c.title, c.subtitle, c.content, c.remark, c.remark_file, c.binding, c.stage, c.is_hidden, c.is_del, c.sort, c.creator, c.created_at, c.updator, c.updated_at, c.label, c.audit_status
    </sql>
    <sql id="fromZhsCourseTable">
        from zhs_course c
    </sql>

    <select id="getList" parameterType="com.ai.manager.course.domain.ZhsCourse" resultMap="ZhsCourseResult">
        <include refid="selectZhsCourseVo"/>
        , zcp.uuid AS zcp_uuid,zcp.course_id AS zcp_course_id,zcp.pay_type AS zcp_pay_type,zcp.pay_crowd AS zcp_pay_crowd,zcp.amount AS zcp_amount,zcp.creator AS zcp_creator,zcp.created_at AS zcp_created_at,zcp.updator AS zcp_updator,zcp.updated_At AS zcp_updated_At

        ,u.nickname, u.avatar
        <include refid="fromZhsCourseTable"/>
        left join zhs_course_platform_log cpl on cpl.course_id = c.id
        left join zhs_course_pay zcp on zcp.course_id = c.id
        left join zhs_center_project.users u on u.uuid = c.creator
        <where>
            <if test="title != null  and title != ''"> and
                (
                    (c.title like concat('%', #{title}, '%'))
                    or (u.nickname like concat('%', #{title}, '%'))
                    or (c.label like concat('%', #{title}, '%'))
                )
            </if>
            <if test="stage != null "> and c.stage = #{stage}</if>
            <if test="creator != null  and creator != ''"> and c.creator = #{creator}</if>
            <if test="creator == null or creator == ''"> and c.audit_status = 4</if>
            <if test="createdAt != null "> and c.created_at = #{createdAt}</if>
            <if test="updator != null  and updator != ''"> and c.updator = #{updator}</if>
            <if test="platform != null  and platform != ''"> and cpl.`platform_id` = #{platform}</if>
            <if test="auditStatus != null "> and c.`audit_status` = #{auditStatus}</if>
            <if test="types != null and types != ''">
                and EXISTS(
                select 1 from zhs_ai_project.agent_category_link cacl
                join zhs_ai_project.agent_category cac on cac.id = cacl.category_id
                where cacl.agent_id = c.id and cac.field2 = '0'
                <!-- and FIND_IN_SET(cac.id, #{types}) = 1 -->
                <foreach collection="typeArray" item="typeIds" open="and cac.id in (" separator="," close=")">
                    #{typeIds}
                </foreach>
                )
            </if>
            <if test="categorys != null and categorys != ''">
                and EXISTS(
                select 1 from zhs_ai_project.agent_category_link cacl
                join zhs_category_dictionary czcd on czcd.id = cacl.category_id
                where cacl.agent_id = c.id
                <!-- and FIND_IN_SET(czcd.id, #{categorys}) = 1 -->
                <foreach collection="categoryArray" item="categoryIds" open="and czcd.id in (" separator="," close=")">
                    #{categoryIds}
                </foreach>
                )
            </if>
        </where>
        order by sort desc, created_at desc
    </select>
    
    <select id="getById" parameterType="String" resultMap="ZhsCourseResult">
        <include refid="selectZhsCourseVo"/>
        , zcp.uuid AS zcp_uuid,zcp.course_id AS zcp_course_id,zcp.pay_type AS zcp_pay_type,zcp.pay_crowd AS zcp_pay_crowd,zcp.amount AS zcp_amount,zcp.creator AS zcp_creator,zcp.created_at AS zcp_created_at,zcp.updator AS zcp_updator,zcp.updated_At AS zcp_updated_At
        ,u.nickname, u.avatar
        <include refid="fromZhsCourseTable"/>
        left join zhs_course_pay zcp on zcp.course_id = c.id
        left join zhs_center_project.users u on u.uuid = c.creator
        where c.id = #{id}
    </select>
    <select id="getByIds" resultMap="ZhsCourseResult">
        <include refid="selectZhsCourseVo"/>
        <include refid="fromZhsCourseTable"/>
        <where>
            creator = #{uuid}
            <foreach collection="ids" item="id" open="and id in (" close=")" separator=",">
                #{id}
            </foreach>
        </where>
    </select>

    <insert id="addZhsCourse">
        insert into zhs_course
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="title != null and title != ''">title,</if>
            <if test="subtitle != null">subtitle,</if>
            <if test="content != null">content,</if>
            <if test="remark != null">remark,</if>
            <if test="remarkFile != null">remark_file,</if>
            <if test="binding != null">binding,</if>
            <if test="stage != null">stage,</if>
            <if test="isHidden != null">is_hidden,</if>
            <if test="isDel != null">is_del,</if>
            <if test="sort != null">sort,</if>
            <if test="creator != null">creator,</if>
            <if test="createdAt != null">created_at,</if>
            <if test="updator != null">updator,</if>
            <if test="updatedAt != null">updated_at,</if>
            <if test="label != null">label,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="title != null and title != ''">#{title},</if>
            <if test="subtitle != null">#{subtitle},</if>
            <if test="content != null">#{content},</if>
            <if test="remark != null">#{remark},</if>
            <if test="remarkFile != null">#{remarkFile},</if>
            <if test="binding != null">#{binding},</if>
            <if test="stage != null">#{stage},</if>
            <if test="isHidden != null">#{isHidden},</if>
            <if test="isDel != null">#{isDel},</if>
            <if test="sort != null">#{sort},</if>
            <if test="creator != null">#{creator},</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="updator != null">#{updator},</if>
            <if test="updatedAt != null">#{updatedAt},</if>
            <if test="label != null">#{label},</if>
         </trim>
    </insert>
    <insert id="addTemp" parameterType="com.ai.manager.course.domain.ZhsCourse">
        insert into zhs_course_temp
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="courseId != null">course_id,</if>
            <if test="title != null and title != ''">title,</if>
            <if test="subtitle != null">subtitle,</if>
            <if test="content != null">content,</if>
            <if test="remark != null">remark,</if>
            <if test="remarkFile != null">remark_file,</if>
            <if test="binding != null">binding,</if>
            <if test="stage != null">stage,</if>
            <if test="isHidden != null">is_hidden,</if>
            <if test="isDel != null">is_del,</if>
            <if test="sort != null">sort,</if>
            <if test="creator != null">creator,</if>
            <if test="createdAt != null">created_at,</if>
            <if test="updator != null">updator,</if>
            <if test="updatedAt != null">updated_at,</if>
            <if test="label != null">label,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="courseId != null">#{courseId},</if>
            <if test="title != null and title != ''">#{title},</if>
            <if test="subtitle != null">#{subtitle},</if>
            <if test="content != null">#{content},</if>
            <if test="remark != null">#{remark},</if>
            <if test="remarkFile != null">#{remarkFile},</if>
            <if test="binding != null">#{binding},</if>
            <if test="stage != null">#{stage},</if>
            <if test="isHidden != null">#{isHidden},</if>
            <if test="isDel != null">#{isDel},</if>
            <if test="sort != null">#{sort},</if>
            <if test="creator != null">#{creator},</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="updator != null">#{updator},</if>
            <if test="updatedAt != null">#{updatedAt},</if>
            <if test="label != null">#{label},</if>
        </trim>
        <trim prefix="ON DUPLICATE KEY UPDATE" suffixOverrides=",">
            <if test="title != null and title != ''">title = VALUES(title) ,</if>
            <if test="subtitle != null">subtitle = VALUES(subtitle) ,</if>
            <if test="content != null">content = VALUES(content) ,</if>
            <if test="remark != null">remark = VALUES(remark) ,</if>
            <if test="remarkFile != null">remark_file = VALUES(remark_file) ,</if>
            <if test="binding != null">binding = VALUES(binding) ,</if>
            <if test="stage != null">stage = VALUES(stage) ,</if>
            <if test="isHidden != null">is_hidden = VALUES(is_hidden) ,</if>
            <if test="isDel != null">is_del = VALUES(is_del) ,</if>
            <if test="sort != null">sort = VALUES(sort) ,</if>
            <if test="creator != null">creator = VALUES(creator) ,</if>
            <if test="createdAt != null">created_at = VALUES(created_at) ,</if>
            <if test="updator != null">updator = VALUES(updator) ,</if>
            <if test="updatedAt != null">updated_at = VALUES(updated_at) ,</if>
            <if test="label != null">label = VALUES(label) ,</if>
        </trim>
    </insert>

    <update id="edit" parameterType="com.ai.manager.course.domain.ZhsCourse">
        update zhs_course
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="subtitle != null">subtitle = #{subtitle},</if>
            <if test="content != null">content = #{content},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="remarkFile != null">remark_file = #{remarkFile},</if>
            <if test="binding != null">binding = #{binding},</if>
            <if test="stage != null">stage = #{stage},</if>
            <if test="isHidden != null">is_hidden = #{isHidden},</if>
            <if test="isDel != null">is_del = #{isDel},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="creator != null">creator = #{creator},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="updator != null">updator = #{updator},</if>
            <if test="updatedAt != null">updated_at = #{updatedAt},</if>
            <if test="label != null">label = #{label},</if>
            <if test="auditStatus != null">audit_status = #{auditStatus},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="delById" parameterType="String">
        delete from zhs_course where id = #{id}
    </delete>

    <delete id="delByIds">
        delete from zhs_course where
        creator = #{uuid}
        <foreach item="id" collection="ids" open="and id in (" separator="," close=")">
            #{id}
        </foreach>

    </delete>
    <update id="delByIds2">
        update zhs_course set audit_status = 1 where creator = #{uuid} and id in
       <foreach collection="ids" item="id" open="(" close=")" separator=",">
           #{id}
       </foreach>
    </update>
</mapper>