<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai.manager.course.mapper.ZhsCategoryDictionaryMapper">
    
    <resultMap type="com.ai.manager.course.domain.vo.ZhsCategoryDictionaryVO" id="ZhsCategoryDictionaryResultVO">
        <result property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="name" column="name"/>
        <result property="prentId" column="prent_id"/>
        <result property="typeId" column="type_id"/>
        <result property="isInvalid" column="is_invalid"/>
        <result property="img" column="img"/>
        <result property="butImg" column="but_img"/>
        <result property="sort" column="sort"/>
        <result property="creator" column="creator"/>
        <result property="createdTime" column="created_time"/>
        <result property="update" column="update"/>
        <result property="updatedTime" column="updated_time"/>
        <result property="agentId" column="agent_id"/>
        <collection property="children" resultMap="ZhsCategoryDictionaryResult"/>
    </resultMap>
    <resultMap type="com.ai.manager.course.domain.ZhsCategoryDictionary" id="ZhsCategoryDictionaryResult">
        <result property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="name" column="name"/>
        <result property="prentId" column="prent_id"/>
        <result property="typeId" column="type_id"/>
        <result property="isInvalid" column="is_invalid"/>
        <result property="img" column="img"/>
        <result property="butImg" column="but_img"/>
        <result property="sort" column="sort"/>
        <result property="creator" column="creator"/>
        <result property="createdTime" column="created_time"/>
        <result property="update" column="update"/>
        <result property="updatedTime" column="updated_time"/>
    </resultMap>

    <sql id="selectZhsCategoryDictionaryVo">
        select distinct cd.`id`,  cd.`code`,  cd.`name`,  cd.`prent_id`,  cd.`type_id`,  cd.`is_invalid`,  cd.`img`,  cd.`but_img`,  cd.`sort`,  cd.`creator`,  cd.`created_time`,  cd.`update`,  cd.`updated_time`
    </sql>
    <sql id="fromZhsCategoryDictionaryTable">
        from zhs_category_dictionary cd
    </sql>

    <select id="getList" parameterType="com.ai.manager.course.domain.ZhsCategoryDictionary" resultMap="ZhsCategoryDictionaryResult">
        <include refid="selectZhsCategoryDictionaryVo"/>
        <!-- , ccd.id AS ccd_id,ccd.code AS ccd_code,ccd.name AS ccd_name,ccd.prent_id AS ccd_prent_id,ccd.type_id AS
        ccd_type_id,ccd.is_invalid AS ccd_is_invalid,ccd.img AS ccd_img,ccd.but_img AS ccd_but_img,ccd.sort AS
        ccd_sort,ccd.creator AS ccd_creator,ccd.created_time AS ccd_created_time,ccd.update AS
        ccd_update,ccd.updated_time AS ccd_updated_time -->
        <include refid="fromZhsCategoryDictionaryTable"/>
        <!-- left join zhs_category_dictionary ccd on ccd.prent_id = cd.id -->
        <where>
            <if test="parentIds == null">
                <if test="prentId == null or prentId == ''"> and cd.prent_id = '0'</if>
            </if>
             
            <if test="code != null  and code != ''"> and cd.`code` like concat('%', #{code}, '%')</if>
            <if test="name != null  and name != ''"> and cd.`name` like concat('%', #{name}, '%')</if>
            <if test="prentId != null  and prentId != ''"> and cd.prent_id = #{prentId}</if>
            <if test="parentIds != null">
                <foreach collection="parentIds" item="parentId" open="and prent_id in (" close=")" separator=",">
                    #{parentId}
                </foreach>
            </if>
        </where>
        order by cd.sort asc,cd.created_time desc
    </select>
    
    <select id="getById" parameterType="String" resultMap="ZhsCategoryDictionaryResult">
        <include refid="selectZhsCategoryDictionaryVo"/>
        <include refid="fromZhsCategoryDictionaryTable"/>
        where cd.id = #{id}
    </select>
    <select id="getByLinkIds" resultMap="ZhsCategoryDictionaryResultVO">
        <include refid="selectZhsCategoryDictionaryVo"/>
        , acl.agent_id
        <include refid="fromZhsCategoryDictionaryTable"/>
        left join zhs_ai_project.agent_category_link acl on acl.category_id = cd.id
        <where>
            acl.field2 = '1'
            <foreach collection="agentIds" item="agentId" open="and acl.agent_id in (" close=")" separator=",">
                #{agentId}
            </foreach>
        </where>
    </select>
    <select id="getParentMap" resultType="java.util.Map">
        select cd.id,  pcd.id as pid from zhs_category_dictionary cd left join zhs_category_dictionary pcd on cd.prent_id = pcd.id
        where cd.id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <insert id="addZhsCategoryDictionary" parameterType="com.ai.manager.course.domain.ZhsCategoryDictionary">
        insert into zhs_category_dictionary
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="code != null and code != ''">`code`,</if>
            <if test="name != null">`name`,</if>
            <if test="prentId != null">prent_id,</if>
            <if test="typeId != null and typeId != ''">type_id,</if>
            <if test="isInvalid != null">is_invalid,</if>
            <if test="img != null">img,</if>
            <if test="butImg != null">but_img,</if>
            <if test="sort != null">sort,</if>
            <if test="creator != null">creator,</if>
            <if test="createdTime != null">created_time,</if>
            <if test="update != null">`update`,</if>
            <if test="updatedTime != null">updated_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="code != null and code != ''">#{code},</if>
            <if test="name != null">#{name},</if>
            <if test="prentId != null">#{prentId},</if>
            <if test="typeId != null and typeId != ''">#{typeId},</if>
            <if test="isInvalid != null">#{isInvalid},</if>
            <if test="img != null">#{img},</if>
            <if test="butImg != null">#{butImg},</if>
            <if test="sort != null">#{sort},</if>
            <if test="creator != null">#{creator},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="update != null">#{update},</if>
            <if test="updatedTime != null">#{updatedTime},</if>
         </trim>
    </insert>

    <update id="edit" parameterType="com.ai.manager.course.domain.ZhsCategoryDictionary">
        update zhs_category_dictionary
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null and code != ''">`code` = #{code},</if>
            <if test="name != null">`name` = #{name},</if>
            <if test="prentId != null">prent_id = #{prentId},</if>
            <if test="typeId != null and typeId != ''">type_id = #{typeId},</if>
            <if test="isInvalid != null">is_invalid = #{isInvalid},</if>
            <if test="img != null">img = #{img},</if>
            <if test="butImg != null">but_img = #{butImg},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="creator != null">creator = #{creator},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
            <if test="update != null">`update` = #{update},</if>
            <if test="updatedTime != null">updated_time = #{updatedTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="delById" parameterType="String">
        delete from zhs_category_dictionary where id = #{id}
    </delete>

    <delete id="delByIds" parameterType="String">
        delete from zhs_category_dictionary where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>