<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai.manager.course.mapper.ZhsCoursePayMapper">
    
    <resultMap type="com.ai.manager.course.domain.ZhsCoursePay" id="ZhsCoursePayResult">
        <result property="uuid"    column="uuid"    />
        <result property="courseId"    column="course_id"    />
        <result property="payType"    column="pay_type"    />
        <result property="payCrowd"    column="pay_crowd"    />
        <result property="amount"    column="amount"    />
        <result property="creator"    column="creator"    />
        <result property="createdAt"    column="created_at"    />
        <result property="updator"    column="updator"    />
        <result property="updatedAt"    column="updated_At"    />
    </resultMap>

    <sql id="selectZhsCoursePayVo">
        select `uuid`, course_id, pay_type, pay_crowd, amount, creator, created_at, updator, updated_At
    </sql>
    <sql id="fromZhsCoursePayTable">
        from zhs_course_pay
    </sql>

    <select id="getList" parameterType="com.ai.manager.course.domain.ZhsCoursePay" resultMap="ZhsCoursePayResult">
        <include refid="selectZhsCoursePayVo"/>
        <include refid="fromZhsCoursePayTable"/>
        <where>
            <if test="courseId != null  and courseId != ''"> and course_id = #{courseId}</if>
            <if test="payType != null "> and pay_type = #{payType}</if>
            <if test="payCrowd != null "> and pay_crowd = #{payCrowd}</if>
            <if test="creator != null  and creator != ''"> and creator = #{creator}</if>
            <if test="createdAt != null "> and created_at = #{createdAt}</if>
            <if test="updator != null  and updator != ''"> and updator = #{updator}</if>
        </where>
    </select>
    
    <select id="getByUuid" parameterType="String" resultMap="ZhsCoursePayResult">
        <include refid="selectZhsCoursePayVo"/>
        <include refid="fromZhsCoursePayTable"/>
        where `uuid` = #{uuid}
    </select>
    <select id="getByCourseId" resultType="java.lang.Integer">
        <include refid="selectZhsCoursePayVo"/>
        <include refid="fromZhsCoursePayTable"/>
        <where>
            course_id = #{courseId}
        </where>
        limit 1
    </select>

    <insert id="addZhsCoursePay" parameterType="com.ai.manager.course.domain.ZhsCoursePay">
        insert into zhs_course_pay
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uuid != null">uuid,</if>
            <if test="courseId != null">course_id,</if>
            <if test="payType != null">pay_type,</if>
            <if test="payCrowd != null">pay_crowd,</if>
            <if test="amount != null">amount,</if>
            <if test="creator != null">creator,</if>
            <if test="createdAt != null">created_at,</if>
            <if test="updator != null">updator,</if>
            <if test="updatedAt != null">updated_At,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uuid != null">#{uuid},</if>
            <if test="courseId != null">#{courseId},</if>
            <if test="payType != null">#{payType},</if>
            <if test="payCrowd != null">#{payCrowd},</if>
            <if test="amount != null">#{amount},</if>
            <if test="creator != null">#{creator},</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="updator != null">#{updator},</if>
            <if test="updatedAt != null">#{updatedAt},</if>
         </trim>
    </insert>

    <update id="edit" parameterType="com.ai.manager.course.domain.ZhsCoursePay">
        update zhs_course_pay
        <trim prefix="SET" suffixOverrides=",">
            <if test="courseId != null">course_id = #{courseId},</if>
            <if test="payType != null">pay_type = #{payType},</if>
            <if test="payCrowd != null">pay_crowd = #{payCrowd},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="creator != null">creator = #{creator},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="updator != null">updator = #{updator},</if>
            <if test="updatedAt != null">updated_At = #{updatedAt},</if>
        </trim>
        where uuid = #{uuid}
    </update>

    <delete id="delByUuid" parameterType="String">
        delete from zhs_course_pay where uuid = #{uuid}
    </delete>

    <delete id="delByUuids" parameterType="String">
        delete from zhs_course_pay where uuid in 
        <foreach item="uuid" collection="array" open="(" separator="," close=")">
            #{uuid}
        </foreach>
    </delete>
</mapper>