<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai.manager.course.mapper.ZhsIdentityMapper">
    
    <resultMap type="com.ai.manager.course.domain.ZhsIdentity" id="ZhsIdentityResult">
        <result property="id"    column="id"    />
        <result property="uuid"    column="uuid"    />
        <result property="name"    column="name"    />
        <result property="platformId"    column="platform_id"    />
        <result property="organizationId"    column="organization_id"    />
        <result property="parentId"    column="parent_id"    />
        <result property="remark"    column="remark"    />
        <result property="binding"    column="binding"    />
        <result property="isHidden"    column="is_hidden"    />
        <result property="isDel"    column="is_del"    />
        <result property="isCross"    column="is_cross"    />
        <result property="creator"    column="creator"    />
        <result property="createdAt"    column="created_at"    />
        <result property="updator"    column="updator"    />
        <result property="updatedAt"    column="updated_at"    />
    </resultMap>

    <sql id="selectZhsIdentityVo">
        select id, uuid, name, platform_id, organization_id, parent_id, remark, binding, is_hidden, is_del, is_cross, creator, created_at, updator, updated_at
    </sql>
    <sql id="fromZhsIdentityTable">
        from zhs_identity
    </sql>

    <select id="getList" parameterType="com.ai.manager.course.domain.ZhsIdentity" resultMap="ZhsIdentityResult">
        <include refid="selectZhsIdentityVo"/>
        <include refid="fromZhsIdentityTable"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="platformId != null  and platformId != ''"> and platform_id = #{platformId}</if>
            <if test="organizationId != null  and organizationId != ''"> and organization_id = #{organizationId}</if>
            <if test="parentId != null  and parentId != ''"> and parent_id = #{parentId}</if>
            <if test="isCross != null "> and is_cross = #{isCross}</if>
            <if test="creator != null  and creator != ''"> and creator = #{creator}</if>
            <if test="createdAt != null "> and created_at = #{createdAt}</if>
            <if test="updator != null  and updator != ''"> and updator = #{updator}</if>
        </where>
    </select>
    
    <select id="getById" parameterType="Integer" resultMap="ZhsIdentityResult">
        <include refid="selectZhsIdentityVo"/>
        <include refid="fromZhsIdentityTable"/>
        where id = #{id}
    </select>

    <insert id="addZhsIdentity" parameterType="com.ai.manager.course.domain.ZhsIdentity" useGeneratedKeys="true" keyProperty="id">
        insert into zhs_identity
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uuid != null and uuid != ''">uuid,</if>
            <if test="name != null">name,</if>
            <if test="platformId != null and platformId != ''">platform_id,</if>
            <if test="organizationId != null">organization_id,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="remark != null">remark,</if>
            <if test="binding != null">binding,</if>
            <if test="isHidden != null">is_hidden,</if>
            <if test="isDel != null">is_del,</if>
            <if test="isCross != null">is_cross,</if>
            <if test="creator != null">creator,</if>
            <if test="createdAt != null">created_at,</if>
            <if test="updator != null">updator,</if>
            <if test="updatedAt != null">updated_at,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uuid != null and uuid != ''">#{uuid},</if>
            <if test="name != null">#{name},</if>
            <if test="platformId != null and platformId != ''">#{platformId},</if>
            <if test="organizationId != null">#{organizationId},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="remark != null">#{remark},</if>
            <if test="binding != null">#{binding},</if>
            <if test="isHidden != null">#{isHidden},</if>
            <if test="isDel != null">#{isDel},</if>
            <if test="isCross != null">#{isCross},</if>
            <if test="creator != null">#{creator},</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="updator != null">#{updator},</if>
            <if test="updatedAt != null">#{updatedAt},</if>
         </trim>
    </insert>

    <update id="edit" parameterType="com.ai.manager.course.domain.ZhsIdentity">
        update zhs_identity
        <trim prefix="SET" suffixOverrides=",">
            <if test="uuid != null and uuid != ''">uuid = #{uuid},</if>
            <if test="name != null">name = #{name},</if>
            <if test="platformId != null and platformId != ''">platform_id = #{platformId},</if>
            <if test="organizationId != null">organization_id = #{organizationId},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="binding != null">binding = #{binding},</if>
            <if test="isHidden != null">is_hidden = #{isHidden},</if>
            <if test="isDel != null">is_del = #{isDel},</if>
            <if test="isCross != null">is_cross = #{isCross},</if>
            <if test="creator != null">creator = #{creator},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="updator != null">updator = #{updator},</if>
            <if test="updatedAt != null">updated_at = #{updatedAt},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="delById" parameterType="Integer">
        delete from zhs_identity where id = #{id}
    </delete>

    <delete id="delByIds" parameterType="String">
        delete from zhs_identity where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>