<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai.manager.course.mapper.ZhsOrganizationMapper">
    
    <resultMap type="com.ai.manager.course.domain.ZhsOrganization" id="ZhsOrganizationResult">
        <result property="id"    column="id"    />
        <result property="uuid"    column="uuid"    />
        <result property="platformId"    column="platform_id"    />
        <result property="name"    column="name"    />
        <result property="remark"    column="remark"    />
        <result property="filePath"    column="file_path"    />
        <result property="binding"    column="binding"    />
        <result property="isHidden"    column="is_hidden"    />
        <result property="isDel"    column="is_del"    />
        <result property="creator"    column="creator"    />
        <result property="createdAt"    column="created_at"    />
        <result property="updator"    column="updator"    />
        <result property="updatedAt"    column="updated_at"    />
    </resultMap>

    <sql id="selectZhsOrganizationVo">
        select id, uuid, platform_id, name, remark, file_path, binding, is_hidden, is_del, creator, created_at, updator, updated_at
    </sql>
    <sql id="fromZhsOrganizationTable">
        from zhs_organization
    </sql>

    <select id="getList" parameterType="com.ai.manager.course.domain.ZhsOrganization" resultMap="ZhsOrganizationResult">
        <include refid="selectZhsOrganizationVo"/>
        <include refid="fromZhsOrganizationTable"/>
        <where>
            <if test="uuid != null  and uuid != ''"> and uuid = #{uuid}</if>
            <if test="platformId != null  and platformId != ''"> and platform_id = #{platformId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="creator != null  and creator != ''"> and creator = #{creator}</if>
            <if test="createdAt != null "> and created_at = #{createdAt}</if>
            <if test="updator != null  and updator != ''"> and updator = #{updator}</if>
        </where>
    </select>
    
    <select id="getById" parameterType="Integer" resultMap="ZhsOrganizationResult">
        <include refid="selectZhsOrganizationVo"/>
        <include refid="fromZhsOrganizationTable"/>
        where id = #{id}
    </select>

    <insert id="addZhsOrganization" parameterType="com.ai.manager.course.domain.ZhsOrganization" useGeneratedKeys="true" keyProperty="id">
        insert into zhs_organization
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uuid != null">uuid,</if>
            <if test="platformId != null">platform_id,</if>
            <if test="name != null">name,</if>
            <if test="remark != null">remark,</if>
            <if test="filePath != null">file_path,</if>
            <if test="binding != null">binding,</if>
            <if test="isHidden != null">is_hidden,</if>
            <if test="isDel != null">is_del,</if>
            <if test="creator != null">creator,</if>
            <if test="createdAt != null">created_at,</if>
            <if test="updator != null">updator,</if>
            <if test="updatedAt != null">updated_at,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uuid != null">#{uuid},</if>
            <if test="platformId != null">#{platformId},</if>
            <if test="name != null">#{name},</if>
            <if test="remark != null">#{remark},</if>
            <if test="filePath != null">#{filePath},</if>
            <if test="binding != null">#{binding},</if>
            <if test="isHidden != null">#{isHidden},</if>
            <if test="isDel != null">#{isDel},</if>
            <if test="creator != null">#{creator},</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="updator != null">#{updator},</if>
            <if test="updatedAt != null">#{updatedAt},</if>
         </trim>
    </insert>

    <update id="edit" parameterType="com.ai.manager.course.domain.ZhsOrganization">
        update zhs_organization
        <trim prefix="SET" suffixOverrides=",">
            <if test="uuid != null">uuid = #{uuid},</if>
            <if test="platformId != null">platform_id = #{platformId},</if>
            <if test="name != null">name = #{name},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="filePath != null">file_path = #{filePath},</if>
            <if test="binding != null">binding = #{binding},</if>
            <if test="isHidden != null">is_hidden = #{isHidden},</if>
            <if test="isDel != null">is_del = #{isDel},</if>
            <if test="creator != null">creator = #{creator},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="updator != null">updator = #{updator},</if>
            <if test="updatedAt != null">updated_at = #{updatedAt},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="delById" parameterType="Integer">
        delete from zhs_organization where id = #{id}
    </delete>

    <delete id="delByIds" parameterType="String">
        delete from zhs_organization where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>