<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai.manager.course.mapper.ZhsUserVideoLogMapper">
    
    <resultMap type="com.ai.manager.course.domain.ZhsUserVideoLog" id="ZhsUserVideoLogResult">
        <result property="id"    column="id"    />
        <result property="videoId"    column="video_id"    />
        <result property="userUuid"    column="user_uuid"    />
        <result property="type"    column="type"    />
        <result property="platformId"    column="platform_id"    />
        <result property="createdAt"    column="created_at"    />
    </resultMap>

    <sql id="selectZhsUserVideoLogVo">
        select id, video_id, user_uuid, type, platform_id, created_at
    </sql>
    <sql id="fromZhsUserVideoLogTable">
        from zhs_user_video_log
    </sql>

    <select id="getList" parameterType="com.ai.manager.course.domain.ZhsUserVideoLog" resultMap="ZhsUserVideoLogResult">
        <include refid="selectZhsUserVideoLogVo"/>
        <include refid="fromZhsUserVideoLogTable"/>
        <where>
            <if test="videoId != null  and videoId != ''"> and video_id = #{videoId}</if>
            <if test="userUuid != null  and userUuid != ''"> and user_uuid = #{userUuid}</if>
            <if test="type != null "> and type = #{type}</if>
            <if test="platformId != null  and platformId != ''"> and platform_id = #{platformId}</if>
            <if test="createdAt != null "> and created_at = #{createdAt}</if>
        </where>
    </select>
    
    <select id="getById" parameterType="Integer" resultMap="ZhsUserVideoLogResult">
        <include refid="selectZhsUserVideoLogVo"/>
        <include refid="fromZhsUserVideoLogTable"/>
        where id = #{id}
    </select>

    <insert id="addZhsUserVideoLog" parameterType="com.ai.manager.course.domain.ZhsUserVideoLog" useGeneratedKeys="true" keyProperty="id">
        insert into zhs_user_video_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="videoId != null">video_id,</if>
            <if test="userUuid != null">user_uuid,</if>
            <if test="type != null">type,</if>
            <if test="platformId != null">platform_id,</if>
            <if test="createdAt != null">created_at,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="videoId != null">#{videoId},</if>
            <if test="userUuid != null">#{userUuid},</if>
            <if test="type != null">#{type},</if>
            <if test="platformId != null">#{platformId},</if>
            <if test="createdAt != null">#{createdAt},</if>
         </trim>
    </insert>

    <update id="edit" parameterType="com.ai.manager.course.domain.ZhsUserVideoLog">
        update zhs_user_video_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="videoId != null">video_id = #{videoId},</if>
            <if test="userUuid != null">user_uuid = #{userUuid},</if>
            <if test="type != null">type = #{type},</if>
            <if test="platformId != null">platform_id = #{platformId},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="delById" parameterType="Integer">
        delete from zhs_user_video_log where id = #{id}
    </delete>

    <delete id="delByIds" parameterType="String">
        delete from zhs_user_video_log where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <delete id="delByUser">
        delete from zhs_user_video_log where
    </delete>
</mapper>