<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai.manager.course.mapper.ZhsUserPlatformMapper">

    <resultMap type="com.ai.manager.course.domain.ZhsUserPlatform" id="ZhsUserPlatformResult">
        <result property="id" column="id"/>
        <result property="userUuid" column="user_uuid"/>
        <result property="platformId" column="platform_id"/>
        <result property="identityId" column="identity_id"/>
        <result property="status" column="status"/>
        <result property="isDel" column="is_del"/>
        <result property="field1" column="field1"/>
        <result property="createdAt" column="created_at"/>
        <result property="updator" column="updator"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <sql id="selectZhsUserPlatformVo">
        select zup.id, zup.user_uuid, zup.platform_id, zup.identity_id, zup.status, zup.is_del, zup.field1, zup.created_at, zup.updator, zup.updated_at
    </sql>
    <sql id="fromZhsUserPlatformTable">
        from zhs_user_platform zup
    </sql>

    <select id="getList" parameterType="com.ai.manager.course.domain.ZhsUserPlatform" resultMap="ZhsUserPlatformResult">
        <include refid="selectZhsUserPlatformVo"/>
        <include refid="fromZhsUserPlatformTable"/>
        <where>
            <if test="userUuid != null  and userUuid != ''"> and zup.user_uuid = #{userUuid}</if>
            <if test="platformId != null  and platformId != ''"> and zup.platform_id = #{platformId}</if>
            <if test="identityId != null  and identityId != ''"> and zup.identity_id = #{identityId}</if>
            <if test="createdAt != null "> and zup.created_at = #{createdAt}</if>
            <if test="updator != null  and updator != ''"> and zup.updator = #{updator}</if>
        </where>
    </select>
    
    <select id="getById" resultMap="ZhsUserPlatformResult">
        <include refid="selectZhsUserPlatformVo"/>
        <include refid="fromZhsUserPlatformTable"/>
        where zup.id = #{id}
    </select>
    <select id="getByUserId" resultMap="ZhsUserPlatformResult" >
        <include refid="selectZhsUserPlatformVo"/>
        <include refid="fromZhsUserPlatformTable"/>
        left join zhs_education_platform ep on ep.id = zup.platform_id
        where zup.user_uuid = #{userId}
        and ep.code = #{platformCode}
    </select>

    <insert id="addZhsUserPlatform" parameterType="com.ai.manager.course.domain.ZhsUserPlatform" useGeneratedKeys="true" keyProperty="id">
        insert into zhs_user_platform
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userUuid != null and userUuid != ''">user_uuid,</if>
            <if test="platformId != null and platformId != ''">platform_id,</if>
            <if test="identityId != null">identity_id,</if>
            <if test="status != null">status,</if>
            <if test="isDel != null">is_del,</if>
            <if test="field1 != null">field1,</if>
            <if test="createdAt != null">created_at,</if>
            <if test="updator != null">updator,</if>
            <if test="updatedAt != null">updated_at,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userUuid != null and userUuid != ''">#{userUuid},</if>
            <if test="platformId != null and platformId != ''">#{platformId},</if>
            <if test="identityId != null">#{identityId},</if>
            <if test="status != null">#{status},</if>
            <if test="isDel != null">#{isDel},</if>
            <if test="field1 != null">#{field1},</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="updator != null">#{updator},</if>
            <if test="updatedAt != null">#{updatedAt},</if>
         </trim>
    </insert>

    <update id="edit" parameterType="com.ai.manager.course.domain.ZhsUserPlatform">
        update zhs_user_platform
        <trim prefix="SET" suffixOverrides=",">
            <if test="userUuid != null and userUuid != ''">user_uuid = #{userUuid},</if>
            <if test="platformId != null and platformId != ''">platform_id = #{platformId},</if>
            <if test="identityId != null">identity_id = #{identityId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="isDel != null">is_del = #{isDel},</if>
            <if test="field1 != null">field1 = #{field1},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="updator != null">updator = #{updator},</if>
            <if test="updatedAt != null">updated_at = #{updatedAt},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="delById" parameterType="Integer">
        delete from zhs_user_platform where id = #{id}
    </delete>

    <delete id="delByIds" parameterType="String">
        delete from zhs_user_platform where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>