<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai.manager.app.mapper.UserThirdPartyAccountsMapper">
    
    <resultMap type="com.ai.manager.app.domain.UserThirdPartyAccounts" id="UserThirdPartyAccountsResult">
        <result property="id"    column="id"    />
        <result property="userUuid"    column="user_uuid"    />
        <result property="platform"    column="platform"    />
        <result property="openId"    column="open_id"    />
        <result property="platformName"    column="platform_name"    />
        <result property="accessToken"    column="access_token"    />
        <result property="refreshToken"    column="refresh_token"    />
        <result property="expiresAt"    column="expires_at"    />
        <result property="nickname"    column="nickname"    />
        <result property="avatar"    column="avatar"    />
        <result property="bindTime"    column="bind_time"    />
        <result property="refreshExpiresAt"    column="refresh_expires_at"    />
        <result property="card"    column="card"    />
    </resultMap>

    <sql id="selectUserThirdPartyAccountsVo">
        select id, user_uuid, platform, open_id, platform_name, access_token, refresh_token, expires_at, nickname, avatar, bind_time, refresh_expires_at, card
    </sql>

    <select id="selectUserThirdPartyAccountsList" parameterType="com.ai.manager.app.domain.UserThirdPartyAccounts" resultMap="UserThirdPartyAccountsResult">
        <include refid="selectUserThirdPartyAccountsVo"/>
        from user_third_party_accounts
        <where>  
            <if test="userUuid != null  and userUuid != ''"> and user_uuid = #{userUuid}</if>
            <if test="platform != null  and platform != ''"> and platform = #{platform}</if>
            <if test="openId != null  and openId != ''"> and open_id = #{openId}</if>
            <if test="platformName != null  and platformName != ''"> and platform_name like concat('%', #{platformName}, '%')</if>
            <if test="nickname != null  and nickname != ''"> and nickname like concat('%', #{nickname}, '%')</if>
        </where>
    </select>
    
    <select id="selectUserThirdPartyAccountsById" parameterType="Long" resultMap="UserThirdPartyAccountsResult">
        <include refid="selectUserThirdPartyAccountsVo"/>
        from user_third_party_accounts
        where id = #{id}
    </select>
    <select id="getByUserUuid" resultMap="UserThirdPartyAccountsResult">
        select * from user_third_party_accounts where user_uuid = #{uuid} and platform = #{platform}
    </select>
    <select id="getByUserUuidBasic" resultMap="UserThirdPartyAccountsResult">
        select
            id, user_uuid, platform, open_id, platform_name, nickname, avatar, bind_time
            from user_third_party_accounts where user_uuid = #{uuid} and platform = #{platform}
    </select>
    <select id="getList" resultMap="UserThirdPartyAccountsResult">
        select * from user_third_praty_accounts where user_uuid = #{uuid};
    </select>

    <resultMap type="com.ai.manager.app.domain.users.UsersVO" id="teamUsersResult">
        <result property="uuid" column="uuid"/>
        <result property="passwordSalt" column="password_salt"/>
        <result property="nickname" column="nickname"/>
        <result property="avatar" column="avatar"/>
        <result property="gender" column="gender"/>
        <result property="birthday" column="birthday"/>
        <result property="status" column="status"/>
        <result property="inviteCode" column="invite_code"/>
        <result property="parentId" column="parent_id"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="isVip" column="is_vip"/>
        <collection property="users" resultMap="childUsersResult"/>
    </resultMap>
    <resultMap type="com.ai.manager.app.domain.users.Users" id="childUsersResult">
        <result property="uuid" column="cu_uuid"/>
        <result property="passwordSalt" column="cu_password_salt"/>
        <result property="nickname" column="cu_nickname"/>
        <result property="avatar" column="cu_avatar"/>
        <result property="gender" column="cu_gender"/>
        <result property="birthday" column="cu_birthday"/>
        <result property="status" column="cu_status"/>
        <result property="inviteCode" column="cu_invite_code"/>
        <result property="parentId" column="cu_parent_id"/>
        <result property="createdAt" column="cu_created_at"/>
        <result property="updatedAt" column="cu_updated_at"/>
        <result property="isVip" column="cu_is_vip"/>
    </resultMap>
    <sql id="selectUsersVo">
        select u.`uuid`, u.password_hash, u.password_salt, u.nickname, u.avatar, u.gender, u.birthday, u.`status`, u.invite_code, u.parent_id, u.created_at, u.updated_at, u.is_vip
    </sql>
    <select id="getMyTeam" resultMap="teamUsersResult">
        <include refid="selectUsersVo"/>
        , cu.uuid as cu_uuid, cu.nickname as cu_nickname, cu.avatar as cu_avatar, cu.gender as cu_gender, cu.birthday as cu_birthday, cu.status as cu_status, cu.invite_code as cu_invite_code, cu.parent_id as cu_parent_id, cu.created_at as cu_created_at, cu.updated_at as cu_updated_at, cu.is_vip as cu_is_vip
        from users u
        left join user_third_party_accounts tpa on u.uuid = tpa.user_uuid
        left join users cu on cu.parent_id = u.invite_code
        left join user_auth_info aui on u.uuid = aui.user_uuid

        where u.parent_id = (select thisU.invite_code from users thisU where thisU.`uuid` = #{uuid})
         and tpa.platform = #{platform}


        <if test="search != null and search != ''">
            and (tpa.nickname like concat('%', #{search}, '%') or aui.phone like concat('%', #{search}, '%'))
        </if>
        <if test="begin != null">
            AND u.`created_at` <![CDATA[<=]]> #{begin}
        </if>
        <if test="end != null">
            AND u.`created_at` <![CDATA[>=]]> #{end}
        </if>
    </select>

    <select id="getByUserUuidsBasic" resultMap="UserThirdPartyAccountsResult">
        select
        id, user_uuid, platform, open_id, platform_name, nickname, avatar, bind_time
        from user_third_party_accounts
        where
        platform = #{platform}
        <foreach collection="uuids" item="uuid" open="and user_uuid in (" separator="," close=")" >
            #{uuid}
        </foreach>
    </select>


    <resultMap type="com.ai.manager.app.domain.users.VipLevelVO" id="VipLevelVOResult">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="level" column="level"/>
        <result property="remark" column="remark"/>
        <result property="progress" column="progress"/>
        <result property="model1" column="model1"/>
        <result property="model2" column="model2"/>
        <result property="creator" column="creator"/>
        <result property="createdTime" column="created_time"/>
        <result property="updator" column="updator"/>
        <result property="updatedTime" column="updated_time"/>
        <association property="userVip" resultMap="UserVipResult"/>
    </resultMap>
    <resultMap type="com.ai.manager.app.domain.users.UserVip" id="UserVipResult">
        <result property="id" column="uv_id"/>
        <result property="userUuid" column="uv_user_uuid"/>
        <result property="vipId" column="uv_vip_id"/>
        <result property="progress" column="uv_progress"/>
        <result property="creator" column="uv_creator"/>
        <result property="createdTime" column="uv_created_time"/>
        <result property="updator" column="uv_updator"/>
        <result property="updatedTime" column="uv_updated_time"/>
        <result property="isValid" column="uv_is_valid"/>
    </resultMap>
    <sql id="selectVipLevelVo">
        select vl.id, vl.title, vl.level, vl.remark, vl.progress, vl.model1, vl.model2, vl.creator, vl.created_time, vl.updator, vl.updated_time
    </sql>
    <select id="getVIPInfoByUserUuids" resultMap="VipLevelVOResult">
        <include refid="selectVipLevelVo"/>
        , uv.id as uv_id, uv.user_uuid as uv_user_uuid, uv.vip_id as uv_vip_id, uv.progress as uv_progress, uv.creator as uv_creator, uv.created_time as uv_created_time, uv.updator as uv_updator, uv.updated_time as uv_updated_time, uv.is_valid as uv_is_valid
        from vip_level vl
        left join user_vip uv on vl.id = uv.vip_id
        <where>
            <foreach collection="uuids" open="uv.user_uuid in (" separator="," close=")" item="uuid">
                #{uuid}
            </foreach>
        </where>
    </select>
    <select id="getTeamSize" resultType="java.lang.Long">
        select count(1) from users cu
                        left join user_third_party_accounts ctpa on cu.uuid = ctpa.user_uuid
        where cu.parent_id in (
            (
                select u.invite_code from users u left join users pu on pu.invite_code = u.parent_id left join user_third_party_accounts tpa on tpa.user_uuid = u.uuid
                where pu.uuid = #{uuid}
            )
            UNION
            (
                select u.invite_code from users u where u.uuid = #{uuid}
            )
        )
        and ctpa.platform = #{platform}
    </select>
    <insert id="insertUserThirdPartyAccounts" parameterType="com.ai.manager.app.domain.UserThirdPartyAccounts" useGeneratedKeys="true" keyProperty="id">
        insert into user_third_party_accounts
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userUuid != null and userUuid != ''">user_uuid,</if>
            <if test="platform != null and platform != ''">platform,</if>
            <if test="openId != null and openId != ''">open_id,</if>
            <if test="platformName != null">platform_name,</if>
            <if test="accessToken != null">access_token,</if>
            <if test="refreshToken != null">refresh_token,</if>
            <if test="expiresAt != null">expires_at,</if>
            <if test="refreshExpiresAt != null">refresh_expires_at,</if>
            <if test="nickname != null">nickname,</if>
            <if test="avatar != null">avatar,</if>
            <if test="bindTime != null">bind_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userUuid != null and userUuid != ''">#{userUuid},</if>
            <if test="platform != null and platform != ''">#{platform},</if>
            <if test="openId != null and openId != ''">#{openId},</if>
            <if test="platformName != null">#{platformName},</if>
            <if test="accessToken != null">#{accessToken},</if>
            <if test="refreshToken != null">#{refreshToken},</if>
            <if test="expiresAt != null">#{expiresAt},</if>
            <if test="refreshExpiresAt != null">#{refreshExpiresAt},</if>
            <if test="nickname != null">#{nickname},</if>
            <if test="avatar != null">#{avatar},</if>
            <if test="bindTime != null">#{bindTime},</if>
         </trim>
        <trim prefix="ON DUPLICATE KEY UPDATE" suffixOverrides=",">
            <if test="userUuid != null and userUuid != ''">user_uuid = VALUES(user_uuid),</if>
            <if test="platform != null and platform != ''">platform = VALUES(platform),</if>
            <if test="openId != null and openId != ''">open_id = VALUES(open_id),</if>
            <if test="platformName != null">platform_name = VALUES(platform_name),</if>
            <if test="accessToken != null">access_token = VALUES(access_token),</if>
            <if test="refreshToken != null">refresh_token = VALUES(refresh_token),</if>
            <if test="expiresAt != null">expires_at = VALUES(expires_at),</if>
            <if test="refreshExpiresAt != null">refresh_expires_at = VALUES(refresh_expires_at),</if>
            <if test="nickname != null">nickname = VALUES(nickname),</if>
            <if test="avatar != null">avatar = VALUES(avatar),</if>
            <if test="bindTime != null">bind_time = VALUES(bind_time),</if>
        </trim>
    </insert>
<!--
    <insert id="insertUserThirdPartyAccounts" parameterType="com.ai.manager.app.domain.UserThirdPartyAccounts" useGeneratedKeys="true" keyProperty="id">
        insert into user_third_party_accounts
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userUuid != null and userUuid != ''">user_uuid,</if>
            <if test="platform != null and platform != ''">platform,</if>
            <if test="openId != null and openId != ''">open_id,</if>
            <if test="platformName != null">platform_name,</if>
            <if test="accessToken != null">access_token,</if>
            <if test="refreshToken != null">refresh_token,</if>
            <if test="expiresAt != null">expires_at,</if>
            <if test="refreshExpiresAt != null">refresh_expires_at,</if>
            <if test="nickname != null">nickname,</if>
            <if test="avatar != null">avatar,</if>
            <if test="bindTime != null">bind_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userUuid != null and userUuid != ''">#{userUuid},</if>
            <if test="platform != null and platform != ''">#{platform},</if>
            <if test="openId != null and openId != ''">#{openId},</if>
            <if test="platformName != null">#{platformName},</if>
            <if test="accessToken != null">#{accessToken},</if>
            <if test="refreshToken != null">#{refreshToken},</if>
            <if test="expiresAt != null">#{expiresAt},</if>
            <if test="refreshExpiresAt != null">#{refreshExpiresAt},</if>
            <if test="nickname != null">#{nickname},</if>
            <if test="avatar != null">#{avatar},</if>
            <if test="bindTime != null">#{bindTime},</if>
         </trim>
    </insert>
-->

    <update id="updateUserThirdPartyAccounts" parameterType="com.ai.manager.app.domain.UserThirdPartyAccounts">
        update user_third_party_accounts
        <trim prefix="SET" suffixOverrides=",">
            <if test="platform != null and platform != ''">platform = #{platform},</if>
            <if test="openId != null and openId != ''">open_id = #{openId},</if>
            <if test="platformName != null">platform_name = #{platformName},</if>
            <if test="accessToken != null">access_token = #{accessToken},</if>
            <if test="refreshToken != null">refresh_token = #{refreshToken},</if>
            <if test="expiresAt != null">expires_at = #{expiresAt},</if>
            <if test="refreshExpiresAt != null">refresh_expires_at = #{refreshExpiresAt},</if>
            <if test="nickname != null">nickname = #{nickname},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="bindTime != null">bind_time = #{bindTime},</if>
            <if test="card != null">card = #{card},</if>
        </trim>
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="userUuid != null and userUuid != ''">
                and user_uuid = #{userUuid}
            </if>
        </where>
    </update>

    <delete id="deleteUserThirdPartyAccountsById" parameterType="Long">
        delete from user_third_party_accounts where id = #{id}
    </delete>

    <delete id="deleteUserThirdPartyAccountsByIds" parameterType="String">
        DELETE u, tpa, m, ai, uv  FROM users u
        LEFT JOIN user_third_party_accounts tpa ON tpa.user_uuid = u.uuid
        LEFT JOIN user_margin m ON m.user_uuid = u.uuid
        LEFT JOIN user_auth_info ai ON ai.user_uuid = u.uuid
        LEFT JOIN user_vip uv ON uv.user_uuid = u.uuid
        WHERE tpa.id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <delete id="delAuth">
        DELETE FROM user_third_party_accounts where user_uuid = #{uuid} and platform = #{platform}
    </delete>
</mapper>