/*
ZHS Platform

ZHS Platform API - AI Agent Marketplace & Educational Platform

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zhs_api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// AIModelInfoAPIService AIModelInfoAPI service
type AIModelInfoAPIService service

type ApiCompatCreateModelApiV1AiCompatCreatePostRequest struct {
	ctx context.Context
	ApiService *AIModelInfoAPIService
	name *string
	source *string
	img *string
	remark *string
	type_ *int32
	creator *string
}

func (r ApiCompatCreateModelApiV1AiCompatCreatePostRequest) Name(name string) ApiCompatCreateModelApiV1AiCompatCreatePostRequest {
	r.name = &name
	return r
}

func (r ApiCompatCreateModelApiV1AiCompatCreatePostRequest) Source(source string) ApiCompatCreateModelApiV1AiCompatCreatePostRequest {
	r.source = &source
	return r
}

func (r ApiCompatCreateModelApiV1AiCompatCreatePostRequest) Img(img string) ApiCompatCreateModelApiV1AiCompatCreatePostRequest {
	r.img = &img
	return r
}

func (r ApiCompatCreateModelApiV1AiCompatCreatePostRequest) Remark(remark string) ApiCompatCreateModelApiV1AiCompatCreatePostRequest {
	r.remark = &remark
	return r
}

func (r ApiCompatCreateModelApiV1AiCompatCreatePostRequest) Type_(type_ int32) ApiCompatCreateModelApiV1AiCompatCreatePostRequest {
	r.type_ = &type_
	return r
}

func (r ApiCompatCreateModelApiV1AiCompatCreatePostRequest) Creator(creator string) ApiCompatCreateModelApiV1AiCompatCreatePostRequest {
	r.creator = &creator
	return r
}

func (r ApiCompatCreateModelApiV1AiCompatCreatePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CompatCreateModelApiV1AiCompatCreatePostExecute(r)
}

/*
CompatCreateModelApiV1AiCompatCreatePost [兼容] 新增模型 (前端 aiModelInfo.add)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCompatCreateModelApiV1AiCompatCreatePostRequest
*/
func (a *AIModelInfoAPIService) CompatCreateModelApiV1AiCompatCreatePost(ctx context.Context) ApiCompatCreateModelApiV1AiCompatCreatePostRequest {
	return ApiCompatCreateModelApiV1AiCompatCreatePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AIModelInfoAPIService) CompatCreateModelApiV1AiCompatCreatePostExecute(r ApiCompatCreateModelApiV1AiCompatCreatePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AIModelInfoAPIService.CompatCreateModelApiV1AiCompatCreatePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/ai/compat/create"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.name == nil {
		return localVarReturnValue, nil, reportError("name is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	if r.source != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source", r.source, "form", "")
	} else {
		var defaultValue string = ""
		parameterAddToHeaderOrQuery(localVarQueryParams, "source", defaultValue, "form", "")
		r.source = &defaultValue
	}
	if r.img != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "img", r.img, "form", "")
	} else {
		var defaultValue string = ""
		parameterAddToHeaderOrQuery(localVarQueryParams, "img", defaultValue, "form", "")
		r.img = &defaultValue
	}
	if r.remark != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remark", r.remark, "form", "")
	} else {
		var defaultValue string = ""
		parameterAddToHeaderOrQuery(localVarQueryParams, "remark", defaultValue, "form", "")
		r.remark = &defaultValue
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	}
	if r.creator != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "creator", r.creator, "form", "")
	} else {
		var defaultValue string = ""
		parameterAddToHeaderOrQuery(localVarQueryParams, "creator", defaultValue, "form", "")
		r.creator = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCompatDeleteModelApiV1AiCompatDeleteGetRequest struct {
	ctx context.Context
	ApiService *AIModelInfoAPIService
	id *string
	updator *string
}

func (r ApiCompatDeleteModelApiV1AiCompatDeleteGetRequest) Id(id string) ApiCompatDeleteModelApiV1AiCompatDeleteGetRequest {
	r.id = &id
	return r
}

func (r ApiCompatDeleteModelApiV1AiCompatDeleteGetRequest) Updator(updator string) ApiCompatDeleteModelApiV1AiCompatDeleteGetRequest {
	r.updator = &updator
	return r
}

func (r ApiCompatDeleteModelApiV1AiCompatDeleteGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CompatDeleteModelApiV1AiCompatDeleteGetExecute(r)
}

/*
CompatDeleteModelApiV1AiCompatDeleteGet [兼容] 删除模型 (前端 aiModelInfo.delete)

逻辑删除：将 status 置为 0。前端用 GET + query params，此处兼容。

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCompatDeleteModelApiV1AiCompatDeleteGetRequest
*/
func (a *AIModelInfoAPIService) CompatDeleteModelApiV1AiCompatDeleteGet(ctx context.Context) ApiCompatDeleteModelApiV1AiCompatDeleteGetRequest {
	return ApiCompatDeleteModelApiV1AiCompatDeleteGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AIModelInfoAPIService) CompatDeleteModelApiV1AiCompatDeleteGetExecute(r ApiCompatDeleteModelApiV1AiCompatDeleteGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AIModelInfoAPIService.CompatDeleteModelApiV1AiCompatDeleteGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/ai/compat/delete"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.id == nil {
		return localVarReturnValue, nil, reportError("id is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	if r.updator != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updator", r.updator, "form", "")
	} else {
		var defaultValue string = ""
		parameterAddToHeaderOrQuery(localVarQueryParams, "updator", defaultValue, "form", "")
		r.updator = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCompatUpdateModelApiV1AiCompatUpdatePostRequest struct {
	ctx context.Context
	ApiService *AIModelInfoAPIService
	id *string
	name *string
	source *string
	img *string
	remark *string
	type_ *int32
	isDel *int32
	updator *string
}

func (r ApiCompatUpdateModelApiV1AiCompatUpdatePostRequest) Id(id string) ApiCompatUpdateModelApiV1AiCompatUpdatePostRequest {
	r.id = &id
	return r
}

func (r ApiCompatUpdateModelApiV1AiCompatUpdatePostRequest) Name(name string) ApiCompatUpdateModelApiV1AiCompatUpdatePostRequest {
	r.name = &name
	return r
}

func (r ApiCompatUpdateModelApiV1AiCompatUpdatePostRequest) Source(source string) ApiCompatUpdateModelApiV1AiCompatUpdatePostRequest {
	r.source = &source
	return r
}

func (r ApiCompatUpdateModelApiV1AiCompatUpdatePostRequest) Img(img string) ApiCompatUpdateModelApiV1AiCompatUpdatePostRequest {
	r.img = &img
	return r
}

func (r ApiCompatUpdateModelApiV1AiCompatUpdatePostRequest) Remark(remark string) ApiCompatUpdateModelApiV1AiCompatUpdatePostRequest {
	r.remark = &remark
	return r
}

func (r ApiCompatUpdateModelApiV1AiCompatUpdatePostRequest) Type_(type_ int32) ApiCompatUpdateModelApiV1AiCompatUpdatePostRequest {
	r.type_ = &type_
	return r
}

func (r ApiCompatUpdateModelApiV1AiCompatUpdatePostRequest) IsDel(isDel int32) ApiCompatUpdateModelApiV1AiCompatUpdatePostRequest {
	r.isDel = &isDel
	return r
}

func (r ApiCompatUpdateModelApiV1AiCompatUpdatePostRequest) Updator(updator string) ApiCompatUpdateModelApiV1AiCompatUpdatePostRequest {
	r.updator = &updator
	return r
}

func (r ApiCompatUpdateModelApiV1AiCompatUpdatePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CompatUpdateModelApiV1AiCompatUpdatePostExecute(r)
}

/*
CompatUpdateModelApiV1AiCompatUpdatePost [兼容] 更新模型 (前端 aiModelInfo.update)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCompatUpdateModelApiV1AiCompatUpdatePostRequest
*/
func (a *AIModelInfoAPIService) CompatUpdateModelApiV1AiCompatUpdatePost(ctx context.Context) ApiCompatUpdateModelApiV1AiCompatUpdatePostRequest {
	return ApiCompatUpdateModelApiV1AiCompatUpdatePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AIModelInfoAPIService) CompatUpdateModelApiV1AiCompatUpdatePostExecute(r ApiCompatUpdateModelApiV1AiCompatUpdatePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AIModelInfoAPIService.CompatUpdateModelApiV1AiCompatUpdatePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/ai/compat/update"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.id == nil {
		return localVarReturnValue, nil, reportError("id is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.source != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source", r.source, "form", "")
	}
	if r.img != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "img", r.img, "form", "")
	}
	if r.remark != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remark", r.remark, "form", "")
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	}
	if r.isDel != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_del", r.isDel, "form", "")
	}
	if r.updator != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updator", r.updator, "form", "")
	} else {
		var defaultValue string = ""
		parameterAddToHeaderOrQuery(localVarQueryParams, "updator", defaultValue, "form", "")
		r.updator = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateModelApiV1AiCreatePostRequest struct {
	ctx context.Context
	ApiService *AIModelInfoAPIService
	vendor *string
	modelName *string
	description *string
	icon *string
}

func (r ApiCreateModelApiV1AiCreatePostRequest) Vendor(vendor string) ApiCreateModelApiV1AiCreatePostRequest {
	r.vendor = &vendor
	return r
}

func (r ApiCreateModelApiV1AiCreatePostRequest) ModelName(modelName string) ApiCreateModelApiV1AiCreatePostRequest {
	r.modelName = &modelName
	return r
}

func (r ApiCreateModelApiV1AiCreatePostRequest) Description(description string) ApiCreateModelApiV1AiCreatePostRequest {
	r.description = &description
	return r
}

func (r ApiCreateModelApiV1AiCreatePostRequest) Icon(icon string) ApiCreateModelApiV1AiCreatePostRequest {
	r.icon = &icon
	return r
}

func (r ApiCreateModelApiV1AiCreatePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CreateModelApiV1AiCreatePostExecute(r)
}

/*
CreateModelApiV1AiCreatePost 新增模型

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateModelApiV1AiCreatePostRequest
*/
func (a *AIModelInfoAPIService) CreateModelApiV1AiCreatePost(ctx context.Context) ApiCreateModelApiV1AiCreatePostRequest {
	return ApiCreateModelApiV1AiCreatePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AIModelInfoAPIService) CreateModelApiV1AiCreatePostExecute(r ApiCreateModelApiV1AiCreatePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AIModelInfoAPIService.CreateModelApiV1AiCreatePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/ai/create"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.vendor == nil {
		return localVarReturnValue, nil, reportError("vendor is required and must be specified")
	}
	if r.modelName == nil {
		return localVarReturnValue, nil, reportError("modelName is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "vendor", r.vendor, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "model_name", r.modelName, "form", "")
	if r.description != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description", r.description, "form", "")
	} else {
		var defaultValue string = ""
		parameterAddToHeaderOrQuery(localVarQueryParams, "description", defaultValue, "form", "")
		r.description = &defaultValue
	}
	if r.icon != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "icon", r.icon, "form", "")
	} else {
		var defaultValue string = ""
		parameterAddToHeaderOrQuery(localVarQueryParams, "icon", defaultValue, "form", "")
		r.icon = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteModelApiV1AiModelIdDeleteRequest struct {
	ctx context.Context
	ApiService *AIModelInfoAPIService
	modelId int32
}

func (r ApiDeleteModelApiV1AiModelIdDeleteRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DeleteModelApiV1AiModelIdDeleteExecute(r)
}

/*
DeleteModelApiV1AiModelIdDelete 删除AI模型

逻辑删除：将 status 置为 0。

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param modelId
 @return ApiDeleteModelApiV1AiModelIdDeleteRequest
*/
func (a *AIModelInfoAPIService) DeleteModelApiV1AiModelIdDelete(ctx context.Context, modelId int32) ApiDeleteModelApiV1AiModelIdDeleteRequest {
	return ApiDeleteModelApiV1AiModelIdDeleteRequest{
		ApiService: a,
		ctx: ctx,
		modelId: modelId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AIModelInfoAPIService) DeleteModelApiV1AiModelIdDeleteExecute(r ApiDeleteModelApiV1AiModelIdDeleteRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AIModelInfoAPIService.DeleteModelApiV1AiModelIdDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/ai/{model_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"model_id"+"}", url.PathEscape(parameterValueToString(r.modelId, "modelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateModelApiV1AiUpdatePostRequest struct {
	ctx context.Context
	ApiService *AIModelInfoAPIService
	modelId *int32
	displayName *string
	status *int32
}

func (r ApiUpdateModelApiV1AiUpdatePostRequest) ModelId(modelId int32) ApiUpdateModelApiV1AiUpdatePostRequest {
	r.modelId = &modelId
	return r
}

func (r ApiUpdateModelApiV1AiUpdatePostRequest) DisplayName(displayName string) ApiUpdateModelApiV1AiUpdatePostRequest {
	r.displayName = &displayName
	return r
}

func (r ApiUpdateModelApiV1AiUpdatePostRequest) Status(status int32) ApiUpdateModelApiV1AiUpdatePostRequest {
	r.status = &status
	return r
}

func (r ApiUpdateModelApiV1AiUpdatePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.UpdateModelApiV1AiUpdatePostExecute(r)
}

/*
UpdateModelApiV1AiUpdatePost 更新模型

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiUpdateModelApiV1AiUpdatePostRequest
*/
func (a *AIModelInfoAPIService) UpdateModelApiV1AiUpdatePost(ctx context.Context) ApiUpdateModelApiV1AiUpdatePostRequest {
	return ApiUpdateModelApiV1AiUpdatePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AIModelInfoAPIService) UpdateModelApiV1AiUpdatePostExecute(r ApiUpdateModelApiV1AiUpdatePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AIModelInfoAPIService.UpdateModelApiV1AiUpdatePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/ai/update"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.modelId == nil {
		return localVarReturnValue, nil, reportError("modelId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "model_id", r.modelId, "form", "")
	if r.displayName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "display_name", r.displayName, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiVendorStatsApiV1AiVendorsGetRequest struct {
	ctx context.Context
	ApiService *AIModelInfoAPIService
}

func (r ApiVendorStatsApiV1AiVendorsGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.VendorStatsApiV1AiVendorsGetExecute(r)
}

/*
VendorStatsApiV1AiVendorsGet 支持的厂商统计

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiVendorStatsApiV1AiVendorsGetRequest
*/
func (a *AIModelInfoAPIService) VendorStatsApiV1AiVendorsGet(ctx context.Context) ApiVendorStatsApiV1AiVendorsGetRequest {
	return ApiVendorStatsApiV1AiVendorsGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AIModelInfoAPIService) VendorStatsApiV1AiVendorsGetExecute(r ApiVendorStatsApiV1AiVendorsGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AIModelInfoAPIService.VendorStatsApiV1AiVendorsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/ai/vendors"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
