/*
ZHS Platform

ZHS Platform API - AI Agent Marketplace & Educational Platform

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zhs_api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
)


// AdvertiseAPIService AdvertiseAPI service
type AdvertiseAPIService service

type ApiCreateAdvertiseApiV1AdvertisePostRequest struct {
	ctx context.Context
	ApiService *AdvertiseAPIService
	title *string
	positionId *int32
	image *string
	url *string
	type_ *string
	content *string
	startTime *time.Time
	endTime *time.Time
	sortOrder *int32
	targetUser *string
}

func (r ApiCreateAdvertiseApiV1AdvertisePostRequest) Title(title string) ApiCreateAdvertiseApiV1AdvertisePostRequest {
	r.title = &title
	return r
}

func (r ApiCreateAdvertiseApiV1AdvertisePostRequest) PositionId(positionId int32) ApiCreateAdvertiseApiV1AdvertisePostRequest {
	r.positionId = &positionId
	return r
}

func (r ApiCreateAdvertiseApiV1AdvertisePostRequest) Image(image string) ApiCreateAdvertiseApiV1AdvertisePostRequest {
	r.image = &image
	return r
}

func (r ApiCreateAdvertiseApiV1AdvertisePostRequest) Url(url string) ApiCreateAdvertiseApiV1AdvertisePostRequest {
	r.url = &url
	return r
}

func (r ApiCreateAdvertiseApiV1AdvertisePostRequest) Type_(type_ string) ApiCreateAdvertiseApiV1AdvertisePostRequest {
	r.type_ = &type_
	return r
}

func (r ApiCreateAdvertiseApiV1AdvertisePostRequest) Content(content string) ApiCreateAdvertiseApiV1AdvertisePostRequest {
	r.content = &content
	return r
}

func (r ApiCreateAdvertiseApiV1AdvertisePostRequest) StartTime(startTime time.Time) ApiCreateAdvertiseApiV1AdvertisePostRequest {
	r.startTime = &startTime
	return r
}

func (r ApiCreateAdvertiseApiV1AdvertisePostRequest) EndTime(endTime time.Time) ApiCreateAdvertiseApiV1AdvertisePostRequest {
	r.endTime = &endTime
	return r
}

func (r ApiCreateAdvertiseApiV1AdvertisePostRequest) SortOrder(sortOrder int32) ApiCreateAdvertiseApiV1AdvertisePostRequest {
	r.sortOrder = &sortOrder
	return r
}

func (r ApiCreateAdvertiseApiV1AdvertisePostRequest) TargetUser(targetUser string) ApiCreateAdvertiseApiV1AdvertisePostRequest {
	r.targetUser = &targetUser
	return r
}

func (r ApiCreateAdvertiseApiV1AdvertisePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CreateAdvertiseApiV1AdvertisePostExecute(r)
}

/*
CreateAdvertiseApiV1AdvertisePost 新增广告

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateAdvertiseApiV1AdvertisePostRequest
*/
func (a *AdvertiseAPIService) CreateAdvertiseApiV1AdvertisePost(ctx context.Context) ApiCreateAdvertiseApiV1AdvertisePostRequest {
	return ApiCreateAdvertiseApiV1AdvertisePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AdvertiseAPIService) CreateAdvertiseApiV1AdvertisePostExecute(r ApiCreateAdvertiseApiV1AdvertisePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdvertiseAPIService.CreateAdvertiseApiV1AdvertisePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/advertise"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.title == nil {
		return localVarReturnValue, nil, reportError("title is required and must be specified")
	}
	if strlen(*r.title) < 1 {
		return localVarReturnValue, nil, reportError("title must have at least 1 elements")
	}
	if strlen(*r.title) > 200 {
		return localVarReturnValue, nil, reportError("title must have less than 200 elements")
	}
	if r.positionId == nil {
		return localVarReturnValue, nil, reportError("positionId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "title", r.title, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "position_id", r.positionId, "form", "")
	if r.image != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "image", r.image, "form", "")
	}
	if r.url != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "url", r.url, "form", "")
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	} else {
		var defaultValue string = "image"
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", defaultValue, "form", "")
		r.type_ = &defaultValue
	}
	if r.content != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "content", r.content, "form", "")
	}
	if r.startTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_time", r.startTime, "form", "")
	}
	if r.endTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_time", r.endTime, "form", "")
	}
	if r.sortOrder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_order", r.sortOrder, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_order", defaultValue, "form", "")
		r.sortOrder = &defaultValue
	}
	if r.targetUser != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "target_user", r.targetUser, "form", "")
	} else {
		var defaultValue string = "all"
		parameterAddToHeaderOrQuery(localVarQueryParams, "target_user", defaultValue, "form", "")
		r.targetUser = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateAdvertiseApiV1AdvertisePost_0Request struct {
	ctx context.Context
	ApiService *AdvertiseAPIService
	title *string
	positionId *int32
	image *string
	url *string
	type_ *string
	content *string
	startTime *time.Time
	endTime *time.Time
	sortOrder *int32
	targetUser *string
}

func (r ApiCreateAdvertiseApiV1AdvertisePost_0Request) Title(title string) ApiCreateAdvertiseApiV1AdvertisePost_0Request {
	r.title = &title
	return r
}

func (r ApiCreateAdvertiseApiV1AdvertisePost_0Request) PositionId(positionId int32) ApiCreateAdvertiseApiV1AdvertisePost_0Request {
	r.positionId = &positionId
	return r
}

func (r ApiCreateAdvertiseApiV1AdvertisePost_0Request) Image(image string) ApiCreateAdvertiseApiV1AdvertisePost_0Request {
	r.image = &image
	return r
}

func (r ApiCreateAdvertiseApiV1AdvertisePost_0Request) Url(url string) ApiCreateAdvertiseApiV1AdvertisePost_0Request {
	r.url = &url
	return r
}

func (r ApiCreateAdvertiseApiV1AdvertisePost_0Request) Type_(type_ string) ApiCreateAdvertiseApiV1AdvertisePost_0Request {
	r.type_ = &type_
	return r
}

func (r ApiCreateAdvertiseApiV1AdvertisePost_0Request) Content(content string) ApiCreateAdvertiseApiV1AdvertisePost_0Request {
	r.content = &content
	return r
}

func (r ApiCreateAdvertiseApiV1AdvertisePost_0Request) StartTime(startTime time.Time) ApiCreateAdvertiseApiV1AdvertisePost_0Request {
	r.startTime = &startTime
	return r
}

func (r ApiCreateAdvertiseApiV1AdvertisePost_0Request) EndTime(endTime time.Time) ApiCreateAdvertiseApiV1AdvertisePost_0Request {
	r.endTime = &endTime
	return r
}

func (r ApiCreateAdvertiseApiV1AdvertisePost_0Request) SortOrder(sortOrder int32) ApiCreateAdvertiseApiV1AdvertisePost_0Request {
	r.sortOrder = &sortOrder
	return r
}

func (r ApiCreateAdvertiseApiV1AdvertisePost_0Request) TargetUser(targetUser string) ApiCreateAdvertiseApiV1AdvertisePost_0Request {
	r.targetUser = &targetUser
	return r
}

func (r ApiCreateAdvertiseApiV1AdvertisePost_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CreateAdvertiseApiV1AdvertisePost_1Execute(r)
}

/*
CreateAdvertiseApiV1AdvertisePost_0 新增广告

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateAdvertiseApiV1AdvertisePost_0Request
*/
func (a *AdvertiseAPIService) CreateAdvertiseApiV1AdvertisePost_1(ctx context.Context) ApiCreateAdvertiseApiV1AdvertisePost_0Request {
	return ApiCreateAdvertiseApiV1AdvertisePost_0Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AdvertiseAPIService) CreateAdvertiseApiV1AdvertisePost_1Execute(r ApiCreateAdvertiseApiV1AdvertisePost_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdvertiseAPIService.CreateAdvertiseApiV1AdvertisePost_1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/advertise"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.title == nil {
		return localVarReturnValue, nil, reportError("title is required and must be specified")
	}
	if strlen(*r.title) < 1 {
		return localVarReturnValue, nil, reportError("title must have at least 1 elements")
	}
	if strlen(*r.title) > 200 {
		return localVarReturnValue, nil, reportError("title must have less than 200 elements")
	}
	if r.positionId == nil {
		return localVarReturnValue, nil, reportError("positionId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "title", r.title, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "position_id", r.positionId, "form", "")
	if r.image != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "image", r.image, "form", "")
	}
	if r.url != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "url", r.url, "form", "")
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	} else {
		var defaultValue string = "image"
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", defaultValue, "form", "")
		r.type_ = &defaultValue
	}
	if r.content != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "content", r.content, "form", "")
	}
	if r.startTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_time", r.startTime, "form", "")
	}
	if r.endTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_time", r.endTime, "form", "")
	}
	if r.sortOrder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_order", r.sortOrder, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_order", defaultValue, "form", "")
		r.sortOrder = &defaultValue
	}
	if r.targetUser != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "target_user", r.targetUser, "form", "")
	} else {
		var defaultValue string = "all"
		parameterAddToHeaderOrQuery(localVarQueryParams, "target_user", defaultValue, "form", "")
		r.targetUser = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreatePositionApiV1AdvertisePositionPostRequest struct {
	ctx context.Context
	ApiService *AdvertiseAPIService
	name *string
	code *string
	description *string
	width *int32
	height *int32
}

func (r ApiCreatePositionApiV1AdvertisePositionPostRequest) Name(name string) ApiCreatePositionApiV1AdvertisePositionPostRequest {
	r.name = &name
	return r
}

func (r ApiCreatePositionApiV1AdvertisePositionPostRequest) Code(code string) ApiCreatePositionApiV1AdvertisePositionPostRequest {
	r.code = &code
	return r
}

func (r ApiCreatePositionApiV1AdvertisePositionPostRequest) Description(description string) ApiCreatePositionApiV1AdvertisePositionPostRequest {
	r.description = &description
	return r
}

func (r ApiCreatePositionApiV1AdvertisePositionPostRequest) Width(width int32) ApiCreatePositionApiV1AdvertisePositionPostRequest {
	r.width = &width
	return r
}

func (r ApiCreatePositionApiV1AdvertisePositionPostRequest) Height(height int32) ApiCreatePositionApiV1AdvertisePositionPostRequest {
	r.height = &height
	return r
}

func (r ApiCreatePositionApiV1AdvertisePositionPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CreatePositionApiV1AdvertisePositionPostExecute(r)
}

/*
CreatePositionApiV1AdvertisePositionPost 新增广告位

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreatePositionApiV1AdvertisePositionPostRequest
*/
func (a *AdvertiseAPIService) CreatePositionApiV1AdvertisePositionPost(ctx context.Context) ApiCreatePositionApiV1AdvertisePositionPostRequest {
	return ApiCreatePositionApiV1AdvertisePositionPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AdvertiseAPIService) CreatePositionApiV1AdvertisePositionPostExecute(r ApiCreatePositionApiV1AdvertisePositionPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdvertiseAPIService.CreatePositionApiV1AdvertisePositionPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/advertise/position"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.name == nil {
		return localVarReturnValue, nil, reportError("name is required and must be specified")
	}
	if r.code == nil {
		return localVarReturnValue, nil, reportError("code is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "code", r.code, "form", "")
	if r.description != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description", r.description, "form", "")
	}
	if r.width != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "width", r.width, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "width", defaultValue, "form", "")
		r.width = &defaultValue
	}
	if r.height != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "height", r.height, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "height", defaultValue, "form", "")
		r.height = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreatePositionApiV1AdvertisePositionPost_0Request struct {
	ctx context.Context
	ApiService *AdvertiseAPIService
	name *string
	code *string
	description *string
	width *int32
	height *int32
}

func (r ApiCreatePositionApiV1AdvertisePositionPost_0Request) Name(name string) ApiCreatePositionApiV1AdvertisePositionPost_0Request {
	r.name = &name
	return r
}

func (r ApiCreatePositionApiV1AdvertisePositionPost_0Request) Code(code string) ApiCreatePositionApiV1AdvertisePositionPost_0Request {
	r.code = &code
	return r
}

func (r ApiCreatePositionApiV1AdvertisePositionPost_0Request) Description(description string) ApiCreatePositionApiV1AdvertisePositionPost_0Request {
	r.description = &description
	return r
}

func (r ApiCreatePositionApiV1AdvertisePositionPost_0Request) Width(width int32) ApiCreatePositionApiV1AdvertisePositionPost_0Request {
	r.width = &width
	return r
}

func (r ApiCreatePositionApiV1AdvertisePositionPost_0Request) Height(height int32) ApiCreatePositionApiV1AdvertisePositionPost_0Request {
	r.height = &height
	return r
}

func (r ApiCreatePositionApiV1AdvertisePositionPost_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CreatePositionApiV1AdvertisePositionPost_2Execute(r)
}

/*
CreatePositionApiV1AdvertisePositionPost_0 新增广告位

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreatePositionApiV1AdvertisePositionPost_0Request
*/
func (a *AdvertiseAPIService) CreatePositionApiV1AdvertisePositionPost_2(ctx context.Context) ApiCreatePositionApiV1AdvertisePositionPost_0Request {
	return ApiCreatePositionApiV1AdvertisePositionPost_0Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AdvertiseAPIService) CreatePositionApiV1AdvertisePositionPost_2Execute(r ApiCreatePositionApiV1AdvertisePositionPost_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdvertiseAPIService.CreatePositionApiV1AdvertisePositionPost_2")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/advertise/position"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.name == nil {
		return localVarReturnValue, nil, reportError("name is required and must be specified")
	}
	if r.code == nil {
		return localVarReturnValue, nil, reportError("code is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "code", r.code, "form", "")
	if r.description != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description", r.description, "form", "")
	}
	if r.width != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "width", r.width, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "width", defaultValue, "form", "")
		r.width = &defaultValue
	}
	if r.height != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "height", r.height, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "height", defaultValue, "form", "")
		r.height = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteAdvertiseApiV1AdvertiseAidDeleteRequest struct {
	ctx context.Context
	ApiService *AdvertiseAPIService
	aid int32
}

func (r ApiDeleteAdvertiseApiV1AdvertiseAidDeleteRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DeleteAdvertiseApiV1AdvertiseAidDeleteExecute(r)
}

/*
DeleteAdvertiseApiV1AdvertiseAidDelete 删除广告

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param aid
 @return ApiDeleteAdvertiseApiV1AdvertiseAidDeleteRequest
*/
func (a *AdvertiseAPIService) DeleteAdvertiseApiV1AdvertiseAidDelete(ctx context.Context, aid int32) ApiDeleteAdvertiseApiV1AdvertiseAidDeleteRequest {
	return ApiDeleteAdvertiseApiV1AdvertiseAidDeleteRequest{
		ApiService: a,
		ctx: ctx,
		aid: aid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AdvertiseAPIService) DeleteAdvertiseApiV1AdvertiseAidDeleteExecute(r ApiDeleteAdvertiseApiV1AdvertiseAidDeleteRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdvertiseAPIService.DeleteAdvertiseApiV1AdvertiseAidDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/advertise/{aid}"
	localVarPath = strings.Replace(localVarPath, "{"+"aid"+"}", url.PathEscape(parameterValueToString(r.aid, "aid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteAdvertiseApiV1AdvertiseAidDelete_0Request struct {
	ctx context.Context
	ApiService *AdvertiseAPIService
	aid int32
}

func (r ApiDeleteAdvertiseApiV1AdvertiseAidDelete_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DeleteAdvertiseApiV1AdvertiseAidDelete_3Execute(r)
}

/*
DeleteAdvertiseApiV1AdvertiseAidDelete_0 删除广告

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param aid
 @return ApiDeleteAdvertiseApiV1AdvertiseAidDelete_0Request
*/
func (a *AdvertiseAPIService) DeleteAdvertiseApiV1AdvertiseAidDelete_3(ctx context.Context, aid int32) ApiDeleteAdvertiseApiV1AdvertiseAidDelete_0Request {
	return ApiDeleteAdvertiseApiV1AdvertiseAidDelete_0Request{
		ApiService: a,
		ctx: ctx,
		aid: aid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AdvertiseAPIService) DeleteAdvertiseApiV1AdvertiseAidDelete_3Execute(r ApiDeleteAdvertiseApiV1AdvertiseAidDelete_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdvertiseAPIService.DeleteAdvertiseApiV1AdvertiseAidDelete_3")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/advertise/{aid}"
	localVarPath = strings.Replace(localVarPath, "{"+"aid"+"}", url.PathEscape(parameterValueToString(r.aid, "aid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetAdvertiseApiV1AdvertiseAidGetRequest struct {
	ctx context.Context
	ApiService *AdvertiseAPIService
	aid int32
}

func (r ApiGetAdvertiseApiV1AdvertiseAidGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetAdvertiseApiV1AdvertiseAidGetExecute(r)
}

/*
GetAdvertiseApiV1AdvertiseAidGet 广告详情

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param aid
 @return ApiGetAdvertiseApiV1AdvertiseAidGetRequest
*/
func (a *AdvertiseAPIService) GetAdvertiseApiV1AdvertiseAidGet(ctx context.Context, aid int32) ApiGetAdvertiseApiV1AdvertiseAidGetRequest {
	return ApiGetAdvertiseApiV1AdvertiseAidGetRequest{
		ApiService: a,
		ctx: ctx,
		aid: aid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AdvertiseAPIService) GetAdvertiseApiV1AdvertiseAidGetExecute(r ApiGetAdvertiseApiV1AdvertiseAidGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdvertiseAPIService.GetAdvertiseApiV1AdvertiseAidGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/advertise/{aid}"
	localVarPath = strings.Replace(localVarPath, "{"+"aid"+"}", url.PathEscape(parameterValueToString(r.aid, "aid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetAdvertiseApiV1AdvertiseAidGet_0Request struct {
	ctx context.Context
	ApiService *AdvertiseAPIService
	aid int32
}

func (r ApiGetAdvertiseApiV1AdvertiseAidGet_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetAdvertiseApiV1AdvertiseAidGet_4Execute(r)
}

/*
GetAdvertiseApiV1AdvertiseAidGet_0 广告详情

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param aid
 @return ApiGetAdvertiseApiV1AdvertiseAidGet_0Request
*/
func (a *AdvertiseAPIService) GetAdvertiseApiV1AdvertiseAidGet_4(ctx context.Context, aid int32) ApiGetAdvertiseApiV1AdvertiseAidGet_0Request {
	return ApiGetAdvertiseApiV1AdvertiseAidGet_0Request{
		ApiService: a,
		ctx: ctx,
		aid: aid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AdvertiseAPIService) GetAdvertiseApiV1AdvertiseAidGet_4Execute(r ApiGetAdvertiseApiV1AdvertiseAidGet_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdvertiseAPIService.GetAdvertiseApiV1AdvertiseAidGet_4")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/advertise/{aid}"
	localVarPath = strings.Replace(localVarPath, "{"+"aid"+"}", url.PathEscape(parameterValueToString(r.aid, "aid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListAdvertisesApiV1AdvertiseListGetRequest struct {
	ctx context.Context
	ApiService *AdvertiseAPIService
	positionId *int32
	status *int32
	page *int32
	limit *int32
}

func (r ApiListAdvertisesApiV1AdvertiseListGetRequest) PositionId(positionId int32) ApiListAdvertisesApiV1AdvertiseListGetRequest {
	r.positionId = &positionId
	return r
}

func (r ApiListAdvertisesApiV1AdvertiseListGetRequest) Status(status int32) ApiListAdvertisesApiV1AdvertiseListGetRequest {
	r.status = &status
	return r
}

func (r ApiListAdvertisesApiV1AdvertiseListGetRequest) Page(page int32) ApiListAdvertisesApiV1AdvertiseListGetRequest {
	r.page = &page
	return r
}

func (r ApiListAdvertisesApiV1AdvertiseListGetRequest) Limit(limit int32) ApiListAdvertisesApiV1AdvertiseListGetRequest {
	r.limit = &limit
	return r
}

func (r ApiListAdvertisesApiV1AdvertiseListGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListAdvertisesApiV1AdvertiseListGetExecute(r)
}

/*
ListAdvertisesApiV1AdvertiseListGet 广告列表

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListAdvertisesApiV1AdvertiseListGetRequest
*/
func (a *AdvertiseAPIService) ListAdvertisesApiV1AdvertiseListGet(ctx context.Context) ApiListAdvertisesApiV1AdvertiseListGetRequest {
	return ApiListAdvertisesApiV1AdvertiseListGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AdvertiseAPIService) ListAdvertisesApiV1AdvertiseListGetExecute(r ApiListAdvertisesApiV1AdvertiseListGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdvertiseAPIService.ListAdvertisesApiV1AdvertiseListGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/advertise/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.positionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "position_id", r.positionId, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListAdvertisesApiV1AdvertiseListGet_0Request struct {
	ctx context.Context
	ApiService *AdvertiseAPIService
	positionId *int32
	status *int32
	page *int32
	limit *int32
}

func (r ApiListAdvertisesApiV1AdvertiseListGet_0Request) PositionId(positionId int32) ApiListAdvertisesApiV1AdvertiseListGet_0Request {
	r.positionId = &positionId
	return r
}

func (r ApiListAdvertisesApiV1AdvertiseListGet_0Request) Status(status int32) ApiListAdvertisesApiV1AdvertiseListGet_0Request {
	r.status = &status
	return r
}

func (r ApiListAdvertisesApiV1AdvertiseListGet_0Request) Page(page int32) ApiListAdvertisesApiV1AdvertiseListGet_0Request {
	r.page = &page
	return r
}

func (r ApiListAdvertisesApiV1AdvertiseListGet_0Request) Limit(limit int32) ApiListAdvertisesApiV1AdvertiseListGet_0Request {
	r.limit = &limit
	return r
}

func (r ApiListAdvertisesApiV1AdvertiseListGet_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListAdvertisesApiV1AdvertiseListGet_5Execute(r)
}

/*
ListAdvertisesApiV1AdvertiseListGet_0 广告列表

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListAdvertisesApiV1AdvertiseListGet_0Request
*/
func (a *AdvertiseAPIService) ListAdvertisesApiV1AdvertiseListGet_5(ctx context.Context) ApiListAdvertisesApiV1AdvertiseListGet_0Request {
	return ApiListAdvertisesApiV1AdvertiseListGet_0Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AdvertiseAPIService) ListAdvertisesApiV1AdvertiseListGet_5Execute(r ApiListAdvertisesApiV1AdvertiseListGet_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdvertiseAPIService.ListAdvertisesApiV1AdvertiseListGet_5")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/advertise/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.positionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "position_id", r.positionId, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPositionListApiV1AdvertisePositionListGetRequest struct {
	ctx context.Context
	ApiService *AdvertiseAPIService
}

func (r ApiPositionListApiV1AdvertisePositionListGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.PositionListApiV1AdvertisePositionListGetExecute(r)
}

/*
PositionListApiV1AdvertisePositionListGet 广告位列表

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPositionListApiV1AdvertisePositionListGetRequest
*/
func (a *AdvertiseAPIService) PositionListApiV1AdvertisePositionListGet(ctx context.Context) ApiPositionListApiV1AdvertisePositionListGetRequest {
	return ApiPositionListApiV1AdvertisePositionListGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AdvertiseAPIService) PositionListApiV1AdvertisePositionListGetExecute(r ApiPositionListApiV1AdvertisePositionListGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdvertiseAPIService.PositionListApiV1AdvertisePositionListGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/advertise/position/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPositionListApiV1AdvertisePositionListGet_0Request struct {
	ctx context.Context
	ApiService *AdvertiseAPIService
}

func (r ApiPositionListApiV1AdvertisePositionListGet_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.PositionListApiV1AdvertisePositionListGet_6Execute(r)
}

/*
PositionListApiV1AdvertisePositionListGet_0 广告位列表

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPositionListApiV1AdvertisePositionListGet_0Request
*/
func (a *AdvertiseAPIService) PositionListApiV1AdvertisePositionListGet_6(ctx context.Context) ApiPositionListApiV1AdvertisePositionListGet_0Request {
	return ApiPositionListApiV1AdvertisePositionListGet_0Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AdvertiseAPIService) PositionListApiV1AdvertisePositionListGet_6Execute(r ApiPositionListApiV1AdvertisePositionListGet_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdvertiseAPIService.PositionListApiV1AdvertisePositionListGet_6")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/advertise/position/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRecordClickApiV1AdvertiseAidClickPostRequest struct {
	ctx context.Context
	ApiService *AdvertiseAPIService
	aid int32
}

func (r ApiRecordClickApiV1AdvertiseAidClickPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.RecordClickApiV1AdvertiseAidClickPostExecute(r)
}

/*
RecordClickApiV1AdvertiseAidClickPost 记录广告点击

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param aid
 @return ApiRecordClickApiV1AdvertiseAidClickPostRequest
*/
func (a *AdvertiseAPIService) RecordClickApiV1AdvertiseAidClickPost(ctx context.Context, aid int32) ApiRecordClickApiV1AdvertiseAidClickPostRequest {
	return ApiRecordClickApiV1AdvertiseAidClickPostRequest{
		ApiService: a,
		ctx: ctx,
		aid: aid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AdvertiseAPIService) RecordClickApiV1AdvertiseAidClickPostExecute(r ApiRecordClickApiV1AdvertiseAidClickPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdvertiseAPIService.RecordClickApiV1AdvertiseAidClickPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/advertise/{aid}/click"
	localVarPath = strings.Replace(localVarPath, "{"+"aid"+"}", url.PathEscape(parameterValueToString(r.aid, "aid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRecordClickApiV1AdvertiseAidClickPost_0Request struct {
	ctx context.Context
	ApiService *AdvertiseAPIService
	aid int32
}

func (r ApiRecordClickApiV1AdvertiseAidClickPost_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.RecordClickApiV1AdvertiseAidClickPost_7Execute(r)
}

/*
RecordClickApiV1AdvertiseAidClickPost_0 记录广告点击

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param aid
 @return ApiRecordClickApiV1AdvertiseAidClickPost_0Request
*/
func (a *AdvertiseAPIService) RecordClickApiV1AdvertiseAidClickPost_7(ctx context.Context, aid int32) ApiRecordClickApiV1AdvertiseAidClickPost_0Request {
	return ApiRecordClickApiV1AdvertiseAidClickPost_0Request{
		ApiService: a,
		ctx: ctx,
		aid: aid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AdvertiseAPIService) RecordClickApiV1AdvertiseAidClickPost_7Execute(r ApiRecordClickApiV1AdvertiseAidClickPost_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdvertiseAPIService.RecordClickApiV1AdvertiseAidClickPost_7")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/advertise/{aid}/click"
	localVarPath = strings.Replace(localVarPath, "{"+"aid"+"}", url.PathEscape(parameterValueToString(r.aid, "aid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateAdvertiseApiV1AdvertiseAidPutRequest struct {
	ctx context.Context
	ApiService *AdvertiseAPIService
	aid int32
	title *string
	image *string
	url *string
	status *int32
	sortOrder *int32
}

func (r ApiUpdateAdvertiseApiV1AdvertiseAidPutRequest) Title(title string) ApiUpdateAdvertiseApiV1AdvertiseAidPutRequest {
	r.title = &title
	return r
}

func (r ApiUpdateAdvertiseApiV1AdvertiseAidPutRequest) Image(image string) ApiUpdateAdvertiseApiV1AdvertiseAidPutRequest {
	r.image = &image
	return r
}

func (r ApiUpdateAdvertiseApiV1AdvertiseAidPutRequest) Url(url string) ApiUpdateAdvertiseApiV1AdvertiseAidPutRequest {
	r.url = &url
	return r
}

func (r ApiUpdateAdvertiseApiV1AdvertiseAidPutRequest) Status(status int32) ApiUpdateAdvertiseApiV1AdvertiseAidPutRequest {
	r.status = &status
	return r
}

func (r ApiUpdateAdvertiseApiV1AdvertiseAidPutRequest) SortOrder(sortOrder int32) ApiUpdateAdvertiseApiV1AdvertiseAidPutRequest {
	r.sortOrder = &sortOrder
	return r
}

func (r ApiUpdateAdvertiseApiV1AdvertiseAidPutRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.UpdateAdvertiseApiV1AdvertiseAidPutExecute(r)
}

/*
UpdateAdvertiseApiV1AdvertiseAidPut 修改广告

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param aid
 @return ApiUpdateAdvertiseApiV1AdvertiseAidPutRequest
*/
func (a *AdvertiseAPIService) UpdateAdvertiseApiV1AdvertiseAidPut(ctx context.Context, aid int32) ApiUpdateAdvertiseApiV1AdvertiseAidPutRequest {
	return ApiUpdateAdvertiseApiV1AdvertiseAidPutRequest{
		ApiService: a,
		ctx: ctx,
		aid: aid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AdvertiseAPIService) UpdateAdvertiseApiV1AdvertiseAidPutExecute(r ApiUpdateAdvertiseApiV1AdvertiseAidPutRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdvertiseAPIService.UpdateAdvertiseApiV1AdvertiseAidPut")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/advertise/{aid}"
	localVarPath = strings.Replace(localVarPath, "{"+"aid"+"}", url.PathEscape(parameterValueToString(r.aid, "aid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.title != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "title", r.title, "form", "")
	}
	if r.image != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "image", r.image, "form", "")
	}
	if r.url != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "url", r.url, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.sortOrder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_order", r.sortOrder, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateAdvertiseApiV1AdvertiseAidPut_0Request struct {
	ctx context.Context
	ApiService *AdvertiseAPIService
	aid int32
	title *string
	image *string
	url *string
	status *int32
	sortOrder *int32
}

func (r ApiUpdateAdvertiseApiV1AdvertiseAidPut_0Request) Title(title string) ApiUpdateAdvertiseApiV1AdvertiseAidPut_0Request {
	r.title = &title
	return r
}

func (r ApiUpdateAdvertiseApiV1AdvertiseAidPut_0Request) Image(image string) ApiUpdateAdvertiseApiV1AdvertiseAidPut_0Request {
	r.image = &image
	return r
}

func (r ApiUpdateAdvertiseApiV1AdvertiseAidPut_0Request) Url(url string) ApiUpdateAdvertiseApiV1AdvertiseAidPut_0Request {
	r.url = &url
	return r
}

func (r ApiUpdateAdvertiseApiV1AdvertiseAidPut_0Request) Status(status int32) ApiUpdateAdvertiseApiV1AdvertiseAidPut_0Request {
	r.status = &status
	return r
}

func (r ApiUpdateAdvertiseApiV1AdvertiseAidPut_0Request) SortOrder(sortOrder int32) ApiUpdateAdvertiseApiV1AdvertiseAidPut_0Request {
	r.sortOrder = &sortOrder
	return r
}

func (r ApiUpdateAdvertiseApiV1AdvertiseAidPut_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.UpdateAdvertiseApiV1AdvertiseAidPut_8Execute(r)
}

/*
UpdateAdvertiseApiV1AdvertiseAidPut_0 修改广告

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param aid
 @return ApiUpdateAdvertiseApiV1AdvertiseAidPut_0Request
*/
func (a *AdvertiseAPIService) UpdateAdvertiseApiV1AdvertiseAidPut_8(ctx context.Context, aid int32) ApiUpdateAdvertiseApiV1AdvertiseAidPut_0Request {
	return ApiUpdateAdvertiseApiV1AdvertiseAidPut_0Request{
		ApiService: a,
		ctx: ctx,
		aid: aid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AdvertiseAPIService) UpdateAdvertiseApiV1AdvertiseAidPut_8Execute(r ApiUpdateAdvertiseApiV1AdvertiseAidPut_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdvertiseAPIService.UpdateAdvertiseApiV1AdvertiseAidPut_8")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/advertise/{aid}"
	localVarPath = strings.Replace(localVarPath, "{"+"aid"+"}", url.PathEscape(parameterValueToString(r.aid, "aid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.title != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "title", r.title, "form", "")
	}
	if r.image != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "image", r.image, "form", "")
	}
	if r.url != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "url", r.url, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.sortOrder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_order", r.sortOrder, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
