/*
ZHS Platform

ZHS Platform API - AI Agent Marketplace & Educational Platform

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zhs_api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// VideoPreloadAPIService VideoPreloadAPI service
type VideoPreloadAPIService service

type ApiCreatePreloadApiV1VideoPreloadPostRequest struct {
	ctx context.Context
	ApiService *VideoPreloadAPIService
	videoId *int32
	startTime *int32
	endTime *int32
	isChunked *bool
	videoUrl *string
}

func (r ApiCreatePreloadApiV1VideoPreloadPostRequest) VideoId(videoId int32) ApiCreatePreloadApiV1VideoPreloadPostRequest {
	r.videoId = &videoId
	return r
}

func (r ApiCreatePreloadApiV1VideoPreloadPostRequest) StartTime(startTime int32) ApiCreatePreloadApiV1VideoPreloadPostRequest {
	r.startTime = &startTime
	return r
}

func (r ApiCreatePreloadApiV1VideoPreloadPostRequest) EndTime(endTime int32) ApiCreatePreloadApiV1VideoPreloadPostRequest {
	r.endTime = &endTime
	return r
}

func (r ApiCreatePreloadApiV1VideoPreloadPostRequest) IsChunked(isChunked bool) ApiCreatePreloadApiV1VideoPreloadPostRequest {
	r.isChunked = &isChunked
	return r
}

func (r ApiCreatePreloadApiV1VideoPreloadPostRequest) VideoUrl(videoUrl string) ApiCreatePreloadApiV1VideoPreloadPostRequest {
	r.videoUrl = &videoUrl
	return r
}

func (r ApiCreatePreloadApiV1VideoPreloadPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CreatePreloadApiV1VideoPreloadPostExecute(r)
}

/*
CreatePreloadApiV1VideoPreloadPost 创建预读任务

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreatePreloadApiV1VideoPreloadPostRequest
*/
func (a *VideoPreloadAPIService) CreatePreloadApiV1VideoPreloadPost(ctx context.Context) ApiCreatePreloadApiV1VideoPreloadPostRequest {
	return ApiCreatePreloadApiV1VideoPreloadPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *VideoPreloadAPIService) CreatePreloadApiV1VideoPreloadPostExecute(r ApiCreatePreloadApiV1VideoPreloadPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VideoPreloadAPIService.CreatePreloadApiV1VideoPreloadPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/video-preload"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.videoId == nil {
		return localVarReturnValue, nil, reportError("videoId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "video_id", r.videoId, "form", "")
	if r.startTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_time", r.startTime, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_time", defaultValue, "form", "")
		r.startTime = &defaultValue
	}
	if r.endTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_time", r.endTime, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_time", defaultValue, "form", "")
		r.endTime = &defaultValue
	}
	if r.isChunked != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_chunked", r.isChunked, "form", "")
	} else {
		var defaultValue bool = true
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_chunked", defaultValue, "form", "")
		r.isChunked = &defaultValue
	}
	if r.videoUrl != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "video_url", r.videoUrl, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreatePreloadApiV1VideoPreloadPost_0Request struct {
	ctx context.Context
	ApiService *VideoPreloadAPIService
	videoId *int32
	startTime *int32
	endTime *int32
	isChunked *bool
	videoUrl *string
}

func (r ApiCreatePreloadApiV1VideoPreloadPost_0Request) VideoId(videoId int32) ApiCreatePreloadApiV1VideoPreloadPost_0Request {
	r.videoId = &videoId
	return r
}

func (r ApiCreatePreloadApiV1VideoPreloadPost_0Request) StartTime(startTime int32) ApiCreatePreloadApiV1VideoPreloadPost_0Request {
	r.startTime = &startTime
	return r
}

func (r ApiCreatePreloadApiV1VideoPreloadPost_0Request) EndTime(endTime int32) ApiCreatePreloadApiV1VideoPreloadPost_0Request {
	r.endTime = &endTime
	return r
}

func (r ApiCreatePreloadApiV1VideoPreloadPost_0Request) IsChunked(isChunked bool) ApiCreatePreloadApiV1VideoPreloadPost_0Request {
	r.isChunked = &isChunked
	return r
}

func (r ApiCreatePreloadApiV1VideoPreloadPost_0Request) VideoUrl(videoUrl string) ApiCreatePreloadApiV1VideoPreloadPost_0Request {
	r.videoUrl = &videoUrl
	return r
}

func (r ApiCreatePreloadApiV1VideoPreloadPost_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CreatePreloadApiV1VideoPreloadPost_1Execute(r)
}

/*
CreatePreloadApiV1VideoPreloadPost_0 创建预读任务

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreatePreloadApiV1VideoPreloadPost_0Request
*/
func (a *VideoPreloadAPIService) CreatePreloadApiV1VideoPreloadPost_1(ctx context.Context) ApiCreatePreloadApiV1VideoPreloadPost_0Request {
	return ApiCreatePreloadApiV1VideoPreloadPost_0Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *VideoPreloadAPIService) CreatePreloadApiV1VideoPreloadPost_1Execute(r ApiCreatePreloadApiV1VideoPreloadPost_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VideoPreloadAPIService.CreatePreloadApiV1VideoPreloadPost_1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/video-preload"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.videoId == nil {
		return localVarReturnValue, nil, reportError("videoId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "video_id", r.videoId, "form", "")
	if r.startTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_time", r.startTime, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_time", defaultValue, "form", "")
		r.startTime = &defaultValue
	}
	if r.endTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_time", r.endTime, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_time", defaultValue, "form", "")
		r.endTime = &defaultValue
	}
	if r.isChunked != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_chunked", r.isChunked, "form", "")
	} else {
		var defaultValue bool = true
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_chunked", defaultValue, "form", "")
		r.isChunked = &defaultValue
	}
	if r.videoUrl != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "video_url", r.videoUrl, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeletePreloadApiV1VideoPreloadPidDeleteRequest struct {
	ctx context.Context
	ApiService *VideoPreloadAPIService
	pid int32
}

func (r ApiDeletePreloadApiV1VideoPreloadPidDeleteRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DeletePreloadApiV1VideoPreloadPidDeleteExecute(r)
}

/*
DeletePreloadApiV1VideoPreloadPidDelete 删除预读任务

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pid
 @return ApiDeletePreloadApiV1VideoPreloadPidDeleteRequest
*/
func (a *VideoPreloadAPIService) DeletePreloadApiV1VideoPreloadPidDelete(ctx context.Context, pid int32) ApiDeletePreloadApiV1VideoPreloadPidDeleteRequest {
	return ApiDeletePreloadApiV1VideoPreloadPidDeleteRequest{
		ApiService: a,
		ctx: ctx,
		pid: pid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *VideoPreloadAPIService) DeletePreloadApiV1VideoPreloadPidDeleteExecute(r ApiDeletePreloadApiV1VideoPreloadPidDeleteRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VideoPreloadAPIService.DeletePreloadApiV1VideoPreloadPidDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/video-preload/{pid}"
	localVarPath = strings.Replace(localVarPath, "{"+"pid"+"}", url.PathEscape(parameterValueToString(r.pid, "pid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeletePreloadApiV1VideoPreloadPidDelete_0Request struct {
	ctx context.Context
	ApiService *VideoPreloadAPIService
	pid int32
}

func (r ApiDeletePreloadApiV1VideoPreloadPidDelete_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DeletePreloadApiV1VideoPreloadPidDelete_2Execute(r)
}

/*
DeletePreloadApiV1VideoPreloadPidDelete_0 删除预读任务

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pid
 @return ApiDeletePreloadApiV1VideoPreloadPidDelete_0Request
*/
func (a *VideoPreloadAPIService) DeletePreloadApiV1VideoPreloadPidDelete_2(ctx context.Context, pid int32) ApiDeletePreloadApiV1VideoPreloadPidDelete_0Request {
	return ApiDeletePreloadApiV1VideoPreloadPidDelete_0Request{
		ApiService: a,
		ctx: ctx,
		pid: pid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *VideoPreloadAPIService) DeletePreloadApiV1VideoPreloadPidDelete_2Execute(r ApiDeletePreloadApiV1VideoPreloadPidDelete_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VideoPreloadAPIService.DeletePreloadApiV1VideoPreloadPidDelete_2")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/video-preload/{pid}"
	localVarPath = strings.Replace(localVarPath, "{"+"pid"+"}", url.PathEscape(parameterValueToString(r.pid, "pid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListPreloadsApiV1VideoPreloadListGetRequest struct {
	ctx context.Context
	ApiService *VideoPreloadAPIService
	page *int32
	limit *int32
	videoId *int32
}

func (r ApiListPreloadsApiV1VideoPreloadListGetRequest) Page(page int32) ApiListPreloadsApiV1VideoPreloadListGetRequest {
	r.page = &page
	return r
}

func (r ApiListPreloadsApiV1VideoPreloadListGetRequest) Limit(limit int32) ApiListPreloadsApiV1VideoPreloadListGetRequest {
	r.limit = &limit
	return r
}

func (r ApiListPreloadsApiV1VideoPreloadListGetRequest) VideoId(videoId int32) ApiListPreloadsApiV1VideoPreloadListGetRequest {
	r.videoId = &videoId
	return r
}

func (r ApiListPreloadsApiV1VideoPreloadListGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListPreloadsApiV1VideoPreloadListGetExecute(r)
}

/*
ListPreloadsApiV1VideoPreloadListGet 我的预读任务

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListPreloadsApiV1VideoPreloadListGetRequest
*/
func (a *VideoPreloadAPIService) ListPreloadsApiV1VideoPreloadListGet(ctx context.Context) ApiListPreloadsApiV1VideoPreloadListGetRequest {
	return ApiListPreloadsApiV1VideoPreloadListGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *VideoPreloadAPIService) ListPreloadsApiV1VideoPreloadListGetExecute(r ApiListPreloadsApiV1VideoPreloadListGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VideoPreloadAPIService.ListPreloadsApiV1VideoPreloadListGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/video-preload/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.videoId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "video_id", r.videoId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListPreloadsApiV1VideoPreloadListGet_0Request struct {
	ctx context.Context
	ApiService *VideoPreloadAPIService
	page *int32
	limit *int32
	videoId *int32
}

func (r ApiListPreloadsApiV1VideoPreloadListGet_0Request) Page(page int32) ApiListPreloadsApiV1VideoPreloadListGet_0Request {
	r.page = &page
	return r
}

func (r ApiListPreloadsApiV1VideoPreloadListGet_0Request) Limit(limit int32) ApiListPreloadsApiV1VideoPreloadListGet_0Request {
	r.limit = &limit
	return r
}

func (r ApiListPreloadsApiV1VideoPreloadListGet_0Request) VideoId(videoId int32) ApiListPreloadsApiV1VideoPreloadListGet_0Request {
	r.videoId = &videoId
	return r
}

func (r ApiListPreloadsApiV1VideoPreloadListGet_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListPreloadsApiV1VideoPreloadListGet_3Execute(r)
}

/*
ListPreloadsApiV1VideoPreloadListGet_0 我的预读任务

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListPreloadsApiV1VideoPreloadListGet_0Request
*/
func (a *VideoPreloadAPIService) ListPreloadsApiV1VideoPreloadListGet_3(ctx context.Context) ApiListPreloadsApiV1VideoPreloadListGet_0Request {
	return ApiListPreloadsApiV1VideoPreloadListGet_0Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *VideoPreloadAPIService) ListPreloadsApiV1VideoPreloadListGet_3Execute(r ApiListPreloadsApiV1VideoPreloadListGet_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VideoPreloadAPIService.ListPreloadsApiV1VideoPreloadListGet_3")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/video-preload/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.videoId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "video_id", r.videoId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiMarkCompleteApiV1VideoPreloadPidCompletePutRequest struct {
	ctx context.Context
	ApiService *VideoPreloadAPIService
	pid int32
}

func (r ApiMarkCompleteApiV1VideoPreloadPidCompletePutRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.MarkCompleteApiV1VideoPreloadPidCompletePutExecute(r)
}

/*
MarkCompleteApiV1VideoPreloadPidCompletePut 标记完成

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pid
 @return ApiMarkCompleteApiV1VideoPreloadPidCompletePutRequest
*/
func (a *VideoPreloadAPIService) MarkCompleteApiV1VideoPreloadPidCompletePut(ctx context.Context, pid int32) ApiMarkCompleteApiV1VideoPreloadPidCompletePutRequest {
	return ApiMarkCompleteApiV1VideoPreloadPidCompletePutRequest{
		ApiService: a,
		ctx: ctx,
		pid: pid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *VideoPreloadAPIService) MarkCompleteApiV1VideoPreloadPidCompletePutExecute(r ApiMarkCompleteApiV1VideoPreloadPidCompletePutRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VideoPreloadAPIService.MarkCompleteApiV1VideoPreloadPidCompletePut")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/video-preload/{pid}/complete"
	localVarPath = strings.Replace(localVarPath, "{"+"pid"+"}", url.PathEscape(parameterValueToString(r.pid, "pid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiMarkCompleteApiV1VideoPreloadPidCompletePut_0Request struct {
	ctx context.Context
	ApiService *VideoPreloadAPIService
	pid int32
}

func (r ApiMarkCompleteApiV1VideoPreloadPidCompletePut_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.MarkCompleteApiV1VideoPreloadPidCompletePut_4Execute(r)
}

/*
MarkCompleteApiV1VideoPreloadPidCompletePut_0 标记完成

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pid
 @return ApiMarkCompleteApiV1VideoPreloadPidCompletePut_0Request
*/
func (a *VideoPreloadAPIService) MarkCompleteApiV1VideoPreloadPidCompletePut_4(ctx context.Context, pid int32) ApiMarkCompleteApiV1VideoPreloadPidCompletePut_0Request {
	return ApiMarkCompleteApiV1VideoPreloadPidCompletePut_0Request{
		ApiService: a,
		ctx: ctx,
		pid: pid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *VideoPreloadAPIService) MarkCompleteApiV1VideoPreloadPidCompletePut_4Execute(r ApiMarkCompleteApiV1VideoPreloadPidCompletePut_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VideoPreloadAPIService.MarkCompleteApiV1VideoPreloadPidCompletePut_4")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/video-preload/{pid}/complete"
	localVarPath = strings.Replace(localVarPath, "{"+"pid"+"}", url.PathEscape(parameterValueToString(r.pid, "pid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
