/*
ZHS Platform

ZHS Platform API - AI Agent Marketplace & Educational Platform

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zhs_api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// CategoryDictionaryAPIService CategoryDictionaryAPI service
type CategoryDictionaryAPIService service

type ApiCreateDictApiV1CategoryDictionaryPostRequest struct {
	ctx context.Context
	ApiService *CategoryDictionaryAPIService
	dictType *string
	code *string
	label *string
	value *string
	sortOrder *int32
	isShow *bool
	description *string
	parentId *int32
	extra *string
}

func (r ApiCreateDictApiV1CategoryDictionaryPostRequest) DictType(dictType string) ApiCreateDictApiV1CategoryDictionaryPostRequest {
	r.dictType = &dictType
	return r
}

func (r ApiCreateDictApiV1CategoryDictionaryPostRequest) Code(code string) ApiCreateDictApiV1CategoryDictionaryPostRequest {
	r.code = &code
	return r
}

func (r ApiCreateDictApiV1CategoryDictionaryPostRequest) Label(label string) ApiCreateDictApiV1CategoryDictionaryPostRequest {
	r.label = &label
	return r
}

func (r ApiCreateDictApiV1CategoryDictionaryPostRequest) Value(value string) ApiCreateDictApiV1CategoryDictionaryPostRequest {
	r.value = &value
	return r
}

func (r ApiCreateDictApiV1CategoryDictionaryPostRequest) SortOrder(sortOrder int32) ApiCreateDictApiV1CategoryDictionaryPostRequest {
	r.sortOrder = &sortOrder
	return r
}

func (r ApiCreateDictApiV1CategoryDictionaryPostRequest) IsShow(isShow bool) ApiCreateDictApiV1CategoryDictionaryPostRequest {
	r.isShow = &isShow
	return r
}

func (r ApiCreateDictApiV1CategoryDictionaryPostRequest) Description(description string) ApiCreateDictApiV1CategoryDictionaryPostRequest {
	r.description = &description
	return r
}

func (r ApiCreateDictApiV1CategoryDictionaryPostRequest) ParentId(parentId int32) ApiCreateDictApiV1CategoryDictionaryPostRequest {
	r.parentId = &parentId
	return r
}

func (r ApiCreateDictApiV1CategoryDictionaryPostRequest) Extra(extra string) ApiCreateDictApiV1CategoryDictionaryPostRequest {
	r.extra = &extra
	return r
}

func (r ApiCreateDictApiV1CategoryDictionaryPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CreateDictApiV1CategoryDictionaryPostExecute(r)
}

/*
CreateDictApiV1CategoryDictionaryPost 新增字典

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateDictApiV1CategoryDictionaryPostRequest
*/
func (a *CategoryDictionaryAPIService) CreateDictApiV1CategoryDictionaryPost(ctx context.Context) ApiCreateDictApiV1CategoryDictionaryPostRequest {
	return ApiCreateDictApiV1CategoryDictionaryPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *CategoryDictionaryAPIService) CreateDictApiV1CategoryDictionaryPostExecute(r ApiCreateDictApiV1CategoryDictionaryPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CategoryDictionaryAPIService.CreateDictApiV1CategoryDictionaryPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/category-dictionary"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.dictType == nil {
		return localVarReturnValue, nil, reportError("dictType is required and must be specified")
	}
	if r.code == nil {
		return localVarReturnValue, nil, reportError("code is required and must be specified")
	}
	if r.label == nil {
		return localVarReturnValue, nil, reportError("label is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "dict_type", r.dictType, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "code", r.code, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "label", r.label, "form", "")
	if r.value != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "value", r.value, "form", "")
	}
	if r.sortOrder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_order", r.sortOrder, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_order", defaultValue, "form", "")
		r.sortOrder = &defaultValue
	}
	if r.isShow != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_show", r.isShow, "form", "")
	} else {
		var defaultValue bool = true
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_show", defaultValue, "form", "")
		r.isShow = &defaultValue
	}
	if r.description != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description", r.description, "form", "")
	}
	if r.parentId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "parent_id", r.parentId, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "parent_id", defaultValue, "form", "")
		r.parentId = &defaultValue
	}
	if r.extra != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "extra", r.extra, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateDictApiV1CategoryDictionaryPost_0Request struct {
	ctx context.Context
	ApiService *CategoryDictionaryAPIService
	dictType *string
	code *string
	label *string
	value *string
	sortOrder *int32
	isShow *bool
	description *string
	parentId *int32
	extra *string
}

func (r ApiCreateDictApiV1CategoryDictionaryPost_0Request) DictType(dictType string) ApiCreateDictApiV1CategoryDictionaryPost_0Request {
	r.dictType = &dictType
	return r
}

func (r ApiCreateDictApiV1CategoryDictionaryPost_0Request) Code(code string) ApiCreateDictApiV1CategoryDictionaryPost_0Request {
	r.code = &code
	return r
}

func (r ApiCreateDictApiV1CategoryDictionaryPost_0Request) Label(label string) ApiCreateDictApiV1CategoryDictionaryPost_0Request {
	r.label = &label
	return r
}

func (r ApiCreateDictApiV1CategoryDictionaryPost_0Request) Value(value string) ApiCreateDictApiV1CategoryDictionaryPost_0Request {
	r.value = &value
	return r
}

func (r ApiCreateDictApiV1CategoryDictionaryPost_0Request) SortOrder(sortOrder int32) ApiCreateDictApiV1CategoryDictionaryPost_0Request {
	r.sortOrder = &sortOrder
	return r
}

func (r ApiCreateDictApiV1CategoryDictionaryPost_0Request) IsShow(isShow bool) ApiCreateDictApiV1CategoryDictionaryPost_0Request {
	r.isShow = &isShow
	return r
}

func (r ApiCreateDictApiV1CategoryDictionaryPost_0Request) Description(description string) ApiCreateDictApiV1CategoryDictionaryPost_0Request {
	r.description = &description
	return r
}

func (r ApiCreateDictApiV1CategoryDictionaryPost_0Request) ParentId(parentId int32) ApiCreateDictApiV1CategoryDictionaryPost_0Request {
	r.parentId = &parentId
	return r
}

func (r ApiCreateDictApiV1CategoryDictionaryPost_0Request) Extra(extra string) ApiCreateDictApiV1CategoryDictionaryPost_0Request {
	r.extra = &extra
	return r
}

func (r ApiCreateDictApiV1CategoryDictionaryPost_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CreateDictApiV1CategoryDictionaryPost_1Execute(r)
}

/*
CreateDictApiV1CategoryDictionaryPost_0 新增字典

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateDictApiV1CategoryDictionaryPost_0Request
*/
func (a *CategoryDictionaryAPIService) CreateDictApiV1CategoryDictionaryPost_1(ctx context.Context) ApiCreateDictApiV1CategoryDictionaryPost_0Request {
	return ApiCreateDictApiV1CategoryDictionaryPost_0Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *CategoryDictionaryAPIService) CreateDictApiV1CategoryDictionaryPost_1Execute(r ApiCreateDictApiV1CategoryDictionaryPost_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CategoryDictionaryAPIService.CreateDictApiV1CategoryDictionaryPost_1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/category-dictionary"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.dictType == nil {
		return localVarReturnValue, nil, reportError("dictType is required and must be specified")
	}
	if r.code == nil {
		return localVarReturnValue, nil, reportError("code is required and must be specified")
	}
	if r.label == nil {
		return localVarReturnValue, nil, reportError("label is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "dict_type", r.dictType, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "code", r.code, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "label", r.label, "form", "")
	if r.value != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "value", r.value, "form", "")
	}
	if r.sortOrder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_order", r.sortOrder, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_order", defaultValue, "form", "")
		r.sortOrder = &defaultValue
	}
	if r.isShow != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_show", r.isShow, "form", "")
	} else {
		var defaultValue bool = true
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_show", defaultValue, "form", "")
		r.isShow = &defaultValue
	}
	if r.description != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description", r.description, "form", "")
	}
	if r.parentId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "parent_id", r.parentId, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "parent_id", defaultValue, "form", "")
		r.parentId = &defaultValue
	}
	if r.extra != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "extra", r.extra, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteDictApiV1CategoryDictionaryDidDeleteRequest struct {
	ctx context.Context
	ApiService *CategoryDictionaryAPIService
	did int32
}

func (r ApiDeleteDictApiV1CategoryDictionaryDidDeleteRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DeleteDictApiV1CategoryDictionaryDidDeleteExecute(r)
}

/*
DeleteDictApiV1CategoryDictionaryDidDelete 删除字典

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param did
 @return ApiDeleteDictApiV1CategoryDictionaryDidDeleteRequest
*/
func (a *CategoryDictionaryAPIService) DeleteDictApiV1CategoryDictionaryDidDelete(ctx context.Context, did int32) ApiDeleteDictApiV1CategoryDictionaryDidDeleteRequest {
	return ApiDeleteDictApiV1CategoryDictionaryDidDeleteRequest{
		ApiService: a,
		ctx: ctx,
		did: did,
	}
}

// Execute executes the request
//  @return interface{}
func (a *CategoryDictionaryAPIService) DeleteDictApiV1CategoryDictionaryDidDeleteExecute(r ApiDeleteDictApiV1CategoryDictionaryDidDeleteRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CategoryDictionaryAPIService.DeleteDictApiV1CategoryDictionaryDidDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/category-dictionary/{did}"
	localVarPath = strings.Replace(localVarPath, "{"+"did"+"}", url.PathEscape(parameterValueToString(r.did, "did")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteDictApiV1CategoryDictionaryDidDelete_0Request struct {
	ctx context.Context
	ApiService *CategoryDictionaryAPIService
	did int32
}

func (r ApiDeleteDictApiV1CategoryDictionaryDidDelete_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DeleteDictApiV1CategoryDictionaryDidDelete_2Execute(r)
}

/*
DeleteDictApiV1CategoryDictionaryDidDelete_0 删除字典

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param did
 @return ApiDeleteDictApiV1CategoryDictionaryDidDelete_0Request
*/
func (a *CategoryDictionaryAPIService) DeleteDictApiV1CategoryDictionaryDidDelete_2(ctx context.Context, did int32) ApiDeleteDictApiV1CategoryDictionaryDidDelete_0Request {
	return ApiDeleteDictApiV1CategoryDictionaryDidDelete_0Request{
		ApiService: a,
		ctx: ctx,
		did: did,
	}
}

// Execute executes the request
//  @return interface{}
func (a *CategoryDictionaryAPIService) DeleteDictApiV1CategoryDictionaryDidDelete_2Execute(r ApiDeleteDictApiV1CategoryDictionaryDidDelete_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CategoryDictionaryAPIService.DeleteDictApiV1CategoryDictionaryDidDelete_2")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/category-dictionary/{did}"
	localVarPath = strings.Replace(localVarPath, "{"+"did"+"}", url.PathEscape(parameterValueToString(r.did, "did")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDictTypesApiV1CategoryDictionaryTypeGetRequest struct {
	ctx context.Context
	ApiService *CategoryDictionaryAPIService
}

func (r ApiDictTypesApiV1CategoryDictionaryTypeGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DictTypesApiV1CategoryDictionaryTypeGetExecute(r)
}

/*
DictTypesApiV1CategoryDictionaryTypeGet 字典类型列表

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDictTypesApiV1CategoryDictionaryTypeGetRequest
*/
func (a *CategoryDictionaryAPIService) DictTypesApiV1CategoryDictionaryTypeGet(ctx context.Context) ApiDictTypesApiV1CategoryDictionaryTypeGetRequest {
	return ApiDictTypesApiV1CategoryDictionaryTypeGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *CategoryDictionaryAPIService) DictTypesApiV1CategoryDictionaryTypeGetExecute(r ApiDictTypesApiV1CategoryDictionaryTypeGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CategoryDictionaryAPIService.DictTypesApiV1CategoryDictionaryTypeGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/category-dictionary/type"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDictTypesApiV1CategoryDictionaryTypeGet_0Request struct {
	ctx context.Context
	ApiService *CategoryDictionaryAPIService
}

func (r ApiDictTypesApiV1CategoryDictionaryTypeGet_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DictTypesApiV1CategoryDictionaryTypeGet_3Execute(r)
}

/*
DictTypesApiV1CategoryDictionaryTypeGet_0 字典类型列表

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDictTypesApiV1CategoryDictionaryTypeGet_0Request
*/
func (a *CategoryDictionaryAPIService) DictTypesApiV1CategoryDictionaryTypeGet_3(ctx context.Context) ApiDictTypesApiV1CategoryDictionaryTypeGet_0Request {
	return ApiDictTypesApiV1CategoryDictionaryTypeGet_0Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *CategoryDictionaryAPIService) DictTypesApiV1CategoryDictionaryTypeGet_3Execute(r ApiDictTypesApiV1CategoryDictionaryTypeGet_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CategoryDictionaryAPIService.DictTypesApiV1CategoryDictionaryTypeGet_3")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/category-dictionary/type"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetDictApiV1CategoryDictionaryDidGetRequest struct {
	ctx context.Context
	ApiService *CategoryDictionaryAPIService
	did int32
}

func (r ApiGetDictApiV1CategoryDictionaryDidGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetDictApiV1CategoryDictionaryDidGetExecute(r)
}

/*
GetDictApiV1CategoryDictionaryDidGet 字典详情

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param did
 @return ApiGetDictApiV1CategoryDictionaryDidGetRequest
*/
func (a *CategoryDictionaryAPIService) GetDictApiV1CategoryDictionaryDidGet(ctx context.Context, did int32) ApiGetDictApiV1CategoryDictionaryDidGetRequest {
	return ApiGetDictApiV1CategoryDictionaryDidGetRequest{
		ApiService: a,
		ctx: ctx,
		did: did,
	}
}

// Execute executes the request
//  @return interface{}
func (a *CategoryDictionaryAPIService) GetDictApiV1CategoryDictionaryDidGetExecute(r ApiGetDictApiV1CategoryDictionaryDidGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CategoryDictionaryAPIService.GetDictApiV1CategoryDictionaryDidGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/category-dictionary/{did}"
	localVarPath = strings.Replace(localVarPath, "{"+"did"+"}", url.PathEscape(parameterValueToString(r.did, "did")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetDictApiV1CategoryDictionaryDidGet_0Request struct {
	ctx context.Context
	ApiService *CategoryDictionaryAPIService
	did int32
}

func (r ApiGetDictApiV1CategoryDictionaryDidGet_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetDictApiV1CategoryDictionaryDidGet_4Execute(r)
}

/*
GetDictApiV1CategoryDictionaryDidGet_0 字典详情

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param did
 @return ApiGetDictApiV1CategoryDictionaryDidGet_0Request
*/
func (a *CategoryDictionaryAPIService) GetDictApiV1CategoryDictionaryDidGet_4(ctx context.Context, did int32) ApiGetDictApiV1CategoryDictionaryDidGet_0Request {
	return ApiGetDictApiV1CategoryDictionaryDidGet_0Request{
		ApiService: a,
		ctx: ctx,
		did: did,
	}
}

// Execute executes the request
//  @return interface{}
func (a *CategoryDictionaryAPIService) GetDictApiV1CategoryDictionaryDidGet_4Execute(r ApiGetDictApiV1CategoryDictionaryDidGet_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CategoryDictionaryAPIService.GetDictApiV1CategoryDictionaryDidGet_4")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/category-dictionary/{did}"
	localVarPath = strings.Replace(localVarPath, "{"+"did"+"}", url.PathEscape(parameterValueToString(r.did, "did")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListDictApiV1CategoryDictionaryListGetRequest struct {
	ctx context.Context
	ApiService *CategoryDictionaryAPIService
	dictType *string
	page *int32
	limit *int32
}

func (r ApiListDictApiV1CategoryDictionaryListGetRequest) DictType(dictType string) ApiListDictApiV1CategoryDictionaryListGetRequest {
	r.dictType = &dictType
	return r
}

func (r ApiListDictApiV1CategoryDictionaryListGetRequest) Page(page int32) ApiListDictApiV1CategoryDictionaryListGetRequest {
	r.page = &page
	return r
}

func (r ApiListDictApiV1CategoryDictionaryListGetRequest) Limit(limit int32) ApiListDictApiV1CategoryDictionaryListGetRequest {
	r.limit = &limit
	return r
}

func (r ApiListDictApiV1CategoryDictionaryListGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListDictApiV1CategoryDictionaryListGetExecute(r)
}

/*
ListDictApiV1CategoryDictionaryListGet 字典列表

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListDictApiV1CategoryDictionaryListGetRequest
*/
func (a *CategoryDictionaryAPIService) ListDictApiV1CategoryDictionaryListGet(ctx context.Context) ApiListDictApiV1CategoryDictionaryListGetRequest {
	return ApiListDictApiV1CategoryDictionaryListGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *CategoryDictionaryAPIService) ListDictApiV1CategoryDictionaryListGetExecute(r ApiListDictApiV1CategoryDictionaryListGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CategoryDictionaryAPIService.ListDictApiV1CategoryDictionaryListGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/category-dictionary/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.dictType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dict_type", r.dictType, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 100
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListDictApiV1CategoryDictionaryListGet_0Request struct {
	ctx context.Context
	ApiService *CategoryDictionaryAPIService
	dictType *string
	page *int32
	limit *int32
}

func (r ApiListDictApiV1CategoryDictionaryListGet_0Request) DictType(dictType string) ApiListDictApiV1CategoryDictionaryListGet_0Request {
	r.dictType = &dictType
	return r
}

func (r ApiListDictApiV1CategoryDictionaryListGet_0Request) Page(page int32) ApiListDictApiV1CategoryDictionaryListGet_0Request {
	r.page = &page
	return r
}

func (r ApiListDictApiV1CategoryDictionaryListGet_0Request) Limit(limit int32) ApiListDictApiV1CategoryDictionaryListGet_0Request {
	r.limit = &limit
	return r
}

func (r ApiListDictApiV1CategoryDictionaryListGet_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListDictApiV1CategoryDictionaryListGet_5Execute(r)
}

/*
ListDictApiV1CategoryDictionaryListGet_0 字典列表

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListDictApiV1CategoryDictionaryListGet_0Request
*/
func (a *CategoryDictionaryAPIService) ListDictApiV1CategoryDictionaryListGet_5(ctx context.Context) ApiListDictApiV1CategoryDictionaryListGet_0Request {
	return ApiListDictApiV1CategoryDictionaryListGet_0Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *CategoryDictionaryAPIService) ListDictApiV1CategoryDictionaryListGet_5Execute(r ApiListDictApiV1CategoryDictionaryListGet_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CategoryDictionaryAPIService.ListDictApiV1CategoryDictionaryListGet_5")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/category-dictionary/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.dictType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dict_type", r.dictType, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 100
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateDictApiV1CategoryDictionaryDidPutRequest struct {
	ctx context.Context
	ApiService *CategoryDictionaryAPIService
	did int32
	label *string
	value *string
	sortOrder *int32
	isShow *bool
	description *string
}

func (r ApiUpdateDictApiV1CategoryDictionaryDidPutRequest) Label(label string) ApiUpdateDictApiV1CategoryDictionaryDidPutRequest {
	r.label = &label
	return r
}

func (r ApiUpdateDictApiV1CategoryDictionaryDidPutRequest) Value(value string) ApiUpdateDictApiV1CategoryDictionaryDidPutRequest {
	r.value = &value
	return r
}

func (r ApiUpdateDictApiV1CategoryDictionaryDidPutRequest) SortOrder(sortOrder int32) ApiUpdateDictApiV1CategoryDictionaryDidPutRequest {
	r.sortOrder = &sortOrder
	return r
}

func (r ApiUpdateDictApiV1CategoryDictionaryDidPutRequest) IsShow(isShow bool) ApiUpdateDictApiV1CategoryDictionaryDidPutRequest {
	r.isShow = &isShow
	return r
}

func (r ApiUpdateDictApiV1CategoryDictionaryDidPutRequest) Description(description string) ApiUpdateDictApiV1CategoryDictionaryDidPutRequest {
	r.description = &description
	return r
}

func (r ApiUpdateDictApiV1CategoryDictionaryDidPutRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.UpdateDictApiV1CategoryDictionaryDidPutExecute(r)
}

/*
UpdateDictApiV1CategoryDictionaryDidPut 修改字典

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param did
 @return ApiUpdateDictApiV1CategoryDictionaryDidPutRequest
*/
func (a *CategoryDictionaryAPIService) UpdateDictApiV1CategoryDictionaryDidPut(ctx context.Context, did int32) ApiUpdateDictApiV1CategoryDictionaryDidPutRequest {
	return ApiUpdateDictApiV1CategoryDictionaryDidPutRequest{
		ApiService: a,
		ctx: ctx,
		did: did,
	}
}

// Execute executes the request
//  @return interface{}
func (a *CategoryDictionaryAPIService) UpdateDictApiV1CategoryDictionaryDidPutExecute(r ApiUpdateDictApiV1CategoryDictionaryDidPutRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CategoryDictionaryAPIService.UpdateDictApiV1CategoryDictionaryDidPut")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/category-dictionary/{did}"
	localVarPath = strings.Replace(localVarPath, "{"+"did"+"}", url.PathEscape(parameterValueToString(r.did, "did")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.label != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "label", r.label, "form", "")
	}
	if r.value != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "value", r.value, "form", "")
	}
	if r.sortOrder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_order", r.sortOrder, "form", "")
	}
	if r.isShow != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_show", r.isShow, "form", "")
	}
	if r.description != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description", r.description, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateDictApiV1CategoryDictionaryDidPut_0Request struct {
	ctx context.Context
	ApiService *CategoryDictionaryAPIService
	did int32
	label *string
	value *string
	sortOrder *int32
	isShow *bool
	description *string
}

func (r ApiUpdateDictApiV1CategoryDictionaryDidPut_0Request) Label(label string) ApiUpdateDictApiV1CategoryDictionaryDidPut_0Request {
	r.label = &label
	return r
}

func (r ApiUpdateDictApiV1CategoryDictionaryDidPut_0Request) Value(value string) ApiUpdateDictApiV1CategoryDictionaryDidPut_0Request {
	r.value = &value
	return r
}

func (r ApiUpdateDictApiV1CategoryDictionaryDidPut_0Request) SortOrder(sortOrder int32) ApiUpdateDictApiV1CategoryDictionaryDidPut_0Request {
	r.sortOrder = &sortOrder
	return r
}

func (r ApiUpdateDictApiV1CategoryDictionaryDidPut_0Request) IsShow(isShow bool) ApiUpdateDictApiV1CategoryDictionaryDidPut_0Request {
	r.isShow = &isShow
	return r
}

func (r ApiUpdateDictApiV1CategoryDictionaryDidPut_0Request) Description(description string) ApiUpdateDictApiV1CategoryDictionaryDidPut_0Request {
	r.description = &description
	return r
}

func (r ApiUpdateDictApiV1CategoryDictionaryDidPut_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.UpdateDictApiV1CategoryDictionaryDidPut_6Execute(r)
}

/*
UpdateDictApiV1CategoryDictionaryDidPut_0 修改字典

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param did
 @return ApiUpdateDictApiV1CategoryDictionaryDidPut_0Request
*/
func (a *CategoryDictionaryAPIService) UpdateDictApiV1CategoryDictionaryDidPut_6(ctx context.Context, did int32) ApiUpdateDictApiV1CategoryDictionaryDidPut_0Request {
	return ApiUpdateDictApiV1CategoryDictionaryDidPut_0Request{
		ApiService: a,
		ctx: ctx,
		did: did,
	}
}

// Execute executes the request
//  @return interface{}
func (a *CategoryDictionaryAPIService) UpdateDictApiV1CategoryDictionaryDidPut_6Execute(r ApiUpdateDictApiV1CategoryDictionaryDidPut_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CategoryDictionaryAPIService.UpdateDictApiV1CategoryDictionaryDidPut_6")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/category-dictionary/{did}"
	localVarPath = strings.Replace(localVarPath, "{"+"did"+"}", url.PathEscape(parameterValueToString(r.did, "did")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.label != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "label", r.label, "form", "")
	}
	if r.value != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "value", r.value, "form", "")
	}
	if r.sortOrder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_order", r.sortOrder, "form", "")
	}
	if r.isShow != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_show", r.isShow, "form", "")
	}
	if r.description != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description", r.description, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
