/*
ZHS Platform

ZHS Platform API - AI Agent Marketplace & Educational Platform

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zhs_api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// CallbackAPIService CallbackAPI service
type CallbackAPIService service

type ApiCallCallbackApiV1CallbackCallPostRequest struct {
	ctx context.Context
	ApiService *CallbackAPIService
	bizId *string
	bizType *string
	source *string
	bodyCallCallbackApiV1CallbackCallPost *BodyCallCallbackApiV1CallbackCallPost
}

func (r ApiCallCallbackApiV1CallbackCallPostRequest) BizId(bizId string) ApiCallCallbackApiV1CallbackCallPostRequest {
	r.bizId = &bizId
	return r
}

func (r ApiCallCallbackApiV1CallbackCallPostRequest) BizType(bizType string) ApiCallCallbackApiV1CallbackCallPostRequest {
	r.bizType = &bizType
	return r
}

func (r ApiCallCallbackApiV1CallbackCallPostRequest) Source(source string) ApiCallCallbackApiV1CallbackCallPostRequest {
	r.source = &source
	return r
}

func (r ApiCallCallbackApiV1CallbackCallPostRequest) BodyCallCallbackApiV1CallbackCallPost(bodyCallCallbackApiV1CallbackCallPost BodyCallCallbackApiV1CallbackCallPost) ApiCallCallbackApiV1CallbackCallPostRequest {
	r.bodyCallCallbackApiV1CallbackCallPost = &bodyCallCallbackApiV1CallbackCallPost
	return r
}

func (r ApiCallCallbackApiV1CallbackCallPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CallCallbackApiV1CallbackCallPostExecute(r)
}

/*
CallCallbackApiV1CallbackCallPost 外呼回调

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCallCallbackApiV1CallbackCallPostRequest
*/
func (a *CallbackAPIService) CallCallbackApiV1CallbackCallPost(ctx context.Context) ApiCallCallbackApiV1CallbackCallPostRequest {
	return ApiCallCallbackApiV1CallbackCallPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *CallbackAPIService) CallCallbackApiV1CallbackCallPostExecute(r ApiCallCallbackApiV1CallbackCallPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CallbackAPIService.CallCallbackApiV1CallbackCallPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/callback/call"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.bizId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "biz_id", r.bizId, "form", "")
	}
	if r.bizType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "biz_type", r.bizType, "form", "")
	} else {
		var defaultValue string = "call"
		parameterAddToHeaderOrQuery(localVarQueryParams, "biz_type", defaultValue, "form", "")
		r.bizType = &defaultValue
	}
	if r.source != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source", r.source, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.bodyCallCallbackApiV1CallbackCallPost
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCallCallbackApiV1CallbackCallPost_0Request struct {
	ctx context.Context
	ApiService *CallbackAPIService
	bizId *string
	bizType *string
	source *string
	bodyCallCallbackApiV1CallbackCallPost *BodyCallCallbackApiV1CallbackCallPost
}

func (r ApiCallCallbackApiV1CallbackCallPost_0Request) BizId(bizId string) ApiCallCallbackApiV1CallbackCallPost_0Request {
	r.bizId = &bizId
	return r
}

func (r ApiCallCallbackApiV1CallbackCallPost_0Request) BizType(bizType string) ApiCallCallbackApiV1CallbackCallPost_0Request {
	r.bizType = &bizType
	return r
}

func (r ApiCallCallbackApiV1CallbackCallPost_0Request) Source(source string) ApiCallCallbackApiV1CallbackCallPost_0Request {
	r.source = &source
	return r
}

func (r ApiCallCallbackApiV1CallbackCallPost_0Request) BodyCallCallbackApiV1CallbackCallPost(bodyCallCallbackApiV1CallbackCallPost BodyCallCallbackApiV1CallbackCallPost) ApiCallCallbackApiV1CallbackCallPost_0Request {
	r.bodyCallCallbackApiV1CallbackCallPost = &bodyCallCallbackApiV1CallbackCallPost
	return r
}

func (r ApiCallCallbackApiV1CallbackCallPost_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CallCallbackApiV1CallbackCallPost_1Execute(r)
}

/*
CallCallbackApiV1CallbackCallPost_0 外呼回调

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCallCallbackApiV1CallbackCallPost_0Request
*/
func (a *CallbackAPIService) CallCallbackApiV1CallbackCallPost_1(ctx context.Context) ApiCallCallbackApiV1CallbackCallPost_0Request {
	return ApiCallCallbackApiV1CallbackCallPost_0Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *CallbackAPIService) CallCallbackApiV1CallbackCallPost_1Execute(r ApiCallCallbackApiV1CallbackCallPost_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CallbackAPIService.CallCallbackApiV1CallbackCallPost_1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/callback/call"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.bizId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "biz_id", r.bizId, "form", "")
	}
	if r.bizType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "biz_type", r.bizType, "form", "")
	} else {
		var defaultValue string = "call"
		parameterAddToHeaderOrQuery(localVarQueryParams, "biz_type", defaultValue, "form", "")
		r.bizType = &defaultValue
	}
	if r.source != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source", r.source, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.bodyCallCallbackApiV1CallbackCallPost
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCallbackLogListRequest struct {
	ctx context.Context
	ApiService *CallbackAPIService
	page *int32
	limit *int32
	bizType *string
	source *string
	status *int32
}

func (r ApiCallbackLogListRequest) Page(page int32) ApiCallbackLogListRequest {
	r.page = &page
	return r
}

func (r ApiCallbackLogListRequest) Limit(limit int32) ApiCallbackLogListRequest {
	r.limit = &limit
	return r
}

func (r ApiCallbackLogListRequest) BizType(bizType string) ApiCallbackLogListRequest {
	r.bizType = &bizType
	return r
}

func (r ApiCallbackLogListRequest) Source(source string) ApiCallbackLogListRequest {
	r.source = &source
	return r
}

func (r ApiCallbackLogListRequest) Status(status int32) ApiCallbackLogListRequest {
	r.status = &status
	return r
}

func (r ApiCallbackLogListRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CallbackLogListExecute(r)
}

/*
CallbackLogList 回调日志

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCallbackLogListRequest
*/
func (a *CallbackAPIService) CallbackLogList(ctx context.Context) ApiCallbackLogListRequest {
	return ApiCallbackLogListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *CallbackAPIService) CallbackLogListExecute(r ApiCallbackLogListRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CallbackAPIService.CallbackLogList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/callback/log/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.bizType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "biz_type", r.bizType, "form", "")
	}
	if r.source != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source", r.source, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCallbackLogList_0Request struct {
	ctx context.Context
	ApiService *CallbackAPIService
	page *int32
	limit *int32
	bizType *string
	source *string
	status *int32
}

func (r ApiCallbackLogList_0Request) Page(page int32) ApiCallbackLogList_0Request {
	r.page = &page
	return r
}

func (r ApiCallbackLogList_0Request) Limit(limit int32) ApiCallbackLogList_0Request {
	r.limit = &limit
	return r
}

func (r ApiCallbackLogList_0Request) BizType(bizType string) ApiCallbackLogList_0Request {
	r.bizType = &bizType
	return r
}

func (r ApiCallbackLogList_0Request) Source(source string) ApiCallbackLogList_0Request {
	r.source = &source
	return r
}

func (r ApiCallbackLogList_0Request) Status(status int32) ApiCallbackLogList_0Request {
	r.status = &status
	return r
}

func (r ApiCallbackLogList_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CallbackLogList_2Execute(r)
}

/*
CallbackLogList_0 回调日志

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCallbackLogList_0Request
*/
func (a *CallbackAPIService) CallbackLogList_2(ctx context.Context) ApiCallbackLogList_0Request {
	return ApiCallbackLogList_0Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *CallbackAPIService) CallbackLogList_2Execute(r ApiCallbackLogList_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CallbackAPIService.CallbackLogList_2")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/callback/log/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.bizType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "biz_type", r.bizType, "form", "")
	}
	if r.source != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source", r.source, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiLogDetailApiV1CallbackLogLidGetRequest struct {
	ctx context.Context
	ApiService *CallbackAPIService
	lid int32
}

func (r ApiLogDetailApiV1CallbackLogLidGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.LogDetailApiV1CallbackLogLidGetExecute(r)
}

/*
LogDetailApiV1CallbackLogLidGet 回调详情

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param lid
 @return ApiLogDetailApiV1CallbackLogLidGetRequest
*/
func (a *CallbackAPIService) LogDetailApiV1CallbackLogLidGet(ctx context.Context, lid int32) ApiLogDetailApiV1CallbackLogLidGetRequest {
	return ApiLogDetailApiV1CallbackLogLidGetRequest{
		ApiService: a,
		ctx: ctx,
		lid: lid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *CallbackAPIService) LogDetailApiV1CallbackLogLidGetExecute(r ApiLogDetailApiV1CallbackLogLidGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CallbackAPIService.LogDetailApiV1CallbackLogLidGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/callback/log/{lid}"
	localVarPath = strings.Replace(localVarPath, "{"+"lid"+"}", url.PathEscape(parameterValueToString(r.lid, "lid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiLogDetailApiV1CallbackLogLidGet_0Request struct {
	ctx context.Context
	ApiService *CallbackAPIService
	lid int32
}

func (r ApiLogDetailApiV1CallbackLogLidGet_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.LogDetailApiV1CallbackLogLidGet_3Execute(r)
}

/*
LogDetailApiV1CallbackLogLidGet_0 回调详情

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param lid
 @return ApiLogDetailApiV1CallbackLogLidGet_0Request
*/
func (a *CallbackAPIService) LogDetailApiV1CallbackLogLidGet_3(ctx context.Context, lid int32) ApiLogDetailApiV1CallbackLogLidGet_0Request {
	return ApiLogDetailApiV1CallbackLogLidGet_0Request{
		ApiService: a,
		ctx: ctx,
		lid: lid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *CallbackAPIService) LogDetailApiV1CallbackLogLidGet_3Execute(r ApiLogDetailApiV1CallbackLogLidGet_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CallbackAPIService.LogDetailApiV1CallbackLogLidGet_3")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/callback/log/{lid}"
	localVarPath = strings.Replace(localVarPath, "{"+"lid"+"}", url.PathEscape(parameterValueToString(r.lid, "lid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPaymentCallbackApiV1CallbackPaymentPostRequest struct {
	ctx context.Context
	ApiService *CallbackAPIService
	bizId *string
	bodyPaymentCallbackApiV1CallbackPaymentPost *BodyPaymentCallbackApiV1CallbackPaymentPost
}

func (r ApiPaymentCallbackApiV1CallbackPaymentPostRequest) BizId(bizId string) ApiPaymentCallbackApiV1CallbackPaymentPostRequest {
	r.bizId = &bizId
	return r
}

func (r ApiPaymentCallbackApiV1CallbackPaymentPostRequest) BodyPaymentCallbackApiV1CallbackPaymentPost(bodyPaymentCallbackApiV1CallbackPaymentPost BodyPaymentCallbackApiV1CallbackPaymentPost) ApiPaymentCallbackApiV1CallbackPaymentPostRequest {
	r.bodyPaymentCallbackApiV1CallbackPaymentPost = &bodyPaymentCallbackApiV1CallbackPaymentPost
	return r
}

func (r ApiPaymentCallbackApiV1CallbackPaymentPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.PaymentCallbackApiV1CallbackPaymentPostExecute(r)
}

/*
PaymentCallbackApiV1CallbackPaymentPost 支付回调

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPaymentCallbackApiV1CallbackPaymentPostRequest
*/
func (a *CallbackAPIService) PaymentCallbackApiV1CallbackPaymentPost(ctx context.Context) ApiPaymentCallbackApiV1CallbackPaymentPostRequest {
	return ApiPaymentCallbackApiV1CallbackPaymentPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *CallbackAPIService) PaymentCallbackApiV1CallbackPaymentPostExecute(r ApiPaymentCallbackApiV1CallbackPaymentPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CallbackAPIService.PaymentCallbackApiV1CallbackPaymentPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/callback/payment"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.bizId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "biz_id", r.bizId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.bodyPaymentCallbackApiV1CallbackPaymentPost
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPaymentCallbackApiV1CallbackPaymentPost_0Request struct {
	ctx context.Context
	ApiService *CallbackAPIService
	bizId *string
	bodyPaymentCallbackApiV1CallbackPaymentPost *BodyPaymentCallbackApiV1CallbackPaymentPost
}

func (r ApiPaymentCallbackApiV1CallbackPaymentPost_0Request) BizId(bizId string) ApiPaymentCallbackApiV1CallbackPaymentPost_0Request {
	r.bizId = &bizId
	return r
}

func (r ApiPaymentCallbackApiV1CallbackPaymentPost_0Request) BodyPaymentCallbackApiV1CallbackPaymentPost(bodyPaymentCallbackApiV1CallbackPaymentPost BodyPaymentCallbackApiV1CallbackPaymentPost) ApiPaymentCallbackApiV1CallbackPaymentPost_0Request {
	r.bodyPaymentCallbackApiV1CallbackPaymentPost = &bodyPaymentCallbackApiV1CallbackPaymentPost
	return r
}

func (r ApiPaymentCallbackApiV1CallbackPaymentPost_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.PaymentCallbackApiV1CallbackPaymentPost_4Execute(r)
}

/*
PaymentCallbackApiV1CallbackPaymentPost_0 支付回调

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPaymentCallbackApiV1CallbackPaymentPost_0Request
*/
func (a *CallbackAPIService) PaymentCallbackApiV1CallbackPaymentPost_4(ctx context.Context) ApiPaymentCallbackApiV1CallbackPaymentPost_0Request {
	return ApiPaymentCallbackApiV1CallbackPaymentPost_0Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *CallbackAPIService) PaymentCallbackApiV1CallbackPaymentPost_4Execute(r ApiPaymentCallbackApiV1CallbackPaymentPost_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CallbackAPIService.PaymentCallbackApiV1CallbackPaymentPost_4")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/callback/payment"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.bizId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "biz_id", r.bizId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.bodyPaymentCallbackApiV1CallbackPaymentPost
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSmsCallbackApiV1CallbackSmsPostRequest struct {
	ctx context.Context
	ApiService *CallbackAPIService
	bizId *string
	bodySmsCallbackApiV1CallbackSmsPost *BodySmsCallbackApiV1CallbackSmsPost
}

func (r ApiSmsCallbackApiV1CallbackSmsPostRequest) BizId(bizId string) ApiSmsCallbackApiV1CallbackSmsPostRequest {
	r.bizId = &bizId
	return r
}

func (r ApiSmsCallbackApiV1CallbackSmsPostRequest) BodySmsCallbackApiV1CallbackSmsPost(bodySmsCallbackApiV1CallbackSmsPost BodySmsCallbackApiV1CallbackSmsPost) ApiSmsCallbackApiV1CallbackSmsPostRequest {
	r.bodySmsCallbackApiV1CallbackSmsPost = &bodySmsCallbackApiV1CallbackSmsPost
	return r
}

func (r ApiSmsCallbackApiV1CallbackSmsPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.SmsCallbackApiV1CallbackSmsPostExecute(r)
}

/*
SmsCallbackApiV1CallbackSmsPost 短信回调

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSmsCallbackApiV1CallbackSmsPostRequest
*/
func (a *CallbackAPIService) SmsCallbackApiV1CallbackSmsPost(ctx context.Context) ApiSmsCallbackApiV1CallbackSmsPostRequest {
	return ApiSmsCallbackApiV1CallbackSmsPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *CallbackAPIService) SmsCallbackApiV1CallbackSmsPostExecute(r ApiSmsCallbackApiV1CallbackSmsPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CallbackAPIService.SmsCallbackApiV1CallbackSmsPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/callback/sms"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.bizId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "biz_id", r.bizId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.bodySmsCallbackApiV1CallbackSmsPost
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSmsCallbackApiV1CallbackSmsPost_0Request struct {
	ctx context.Context
	ApiService *CallbackAPIService
	bizId *string
	bodySmsCallbackApiV1CallbackSmsPost *BodySmsCallbackApiV1CallbackSmsPost
}

func (r ApiSmsCallbackApiV1CallbackSmsPost_0Request) BizId(bizId string) ApiSmsCallbackApiV1CallbackSmsPost_0Request {
	r.bizId = &bizId
	return r
}

func (r ApiSmsCallbackApiV1CallbackSmsPost_0Request) BodySmsCallbackApiV1CallbackSmsPost(bodySmsCallbackApiV1CallbackSmsPost BodySmsCallbackApiV1CallbackSmsPost) ApiSmsCallbackApiV1CallbackSmsPost_0Request {
	r.bodySmsCallbackApiV1CallbackSmsPost = &bodySmsCallbackApiV1CallbackSmsPost
	return r
}

func (r ApiSmsCallbackApiV1CallbackSmsPost_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.SmsCallbackApiV1CallbackSmsPost_5Execute(r)
}

/*
SmsCallbackApiV1CallbackSmsPost_0 短信回调

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSmsCallbackApiV1CallbackSmsPost_0Request
*/
func (a *CallbackAPIService) SmsCallbackApiV1CallbackSmsPost_5(ctx context.Context) ApiSmsCallbackApiV1CallbackSmsPost_0Request {
	return ApiSmsCallbackApiV1CallbackSmsPost_0Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *CallbackAPIService) SmsCallbackApiV1CallbackSmsPost_5Execute(r ApiSmsCallbackApiV1CallbackSmsPost_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CallbackAPIService.SmsCallbackApiV1CallbackSmsPost_5")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/callback/sms"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.bizId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "biz_id", r.bizId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.bodySmsCallbackApiV1CallbackSmsPost
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
