/*
ZHS Platform

ZHS Platform API - AI Agent Marketplace & Educational Platform

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zhs_api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// WeChatAuthAPIService WeChatAuthAPI service
type WeChatAuthAPIService service

type ApiGetWechatPhoneApiV1AuthAuthWechatMiniPhonePostRequest struct {
	ctx context.Context
	ApiService *WeChatAuthAPIService
	code *string
}

// Code from wx.getPhoneNumber component
func (r ApiGetWechatPhoneApiV1AuthAuthWechatMiniPhonePostRequest) Code(code string) ApiGetWechatPhoneApiV1AuthAuthWechatMiniPhonePostRequest {
	r.code = &code
	return r
}

func (r ApiGetWechatPhoneApiV1AuthAuthWechatMiniPhonePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetWechatPhoneApiV1AuthAuthWechatMiniPhonePostExecute(r)
}

/*
GetWechatPhoneApiV1AuthAuthWechatMiniPhonePost Get WeChat phone number

Get phone number via WeChat mini-program getuserphonenumber API.

Matches Java LoginService.getPhoneNumber(code, openId):
1. Get access_token, call getuserphonenumber API
2. If phone exists with no openId (visitor): delete visitor, bind phone to current user
3. If phone exists with same openId: return existing user
4. If phone exists with different openId: error 'already bound'
5. Otherwise: update user's phone and set isVIP=0

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetWechatPhoneApiV1AuthAuthWechatMiniPhonePostRequest
*/
func (a *WeChatAuthAPIService) GetWechatPhoneApiV1AuthAuthWechatMiniPhonePost(ctx context.Context) ApiGetWechatPhoneApiV1AuthAuthWechatMiniPhonePostRequest {
	return ApiGetWechatPhoneApiV1AuthAuthWechatMiniPhonePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *WeChatAuthAPIService) GetWechatPhoneApiV1AuthAuthWechatMiniPhonePostExecute(r ApiGetWechatPhoneApiV1AuthAuthWechatMiniPhonePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WeChatAuthAPIService.GetWechatPhoneApiV1AuthAuthWechatMiniPhonePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/auth/auth/wechat/mini/phone"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.code == nil {
		return localVarReturnValue, nil, reportError("code is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "code", r.code, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetWechatPhoneApiV1AuthAuthWechatMiniPhonePost_0Request struct {
	ctx context.Context
	ApiService *WeChatAuthAPIService
	code *string
}

// Code from wx.getPhoneNumber component
func (r ApiGetWechatPhoneApiV1AuthAuthWechatMiniPhonePost_0Request) Code(code string) ApiGetWechatPhoneApiV1AuthAuthWechatMiniPhonePost_0Request {
	r.code = &code
	return r
}

func (r ApiGetWechatPhoneApiV1AuthAuthWechatMiniPhonePost_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetWechatPhoneApiV1AuthAuthWechatMiniPhonePost_1Execute(r)
}

/*
GetWechatPhoneApiV1AuthAuthWechatMiniPhonePost_0 Get WeChat phone number

Get phone number via WeChat mini-program getuserphonenumber API.

Matches Java LoginService.getPhoneNumber(code, openId):
1. Get access_token, call getuserphonenumber API
2. If phone exists with no openId (visitor): delete visitor, bind phone to current user
3. If phone exists with same openId: return existing user
4. If phone exists with different openId: error 'already bound'
5. Otherwise: update user's phone and set isVIP=0

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetWechatPhoneApiV1AuthAuthWechatMiniPhonePost_0Request
*/
func (a *WeChatAuthAPIService) GetWechatPhoneApiV1AuthAuthWechatMiniPhonePost_1(ctx context.Context) ApiGetWechatPhoneApiV1AuthAuthWechatMiniPhonePost_0Request {
	return ApiGetWechatPhoneApiV1AuthAuthWechatMiniPhonePost_0Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *WeChatAuthAPIService) GetWechatPhoneApiV1AuthAuthWechatMiniPhonePost_1Execute(r ApiGetWechatPhoneApiV1AuthAuthWechatMiniPhonePost_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WeChatAuthAPIService.GetWechatPhoneApiV1AuthAuthWechatMiniPhonePost_1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/auth/auth/wechat/mini/phone"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.code == nil {
		return localVarReturnValue, nil, reportError("code is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "code", r.code, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetWechatQrcodeApiV1AuthAuthWechatMiniQrcodeGetRequest struct {
	ctx context.Context
	ApiService *WeChatAuthAPIService
	scene *string
	page *string
}

// Scene string for QR code
func (r ApiGetWechatQrcodeApiV1AuthAuthWechatMiniQrcodeGetRequest) Scene(scene string) ApiGetWechatQrcodeApiV1AuthAuthWechatMiniQrcodeGetRequest {
	r.scene = &scene
	return r
}

// Mini-program page path
func (r ApiGetWechatQrcodeApiV1AuthAuthWechatMiniQrcodeGetRequest) Page(page string) ApiGetWechatQrcodeApiV1AuthAuthWechatMiniQrcodeGetRequest {
	r.page = &page
	return r
}

func (r ApiGetWechatQrcodeApiV1AuthAuthWechatMiniQrcodeGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetWechatQrcodeApiV1AuthAuthWechatMiniQrcodeGetExecute(r)
}

/*
GetWechatQrcodeApiV1AuthAuthWechatMiniQrcodeGet Get WeChat mini-program QR code

Generate WeChat mini-program unlimited QR code via getwxacodeunlimit.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetWechatQrcodeApiV1AuthAuthWechatMiniQrcodeGetRequest
*/
func (a *WeChatAuthAPIService) GetWechatQrcodeApiV1AuthAuthWechatMiniQrcodeGet(ctx context.Context) ApiGetWechatQrcodeApiV1AuthAuthWechatMiniQrcodeGetRequest {
	return ApiGetWechatQrcodeApiV1AuthAuthWechatMiniQrcodeGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *WeChatAuthAPIService) GetWechatQrcodeApiV1AuthAuthWechatMiniQrcodeGetExecute(r ApiGetWechatQrcodeApiV1AuthAuthWechatMiniQrcodeGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WeChatAuthAPIService.GetWechatQrcodeApiV1AuthAuthWechatMiniQrcodeGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/auth/auth/wechat/mini/qrcode"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.scene == nil {
		return localVarReturnValue, nil, reportError("scene is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "scene", r.scene, "form", "")
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue string = "pages/index/index"
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetWechatQrcodeApiV1AuthAuthWechatMiniQrcodeGet_0Request struct {
	ctx context.Context
	ApiService *WeChatAuthAPIService
	scene *string
	page *string
}

// Scene string for QR code
func (r ApiGetWechatQrcodeApiV1AuthAuthWechatMiniQrcodeGet_0Request) Scene(scene string) ApiGetWechatQrcodeApiV1AuthAuthWechatMiniQrcodeGet_0Request {
	r.scene = &scene
	return r
}

// Mini-program page path
func (r ApiGetWechatQrcodeApiV1AuthAuthWechatMiniQrcodeGet_0Request) Page(page string) ApiGetWechatQrcodeApiV1AuthAuthWechatMiniQrcodeGet_0Request {
	r.page = &page
	return r
}

func (r ApiGetWechatQrcodeApiV1AuthAuthWechatMiniQrcodeGet_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetWechatQrcodeApiV1AuthAuthWechatMiniQrcodeGet_2Execute(r)
}

/*
GetWechatQrcodeApiV1AuthAuthWechatMiniQrcodeGet_0 Get WeChat mini-program QR code

Generate WeChat mini-program unlimited QR code via getwxacodeunlimit.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetWechatQrcodeApiV1AuthAuthWechatMiniQrcodeGet_0Request
*/
func (a *WeChatAuthAPIService) GetWechatQrcodeApiV1AuthAuthWechatMiniQrcodeGet_2(ctx context.Context) ApiGetWechatQrcodeApiV1AuthAuthWechatMiniQrcodeGet_0Request {
	return ApiGetWechatQrcodeApiV1AuthAuthWechatMiniQrcodeGet_0Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *WeChatAuthAPIService) GetWechatQrcodeApiV1AuthAuthWechatMiniQrcodeGet_2Execute(r ApiGetWechatQrcodeApiV1AuthAuthWechatMiniQrcodeGet_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WeChatAuthAPIService.GetWechatQrcodeApiV1AuthAuthWechatMiniQrcodeGet_2")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/auth/auth/wechat/mini/qrcode"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.scene == nil {
		return localVarReturnValue, nil, reportError("scene is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "scene", r.scene, "form", "")
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue string = "pages/index/index"
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiWechatMiniLoginApiV1AuthAuthWechatMiniLoginGetRequest struct {
	ctx context.Context
	ApiService *WeChatAuthAPIService
	code *string
	parentId *string
}

func (r ApiWechatMiniLoginApiV1AuthAuthWechatMiniLoginGetRequest) Code(code string) ApiWechatMiniLoginApiV1AuthAuthWechatMiniLoginGetRequest {
	r.code = &code
	return r
}

// Parent invite code for referral
func (r ApiWechatMiniLoginApiV1AuthAuthWechatMiniLoginGetRequest) ParentId(parentId string) ApiWechatMiniLoginApiV1AuthAuthWechatMiniLoginGetRequest {
	r.parentId = &parentId
	return r
}

func (r ApiWechatMiniLoginApiV1AuthAuthWechatMiniLoginGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.WechatMiniLoginApiV1AuthAuthWechatMiniLoginGetExecute(r)
}

/*
WechatMiniLoginApiV1AuthAuthWechatMiniLoginGet WeChat mini-program login

WeChat mini-program login.

Matches Java LoginService.login(openId, parentId):
- If user not found: create new user with invite_code, nickname 'AI_' + 4 random chars,
  is_vip=-1 (guest), parent_id, isVIP defaults.
- If user exists and parent_id is set but user has no parent: update parent_id.
- If user exists but has no phone: return 40101 '未验证手机号'.
- Returns JWT token with user info.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiWechatMiniLoginApiV1AuthAuthWechatMiniLoginGetRequest
*/
func (a *WeChatAuthAPIService) WechatMiniLoginApiV1AuthAuthWechatMiniLoginGet(ctx context.Context) ApiWechatMiniLoginApiV1AuthAuthWechatMiniLoginGetRequest {
	return ApiWechatMiniLoginApiV1AuthAuthWechatMiniLoginGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *WeChatAuthAPIService) WechatMiniLoginApiV1AuthAuthWechatMiniLoginGetExecute(r ApiWechatMiniLoginApiV1AuthAuthWechatMiniLoginGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WeChatAuthAPIService.WechatMiniLoginApiV1AuthAuthWechatMiniLoginGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/auth/auth/wechat/mini/login"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.code == nil {
		return localVarReturnValue, nil, reportError("code is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "code", r.code, "form", "")
	if r.parentId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "parent_id", r.parentId, "form", "")
	} else {
		var defaultValue string = ""
		parameterAddToHeaderOrQuery(localVarQueryParams, "parent_id", defaultValue, "form", "")
		r.parentId = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiWechatMiniLoginApiV1AuthAuthWechatMiniLoginGet_0Request struct {
	ctx context.Context
	ApiService *WeChatAuthAPIService
	code *string
	parentId *string
}

func (r ApiWechatMiniLoginApiV1AuthAuthWechatMiniLoginGet_0Request) Code(code string) ApiWechatMiniLoginApiV1AuthAuthWechatMiniLoginGet_0Request {
	r.code = &code
	return r
}

// Parent invite code for referral
func (r ApiWechatMiniLoginApiV1AuthAuthWechatMiniLoginGet_0Request) ParentId(parentId string) ApiWechatMiniLoginApiV1AuthAuthWechatMiniLoginGet_0Request {
	r.parentId = &parentId
	return r
}

func (r ApiWechatMiniLoginApiV1AuthAuthWechatMiniLoginGet_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.WechatMiniLoginApiV1AuthAuthWechatMiniLoginGet_3Execute(r)
}

/*
WechatMiniLoginApiV1AuthAuthWechatMiniLoginGet_0 WeChat mini-program login

WeChat mini-program login.

Matches Java LoginService.login(openId, parentId):
- If user not found: create new user with invite_code, nickname 'AI_' + 4 random chars,
  is_vip=-1 (guest), parent_id, isVIP defaults.
- If user exists and parent_id is set but user has no parent: update parent_id.
- If user exists but has no phone: return 40101 '未验证手机号'.
- Returns JWT token with user info.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiWechatMiniLoginApiV1AuthAuthWechatMiniLoginGet_0Request
*/
func (a *WeChatAuthAPIService) WechatMiniLoginApiV1AuthAuthWechatMiniLoginGet_3(ctx context.Context) ApiWechatMiniLoginApiV1AuthAuthWechatMiniLoginGet_0Request {
	return ApiWechatMiniLoginApiV1AuthAuthWechatMiniLoginGet_0Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *WeChatAuthAPIService) WechatMiniLoginApiV1AuthAuthWechatMiniLoginGet_3Execute(r ApiWechatMiniLoginApiV1AuthAuthWechatMiniLoginGet_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WeChatAuthAPIService.WechatMiniLoginApiV1AuthAuthWechatMiniLoginGet_3")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/auth/auth/wechat/mini/login"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.code == nil {
		return localVarReturnValue, nil, reportError("code is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "code", r.code, "form", "")
	if r.parentId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "parent_id", r.parentId, "form", "")
	} else {
		var defaultValue string = ""
		parameterAddToHeaderOrQuery(localVarQueryParams, "parent_id", defaultValue, "form", "")
		r.parentId = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiWechatRebindApiV1AuthAuthWechatMiniRebindPostRequest struct {
	ctx context.Context
	ApiService *WeChatAuthAPIService
	code *string
}

// New WeChat login code
func (r ApiWechatRebindApiV1AuthAuthWechatMiniRebindPostRequest) Code(code string) ApiWechatRebindApiV1AuthAuthWechatMiniRebindPostRequest {
	r.code = &code
	return r
}

func (r ApiWechatRebindApiV1AuthAuthWechatMiniRebindPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.WechatRebindApiV1AuthAuthWechatMiniRebindPostExecute(r)
}

/*
WechatRebindApiV1AuthAuthWechatMiniRebindPost Rebind WeChat mini-program account

Rebind WeChat: unbind old openid, bind new one from code.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiWechatRebindApiV1AuthAuthWechatMiniRebindPostRequest
*/
func (a *WeChatAuthAPIService) WechatRebindApiV1AuthAuthWechatMiniRebindPost(ctx context.Context) ApiWechatRebindApiV1AuthAuthWechatMiniRebindPostRequest {
	return ApiWechatRebindApiV1AuthAuthWechatMiniRebindPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *WeChatAuthAPIService) WechatRebindApiV1AuthAuthWechatMiniRebindPostExecute(r ApiWechatRebindApiV1AuthAuthWechatMiniRebindPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WeChatAuthAPIService.WechatRebindApiV1AuthAuthWechatMiniRebindPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/auth/auth/wechat/mini/rebind"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.code == nil {
		return localVarReturnValue, nil, reportError("code is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "code", r.code, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiWechatRebindApiV1AuthAuthWechatMiniRebindPost_0Request struct {
	ctx context.Context
	ApiService *WeChatAuthAPIService
	code *string
}

// New WeChat login code
func (r ApiWechatRebindApiV1AuthAuthWechatMiniRebindPost_0Request) Code(code string) ApiWechatRebindApiV1AuthAuthWechatMiniRebindPost_0Request {
	r.code = &code
	return r
}

func (r ApiWechatRebindApiV1AuthAuthWechatMiniRebindPost_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.WechatRebindApiV1AuthAuthWechatMiniRebindPost_4Execute(r)
}

/*
WechatRebindApiV1AuthAuthWechatMiniRebindPost_0 Rebind WeChat mini-program account

Rebind WeChat: unbind old openid, bind new one from code.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiWechatRebindApiV1AuthAuthWechatMiniRebindPost_0Request
*/
func (a *WeChatAuthAPIService) WechatRebindApiV1AuthAuthWechatMiniRebindPost_4(ctx context.Context) ApiWechatRebindApiV1AuthAuthWechatMiniRebindPost_0Request {
	return ApiWechatRebindApiV1AuthAuthWechatMiniRebindPost_0Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *WeChatAuthAPIService) WechatRebindApiV1AuthAuthWechatMiniRebindPost_4Execute(r ApiWechatRebindApiV1AuthAuthWechatMiniRebindPost_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WeChatAuthAPIService.WechatRebindApiV1AuthAuthWechatMiniRebindPost_4")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/auth/auth/wechat/mini/rebind"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.code == nil {
		return localVarReturnValue, nil, reportError("code is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "code", r.code, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiWechatRebindByPhoneApiV1AuthAuthWechatMiniRebindByPhonePostRequest struct {
	ctx context.Context
	ApiService *WeChatAuthAPIService
	phone *string
	openId *string
}

// User phone number
func (r ApiWechatRebindByPhoneApiV1AuthAuthWechatMiniRebindByPhonePostRequest) Phone(phone string) ApiWechatRebindByPhoneApiV1AuthAuthWechatMiniRebindByPhonePostRequest {
	r.phone = &phone
	return r
}

// New WeChat open_id to bind
func (r ApiWechatRebindByPhoneApiV1AuthAuthWechatMiniRebindByPhonePostRequest) OpenId(openId string) ApiWechatRebindByPhoneApiV1AuthAuthWechatMiniRebindByPhonePostRequest {
	r.openId = &openId
	return r
}

func (r ApiWechatRebindByPhoneApiV1AuthAuthWechatMiniRebindByPhonePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.WechatRebindByPhoneApiV1AuthAuthWechatMiniRebindByPhonePostExecute(r)
}

/*
WechatRebindByPhoneApiV1AuthAuthWechatMiniRebindByPhonePost Rebind WeChat by phone number

Rebind WeChat open_id by phone number.

Matches Java LoginService.editWxOpenId(phone, openId):
  UPDATE zhs_user SET open_id = #{openId} WHERE phone = #{phone}

This is the original ZHS phone-based rebind endpoint.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiWechatRebindByPhoneApiV1AuthAuthWechatMiniRebindByPhonePostRequest
*/
func (a *WeChatAuthAPIService) WechatRebindByPhoneApiV1AuthAuthWechatMiniRebindByPhonePost(ctx context.Context) ApiWechatRebindByPhoneApiV1AuthAuthWechatMiniRebindByPhonePostRequest {
	return ApiWechatRebindByPhoneApiV1AuthAuthWechatMiniRebindByPhonePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *WeChatAuthAPIService) WechatRebindByPhoneApiV1AuthAuthWechatMiniRebindByPhonePostExecute(r ApiWechatRebindByPhoneApiV1AuthAuthWechatMiniRebindByPhonePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WeChatAuthAPIService.WechatRebindByPhoneApiV1AuthAuthWechatMiniRebindByPhonePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/auth/auth/wechat/mini/rebind_by_phone"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.phone == nil {
		return localVarReturnValue, nil, reportError("phone is required and must be specified")
	}
	if r.openId == nil {
		return localVarReturnValue, nil, reportError("openId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "phone", r.phone, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "open_id", r.openId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiWechatRebindByPhoneApiV1AuthAuthWechatMiniRebindByPhonePost_0Request struct {
	ctx context.Context
	ApiService *WeChatAuthAPIService
	phone *string
	openId *string
}

// User phone number
func (r ApiWechatRebindByPhoneApiV1AuthAuthWechatMiniRebindByPhonePost_0Request) Phone(phone string) ApiWechatRebindByPhoneApiV1AuthAuthWechatMiniRebindByPhonePost_0Request {
	r.phone = &phone
	return r
}

// New WeChat open_id to bind
func (r ApiWechatRebindByPhoneApiV1AuthAuthWechatMiniRebindByPhonePost_0Request) OpenId(openId string) ApiWechatRebindByPhoneApiV1AuthAuthWechatMiniRebindByPhonePost_0Request {
	r.openId = &openId
	return r
}

func (r ApiWechatRebindByPhoneApiV1AuthAuthWechatMiniRebindByPhonePost_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.WechatRebindByPhoneApiV1AuthAuthWechatMiniRebindByPhonePost_5Execute(r)
}

/*
WechatRebindByPhoneApiV1AuthAuthWechatMiniRebindByPhonePost_0 Rebind WeChat by phone number

Rebind WeChat open_id by phone number.

Matches Java LoginService.editWxOpenId(phone, openId):
  UPDATE zhs_user SET open_id = #{openId} WHERE phone = #{phone}

This is the original ZHS phone-based rebind endpoint.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiWechatRebindByPhoneApiV1AuthAuthWechatMiniRebindByPhonePost_0Request
*/
func (a *WeChatAuthAPIService) WechatRebindByPhoneApiV1AuthAuthWechatMiniRebindByPhonePost_5(ctx context.Context) ApiWechatRebindByPhoneApiV1AuthAuthWechatMiniRebindByPhonePost_0Request {
	return ApiWechatRebindByPhoneApiV1AuthAuthWechatMiniRebindByPhonePost_0Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *WeChatAuthAPIService) WechatRebindByPhoneApiV1AuthAuthWechatMiniRebindByPhonePost_5Execute(r ApiWechatRebindByPhoneApiV1AuthAuthWechatMiniRebindByPhonePost_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WeChatAuthAPIService.WechatRebindByPhoneApiV1AuthAuthWechatMiniRebindByPhonePost_5")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/auth/auth/wechat/mini/rebind_by_phone"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.phone == nil {
		return localVarReturnValue, nil, reportError("phone is required and must be specified")
	}
	if r.openId == nil {
		return localVarReturnValue, nil, reportError("openId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "phone", r.phone, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "open_id", r.openId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
