/*
ZHS Platform

ZHS Platform API - AI Agent Marketplace & Educational Platform

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zhs_api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// CourseAuditAPIService CourseAuditAPI service
type CourseAuditAPIService service

type ApiAuditCourseApiV1CourseAuditAidAuditPutRequest struct {
	ctx context.Context
	ApiService *CourseAuditAPIService
	aid int32
	status *int32
	remark *string
	score *int32
	isFinal *bool
}

func (r ApiAuditCourseApiV1CourseAuditAidAuditPutRequest) Status(status int32) ApiAuditCourseApiV1CourseAuditAidAuditPutRequest {
	r.status = &status
	return r
}

func (r ApiAuditCourseApiV1CourseAuditAidAuditPutRequest) Remark(remark string) ApiAuditCourseApiV1CourseAuditAidAuditPutRequest {
	r.remark = &remark
	return r
}

func (r ApiAuditCourseApiV1CourseAuditAidAuditPutRequest) Score(score int32) ApiAuditCourseApiV1CourseAuditAidAuditPutRequest {
	r.score = &score
	return r
}

func (r ApiAuditCourseApiV1CourseAuditAidAuditPutRequest) IsFinal(isFinal bool) ApiAuditCourseApiV1CourseAuditAidAuditPutRequest {
	r.isFinal = &isFinal
	return r
}

func (r ApiAuditCourseApiV1CourseAuditAidAuditPutRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.AuditCourseApiV1CourseAuditAidAuditPutExecute(r)
}

/*
AuditCourseApiV1CourseAuditAidAuditPut 审核操作

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param aid
 @return ApiAuditCourseApiV1CourseAuditAidAuditPutRequest
*/
func (a *CourseAuditAPIService) AuditCourseApiV1CourseAuditAidAuditPut(ctx context.Context, aid int32) ApiAuditCourseApiV1CourseAuditAidAuditPutRequest {
	return ApiAuditCourseApiV1CourseAuditAidAuditPutRequest{
		ApiService: a,
		ctx: ctx,
		aid: aid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *CourseAuditAPIService) AuditCourseApiV1CourseAuditAidAuditPutExecute(r ApiAuditCourseApiV1CourseAuditAidAuditPutRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CourseAuditAPIService.AuditCourseApiV1CourseAuditAidAuditPut")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/course-audit/{aid}/audit"
	localVarPath = strings.Replace(localVarPath, "{"+"aid"+"}", url.PathEscape(parameterValueToString(r.aid, "aid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.status == nil {
		return localVarReturnValue, nil, reportError("status is required and must be specified")
	}
	if *r.status < 1 {
		return localVarReturnValue, nil, reportError("status must be greater than 1")
	}
	if *r.status > 3 {
		return localVarReturnValue, nil, reportError("status must be less than 3")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	if r.remark != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remark", r.remark, "form", "")
	}
	if r.score != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "score", r.score, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "score", defaultValue, "form", "")
		r.score = &defaultValue
	}
	if r.isFinal != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_final", r.isFinal, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_final", defaultValue, "form", "")
		r.isFinal = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAuditCourseApiV1CourseAuditAidAuditPut_0Request struct {
	ctx context.Context
	ApiService *CourseAuditAPIService
	aid int32
	status *int32
	remark *string
	score *int32
	isFinal *bool
}

func (r ApiAuditCourseApiV1CourseAuditAidAuditPut_0Request) Status(status int32) ApiAuditCourseApiV1CourseAuditAidAuditPut_0Request {
	r.status = &status
	return r
}

func (r ApiAuditCourseApiV1CourseAuditAidAuditPut_0Request) Remark(remark string) ApiAuditCourseApiV1CourseAuditAidAuditPut_0Request {
	r.remark = &remark
	return r
}

func (r ApiAuditCourseApiV1CourseAuditAidAuditPut_0Request) Score(score int32) ApiAuditCourseApiV1CourseAuditAidAuditPut_0Request {
	r.score = &score
	return r
}

func (r ApiAuditCourseApiV1CourseAuditAidAuditPut_0Request) IsFinal(isFinal bool) ApiAuditCourseApiV1CourseAuditAidAuditPut_0Request {
	r.isFinal = &isFinal
	return r
}

func (r ApiAuditCourseApiV1CourseAuditAidAuditPut_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.AuditCourseApiV1CourseAuditAidAuditPut_1Execute(r)
}

/*
AuditCourseApiV1CourseAuditAidAuditPut_0 审核操作

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param aid
 @return ApiAuditCourseApiV1CourseAuditAidAuditPut_0Request
*/
func (a *CourseAuditAPIService) AuditCourseApiV1CourseAuditAidAuditPut_1(ctx context.Context, aid int32) ApiAuditCourseApiV1CourseAuditAidAuditPut_0Request {
	return ApiAuditCourseApiV1CourseAuditAidAuditPut_0Request{
		ApiService: a,
		ctx: ctx,
		aid: aid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *CourseAuditAPIService) AuditCourseApiV1CourseAuditAidAuditPut_1Execute(r ApiAuditCourseApiV1CourseAuditAidAuditPut_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CourseAuditAPIService.AuditCourseApiV1CourseAuditAidAuditPut_1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/course-audit/{aid}/audit"
	localVarPath = strings.Replace(localVarPath, "{"+"aid"+"}", url.PathEscape(parameterValueToString(r.aid, "aid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.status == nil {
		return localVarReturnValue, nil, reportError("status is required and must be specified")
	}
	if *r.status < 1 {
		return localVarReturnValue, nil, reportError("status must be greater than 1")
	}
	if *r.status > 3 {
		return localVarReturnValue, nil, reportError("status must be less than 3")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	if r.remark != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remark", r.remark, "form", "")
	}
	if r.score != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "score", r.score, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "score", defaultValue, "form", "")
		r.score = &defaultValue
	}
	if r.isFinal != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_final", r.isFinal, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_final", defaultValue, "form", "")
		r.isFinal = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCourseAuditSubmitRequest struct {
	ctx context.Context
	ApiService *CourseAuditAPIService
	courseId *int32
	courseTitle *string
}

func (r ApiCourseAuditSubmitRequest) CourseId(courseId int32) ApiCourseAuditSubmitRequest {
	r.courseId = &courseId
	return r
}

func (r ApiCourseAuditSubmitRequest) CourseTitle(courseTitle string) ApiCourseAuditSubmitRequest {
	r.courseTitle = &courseTitle
	return r
}

func (r ApiCourseAuditSubmitRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CourseAuditSubmitExecute(r)
}

/*
CourseAuditSubmit 提交课程审核

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCourseAuditSubmitRequest
*/
func (a *CourseAuditAPIService) CourseAuditSubmit(ctx context.Context) ApiCourseAuditSubmitRequest {
	return ApiCourseAuditSubmitRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *CourseAuditAPIService) CourseAuditSubmitExecute(r ApiCourseAuditSubmitRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CourseAuditAPIService.CourseAuditSubmit")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/course-audit/submit"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.courseId == nil {
		return localVarReturnValue, nil, reportError("courseId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "course_id", r.courseId, "form", "")
	if r.courseTitle != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "course_title", r.courseTitle, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCourseAuditSubmit_0Request struct {
	ctx context.Context
	ApiService *CourseAuditAPIService
	courseId *int32
	courseTitle *string
}

func (r ApiCourseAuditSubmit_0Request) CourseId(courseId int32) ApiCourseAuditSubmit_0Request {
	r.courseId = &courseId
	return r
}

func (r ApiCourseAuditSubmit_0Request) CourseTitle(courseTitle string) ApiCourseAuditSubmit_0Request {
	r.courseTitle = &courseTitle
	return r
}

func (r ApiCourseAuditSubmit_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CourseAuditSubmit_2Execute(r)
}

/*
CourseAuditSubmit_0 提交课程审核

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCourseAuditSubmit_0Request
*/
func (a *CourseAuditAPIService) CourseAuditSubmit_2(ctx context.Context) ApiCourseAuditSubmit_0Request {
	return ApiCourseAuditSubmit_0Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *CourseAuditAPIService) CourseAuditSubmit_2Execute(r ApiCourseAuditSubmit_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CourseAuditAPIService.CourseAuditSubmit_2")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/course-audit/submit"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.courseId == nil {
		return localVarReturnValue, nil, reportError("courseId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "course_id", r.courseId, "form", "")
	if r.courseTitle != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "course_title", r.courseTitle, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetAuditApiV1CourseAuditAidGetRequest struct {
	ctx context.Context
	ApiService *CourseAuditAPIService
	aid int32
}

func (r ApiGetAuditApiV1CourseAuditAidGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetAuditApiV1CourseAuditAidGetExecute(r)
}

/*
GetAuditApiV1CourseAuditAidGet 审核详情

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param aid
 @return ApiGetAuditApiV1CourseAuditAidGetRequest
*/
func (a *CourseAuditAPIService) GetAuditApiV1CourseAuditAidGet(ctx context.Context, aid int32) ApiGetAuditApiV1CourseAuditAidGetRequest {
	return ApiGetAuditApiV1CourseAuditAidGetRequest{
		ApiService: a,
		ctx: ctx,
		aid: aid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *CourseAuditAPIService) GetAuditApiV1CourseAuditAidGetExecute(r ApiGetAuditApiV1CourseAuditAidGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CourseAuditAPIService.GetAuditApiV1CourseAuditAidGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/course-audit/{aid}"
	localVarPath = strings.Replace(localVarPath, "{"+"aid"+"}", url.PathEscape(parameterValueToString(r.aid, "aid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetAuditApiV1CourseAuditAidGet_0Request struct {
	ctx context.Context
	ApiService *CourseAuditAPIService
	aid int32
}

func (r ApiGetAuditApiV1CourseAuditAidGet_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetAuditApiV1CourseAuditAidGet_3Execute(r)
}

/*
GetAuditApiV1CourseAuditAidGet_0 审核详情

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param aid
 @return ApiGetAuditApiV1CourseAuditAidGet_0Request
*/
func (a *CourseAuditAPIService) GetAuditApiV1CourseAuditAidGet_3(ctx context.Context, aid int32) ApiGetAuditApiV1CourseAuditAidGet_0Request {
	return ApiGetAuditApiV1CourseAuditAidGet_0Request{
		ApiService: a,
		ctx: ctx,
		aid: aid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *CourseAuditAPIService) GetAuditApiV1CourseAuditAidGet_3Execute(r ApiGetAuditApiV1CourseAuditAidGet_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CourseAuditAPIService.GetAuditApiV1CourseAuditAidGet_3")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/course-audit/{aid}"
	localVarPath = strings.Replace(localVarPath, "{"+"aid"+"}", url.PathEscape(parameterValueToString(r.aid, "aid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListAuditsApiV1CourseAuditListGetRequest struct {
	ctx context.Context
	ApiService *CourseAuditAPIService
	page *int32
	limit *int32
	status *int32
	courseId *int32
}

func (r ApiListAuditsApiV1CourseAuditListGetRequest) Page(page int32) ApiListAuditsApiV1CourseAuditListGetRequest {
	r.page = &page
	return r
}

func (r ApiListAuditsApiV1CourseAuditListGetRequest) Limit(limit int32) ApiListAuditsApiV1CourseAuditListGetRequest {
	r.limit = &limit
	return r
}

func (r ApiListAuditsApiV1CourseAuditListGetRequest) Status(status int32) ApiListAuditsApiV1CourseAuditListGetRequest {
	r.status = &status
	return r
}

func (r ApiListAuditsApiV1CourseAuditListGetRequest) CourseId(courseId int32) ApiListAuditsApiV1CourseAuditListGetRequest {
	r.courseId = &courseId
	return r
}

func (r ApiListAuditsApiV1CourseAuditListGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListAuditsApiV1CourseAuditListGetExecute(r)
}

/*
ListAuditsApiV1CourseAuditListGet 审核列表

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListAuditsApiV1CourseAuditListGetRequest
*/
func (a *CourseAuditAPIService) ListAuditsApiV1CourseAuditListGet(ctx context.Context) ApiListAuditsApiV1CourseAuditListGetRequest {
	return ApiListAuditsApiV1CourseAuditListGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *CourseAuditAPIService) ListAuditsApiV1CourseAuditListGetExecute(r ApiListAuditsApiV1CourseAuditListGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CourseAuditAPIService.ListAuditsApiV1CourseAuditListGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/course-audit/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.courseId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "course_id", r.courseId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListAuditsApiV1CourseAuditListGet_0Request struct {
	ctx context.Context
	ApiService *CourseAuditAPIService
	page *int32
	limit *int32
	status *int32
	courseId *int32
}

func (r ApiListAuditsApiV1CourseAuditListGet_0Request) Page(page int32) ApiListAuditsApiV1CourseAuditListGet_0Request {
	r.page = &page
	return r
}

func (r ApiListAuditsApiV1CourseAuditListGet_0Request) Limit(limit int32) ApiListAuditsApiV1CourseAuditListGet_0Request {
	r.limit = &limit
	return r
}

func (r ApiListAuditsApiV1CourseAuditListGet_0Request) Status(status int32) ApiListAuditsApiV1CourseAuditListGet_0Request {
	r.status = &status
	return r
}

func (r ApiListAuditsApiV1CourseAuditListGet_0Request) CourseId(courseId int32) ApiListAuditsApiV1CourseAuditListGet_0Request {
	r.courseId = &courseId
	return r
}

func (r ApiListAuditsApiV1CourseAuditListGet_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListAuditsApiV1CourseAuditListGet_4Execute(r)
}

/*
ListAuditsApiV1CourseAuditListGet_0 审核列表

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListAuditsApiV1CourseAuditListGet_0Request
*/
func (a *CourseAuditAPIService) ListAuditsApiV1CourseAuditListGet_4(ctx context.Context) ApiListAuditsApiV1CourseAuditListGet_0Request {
	return ApiListAuditsApiV1CourseAuditListGet_0Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *CourseAuditAPIService) ListAuditsApiV1CourseAuditListGet_4Execute(r ApiListAuditsApiV1CourseAuditListGet_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CourseAuditAPIService.ListAuditsApiV1CourseAuditListGet_4")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/course-audit/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.courseId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "course_id", r.courseId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
