/*
ZHS Platform

ZHS Platform API - AI Agent Marketplace & Educational Platform

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zhs_api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
)


// AgentNeedTaskAPIService AgentNeedTaskAPI service
type AgentNeedTaskAPIService service

type ApiAcceptTaskApiV1AgentNeedTaskTidAcceptPostRequest struct {
	ctx context.Context
	ApiService *AgentNeedTaskAPIService
	tid int32
}

func (r ApiAcceptTaskApiV1AgentNeedTaskTidAcceptPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.AcceptTaskApiV1AgentNeedTaskTidAcceptPostExecute(r)
}

/*
AcceptTaskApiV1AgentNeedTaskTidAcceptPost 开发者认领

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tid
 @return ApiAcceptTaskApiV1AgentNeedTaskTidAcceptPostRequest
*/
func (a *AgentNeedTaskAPIService) AcceptTaskApiV1AgentNeedTaskTidAcceptPost(ctx context.Context, tid int32) ApiAcceptTaskApiV1AgentNeedTaskTidAcceptPostRequest {
	return ApiAcceptTaskApiV1AgentNeedTaskTidAcceptPostRequest{
		ApiService: a,
		ctx: ctx,
		tid: tid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AgentNeedTaskAPIService) AcceptTaskApiV1AgentNeedTaskTidAcceptPostExecute(r ApiAcceptTaskApiV1AgentNeedTaskTidAcceptPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentNeedTaskAPIService.AcceptTaskApiV1AgentNeedTaskTidAcceptPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/agent-need-task/{tid}/accept"
	localVarPath = strings.Replace(localVarPath, "{"+"tid"+"}", url.PathEscape(parameterValueToString(r.tid, "tid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAcceptTaskApiV1AgentNeedTaskTidAcceptPost_0Request struct {
	ctx context.Context
	ApiService *AgentNeedTaskAPIService
	tid int32
}

func (r ApiAcceptTaskApiV1AgentNeedTaskTidAcceptPost_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.AcceptTaskApiV1AgentNeedTaskTidAcceptPost_1Execute(r)
}

/*
AcceptTaskApiV1AgentNeedTaskTidAcceptPost_0 开发者认领

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tid
 @return ApiAcceptTaskApiV1AgentNeedTaskTidAcceptPost_0Request
*/
func (a *AgentNeedTaskAPIService) AcceptTaskApiV1AgentNeedTaskTidAcceptPost_1(ctx context.Context, tid int32) ApiAcceptTaskApiV1AgentNeedTaskTidAcceptPost_0Request {
	return ApiAcceptTaskApiV1AgentNeedTaskTidAcceptPost_0Request{
		ApiService: a,
		ctx: ctx,
		tid: tid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AgentNeedTaskAPIService) AcceptTaskApiV1AgentNeedTaskTidAcceptPost_1Execute(r ApiAcceptTaskApiV1AgentNeedTaskTidAcceptPost_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentNeedTaskAPIService.AcceptTaskApiV1AgentNeedTaskTidAcceptPost_1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/agent-need-task/{tid}/accept"
	localVarPath = strings.Replace(localVarPath, "{"+"tid"+"}", url.PathEscape(parameterValueToString(r.tid, "tid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiBidTaskApiV1AgentNeedTaskTidBidPostRequest struct {
	ctx context.Context
	ApiService *AgentNeedTaskAPIService
	tid int32
	bid *int32
	remark *string
}

func (r ApiBidTaskApiV1AgentNeedTaskTidBidPostRequest) Bid(bid int32) ApiBidTaskApiV1AgentNeedTaskTidBidPostRequest {
	r.bid = &bid
	return r
}

func (r ApiBidTaskApiV1AgentNeedTaskTidBidPostRequest) Remark(remark string) ApiBidTaskApiV1AgentNeedTaskTidBidPostRequest {
	r.remark = &remark
	return r
}

func (r ApiBidTaskApiV1AgentNeedTaskTidBidPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.BidTaskApiV1AgentNeedTaskTidBidPostExecute(r)
}

/*
BidTaskApiV1AgentNeedTaskTidBidPost 开发者报价

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tid
 @return ApiBidTaskApiV1AgentNeedTaskTidBidPostRequest
*/
func (a *AgentNeedTaskAPIService) BidTaskApiV1AgentNeedTaskTidBidPost(ctx context.Context, tid int32) ApiBidTaskApiV1AgentNeedTaskTidBidPostRequest {
	return ApiBidTaskApiV1AgentNeedTaskTidBidPostRequest{
		ApiService: a,
		ctx: ctx,
		tid: tid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AgentNeedTaskAPIService) BidTaskApiV1AgentNeedTaskTidBidPostExecute(r ApiBidTaskApiV1AgentNeedTaskTidBidPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentNeedTaskAPIService.BidTaskApiV1AgentNeedTaskTidBidPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/agent-need-task/{tid}/bid"
	localVarPath = strings.Replace(localVarPath, "{"+"tid"+"}", url.PathEscape(parameterValueToString(r.tid, "tid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.bid == nil {
		return localVarReturnValue, nil, reportError("bid is required and must be specified")
	}
	if *r.bid < 0 {
		return localVarReturnValue, nil, reportError("bid must be greater than 0")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "bid", r.bid, "form", "")
	if r.remark != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remark", r.remark, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiBidTaskApiV1AgentNeedTaskTidBidPost_0Request struct {
	ctx context.Context
	ApiService *AgentNeedTaskAPIService
	tid int32
	bid *int32
	remark *string
}

func (r ApiBidTaskApiV1AgentNeedTaskTidBidPost_0Request) Bid(bid int32) ApiBidTaskApiV1AgentNeedTaskTidBidPost_0Request {
	r.bid = &bid
	return r
}

func (r ApiBidTaskApiV1AgentNeedTaskTidBidPost_0Request) Remark(remark string) ApiBidTaskApiV1AgentNeedTaskTidBidPost_0Request {
	r.remark = &remark
	return r
}

func (r ApiBidTaskApiV1AgentNeedTaskTidBidPost_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.BidTaskApiV1AgentNeedTaskTidBidPost_2Execute(r)
}

/*
BidTaskApiV1AgentNeedTaskTidBidPost_0 开发者报价

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tid
 @return ApiBidTaskApiV1AgentNeedTaskTidBidPost_0Request
*/
func (a *AgentNeedTaskAPIService) BidTaskApiV1AgentNeedTaskTidBidPost_2(ctx context.Context, tid int32) ApiBidTaskApiV1AgentNeedTaskTidBidPost_0Request {
	return ApiBidTaskApiV1AgentNeedTaskTidBidPost_0Request{
		ApiService: a,
		ctx: ctx,
		tid: tid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AgentNeedTaskAPIService) BidTaskApiV1AgentNeedTaskTidBidPost_2Execute(r ApiBidTaskApiV1AgentNeedTaskTidBidPost_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentNeedTaskAPIService.BidTaskApiV1AgentNeedTaskTidBidPost_2")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/agent-need-task/{tid}/bid"
	localVarPath = strings.Replace(localVarPath, "{"+"tid"+"}", url.PathEscape(parameterValueToString(r.tid, "tid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.bid == nil {
		return localVarReturnValue, nil, reportError("bid is required and must be specified")
	}
	if *r.bid < 0 {
		return localVarReturnValue, nil, reportError("bid must be greater than 0")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "bid", r.bid, "form", "")
	if r.remark != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remark", r.remark, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateTaskApiV1AgentNeedTaskPostRequest struct {
	ctx context.Context
	ApiService *AgentNeedTaskAPIService
	title *string
	description *string
	type_ *string
	agentId *string
	agentName *string
	priority *int32
	budget *int32
	deadline *time.Time
}

func (r ApiCreateTaskApiV1AgentNeedTaskPostRequest) Title(title string) ApiCreateTaskApiV1AgentNeedTaskPostRequest {
	r.title = &title
	return r
}

func (r ApiCreateTaskApiV1AgentNeedTaskPostRequest) Description(description string) ApiCreateTaskApiV1AgentNeedTaskPostRequest {
	r.description = &description
	return r
}

func (r ApiCreateTaskApiV1AgentNeedTaskPostRequest) Type_(type_ string) ApiCreateTaskApiV1AgentNeedTaskPostRequest {
	r.type_ = &type_
	return r
}

func (r ApiCreateTaskApiV1AgentNeedTaskPostRequest) AgentId(agentId string) ApiCreateTaskApiV1AgentNeedTaskPostRequest {
	r.agentId = &agentId
	return r
}

func (r ApiCreateTaskApiV1AgentNeedTaskPostRequest) AgentName(agentName string) ApiCreateTaskApiV1AgentNeedTaskPostRequest {
	r.agentName = &agentName
	return r
}

func (r ApiCreateTaskApiV1AgentNeedTaskPostRequest) Priority(priority int32) ApiCreateTaskApiV1AgentNeedTaskPostRequest {
	r.priority = &priority
	return r
}

func (r ApiCreateTaskApiV1AgentNeedTaskPostRequest) Budget(budget int32) ApiCreateTaskApiV1AgentNeedTaskPostRequest {
	r.budget = &budget
	return r
}

func (r ApiCreateTaskApiV1AgentNeedTaskPostRequest) Deadline(deadline time.Time) ApiCreateTaskApiV1AgentNeedTaskPostRequest {
	r.deadline = &deadline
	return r
}

func (r ApiCreateTaskApiV1AgentNeedTaskPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CreateTaskApiV1AgentNeedTaskPostExecute(r)
}

/*
CreateTaskApiV1AgentNeedTaskPost 发布需求

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateTaskApiV1AgentNeedTaskPostRequest
*/
func (a *AgentNeedTaskAPIService) CreateTaskApiV1AgentNeedTaskPost(ctx context.Context) ApiCreateTaskApiV1AgentNeedTaskPostRequest {
	return ApiCreateTaskApiV1AgentNeedTaskPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AgentNeedTaskAPIService) CreateTaskApiV1AgentNeedTaskPostExecute(r ApiCreateTaskApiV1AgentNeedTaskPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentNeedTaskAPIService.CreateTaskApiV1AgentNeedTaskPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/agent-need-task"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.title == nil {
		return localVarReturnValue, nil, reportError("title is required and must be specified")
	}
	if strlen(*r.title) < 1 {
		return localVarReturnValue, nil, reportError("title must have at least 1 elements")
	}
	if strlen(*r.title) > 200 {
		return localVarReturnValue, nil, reportError("title must have less than 200 elements")
	}
	if r.description == nil {
		return localVarReturnValue, nil, reportError("description is required and must be specified")
	}
	if strlen(*r.description) < 1 {
		return localVarReturnValue, nil, reportError("description must have at least 1 elements")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "title", r.title, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "description", r.description, "form", "")
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	} else {
		var defaultValue string = "develop"
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", defaultValue, "form", "")
		r.type_ = &defaultValue
	}
	if r.agentId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "agent_id", r.agentId, "form", "")
	}
	if r.agentName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "agent_name", r.agentName, "form", "")
	}
	if r.priority != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "priority", r.priority, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "priority", defaultValue, "form", "")
		r.priority = &defaultValue
	}
	if r.budget != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "budget", r.budget, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "budget", defaultValue, "form", "")
		r.budget = &defaultValue
	}
	if r.deadline != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deadline", r.deadline, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateTaskApiV1AgentNeedTaskPost_0Request struct {
	ctx context.Context
	ApiService *AgentNeedTaskAPIService
	title *string
	description *string
	type_ *string
	agentId *string
	agentName *string
	priority *int32
	budget *int32
	deadline *time.Time
}

func (r ApiCreateTaskApiV1AgentNeedTaskPost_0Request) Title(title string) ApiCreateTaskApiV1AgentNeedTaskPost_0Request {
	r.title = &title
	return r
}

func (r ApiCreateTaskApiV1AgentNeedTaskPost_0Request) Description(description string) ApiCreateTaskApiV1AgentNeedTaskPost_0Request {
	r.description = &description
	return r
}

func (r ApiCreateTaskApiV1AgentNeedTaskPost_0Request) Type_(type_ string) ApiCreateTaskApiV1AgentNeedTaskPost_0Request {
	r.type_ = &type_
	return r
}

func (r ApiCreateTaskApiV1AgentNeedTaskPost_0Request) AgentId(agentId string) ApiCreateTaskApiV1AgentNeedTaskPost_0Request {
	r.agentId = &agentId
	return r
}

func (r ApiCreateTaskApiV1AgentNeedTaskPost_0Request) AgentName(agentName string) ApiCreateTaskApiV1AgentNeedTaskPost_0Request {
	r.agentName = &agentName
	return r
}

func (r ApiCreateTaskApiV1AgentNeedTaskPost_0Request) Priority(priority int32) ApiCreateTaskApiV1AgentNeedTaskPost_0Request {
	r.priority = &priority
	return r
}

func (r ApiCreateTaskApiV1AgentNeedTaskPost_0Request) Budget(budget int32) ApiCreateTaskApiV1AgentNeedTaskPost_0Request {
	r.budget = &budget
	return r
}

func (r ApiCreateTaskApiV1AgentNeedTaskPost_0Request) Deadline(deadline time.Time) ApiCreateTaskApiV1AgentNeedTaskPost_0Request {
	r.deadline = &deadline
	return r
}

func (r ApiCreateTaskApiV1AgentNeedTaskPost_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CreateTaskApiV1AgentNeedTaskPost_3Execute(r)
}

/*
CreateTaskApiV1AgentNeedTaskPost_0 发布需求

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateTaskApiV1AgentNeedTaskPost_0Request
*/
func (a *AgentNeedTaskAPIService) CreateTaskApiV1AgentNeedTaskPost_3(ctx context.Context) ApiCreateTaskApiV1AgentNeedTaskPost_0Request {
	return ApiCreateTaskApiV1AgentNeedTaskPost_0Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AgentNeedTaskAPIService) CreateTaskApiV1AgentNeedTaskPost_3Execute(r ApiCreateTaskApiV1AgentNeedTaskPost_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentNeedTaskAPIService.CreateTaskApiV1AgentNeedTaskPost_3")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/agent-need-task"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.title == nil {
		return localVarReturnValue, nil, reportError("title is required and must be specified")
	}
	if strlen(*r.title) < 1 {
		return localVarReturnValue, nil, reportError("title must have at least 1 elements")
	}
	if strlen(*r.title) > 200 {
		return localVarReturnValue, nil, reportError("title must have less than 200 elements")
	}
	if r.description == nil {
		return localVarReturnValue, nil, reportError("description is required and must be specified")
	}
	if strlen(*r.description) < 1 {
		return localVarReturnValue, nil, reportError("description must have at least 1 elements")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "title", r.title, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "description", r.description, "form", "")
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	} else {
		var defaultValue string = "develop"
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", defaultValue, "form", "")
		r.type_ = &defaultValue
	}
	if r.agentId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "agent_id", r.agentId, "form", "")
	}
	if r.agentName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "agent_name", r.agentName, "form", "")
	}
	if r.priority != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "priority", r.priority, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "priority", defaultValue, "form", "")
		r.priority = &defaultValue
	}
	if r.budget != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "budget", r.budget, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "budget", defaultValue, "form", "")
		r.budget = &defaultValue
	}
	if r.deadline != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deadline", r.deadline, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteTaskApiV1AgentNeedTaskTidDeleteRequest struct {
	ctx context.Context
	ApiService *AgentNeedTaskAPIService
	tid int32
}

func (r ApiDeleteTaskApiV1AgentNeedTaskTidDeleteRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DeleteTaskApiV1AgentNeedTaskTidDeleteExecute(r)
}

/*
DeleteTaskApiV1AgentNeedTaskTidDelete 删除需求

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tid
 @return ApiDeleteTaskApiV1AgentNeedTaskTidDeleteRequest
*/
func (a *AgentNeedTaskAPIService) DeleteTaskApiV1AgentNeedTaskTidDelete(ctx context.Context, tid int32) ApiDeleteTaskApiV1AgentNeedTaskTidDeleteRequest {
	return ApiDeleteTaskApiV1AgentNeedTaskTidDeleteRequest{
		ApiService: a,
		ctx: ctx,
		tid: tid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AgentNeedTaskAPIService) DeleteTaskApiV1AgentNeedTaskTidDeleteExecute(r ApiDeleteTaskApiV1AgentNeedTaskTidDeleteRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentNeedTaskAPIService.DeleteTaskApiV1AgentNeedTaskTidDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/agent-need-task/{tid}"
	localVarPath = strings.Replace(localVarPath, "{"+"tid"+"}", url.PathEscape(parameterValueToString(r.tid, "tid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteTaskApiV1AgentNeedTaskTidDelete_0Request struct {
	ctx context.Context
	ApiService *AgentNeedTaskAPIService
	tid int32
}

func (r ApiDeleteTaskApiV1AgentNeedTaskTidDelete_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DeleteTaskApiV1AgentNeedTaskTidDelete_4Execute(r)
}

/*
DeleteTaskApiV1AgentNeedTaskTidDelete_0 删除需求

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tid
 @return ApiDeleteTaskApiV1AgentNeedTaskTidDelete_0Request
*/
func (a *AgentNeedTaskAPIService) DeleteTaskApiV1AgentNeedTaskTidDelete_4(ctx context.Context, tid int32) ApiDeleteTaskApiV1AgentNeedTaskTidDelete_0Request {
	return ApiDeleteTaskApiV1AgentNeedTaskTidDelete_0Request{
		ApiService: a,
		ctx: ctx,
		tid: tid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AgentNeedTaskAPIService) DeleteTaskApiV1AgentNeedTaskTidDelete_4Execute(r ApiDeleteTaskApiV1AgentNeedTaskTidDelete_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentNeedTaskAPIService.DeleteTaskApiV1AgentNeedTaskTidDelete_4")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/agent-need-task/{tid}"
	localVarPath = strings.Replace(localVarPath, "{"+"tid"+"}", url.PathEscape(parameterValueToString(r.tid, "tid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetTaskApiV1AgentNeedTaskTidGetRequest struct {
	ctx context.Context
	ApiService *AgentNeedTaskAPIService
	tid int32
}

func (r ApiGetTaskApiV1AgentNeedTaskTidGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetTaskApiV1AgentNeedTaskTidGetExecute(r)
}

/*
GetTaskApiV1AgentNeedTaskTidGet 需求详情

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tid
 @return ApiGetTaskApiV1AgentNeedTaskTidGetRequest
*/
func (a *AgentNeedTaskAPIService) GetTaskApiV1AgentNeedTaskTidGet(ctx context.Context, tid int32) ApiGetTaskApiV1AgentNeedTaskTidGetRequest {
	return ApiGetTaskApiV1AgentNeedTaskTidGetRequest{
		ApiService: a,
		ctx: ctx,
		tid: tid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AgentNeedTaskAPIService) GetTaskApiV1AgentNeedTaskTidGetExecute(r ApiGetTaskApiV1AgentNeedTaskTidGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentNeedTaskAPIService.GetTaskApiV1AgentNeedTaskTidGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/agent-need-task/{tid}"
	localVarPath = strings.Replace(localVarPath, "{"+"tid"+"}", url.PathEscape(parameterValueToString(r.tid, "tid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetTaskApiV1AgentNeedTaskTidGet_0Request struct {
	ctx context.Context
	ApiService *AgentNeedTaskAPIService
	tid int32
}

func (r ApiGetTaskApiV1AgentNeedTaskTidGet_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetTaskApiV1AgentNeedTaskTidGet_5Execute(r)
}

/*
GetTaskApiV1AgentNeedTaskTidGet_0 需求详情

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tid
 @return ApiGetTaskApiV1AgentNeedTaskTidGet_0Request
*/
func (a *AgentNeedTaskAPIService) GetTaskApiV1AgentNeedTaskTidGet_5(ctx context.Context, tid int32) ApiGetTaskApiV1AgentNeedTaskTidGet_0Request {
	return ApiGetTaskApiV1AgentNeedTaskTidGet_0Request{
		ApiService: a,
		ctx: ctx,
		tid: tid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AgentNeedTaskAPIService) GetTaskApiV1AgentNeedTaskTidGet_5Execute(r ApiGetTaskApiV1AgentNeedTaskTidGet_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentNeedTaskAPIService.GetTaskApiV1AgentNeedTaskTidGet_5")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/agent-need-task/{tid}"
	localVarPath = strings.Replace(localVarPath, "{"+"tid"+"}", url.PathEscape(parameterValueToString(r.tid, "tid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListBidsApiV1AgentNeedTaskTidBidsGetRequest struct {
	ctx context.Context
	ApiService *AgentNeedTaskAPIService
	tid int32
}

func (r ApiListBidsApiV1AgentNeedTaskTidBidsGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListBidsApiV1AgentNeedTaskTidBidsGetExecute(r)
}

/*
ListBidsApiV1AgentNeedTaskTidBidsGet 任务报价列表

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tid
 @return ApiListBidsApiV1AgentNeedTaskTidBidsGetRequest
*/
func (a *AgentNeedTaskAPIService) ListBidsApiV1AgentNeedTaskTidBidsGet(ctx context.Context, tid int32) ApiListBidsApiV1AgentNeedTaskTidBidsGetRequest {
	return ApiListBidsApiV1AgentNeedTaskTidBidsGetRequest{
		ApiService: a,
		ctx: ctx,
		tid: tid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AgentNeedTaskAPIService) ListBidsApiV1AgentNeedTaskTidBidsGetExecute(r ApiListBidsApiV1AgentNeedTaskTidBidsGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentNeedTaskAPIService.ListBidsApiV1AgentNeedTaskTidBidsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/agent-need-task/{tid}/bids"
	localVarPath = strings.Replace(localVarPath, "{"+"tid"+"}", url.PathEscape(parameterValueToString(r.tid, "tid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListBidsApiV1AgentNeedTaskTidBidsGet_0Request struct {
	ctx context.Context
	ApiService *AgentNeedTaskAPIService
	tid int32
}

func (r ApiListBidsApiV1AgentNeedTaskTidBidsGet_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListBidsApiV1AgentNeedTaskTidBidsGet_6Execute(r)
}

/*
ListBidsApiV1AgentNeedTaskTidBidsGet_0 任务报价列表

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tid
 @return ApiListBidsApiV1AgentNeedTaskTidBidsGet_0Request
*/
func (a *AgentNeedTaskAPIService) ListBidsApiV1AgentNeedTaskTidBidsGet_6(ctx context.Context, tid int32) ApiListBidsApiV1AgentNeedTaskTidBidsGet_0Request {
	return ApiListBidsApiV1AgentNeedTaskTidBidsGet_0Request{
		ApiService: a,
		ctx: ctx,
		tid: tid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AgentNeedTaskAPIService) ListBidsApiV1AgentNeedTaskTidBidsGet_6Execute(r ApiListBidsApiV1AgentNeedTaskTidBidsGet_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentNeedTaskAPIService.ListBidsApiV1AgentNeedTaskTidBidsGet_6")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/agent-need-task/{tid}/bids"
	localVarPath = strings.Replace(localVarPath, "{"+"tid"+"}", url.PathEscape(parameterValueToString(r.tid, "tid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListTasksApiV1AgentNeedTaskListGetRequest struct {
	ctx context.Context
	ApiService *AgentNeedTaskAPIService
	page *int32
	limit *int32
	status *int32
	type_ *string
	userId *string
	developerId *string
	keyword *string
}

func (r ApiListTasksApiV1AgentNeedTaskListGetRequest) Page(page int32) ApiListTasksApiV1AgentNeedTaskListGetRequest {
	r.page = &page
	return r
}

func (r ApiListTasksApiV1AgentNeedTaskListGetRequest) Limit(limit int32) ApiListTasksApiV1AgentNeedTaskListGetRequest {
	r.limit = &limit
	return r
}

func (r ApiListTasksApiV1AgentNeedTaskListGetRequest) Status(status int32) ApiListTasksApiV1AgentNeedTaskListGetRequest {
	r.status = &status
	return r
}

func (r ApiListTasksApiV1AgentNeedTaskListGetRequest) Type_(type_ string) ApiListTasksApiV1AgentNeedTaskListGetRequest {
	r.type_ = &type_
	return r
}

func (r ApiListTasksApiV1AgentNeedTaskListGetRequest) UserId(userId string) ApiListTasksApiV1AgentNeedTaskListGetRequest {
	r.userId = &userId
	return r
}

func (r ApiListTasksApiV1AgentNeedTaskListGetRequest) DeveloperId(developerId string) ApiListTasksApiV1AgentNeedTaskListGetRequest {
	r.developerId = &developerId
	return r
}

func (r ApiListTasksApiV1AgentNeedTaskListGetRequest) Keyword(keyword string) ApiListTasksApiV1AgentNeedTaskListGetRequest {
	r.keyword = &keyword
	return r
}

func (r ApiListTasksApiV1AgentNeedTaskListGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListTasksApiV1AgentNeedTaskListGetExecute(r)
}

/*
ListTasksApiV1AgentNeedTaskListGet 需求列表

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListTasksApiV1AgentNeedTaskListGetRequest
*/
func (a *AgentNeedTaskAPIService) ListTasksApiV1AgentNeedTaskListGet(ctx context.Context) ApiListTasksApiV1AgentNeedTaskListGetRequest {
	return ApiListTasksApiV1AgentNeedTaskListGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AgentNeedTaskAPIService) ListTasksApiV1AgentNeedTaskListGetExecute(r ApiListTasksApiV1AgentNeedTaskListGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentNeedTaskAPIService.ListTasksApiV1AgentNeedTaskListGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/agent-need-task/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	}
	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", r.userId, "form", "")
	}
	if r.developerId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "developer_id", r.developerId, "form", "")
	}
	if r.keyword != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "keyword", r.keyword, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListTasksApiV1AgentNeedTaskListGet_0Request struct {
	ctx context.Context
	ApiService *AgentNeedTaskAPIService
	page *int32
	limit *int32
	status *int32
	type_ *string
	userId *string
	developerId *string
	keyword *string
}

func (r ApiListTasksApiV1AgentNeedTaskListGet_0Request) Page(page int32) ApiListTasksApiV1AgentNeedTaskListGet_0Request {
	r.page = &page
	return r
}

func (r ApiListTasksApiV1AgentNeedTaskListGet_0Request) Limit(limit int32) ApiListTasksApiV1AgentNeedTaskListGet_0Request {
	r.limit = &limit
	return r
}

func (r ApiListTasksApiV1AgentNeedTaskListGet_0Request) Status(status int32) ApiListTasksApiV1AgentNeedTaskListGet_0Request {
	r.status = &status
	return r
}

func (r ApiListTasksApiV1AgentNeedTaskListGet_0Request) Type_(type_ string) ApiListTasksApiV1AgentNeedTaskListGet_0Request {
	r.type_ = &type_
	return r
}

func (r ApiListTasksApiV1AgentNeedTaskListGet_0Request) UserId(userId string) ApiListTasksApiV1AgentNeedTaskListGet_0Request {
	r.userId = &userId
	return r
}

func (r ApiListTasksApiV1AgentNeedTaskListGet_0Request) DeveloperId(developerId string) ApiListTasksApiV1AgentNeedTaskListGet_0Request {
	r.developerId = &developerId
	return r
}

func (r ApiListTasksApiV1AgentNeedTaskListGet_0Request) Keyword(keyword string) ApiListTasksApiV1AgentNeedTaskListGet_0Request {
	r.keyword = &keyword
	return r
}

func (r ApiListTasksApiV1AgentNeedTaskListGet_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListTasksApiV1AgentNeedTaskListGet_7Execute(r)
}

/*
ListTasksApiV1AgentNeedTaskListGet_0 需求列表

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListTasksApiV1AgentNeedTaskListGet_0Request
*/
func (a *AgentNeedTaskAPIService) ListTasksApiV1AgentNeedTaskListGet_7(ctx context.Context) ApiListTasksApiV1AgentNeedTaskListGet_0Request {
	return ApiListTasksApiV1AgentNeedTaskListGet_0Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AgentNeedTaskAPIService) ListTasksApiV1AgentNeedTaskListGet_7Execute(r ApiListTasksApiV1AgentNeedTaskListGet_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentNeedTaskAPIService.ListTasksApiV1AgentNeedTaskListGet_7")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/agent-need-task/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	}
	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", r.userId, "form", "")
	}
	if r.developerId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "developer_id", r.developerId, "form", "")
	}
	if r.keyword != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "keyword", r.keyword, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateTaskApiV1AgentNeedTaskTidPutRequest struct {
	ctx context.Context
	ApiService *AgentNeedTaskAPIService
	tid int32
	title *string
	description *string
	priority *int32
	budget *int32
	status *int32
	deliverable *string
	remark *string
}

func (r ApiUpdateTaskApiV1AgentNeedTaskTidPutRequest) Title(title string) ApiUpdateTaskApiV1AgentNeedTaskTidPutRequest {
	r.title = &title
	return r
}

func (r ApiUpdateTaskApiV1AgentNeedTaskTidPutRequest) Description(description string) ApiUpdateTaskApiV1AgentNeedTaskTidPutRequest {
	r.description = &description
	return r
}

func (r ApiUpdateTaskApiV1AgentNeedTaskTidPutRequest) Priority(priority int32) ApiUpdateTaskApiV1AgentNeedTaskTidPutRequest {
	r.priority = &priority
	return r
}

func (r ApiUpdateTaskApiV1AgentNeedTaskTidPutRequest) Budget(budget int32) ApiUpdateTaskApiV1AgentNeedTaskTidPutRequest {
	r.budget = &budget
	return r
}

func (r ApiUpdateTaskApiV1AgentNeedTaskTidPutRequest) Status(status int32) ApiUpdateTaskApiV1AgentNeedTaskTidPutRequest {
	r.status = &status
	return r
}

func (r ApiUpdateTaskApiV1AgentNeedTaskTidPutRequest) Deliverable(deliverable string) ApiUpdateTaskApiV1AgentNeedTaskTidPutRequest {
	r.deliverable = &deliverable
	return r
}

func (r ApiUpdateTaskApiV1AgentNeedTaskTidPutRequest) Remark(remark string) ApiUpdateTaskApiV1AgentNeedTaskTidPutRequest {
	r.remark = &remark
	return r
}

func (r ApiUpdateTaskApiV1AgentNeedTaskTidPutRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.UpdateTaskApiV1AgentNeedTaskTidPutExecute(r)
}

/*
UpdateTaskApiV1AgentNeedTaskTidPut 修改需求

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tid
 @return ApiUpdateTaskApiV1AgentNeedTaskTidPutRequest
*/
func (a *AgentNeedTaskAPIService) UpdateTaskApiV1AgentNeedTaskTidPut(ctx context.Context, tid int32) ApiUpdateTaskApiV1AgentNeedTaskTidPutRequest {
	return ApiUpdateTaskApiV1AgentNeedTaskTidPutRequest{
		ApiService: a,
		ctx: ctx,
		tid: tid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AgentNeedTaskAPIService) UpdateTaskApiV1AgentNeedTaskTidPutExecute(r ApiUpdateTaskApiV1AgentNeedTaskTidPutRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentNeedTaskAPIService.UpdateTaskApiV1AgentNeedTaskTidPut")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/agent-need-task/{tid}"
	localVarPath = strings.Replace(localVarPath, "{"+"tid"+"}", url.PathEscape(parameterValueToString(r.tid, "tid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.title != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "title", r.title, "form", "")
	}
	if r.description != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description", r.description, "form", "")
	}
	if r.priority != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "priority", r.priority, "form", "")
	}
	if r.budget != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "budget", r.budget, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.deliverable != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deliverable", r.deliverable, "form", "")
	}
	if r.remark != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remark", r.remark, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateTaskApiV1AgentNeedTaskTidPut_0Request struct {
	ctx context.Context
	ApiService *AgentNeedTaskAPIService
	tid int32
	title *string
	description *string
	priority *int32
	budget *int32
	status *int32
	deliverable *string
	remark *string
}

func (r ApiUpdateTaskApiV1AgentNeedTaskTidPut_0Request) Title(title string) ApiUpdateTaskApiV1AgentNeedTaskTidPut_0Request {
	r.title = &title
	return r
}

func (r ApiUpdateTaskApiV1AgentNeedTaskTidPut_0Request) Description(description string) ApiUpdateTaskApiV1AgentNeedTaskTidPut_0Request {
	r.description = &description
	return r
}

func (r ApiUpdateTaskApiV1AgentNeedTaskTidPut_0Request) Priority(priority int32) ApiUpdateTaskApiV1AgentNeedTaskTidPut_0Request {
	r.priority = &priority
	return r
}

func (r ApiUpdateTaskApiV1AgentNeedTaskTidPut_0Request) Budget(budget int32) ApiUpdateTaskApiV1AgentNeedTaskTidPut_0Request {
	r.budget = &budget
	return r
}

func (r ApiUpdateTaskApiV1AgentNeedTaskTidPut_0Request) Status(status int32) ApiUpdateTaskApiV1AgentNeedTaskTidPut_0Request {
	r.status = &status
	return r
}

func (r ApiUpdateTaskApiV1AgentNeedTaskTidPut_0Request) Deliverable(deliverable string) ApiUpdateTaskApiV1AgentNeedTaskTidPut_0Request {
	r.deliverable = &deliverable
	return r
}

func (r ApiUpdateTaskApiV1AgentNeedTaskTidPut_0Request) Remark(remark string) ApiUpdateTaskApiV1AgentNeedTaskTidPut_0Request {
	r.remark = &remark
	return r
}

func (r ApiUpdateTaskApiV1AgentNeedTaskTidPut_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.UpdateTaskApiV1AgentNeedTaskTidPut_8Execute(r)
}

/*
UpdateTaskApiV1AgentNeedTaskTidPut_0 修改需求

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tid
 @return ApiUpdateTaskApiV1AgentNeedTaskTidPut_0Request
*/
func (a *AgentNeedTaskAPIService) UpdateTaskApiV1AgentNeedTaskTidPut_8(ctx context.Context, tid int32) ApiUpdateTaskApiV1AgentNeedTaskTidPut_0Request {
	return ApiUpdateTaskApiV1AgentNeedTaskTidPut_0Request{
		ApiService: a,
		ctx: ctx,
		tid: tid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AgentNeedTaskAPIService) UpdateTaskApiV1AgentNeedTaskTidPut_8Execute(r ApiUpdateTaskApiV1AgentNeedTaskTidPut_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentNeedTaskAPIService.UpdateTaskApiV1AgentNeedTaskTidPut_8")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/agent-need-task/{tid}"
	localVarPath = strings.Replace(localVarPath, "{"+"tid"+"}", url.PathEscape(parameterValueToString(r.tid, "tid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.title != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "title", r.title, "form", "")
	}
	if r.description != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description", r.description, "form", "")
	}
	if r.priority != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "priority", r.priority, "form", "")
	}
	if r.budget != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "budget", r.budget, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.deliverable != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deliverable", r.deliverable, "form", "")
	}
	if r.remark != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remark", r.remark, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
