/*
ZHS Platform

ZHS Platform API - AI Agent Marketplace & Educational Platform

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zhs_api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// ContentCMSAPIService ContentCMSAPI service
type ContentCMSAPIService service

type ApiCreateBannerApiV1ContentCmsBannerCreatePostRequest struct {
	ctx context.Context
	ApiService *ContentCMSAPIService
	title *string
	image *string
	url *string
	sort *int32
	authorization *string
}

// Banner title
func (r ApiCreateBannerApiV1ContentCmsBannerCreatePostRequest) Title(title string) ApiCreateBannerApiV1ContentCmsBannerCreatePostRequest {
	r.title = &title
	return r
}

// Banner image URL
func (r ApiCreateBannerApiV1ContentCmsBannerCreatePostRequest) Image(image string) ApiCreateBannerApiV1ContentCmsBannerCreatePostRequest {
	r.image = &image
	return r
}

// Banner link URL
func (r ApiCreateBannerApiV1ContentCmsBannerCreatePostRequest) Url(url string) ApiCreateBannerApiV1ContentCmsBannerCreatePostRequest {
	r.url = &url
	return r
}

// Sort order
func (r ApiCreateBannerApiV1ContentCmsBannerCreatePostRequest) Sort(sort int32) ApiCreateBannerApiV1ContentCmsBannerCreatePostRequest {
	r.sort = &sort
	return r
}

func (r ApiCreateBannerApiV1ContentCmsBannerCreatePostRequest) Authorization(authorization string) ApiCreateBannerApiV1ContentCmsBannerCreatePostRequest {
	r.authorization = &authorization
	return r
}

func (r ApiCreateBannerApiV1ContentCmsBannerCreatePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CreateBannerApiV1ContentCmsBannerCreatePostExecute(r)
}

/*
CreateBannerApiV1ContentCmsBannerCreatePost Create banner (admin only)

Create a new banner carousel item. Requires admin role.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateBannerApiV1ContentCmsBannerCreatePostRequest
*/
func (a *ContentCMSAPIService) CreateBannerApiV1ContentCmsBannerCreatePost(ctx context.Context) ApiCreateBannerApiV1ContentCmsBannerCreatePostRequest {
	return ApiCreateBannerApiV1ContentCmsBannerCreatePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ContentCMSAPIService) CreateBannerApiV1ContentCmsBannerCreatePostExecute(r ApiCreateBannerApiV1ContentCmsBannerCreatePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentCMSAPIService.CreateBannerApiV1ContentCmsBannerCreatePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/content/cms/banner/create"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.title == nil {
		return localVarReturnValue, nil, reportError("title is required and must be specified")
	}
	if r.image == nil {
		return localVarReturnValue, nil, reportError("image is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "title", r.title, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "image", r.image, "form", "")
	if r.url != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "url", r.url, "form", "")
	} else {
		var defaultValue string = ""
		parameterAddToHeaderOrQuery(localVarQueryParams, "url", defaultValue, "form", "")
		r.url = &defaultValue
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", defaultValue, "form", "")
		r.sort = &defaultValue
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "authorization", r.authorization, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateNewsApiV1ContentCmsNewsCreatePostRequest struct {
	ctx context.Context
	ApiService *ContentCMSAPIService
	title *string
	content *string
	image *string
	authorization *string
}

// News title
func (r ApiCreateNewsApiV1ContentCmsNewsCreatePostRequest) Title(title string) ApiCreateNewsApiV1ContentCmsNewsCreatePostRequest {
	r.title = &title
	return r
}

// News content (HTML supported)
func (r ApiCreateNewsApiV1ContentCmsNewsCreatePostRequest) Content(content string) ApiCreateNewsApiV1ContentCmsNewsCreatePostRequest {
	r.content = &content
	return r
}

// Cover image URL
func (r ApiCreateNewsApiV1ContentCmsNewsCreatePostRequest) Image(image string) ApiCreateNewsApiV1ContentCmsNewsCreatePostRequest {
	r.image = &image
	return r
}

func (r ApiCreateNewsApiV1ContentCmsNewsCreatePostRequest) Authorization(authorization string) ApiCreateNewsApiV1ContentCmsNewsCreatePostRequest {
	r.authorization = &authorization
	return r
}

func (r ApiCreateNewsApiV1ContentCmsNewsCreatePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CreateNewsApiV1ContentCmsNewsCreatePostExecute(r)
}

/*
CreateNewsApiV1ContentCmsNewsCreatePost Create news (admin only)

Create a news article. Requires admin role.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateNewsApiV1ContentCmsNewsCreatePostRequest
*/
func (a *ContentCMSAPIService) CreateNewsApiV1ContentCmsNewsCreatePost(ctx context.Context) ApiCreateNewsApiV1ContentCmsNewsCreatePostRequest {
	return ApiCreateNewsApiV1ContentCmsNewsCreatePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ContentCMSAPIService) CreateNewsApiV1ContentCmsNewsCreatePostExecute(r ApiCreateNewsApiV1ContentCmsNewsCreatePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentCMSAPIService.CreateNewsApiV1ContentCmsNewsCreatePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/content/cms/news/create"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.title == nil {
		return localVarReturnValue, nil, reportError("title is required and must be specified")
	}
	if r.content == nil {
		return localVarReturnValue, nil, reportError("content is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "title", r.title, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "content", r.content, "form", "")
	if r.image != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "image", r.image, "form", "")
	} else {
		var defaultValue string = ""
		parameterAddToHeaderOrQuery(localVarQueryParams, "image", defaultValue, "form", "")
		r.image = &defaultValue
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "authorization", r.authorization, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateNoticeApiV1ContentCmsNoticeCreatePostRequest struct {
	ctx context.Context
	ApiService *ContentCMSAPIService
	noticeTitle *string
	noticeType *string
	noticeContent *string
	authorization *string
}

// Notice title
func (r ApiCreateNoticeApiV1ContentCmsNoticeCreatePostRequest) NoticeTitle(noticeTitle string) ApiCreateNoticeApiV1ContentCmsNoticeCreatePostRequest {
	r.noticeTitle = &noticeTitle
	return r
}

// 1&#x3D;notification, 2&#x3D;announcement
func (r ApiCreateNoticeApiV1ContentCmsNoticeCreatePostRequest) NoticeType(noticeType string) ApiCreateNoticeApiV1ContentCmsNoticeCreatePostRequest {
	r.noticeType = &noticeType
	return r
}

// Notice content
func (r ApiCreateNoticeApiV1ContentCmsNoticeCreatePostRequest) NoticeContent(noticeContent string) ApiCreateNoticeApiV1ContentCmsNoticeCreatePostRequest {
	r.noticeContent = &noticeContent
	return r
}

func (r ApiCreateNoticeApiV1ContentCmsNoticeCreatePostRequest) Authorization(authorization string) ApiCreateNoticeApiV1ContentCmsNoticeCreatePostRequest {
	r.authorization = &authorization
	return r
}

func (r ApiCreateNoticeApiV1ContentCmsNoticeCreatePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CreateNoticeApiV1ContentCmsNoticeCreatePostExecute(r)
}

/*
CreateNoticeApiV1ContentCmsNoticeCreatePost Create system notice (admin only)

Create a system notice. Requires admin role.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateNoticeApiV1ContentCmsNoticeCreatePostRequest
*/
func (a *ContentCMSAPIService) CreateNoticeApiV1ContentCmsNoticeCreatePost(ctx context.Context) ApiCreateNoticeApiV1ContentCmsNoticeCreatePostRequest {
	return ApiCreateNoticeApiV1ContentCmsNoticeCreatePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ContentCMSAPIService) CreateNoticeApiV1ContentCmsNoticeCreatePostExecute(r ApiCreateNoticeApiV1ContentCmsNoticeCreatePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentCMSAPIService.CreateNoticeApiV1ContentCmsNoticeCreatePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/content/cms/notice/create"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.noticeTitle == nil {
		return localVarReturnValue, nil, reportError("noticeTitle is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "notice_title", r.noticeTitle, "form", "")
	if r.noticeType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "notice_type", r.noticeType, "form", "")
	} else {
		var defaultValue string = "1"
		parameterAddToHeaderOrQuery(localVarQueryParams, "notice_type", defaultValue, "form", "")
		r.noticeType = &defaultValue
	}
	if r.noticeContent != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "notice_content", r.noticeContent, "form", "")
	} else {
		var defaultValue string = ""
		parameterAddToHeaderOrQuery(localVarQueryParams, "notice_content", defaultValue, "form", "")
		r.noticeContent = &defaultValue
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "authorization", r.authorization, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteBannerApiV1ContentCmsBannerDeletePostRequest struct {
	ctx context.Context
	ApiService *ContentCMSAPIService
	bannerId *int32
	authorization *string
}

// Banner ID to delete
func (r ApiDeleteBannerApiV1ContentCmsBannerDeletePostRequest) BannerId(bannerId int32) ApiDeleteBannerApiV1ContentCmsBannerDeletePostRequest {
	r.bannerId = &bannerId
	return r
}

func (r ApiDeleteBannerApiV1ContentCmsBannerDeletePostRequest) Authorization(authorization string) ApiDeleteBannerApiV1ContentCmsBannerDeletePostRequest {
	r.authorization = &authorization
	return r
}

func (r ApiDeleteBannerApiV1ContentCmsBannerDeletePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DeleteBannerApiV1ContentCmsBannerDeletePostExecute(r)
}

/*
DeleteBannerApiV1ContentCmsBannerDeletePost Delete banner (admin only)

Delete a banner. Requires admin role.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDeleteBannerApiV1ContentCmsBannerDeletePostRequest
*/
func (a *ContentCMSAPIService) DeleteBannerApiV1ContentCmsBannerDeletePost(ctx context.Context) ApiDeleteBannerApiV1ContentCmsBannerDeletePostRequest {
	return ApiDeleteBannerApiV1ContentCmsBannerDeletePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ContentCMSAPIService) DeleteBannerApiV1ContentCmsBannerDeletePostExecute(r ApiDeleteBannerApiV1ContentCmsBannerDeletePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentCMSAPIService.DeleteBannerApiV1ContentCmsBannerDeletePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/content/cms/banner/delete"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.bannerId == nil {
		return localVarReturnValue, nil, reportError("bannerId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "banner_id", r.bannerId, "form", "")
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "authorization", r.authorization, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteNewsApiV1ContentCmsNewsDeletePostRequest struct {
	ctx context.Context
	ApiService *ContentCMSAPIService
	newsId *int32
	authorization *string
}

// News ID to delete
func (r ApiDeleteNewsApiV1ContentCmsNewsDeletePostRequest) NewsId(newsId int32) ApiDeleteNewsApiV1ContentCmsNewsDeletePostRequest {
	r.newsId = &newsId
	return r
}

func (r ApiDeleteNewsApiV1ContentCmsNewsDeletePostRequest) Authorization(authorization string) ApiDeleteNewsApiV1ContentCmsNewsDeletePostRequest {
	r.authorization = &authorization
	return r
}

func (r ApiDeleteNewsApiV1ContentCmsNewsDeletePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DeleteNewsApiV1ContentCmsNewsDeletePostExecute(r)
}

/*
DeleteNewsApiV1ContentCmsNewsDeletePost Delete news (admin only)

Delete a news article. Requires admin role.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDeleteNewsApiV1ContentCmsNewsDeletePostRequest
*/
func (a *ContentCMSAPIService) DeleteNewsApiV1ContentCmsNewsDeletePost(ctx context.Context) ApiDeleteNewsApiV1ContentCmsNewsDeletePostRequest {
	return ApiDeleteNewsApiV1ContentCmsNewsDeletePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ContentCMSAPIService) DeleteNewsApiV1ContentCmsNewsDeletePostExecute(r ApiDeleteNewsApiV1ContentCmsNewsDeletePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentCMSAPIService.DeleteNewsApiV1ContentCmsNewsDeletePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/content/cms/news/delete"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.newsId == nil {
		return localVarReturnValue, nil, reportError("newsId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "news_id", r.newsId, "form", "")
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "authorization", r.authorization, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteNoticeApiV1ContentCmsNoticeDeletePostRequest struct {
	ctx context.Context
	ApiService *ContentCMSAPIService
	noticeId *int32
	authorization *string
}

// Notice ID to delete
func (r ApiDeleteNoticeApiV1ContentCmsNoticeDeletePostRequest) NoticeId(noticeId int32) ApiDeleteNoticeApiV1ContentCmsNoticeDeletePostRequest {
	r.noticeId = &noticeId
	return r
}

func (r ApiDeleteNoticeApiV1ContentCmsNoticeDeletePostRequest) Authorization(authorization string) ApiDeleteNoticeApiV1ContentCmsNoticeDeletePostRequest {
	r.authorization = &authorization
	return r
}

func (r ApiDeleteNoticeApiV1ContentCmsNoticeDeletePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DeleteNoticeApiV1ContentCmsNoticeDeletePostExecute(r)
}

/*
DeleteNoticeApiV1ContentCmsNoticeDeletePost Delete notice (admin only)

Delete a system notice. Requires admin role.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDeleteNoticeApiV1ContentCmsNoticeDeletePostRequest
*/
func (a *ContentCMSAPIService) DeleteNoticeApiV1ContentCmsNoticeDeletePost(ctx context.Context) ApiDeleteNoticeApiV1ContentCmsNoticeDeletePostRequest {
	return ApiDeleteNoticeApiV1ContentCmsNoticeDeletePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ContentCMSAPIService) DeleteNoticeApiV1ContentCmsNoticeDeletePostExecute(r ApiDeleteNoticeApiV1ContentCmsNoticeDeletePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentCMSAPIService.DeleteNoticeApiV1ContentCmsNoticeDeletePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/content/cms/notice/delete"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.noticeId == nil {
		return localVarReturnValue, nil, reportError("noticeId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "notice_id", r.noticeId, "form", "")
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "authorization", r.authorization, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListBannersApiV1ContentCmsBannerListGetRequest struct {
	ctx context.Context
	ApiService *ContentCMSAPIService
	page *int32
	limit *int32
	status *int32
}

func (r ApiListBannersApiV1ContentCmsBannerListGetRequest) Page(page int32) ApiListBannersApiV1ContentCmsBannerListGetRequest {
	r.page = &page
	return r
}

func (r ApiListBannersApiV1ContentCmsBannerListGetRequest) Limit(limit int32) ApiListBannersApiV1ContentCmsBannerListGetRequest {
	r.limit = &limit
	return r
}

// 0&#x3D;disabled, 1&#x3D;enabled
func (r ApiListBannersApiV1ContentCmsBannerListGetRequest) Status(status int32) ApiListBannersApiV1ContentCmsBannerListGetRequest {
	r.status = &status
	return r
}

func (r ApiListBannersApiV1ContentCmsBannerListGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListBannersApiV1ContentCmsBannerListGetExecute(r)
}

/*
ListBannersApiV1ContentCmsBannerListGet Banner list (public)

Get active banners for homepage carousel.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListBannersApiV1ContentCmsBannerListGetRequest
*/
func (a *ContentCMSAPIService) ListBannersApiV1ContentCmsBannerListGet(ctx context.Context) ApiListBannersApiV1ContentCmsBannerListGetRequest {
	return ApiListBannersApiV1ContentCmsBannerListGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ContentCMSAPIService) ListBannersApiV1ContentCmsBannerListGetExecute(r ApiListBannersApiV1ContentCmsBannerListGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentCMSAPIService.ListBannersApiV1ContentCmsBannerListGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/content/cms/banner/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 10
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", defaultValue, "form", "")
		r.status = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListNewsApiV1ContentCmsNewsListGetRequest struct {
	ctx context.Context
	ApiService *ContentCMSAPIService
	page *int32
	limit *int32
	userUuid *string
}

func (r ApiListNewsApiV1ContentCmsNewsListGetRequest) Page(page int32) ApiListNewsApiV1ContentCmsNewsListGetRequest {
	r.page = &page
	return r
}

func (r ApiListNewsApiV1ContentCmsNewsListGetRequest) Limit(limit int32) ApiListNewsApiV1ContentCmsNewsListGetRequest {
	r.limit = &limit
	return r
}

func (r ApiListNewsApiV1ContentCmsNewsListGetRequest) UserUuid(userUuid string) ApiListNewsApiV1ContentCmsNewsListGetRequest {
	r.userUuid = &userUuid
	return r
}

func (r ApiListNewsApiV1ContentCmsNewsListGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListNewsApiV1ContentCmsNewsListGetExecute(r)
}

/*
ListNewsApiV1ContentCmsNewsListGet News list (public)

Get active news articles. Public endpoint.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListNewsApiV1ContentCmsNewsListGetRequest
*/
func (a *ContentCMSAPIService) ListNewsApiV1ContentCmsNewsListGet(ctx context.Context) ApiListNewsApiV1ContentCmsNewsListGetRequest {
	return ApiListNewsApiV1ContentCmsNewsListGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ContentCMSAPIService) ListNewsApiV1ContentCmsNewsListGetExecute(r ApiListNewsApiV1ContentCmsNewsListGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentCMSAPIService.ListNewsApiV1ContentCmsNewsListGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/content/cms/news/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.userUuid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_uuid", r.userUuid, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListNoticesApiV1ContentCmsNoticeListGetRequest struct {
	ctx context.Context
	ApiService *ContentCMSAPIService
	page *int32
	limit *int32
	userUuid *string
}

func (r ApiListNoticesApiV1ContentCmsNoticeListGetRequest) Page(page int32) ApiListNoticesApiV1ContentCmsNoticeListGetRequest {
	r.page = &page
	return r
}

func (r ApiListNoticesApiV1ContentCmsNoticeListGetRequest) Limit(limit int32) ApiListNoticesApiV1ContentCmsNoticeListGetRequest {
	r.limit = &limit
	return r
}

func (r ApiListNoticesApiV1ContentCmsNoticeListGetRequest) UserUuid(userUuid string) ApiListNoticesApiV1ContentCmsNoticeListGetRequest {
	r.userUuid = &userUuid
	return r
}

func (r ApiListNoticesApiV1ContentCmsNoticeListGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListNoticesApiV1ContentCmsNoticeListGetExecute(r)
}

/*
ListNoticesApiV1ContentCmsNoticeListGet System notice list (public)

Get active system notices. Public endpoint.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListNoticesApiV1ContentCmsNoticeListGetRequest
*/
func (a *ContentCMSAPIService) ListNoticesApiV1ContentCmsNoticeListGet(ctx context.Context) ApiListNoticesApiV1ContentCmsNoticeListGetRequest {
	return ApiListNoticesApiV1ContentCmsNoticeListGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ContentCMSAPIService) ListNoticesApiV1ContentCmsNoticeListGetExecute(r ApiListNoticesApiV1ContentCmsNoticeListGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentCMSAPIService.ListNoticesApiV1ContentCmsNoticeListGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/content/cms/notice/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.userUuid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_uuid", r.userUuid, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListPopularApiV1ContentCmsPopularListGetRequest struct {
	ctx context.Context
	ApiService *ContentCMSAPIService
	page *int32
	limit *int32
}

func (r ApiListPopularApiV1ContentCmsPopularListGetRequest) Page(page int32) ApiListPopularApiV1ContentCmsPopularListGetRequest {
	r.page = &page
	return r
}

func (r ApiListPopularApiV1ContentCmsPopularListGetRequest) Limit(limit int32) ApiListPopularApiV1ContentCmsPopularListGetRequest {
	r.limit = &limit
	return r
}

func (r ApiListPopularApiV1ContentCmsPopularListGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListPopularApiV1ContentCmsPopularListGetExecute(r)
}

/*
ListPopularApiV1ContentCmsPopularListGet Popular recommendations (public)

Get popular recommended content based on sort order.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListPopularApiV1ContentCmsPopularListGetRequest
*/
func (a *ContentCMSAPIService) ListPopularApiV1ContentCmsPopularListGet(ctx context.Context) ApiListPopularApiV1ContentCmsPopularListGetRequest {
	return ApiListPopularApiV1ContentCmsPopularListGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ContentCMSAPIService) ListPopularApiV1ContentCmsPopularListGetExecute(r ApiListPopularApiV1ContentCmsPopularListGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentCMSAPIService.ListPopularApiV1ContentCmsPopularListGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/content/cms/popular/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateBannerApiV1ContentCmsBannerUpdateBannerIdPutRequest struct {
	ctx context.Context
	ApiService *ContentCMSAPIService
	bannerId int32
	title *string
	image *string
	url *string
	sort *int32
	isActive *int32
	authorization *string
}

func (r ApiUpdateBannerApiV1ContentCmsBannerUpdateBannerIdPutRequest) Title(title string) ApiUpdateBannerApiV1ContentCmsBannerUpdateBannerIdPutRequest {
	r.title = &title
	return r
}

func (r ApiUpdateBannerApiV1ContentCmsBannerUpdateBannerIdPutRequest) Image(image string) ApiUpdateBannerApiV1ContentCmsBannerUpdateBannerIdPutRequest {
	r.image = &image
	return r
}

func (r ApiUpdateBannerApiV1ContentCmsBannerUpdateBannerIdPutRequest) Url(url string) ApiUpdateBannerApiV1ContentCmsBannerUpdateBannerIdPutRequest {
	r.url = &url
	return r
}

func (r ApiUpdateBannerApiV1ContentCmsBannerUpdateBannerIdPutRequest) Sort(sort int32) ApiUpdateBannerApiV1ContentCmsBannerUpdateBannerIdPutRequest {
	r.sort = &sort
	return r
}

func (r ApiUpdateBannerApiV1ContentCmsBannerUpdateBannerIdPutRequest) IsActive(isActive int32) ApiUpdateBannerApiV1ContentCmsBannerUpdateBannerIdPutRequest {
	r.isActive = &isActive
	return r
}

func (r ApiUpdateBannerApiV1ContentCmsBannerUpdateBannerIdPutRequest) Authorization(authorization string) ApiUpdateBannerApiV1ContentCmsBannerUpdateBannerIdPutRequest {
	r.authorization = &authorization
	return r
}

func (r ApiUpdateBannerApiV1ContentCmsBannerUpdateBannerIdPutRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.UpdateBannerApiV1ContentCmsBannerUpdateBannerIdPutExecute(r)
}

/*
UpdateBannerApiV1ContentCmsBannerUpdateBannerIdPut Update banner (admin only)

Update an existing banner. Requires admin role.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param bannerId
 @return ApiUpdateBannerApiV1ContentCmsBannerUpdateBannerIdPutRequest
*/
func (a *ContentCMSAPIService) UpdateBannerApiV1ContentCmsBannerUpdateBannerIdPut(ctx context.Context, bannerId int32) ApiUpdateBannerApiV1ContentCmsBannerUpdateBannerIdPutRequest {
	return ApiUpdateBannerApiV1ContentCmsBannerUpdateBannerIdPutRequest{
		ApiService: a,
		ctx: ctx,
		bannerId: bannerId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ContentCMSAPIService) UpdateBannerApiV1ContentCmsBannerUpdateBannerIdPutExecute(r ApiUpdateBannerApiV1ContentCmsBannerUpdateBannerIdPutRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentCMSAPIService.UpdateBannerApiV1ContentCmsBannerUpdateBannerIdPut")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/content/cms/banner/update/{banner_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"banner_id"+"}", url.PathEscape(parameterValueToString(r.bannerId, "bannerId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.title != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "title", r.title, "form", "")
	}
	if r.image != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "image", r.image, "form", "")
	}
	if r.url != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "url", r.url, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.isActive != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_active", r.isActive, "form", "")
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "authorization", r.authorization, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateNewsApiV1ContentCmsNewsUpdateNewsIdPutRequest struct {
	ctx context.Context
	ApiService *ContentCMSAPIService
	newsId int32
	title *string
	content *string
	image *string
	isActive *int32
	authorization *string
}

func (r ApiUpdateNewsApiV1ContentCmsNewsUpdateNewsIdPutRequest) Title(title string) ApiUpdateNewsApiV1ContentCmsNewsUpdateNewsIdPutRequest {
	r.title = &title
	return r
}

func (r ApiUpdateNewsApiV1ContentCmsNewsUpdateNewsIdPutRequest) Content(content string) ApiUpdateNewsApiV1ContentCmsNewsUpdateNewsIdPutRequest {
	r.content = &content
	return r
}

func (r ApiUpdateNewsApiV1ContentCmsNewsUpdateNewsIdPutRequest) Image(image string) ApiUpdateNewsApiV1ContentCmsNewsUpdateNewsIdPutRequest {
	r.image = &image
	return r
}

func (r ApiUpdateNewsApiV1ContentCmsNewsUpdateNewsIdPutRequest) IsActive(isActive int32) ApiUpdateNewsApiV1ContentCmsNewsUpdateNewsIdPutRequest {
	r.isActive = &isActive
	return r
}

func (r ApiUpdateNewsApiV1ContentCmsNewsUpdateNewsIdPutRequest) Authorization(authorization string) ApiUpdateNewsApiV1ContentCmsNewsUpdateNewsIdPutRequest {
	r.authorization = &authorization
	return r
}

func (r ApiUpdateNewsApiV1ContentCmsNewsUpdateNewsIdPutRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.UpdateNewsApiV1ContentCmsNewsUpdateNewsIdPutExecute(r)
}

/*
UpdateNewsApiV1ContentCmsNewsUpdateNewsIdPut Update news (admin only)

Update a news article. Requires admin role.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param newsId
 @return ApiUpdateNewsApiV1ContentCmsNewsUpdateNewsIdPutRequest
*/
func (a *ContentCMSAPIService) UpdateNewsApiV1ContentCmsNewsUpdateNewsIdPut(ctx context.Context, newsId int32) ApiUpdateNewsApiV1ContentCmsNewsUpdateNewsIdPutRequest {
	return ApiUpdateNewsApiV1ContentCmsNewsUpdateNewsIdPutRequest{
		ApiService: a,
		ctx: ctx,
		newsId: newsId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ContentCMSAPIService) UpdateNewsApiV1ContentCmsNewsUpdateNewsIdPutExecute(r ApiUpdateNewsApiV1ContentCmsNewsUpdateNewsIdPutRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentCMSAPIService.UpdateNewsApiV1ContentCmsNewsUpdateNewsIdPut")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/content/cms/news/update/{news_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"news_id"+"}", url.PathEscape(parameterValueToString(r.newsId, "newsId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.title != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "title", r.title, "form", "")
	}
	if r.content != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "content", r.content, "form", "")
	}
	if r.image != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "image", r.image, "form", "")
	}
	if r.isActive != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_active", r.isActive, "form", "")
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "authorization", r.authorization, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateNoticeApiV1ContentCmsNoticeUpdateNoticeIdPutRequest struct {
	ctx context.Context
	ApiService *ContentCMSAPIService
	noticeId int32
	noticeTitle *string
	noticeType *string
	noticeContent *string
	status *string
	authorization *string
}

func (r ApiUpdateNoticeApiV1ContentCmsNoticeUpdateNoticeIdPutRequest) NoticeTitle(noticeTitle string) ApiUpdateNoticeApiV1ContentCmsNoticeUpdateNoticeIdPutRequest {
	r.noticeTitle = &noticeTitle
	return r
}

func (r ApiUpdateNoticeApiV1ContentCmsNoticeUpdateNoticeIdPutRequest) NoticeType(noticeType string) ApiUpdateNoticeApiV1ContentCmsNoticeUpdateNoticeIdPutRequest {
	r.noticeType = &noticeType
	return r
}

func (r ApiUpdateNoticeApiV1ContentCmsNoticeUpdateNoticeIdPutRequest) NoticeContent(noticeContent string) ApiUpdateNoticeApiV1ContentCmsNoticeUpdateNoticeIdPutRequest {
	r.noticeContent = &noticeContent
	return r
}

func (r ApiUpdateNoticeApiV1ContentCmsNoticeUpdateNoticeIdPutRequest) Status(status string) ApiUpdateNoticeApiV1ContentCmsNoticeUpdateNoticeIdPutRequest {
	r.status = &status
	return r
}

func (r ApiUpdateNoticeApiV1ContentCmsNoticeUpdateNoticeIdPutRequest) Authorization(authorization string) ApiUpdateNoticeApiV1ContentCmsNoticeUpdateNoticeIdPutRequest {
	r.authorization = &authorization
	return r
}

func (r ApiUpdateNoticeApiV1ContentCmsNoticeUpdateNoticeIdPutRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.UpdateNoticeApiV1ContentCmsNoticeUpdateNoticeIdPutExecute(r)
}

/*
UpdateNoticeApiV1ContentCmsNoticeUpdateNoticeIdPut Update notice (admin only)

Update a system notice. Requires admin role.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param noticeId
 @return ApiUpdateNoticeApiV1ContentCmsNoticeUpdateNoticeIdPutRequest
*/
func (a *ContentCMSAPIService) UpdateNoticeApiV1ContentCmsNoticeUpdateNoticeIdPut(ctx context.Context, noticeId int32) ApiUpdateNoticeApiV1ContentCmsNoticeUpdateNoticeIdPutRequest {
	return ApiUpdateNoticeApiV1ContentCmsNoticeUpdateNoticeIdPutRequest{
		ApiService: a,
		ctx: ctx,
		noticeId: noticeId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ContentCMSAPIService) UpdateNoticeApiV1ContentCmsNoticeUpdateNoticeIdPutExecute(r ApiUpdateNoticeApiV1ContentCmsNoticeUpdateNoticeIdPutRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentCMSAPIService.UpdateNoticeApiV1ContentCmsNoticeUpdateNoticeIdPut")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/content/cms/notice/update/{notice_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"notice_id"+"}", url.PathEscape(parameterValueToString(r.noticeId, "noticeId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.noticeTitle != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "notice_title", r.noticeTitle, "form", "")
	}
	if r.noticeType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "notice_type", r.noticeType, "form", "")
	}
	if r.noticeContent != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "notice_content", r.noticeContent, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "authorization", r.authorization, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
