/*
ZHS Platform

ZHS Platform API - AI Agent Marketplace & Educational Platform

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zhs_api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// BotChatAPIService BotChatAPI service
type BotChatAPIService service

type ApiChatWithBotApiV1BotsSendPostRequest struct {
	ctx context.Context
	ApiService *BotChatAPIService
	botId *string
	message *string
	conversationId *string
}

func (r ApiChatWithBotApiV1BotsSendPostRequest) BotId(botId string) ApiChatWithBotApiV1BotsSendPostRequest {
	r.botId = &botId
	return r
}

func (r ApiChatWithBotApiV1BotsSendPostRequest) Message(message string) ApiChatWithBotApiV1BotsSendPostRequest {
	r.message = &message
	return r
}

func (r ApiChatWithBotApiV1BotsSendPostRequest) ConversationId(conversationId string) ApiChatWithBotApiV1BotsSendPostRequest {
	r.conversationId = &conversationId
	return r
}

func (r ApiChatWithBotApiV1BotsSendPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ChatWithBotApiV1BotsSendPostExecute(r)
}

/*
ChatWithBotApiV1BotsSendPost Send message to bot

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiChatWithBotApiV1BotsSendPostRequest
*/
func (a *BotChatAPIService) ChatWithBotApiV1BotsSendPost(ctx context.Context) ApiChatWithBotApiV1BotsSendPostRequest {
	return ApiChatWithBotApiV1BotsSendPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *BotChatAPIService) ChatWithBotApiV1BotsSendPostExecute(r ApiChatWithBotApiV1BotsSendPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BotChatAPIService.ChatWithBotApiV1BotsSendPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/bots/send"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.botId == nil {
		return localVarReturnValue, nil, reportError("botId is required and must be specified")
	}
	if r.message == nil {
		return localVarReturnValue, nil, reportError("message is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "bot_id", r.botId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "message", r.message, "form", "")
	if r.conversationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "conversation_id", r.conversationId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListConversationsApiV1BotsConversationsGetRequest struct {
	ctx context.Context
	ApiService *BotChatAPIService
	botId *string
	page *int32
	size *int32
}

func (r ApiListConversationsApiV1BotsConversationsGetRequest) BotId(botId string) ApiListConversationsApiV1BotsConversationsGetRequest {
	r.botId = &botId
	return r
}

func (r ApiListConversationsApiV1BotsConversationsGetRequest) Page(page int32) ApiListConversationsApiV1BotsConversationsGetRequest {
	r.page = &page
	return r
}

func (r ApiListConversationsApiV1BotsConversationsGetRequest) Size(size int32) ApiListConversationsApiV1BotsConversationsGetRequest {
	r.size = &size
	return r
}

func (r ApiListConversationsApiV1BotsConversationsGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListConversationsApiV1BotsConversationsGetExecute(r)
}

/*
ListConversationsApiV1BotsConversationsGet List conversations

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListConversationsApiV1BotsConversationsGetRequest
*/
func (a *BotChatAPIService) ListConversationsApiV1BotsConversationsGet(ctx context.Context) ApiListConversationsApiV1BotsConversationsGetRequest {
	return ApiListConversationsApiV1BotsConversationsGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *BotChatAPIService) ListConversationsApiV1BotsConversationsGetExecute(r ApiListConversationsApiV1BotsConversationsGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BotChatAPIService.ListConversationsApiV1BotsConversationsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/bots/conversations"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.botId == nil {
		return localVarReturnValue, nil, reportError("botId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "bot_id", r.botId, "form", "")
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", defaultValue, "form", "")
		r.size = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListMessagesApiV1BotsMessagesPostRequest struct {
	ctx context.Context
	ApiService *BotChatAPIService
	conversationId *string
	botId *string
	page *int32
	size *int32
}

func (r ApiListMessagesApiV1BotsMessagesPostRequest) ConversationId(conversationId string) ApiListMessagesApiV1BotsMessagesPostRequest {
	r.conversationId = &conversationId
	return r
}

func (r ApiListMessagesApiV1BotsMessagesPostRequest) BotId(botId string) ApiListMessagesApiV1BotsMessagesPostRequest {
	r.botId = &botId
	return r
}

func (r ApiListMessagesApiV1BotsMessagesPostRequest) Page(page int32) ApiListMessagesApiV1BotsMessagesPostRequest {
	r.page = &page
	return r
}

func (r ApiListMessagesApiV1BotsMessagesPostRequest) Size(size int32) ApiListMessagesApiV1BotsMessagesPostRequest {
	r.size = &size
	return r
}

func (r ApiListMessagesApiV1BotsMessagesPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListMessagesApiV1BotsMessagesPostExecute(r)
}

/*
ListMessagesApiV1BotsMessagesPost 消息列表

获取指定会话的消息列表。

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListMessagesApiV1BotsMessagesPostRequest
*/
func (a *BotChatAPIService) ListMessagesApiV1BotsMessagesPost(ctx context.Context) ApiListMessagesApiV1BotsMessagesPostRequest {
	return ApiListMessagesApiV1BotsMessagesPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *BotChatAPIService) ListMessagesApiV1BotsMessagesPostExecute(r ApiListMessagesApiV1BotsMessagesPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BotChatAPIService.ListMessagesApiV1BotsMessagesPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/bots/messages"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.conversationId == nil {
		return localVarReturnValue, nil, reportError("conversationId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "conversation_id", r.conversationId, "form", "")
	if r.botId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bot_id", r.botId, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", defaultValue, "form", "")
		r.size = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiMessageFeedbackApiV1BotsMessagesFeedbackPostRequest struct {
	ctx context.Context
	ApiService *BotChatAPIService
	messageId *string
	conversationId *string
	feedbackType *string
	content *string
}

func (r ApiMessageFeedbackApiV1BotsMessagesFeedbackPostRequest) MessageId(messageId string) ApiMessageFeedbackApiV1BotsMessagesFeedbackPostRequest {
	r.messageId = &messageId
	return r
}

func (r ApiMessageFeedbackApiV1BotsMessagesFeedbackPostRequest) ConversationId(conversationId string) ApiMessageFeedbackApiV1BotsMessagesFeedbackPostRequest {
	r.conversationId = &conversationId
	return r
}

// like / dislike
func (r ApiMessageFeedbackApiV1BotsMessagesFeedbackPostRequest) FeedbackType(feedbackType string) ApiMessageFeedbackApiV1BotsMessagesFeedbackPostRequest {
	r.feedbackType = &feedbackType
	return r
}

// 反馈内容
func (r ApiMessageFeedbackApiV1BotsMessagesFeedbackPostRequest) Content(content string) ApiMessageFeedbackApiV1BotsMessagesFeedbackPostRequest {
	r.content = &content
	return r
}

func (r ApiMessageFeedbackApiV1BotsMessagesFeedbackPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.MessageFeedbackApiV1BotsMessagesFeedbackPostExecute(r)
}

/*
MessageFeedbackApiV1BotsMessagesFeedbackPost 消息反馈

对消息进行点赞/踩反馈。

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiMessageFeedbackApiV1BotsMessagesFeedbackPostRequest
*/
func (a *BotChatAPIService) MessageFeedbackApiV1BotsMessagesFeedbackPost(ctx context.Context) ApiMessageFeedbackApiV1BotsMessagesFeedbackPostRequest {
	return ApiMessageFeedbackApiV1BotsMessagesFeedbackPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *BotChatAPIService) MessageFeedbackApiV1BotsMessagesFeedbackPostExecute(r ApiMessageFeedbackApiV1BotsMessagesFeedbackPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BotChatAPIService.MessageFeedbackApiV1BotsMessagesFeedbackPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/bots/messages/feedback"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.messageId == nil {
		return localVarReturnValue, nil, reportError("messageId is required and must be specified")
	}
	if r.conversationId == nil {
		return localVarReturnValue, nil, reportError("conversationId is required and must be specified")
	}
	if r.feedbackType == nil {
		return localVarReturnValue, nil, reportError("feedbackType is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "message_id", r.messageId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "conversation_id", r.conversationId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "feedback_type", r.feedbackType, "form", "")
	if r.content != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "content", r.content, "form", "")
	} else {
		var defaultValue string = ""
		parameterAddToHeaderOrQuery(localVarQueryParams, "content", defaultValue, "form", "")
		r.content = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRetrieveConversationApiV1BotsRetrievePostRequest struct {
	ctx context.Context
	ApiService *BotChatAPIService
	conversationId *string
}

func (r ApiRetrieveConversationApiV1BotsRetrievePostRequest) ConversationId(conversationId string) ApiRetrieveConversationApiV1BotsRetrievePostRequest {
	r.conversationId = &conversationId
	return r
}

func (r ApiRetrieveConversationApiV1BotsRetrievePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.RetrieveConversationApiV1BotsRetrievePostExecute(r)
}

/*
RetrieveConversationApiV1BotsRetrievePost 检索会话

检索指定会话详情。

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRetrieveConversationApiV1BotsRetrievePostRequest
*/
func (a *BotChatAPIService) RetrieveConversationApiV1BotsRetrievePost(ctx context.Context) ApiRetrieveConversationApiV1BotsRetrievePostRequest {
	return ApiRetrieveConversationApiV1BotsRetrievePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *BotChatAPIService) RetrieveConversationApiV1BotsRetrievePostExecute(r ApiRetrieveConversationApiV1BotsRetrievePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BotChatAPIService.RetrieveConversationApiV1BotsRetrievePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/bots/retrieve"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.conversationId == nil {
		return localVarReturnValue, nil, reportError("conversationId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "conversation_id", r.conversationId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
