/*
ZHS Platform

ZHS Platform API - AI Agent Marketplace & Educational Platform

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zhs_api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// WSTimbreAPIService WSTimbreAPI service
type WSTimbreAPIService service

type ApiCreateTimbreApiV1WsTimbreCreatePostRequest struct {
	ctx context.Context
	ApiService *WSTimbreAPIService
	name *string
	voiceId *string
	language *string
	gender *string
	ageRange *string
	style *string
	sampleUrl *string
}

func (r ApiCreateTimbreApiV1WsTimbreCreatePostRequest) Name(name string) ApiCreateTimbreApiV1WsTimbreCreatePostRequest {
	r.name = &name
	return r
}

func (r ApiCreateTimbreApiV1WsTimbreCreatePostRequest) VoiceId(voiceId string) ApiCreateTimbreApiV1WsTimbreCreatePostRequest {
	r.voiceId = &voiceId
	return r
}

func (r ApiCreateTimbreApiV1WsTimbreCreatePostRequest) Language(language string) ApiCreateTimbreApiV1WsTimbreCreatePostRequest {
	r.language = &language
	return r
}

func (r ApiCreateTimbreApiV1WsTimbreCreatePostRequest) Gender(gender string) ApiCreateTimbreApiV1WsTimbreCreatePostRequest {
	r.gender = &gender
	return r
}

func (r ApiCreateTimbreApiV1WsTimbreCreatePostRequest) AgeRange(ageRange string) ApiCreateTimbreApiV1WsTimbreCreatePostRequest {
	r.ageRange = &ageRange
	return r
}

func (r ApiCreateTimbreApiV1WsTimbreCreatePostRequest) Style(style string) ApiCreateTimbreApiV1WsTimbreCreatePostRequest {
	r.style = &style
	return r
}

func (r ApiCreateTimbreApiV1WsTimbreCreatePostRequest) SampleUrl(sampleUrl string) ApiCreateTimbreApiV1WsTimbreCreatePostRequest {
	r.sampleUrl = &sampleUrl
	return r
}

func (r ApiCreateTimbreApiV1WsTimbreCreatePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CreateTimbreApiV1WsTimbreCreatePostExecute(r)
}

/*
CreateTimbreApiV1WsTimbreCreatePost 新增音色

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateTimbreApiV1WsTimbreCreatePostRequest
*/
func (a *WSTimbreAPIService) CreateTimbreApiV1WsTimbreCreatePost(ctx context.Context) ApiCreateTimbreApiV1WsTimbreCreatePostRequest {
	return ApiCreateTimbreApiV1WsTimbreCreatePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *WSTimbreAPIService) CreateTimbreApiV1WsTimbreCreatePostExecute(r ApiCreateTimbreApiV1WsTimbreCreatePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WSTimbreAPIService.CreateTimbreApiV1WsTimbreCreatePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/ws/timbre/create"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.name == nil {
		return localVarReturnValue, nil, reportError("name is required and must be specified")
	}
	if r.voiceId == nil {
		return localVarReturnValue, nil, reportError("voiceId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "voice_id", r.voiceId, "form", "")
	if r.language != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "language", r.language, "form", "")
	} else {
		var defaultValue string = "zh"
		parameterAddToHeaderOrQuery(localVarQueryParams, "language", defaultValue, "form", "")
		r.language = &defaultValue
	}
	if r.gender != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "gender", r.gender, "form", "")
	} else {
		var defaultValue string = "female"
		parameterAddToHeaderOrQuery(localVarQueryParams, "gender", defaultValue, "form", "")
		r.gender = &defaultValue
	}
	if r.ageRange != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "age_range", r.ageRange, "form", "")
	} else {
		var defaultValue string = ""
		parameterAddToHeaderOrQuery(localVarQueryParams, "age_range", defaultValue, "form", "")
		r.ageRange = &defaultValue
	}
	if r.style != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "style", r.style, "form", "")
	} else {
		var defaultValue string = ""
		parameterAddToHeaderOrQuery(localVarQueryParams, "style", defaultValue, "form", "")
		r.style = &defaultValue
	}
	if r.sampleUrl != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sample_url", r.sampleUrl, "form", "")
	} else {
		var defaultValue string = ""
		parameterAddToHeaderOrQuery(localVarQueryParams, "sample_url", defaultValue, "form", "")
		r.sampleUrl = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateTimbreTimbreCreatePostRequest struct {
	ctx context.Context
	ApiService *WSTimbreAPIService
	name *string
	voiceId *string
	language *string
	gender *string
	ageRange *string
	style *string
	sampleUrl *string
}

func (r ApiCreateTimbreTimbreCreatePostRequest) Name(name string) ApiCreateTimbreTimbreCreatePostRequest {
	r.name = &name
	return r
}

func (r ApiCreateTimbreTimbreCreatePostRequest) VoiceId(voiceId string) ApiCreateTimbreTimbreCreatePostRequest {
	r.voiceId = &voiceId
	return r
}

func (r ApiCreateTimbreTimbreCreatePostRequest) Language(language string) ApiCreateTimbreTimbreCreatePostRequest {
	r.language = &language
	return r
}

func (r ApiCreateTimbreTimbreCreatePostRequest) Gender(gender string) ApiCreateTimbreTimbreCreatePostRequest {
	r.gender = &gender
	return r
}

func (r ApiCreateTimbreTimbreCreatePostRequest) AgeRange(ageRange string) ApiCreateTimbreTimbreCreatePostRequest {
	r.ageRange = &ageRange
	return r
}

func (r ApiCreateTimbreTimbreCreatePostRequest) Style(style string) ApiCreateTimbreTimbreCreatePostRequest {
	r.style = &style
	return r
}

func (r ApiCreateTimbreTimbreCreatePostRequest) SampleUrl(sampleUrl string) ApiCreateTimbreTimbreCreatePostRequest {
	r.sampleUrl = &sampleUrl
	return r
}

func (r ApiCreateTimbreTimbreCreatePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CreateTimbreTimbreCreatePostExecute(r)
}

/*
CreateTimbreTimbreCreatePost 新增音色

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateTimbreTimbreCreatePostRequest
*/
func (a *WSTimbreAPIService) CreateTimbreTimbreCreatePost(ctx context.Context) ApiCreateTimbreTimbreCreatePostRequest {
	return ApiCreateTimbreTimbreCreatePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *WSTimbreAPIService) CreateTimbreTimbreCreatePostExecute(r ApiCreateTimbreTimbreCreatePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WSTimbreAPIService.CreateTimbreTimbreCreatePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/timbre/create"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.name == nil {
		return localVarReturnValue, nil, reportError("name is required and must be specified")
	}
	if r.voiceId == nil {
		return localVarReturnValue, nil, reportError("voiceId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "voice_id", r.voiceId, "form", "")
	if r.language != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "language", r.language, "form", "")
	} else {
		var defaultValue string = "zh"
		parameterAddToHeaderOrQuery(localVarQueryParams, "language", defaultValue, "form", "")
		r.language = &defaultValue
	}
	if r.gender != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "gender", r.gender, "form", "")
	} else {
		var defaultValue string = "female"
		parameterAddToHeaderOrQuery(localVarQueryParams, "gender", defaultValue, "form", "")
		r.gender = &defaultValue
	}
	if r.ageRange != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "age_range", r.ageRange, "form", "")
	} else {
		var defaultValue string = ""
		parameterAddToHeaderOrQuery(localVarQueryParams, "age_range", defaultValue, "form", "")
		r.ageRange = &defaultValue
	}
	if r.style != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "style", r.style, "form", "")
	} else {
		var defaultValue string = ""
		parameterAddToHeaderOrQuery(localVarQueryParams, "style", defaultValue, "form", "")
		r.style = &defaultValue
	}
	if r.sampleUrl != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sample_url", r.sampleUrl, "form", "")
	} else {
		var defaultValue string = ""
		parameterAddToHeaderOrQuery(localVarQueryParams, "sample_url", defaultValue, "form", "")
		r.sampleUrl = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteTimbreApiV1WsTimbreDeletePostRequest struct {
	ctx context.Context
	ApiService *WSTimbreAPIService
	timbreId *string
}

func (r ApiDeleteTimbreApiV1WsTimbreDeletePostRequest) TimbreId(timbreId string) ApiDeleteTimbreApiV1WsTimbreDeletePostRequest {
	r.timbreId = &timbreId
	return r
}

func (r ApiDeleteTimbreApiV1WsTimbreDeletePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DeleteTimbreApiV1WsTimbreDeletePostExecute(r)
}

/*
DeleteTimbreApiV1WsTimbreDeletePost 删除音色

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDeleteTimbreApiV1WsTimbreDeletePostRequest
*/
func (a *WSTimbreAPIService) DeleteTimbreApiV1WsTimbreDeletePost(ctx context.Context) ApiDeleteTimbreApiV1WsTimbreDeletePostRequest {
	return ApiDeleteTimbreApiV1WsTimbreDeletePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *WSTimbreAPIService) DeleteTimbreApiV1WsTimbreDeletePostExecute(r ApiDeleteTimbreApiV1WsTimbreDeletePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WSTimbreAPIService.DeleteTimbreApiV1WsTimbreDeletePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/ws/timbre/delete"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.timbreId == nil {
		return localVarReturnValue, nil, reportError("timbreId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "timbre_id", r.timbreId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteTimbreTimbreDeletePostRequest struct {
	ctx context.Context
	ApiService *WSTimbreAPIService
	timbreId *string
}

func (r ApiDeleteTimbreTimbreDeletePostRequest) TimbreId(timbreId string) ApiDeleteTimbreTimbreDeletePostRequest {
	r.timbreId = &timbreId
	return r
}

func (r ApiDeleteTimbreTimbreDeletePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DeleteTimbreTimbreDeletePostExecute(r)
}

/*
DeleteTimbreTimbreDeletePost 删除音色

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDeleteTimbreTimbreDeletePostRequest
*/
func (a *WSTimbreAPIService) DeleteTimbreTimbreDeletePost(ctx context.Context) ApiDeleteTimbreTimbreDeletePostRequest {
	return ApiDeleteTimbreTimbreDeletePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *WSTimbreAPIService) DeleteTimbreTimbreDeletePostExecute(r ApiDeleteTimbreTimbreDeletePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WSTimbreAPIService.DeleteTimbreTimbreDeletePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/timbre/delete"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.timbreId == nil {
		return localVarReturnValue, nil, reportError("timbreId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "timbre_id", r.timbreId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListTimbresApiV1WsTimbreListGetRequest struct {
	ctx context.Context
	ApiService *WSTimbreAPIService
	language *string
	gender *string
	page *int32
	limit *int32
}

func (r ApiListTimbresApiV1WsTimbreListGetRequest) Language(language string) ApiListTimbresApiV1WsTimbreListGetRequest {
	r.language = &language
	return r
}

func (r ApiListTimbresApiV1WsTimbreListGetRequest) Gender(gender string) ApiListTimbresApiV1WsTimbreListGetRequest {
	r.gender = &gender
	return r
}

func (r ApiListTimbresApiV1WsTimbreListGetRequest) Page(page int32) ApiListTimbresApiV1WsTimbreListGetRequest {
	r.page = &page
	return r
}

func (r ApiListTimbresApiV1WsTimbreListGetRequest) Limit(limit int32) ApiListTimbresApiV1WsTimbreListGetRequest {
	r.limit = &limit
	return r
}

func (r ApiListTimbresApiV1WsTimbreListGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListTimbresApiV1WsTimbreListGetExecute(r)
}

/*
ListTimbresApiV1WsTimbreListGet 音色列表

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListTimbresApiV1WsTimbreListGetRequest
*/
func (a *WSTimbreAPIService) ListTimbresApiV1WsTimbreListGet(ctx context.Context) ApiListTimbresApiV1WsTimbreListGetRequest {
	return ApiListTimbresApiV1WsTimbreListGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *WSTimbreAPIService) ListTimbresApiV1WsTimbreListGetExecute(r ApiListTimbresApiV1WsTimbreListGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WSTimbreAPIService.ListTimbresApiV1WsTimbreListGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/ws/timbre/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.language != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "language", r.language, "form", "")
	}
	if r.gender != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "gender", r.gender, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListTimbresTimbreListGetRequest struct {
	ctx context.Context
	ApiService *WSTimbreAPIService
	language *string
	gender *string
	page *int32
	limit *int32
}

func (r ApiListTimbresTimbreListGetRequest) Language(language string) ApiListTimbresTimbreListGetRequest {
	r.language = &language
	return r
}

func (r ApiListTimbresTimbreListGetRequest) Gender(gender string) ApiListTimbresTimbreListGetRequest {
	r.gender = &gender
	return r
}

func (r ApiListTimbresTimbreListGetRequest) Page(page int32) ApiListTimbresTimbreListGetRequest {
	r.page = &page
	return r
}

func (r ApiListTimbresTimbreListGetRequest) Limit(limit int32) ApiListTimbresTimbreListGetRequest {
	r.limit = &limit
	return r
}

func (r ApiListTimbresTimbreListGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListTimbresTimbreListGetExecute(r)
}

/*
ListTimbresTimbreListGet 音色列表

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListTimbresTimbreListGetRequest
*/
func (a *WSTimbreAPIService) ListTimbresTimbreListGet(ctx context.Context) ApiListTimbresTimbreListGetRequest {
	return ApiListTimbresTimbreListGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *WSTimbreAPIService) ListTimbresTimbreListGetExecute(r ApiListTimbresTimbreListGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WSTimbreAPIService.ListTimbresTimbreListGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/timbre/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.language != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "language", r.language, "form", "")
	}
	if r.gender != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "gender", r.gender, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateTimbreApiV1WsTimbreUpdatePostRequest struct {
	ctx context.Context
	ApiService *WSTimbreAPIService
	timbreId *string
	name *string
	sampleUrl *string
	status *int32
}

func (r ApiUpdateTimbreApiV1WsTimbreUpdatePostRequest) TimbreId(timbreId string) ApiUpdateTimbreApiV1WsTimbreUpdatePostRequest {
	r.timbreId = &timbreId
	return r
}

func (r ApiUpdateTimbreApiV1WsTimbreUpdatePostRequest) Name(name string) ApiUpdateTimbreApiV1WsTimbreUpdatePostRequest {
	r.name = &name
	return r
}

func (r ApiUpdateTimbreApiV1WsTimbreUpdatePostRequest) SampleUrl(sampleUrl string) ApiUpdateTimbreApiV1WsTimbreUpdatePostRequest {
	r.sampleUrl = &sampleUrl
	return r
}

func (r ApiUpdateTimbreApiV1WsTimbreUpdatePostRequest) Status(status int32) ApiUpdateTimbreApiV1WsTimbreUpdatePostRequest {
	r.status = &status
	return r
}

func (r ApiUpdateTimbreApiV1WsTimbreUpdatePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.UpdateTimbreApiV1WsTimbreUpdatePostExecute(r)
}

/*
UpdateTimbreApiV1WsTimbreUpdatePost 更新音色

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiUpdateTimbreApiV1WsTimbreUpdatePostRequest
*/
func (a *WSTimbreAPIService) UpdateTimbreApiV1WsTimbreUpdatePost(ctx context.Context) ApiUpdateTimbreApiV1WsTimbreUpdatePostRequest {
	return ApiUpdateTimbreApiV1WsTimbreUpdatePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *WSTimbreAPIService) UpdateTimbreApiV1WsTimbreUpdatePostExecute(r ApiUpdateTimbreApiV1WsTimbreUpdatePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WSTimbreAPIService.UpdateTimbreApiV1WsTimbreUpdatePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/ws/timbre/update"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.timbreId == nil {
		return localVarReturnValue, nil, reportError("timbreId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "timbre_id", r.timbreId, "form", "")
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.sampleUrl != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sample_url", r.sampleUrl, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateTimbreTimbreUpdatePostRequest struct {
	ctx context.Context
	ApiService *WSTimbreAPIService
	timbreId *string
	name *string
	sampleUrl *string
	status *int32
}

func (r ApiUpdateTimbreTimbreUpdatePostRequest) TimbreId(timbreId string) ApiUpdateTimbreTimbreUpdatePostRequest {
	r.timbreId = &timbreId
	return r
}

func (r ApiUpdateTimbreTimbreUpdatePostRequest) Name(name string) ApiUpdateTimbreTimbreUpdatePostRequest {
	r.name = &name
	return r
}

func (r ApiUpdateTimbreTimbreUpdatePostRequest) SampleUrl(sampleUrl string) ApiUpdateTimbreTimbreUpdatePostRequest {
	r.sampleUrl = &sampleUrl
	return r
}

func (r ApiUpdateTimbreTimbreUpdatePostRequest) Status(status int32) ApiUpdateTimbreTimbreUpdatePostRequest {
	r.status = &status
	return r
}

func (r ApiUpdateTimbreTimbreUpdatePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.UpdateTimbreTimbreUpdatePostExecute(r)
}

/*
UpdateTimbreTimbreUpdatePost 更新音色

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiUpdateTimbreTimbreUpdatePostRequest
*/
func (a *WSTimbreAPIService) UpdateTimbreTimbreUpdatePost(ctx context.Context) ApiUpdateTimbreTimbreUpdatePostRequest {
	return ApiUpdateTimbreTimbreUpdatePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *WSTimbreAPIService) UpdateTimbreTimbreUpdatePostExecute(r ApiUpdateTimbreTimbreUpdatePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WSTimbreAPIService.UpdateTimbreTimbreUpdatePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/timbre/update"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.timbreId == nil {
		return localVarReturnValue, nil, reportError("timbreId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "timbre_id", r.timbreId, "form", "")
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.sampleUrl != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sample_url", r.sampleUrl, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
