/*
ZHS Platform

ZHS Platform API - AI Agent Marketplace & Educational Platform

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zhs_api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// PaymentFundAPIService PaymentFundAPI service
type PaymentFundAPIService service

type ApiCreateFundOrderApiV1PaymentsCreateOrderPostRequest struct {
	ctx context.Context
	ApiService *PaymentFundAPIService
	amount *float32
	productId *string
	orderType *int32
}

// 充值金额（元）
func (r ApiCreateFundOrderApiV1PaymentsCreateOrderPostRequest) Amount(amount float32) ApiCreateFundOrderApiV1PaymentsCreateOrderPostRequest {
	r.amount = &amount
	return r
}

func (r ApiCreateFundOrderApiV1PaymentsCreateOrderPostRequest) ProductId(productId string) ApiCreateFundOrderApiV1PaymentsCreateOrderPostRequest {
	r.productId = &productId
	return r
}

func (r ApiCreateFundOrderApiV1PaymentsCreateOrderPostRequest) OrderType(orderType int32) ApiCreateFundOrderApiV1PaymentsCreateOrderPostRequest {
	r.orderType = &orderType
	return r
}

func (r ApiCreateFundOrderApiV1PaymentsCreateOrderPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CreateFundOrderApiV1PaymentsCreateOrderPostExecute(r)
}

/*
CreateFundOrderApiV1PaymentsCreateOrderPost 创建基金充值订单

对应 Java: FundController.createOrder — 创建充值订单并返回支付参数.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateFundOrderApiV1PaymentsCreateOrderPostRequest
*/
func (a *PaymentFundAPIService) CreateFundOrderApiV1PaymentsCreateOrderPost(ctx context.Context) ApiCreateFundOrderApiV1PaymentsCreateOrderPostRequest {
	return ApiCreateFundOrderApiV1PaymentsCreateOrderPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *PaymentFundAPIService) CreateFundOrderApiV1PaymentsCreateOrderPostExecute(r ApiCreateFundOrderApiV1PaymentsCreateOrderPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PaymentFundAPIService.CreateFundOrderApiV1PaymentsCreateOrderPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/payments/createOrder"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.amount == nil {
		return localVarReturnValue, nil, reportError("amount is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "amount", r.amount, "form", "")
	if r.productId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "product_id", r.productId, "form", "")
	}
	if r.orderType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_type", r.orderType, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_type", defaultValue, "form", "")
		r.orderType = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiFundTransferApiV1PaymentsTransferPostRequest struct {
	ctx context.Context
	ApiService *PaymentFundAPIService
	amount *int32
	bankAccount *string
	bankName *string
}

// 转账金额（分）
func (r ApiFundTransferApiV1PaymentsTransferPostRequest) Amount(amount int32) ApiFundTransferApiV1PaymentsTransferPostRequest {
	r.amount = &amount
	return r
}

// 收款账号
func (r ApiFundTransferApiV1PaymentsTransferPostRequest) BankAccount(bankAccount string) ApiFundTransferApiV1PaymentsTransferPostRequest {
	r.bankAccount = &bankAccount
	return r
}

// 收款银行
func (r ApiFundTransferApiV1PaymentsTransferPostRequest) BankName(bankName string) ApiFundTransferApiV1PaymentsTransferPostRequest {
	r.bankName = &bankName
	return r
}

func (r ApiFundTransferApiV1PaymentsTransferPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.FundTransferApiV1PaymentsTransferPostExecute(r)
}

/*
FundTransferApiV1PaymentsTransferPost 银行转账

对应 Java: FundController.transfer — 银行转账（审核后执行）.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiFundTransferApiV1PaymentsTransferPostRequest
*/
func (a *PaymentFundAPIService) FundTransferApiV1PaymentsTransferPost(ctx context.Context) ApiFundTransferApiV1PaymentsTransferPostRequest {
	return ApiFundTransferApiV1PaymentsTransferPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *PaymentFundAPIService) FundTransferApiV1PaymentsTransferPostExecute(r ApiFundTransferApiV1PaymentsTransferPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PaymentFundAPIService.FundTransferApiV1PaymentsTransferPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/payments/transfer"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.amount == nil {
		return localVarReturnValue, nil, reportError("amount is required and must be specified")
	}
	if r.bankAccount == nil {
		return localVarReturnValue, nil, reportError("bankAccount is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "amount", r.amount, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "bank_account", r.bankAccount, "form", "")
	if r.bankName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bank_name", r.bankName, "form", "")
	} else {
		var defaultValue string = ""
		parameterAddToHeaderOrQuery(localVarQueryParams, "bank_name", defaultValue, "form", "")
		r.bankName = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiFundWechatPayApiV1PaymentsWechatPayPostRequest struct {
	ctx context.Context
	ApiService *PaymentFundAPIService
	outTradeNo *string
	totalFee *int32
}

// 订单号
func (r ApiFundWechatPayApiV1PaymentsWechatPayPostRequest) OutTradeNo(outTradeNo string) ApiFundWechatPayApiV1PaymentsWechatPayPostRequest {
	r.outTradeNo = &outTradeNo
	return r
}

// 金额（分）
func (r ApiFundWechatPayApiV1PaymentsWechatPayPostRequest) TotalFee(totalFee int32) ApiFundWechatPayApiV1PaymentsWechatPayPostRequest {
	r.totalFee = &totalFee
	return r
}

func (r ApiFundWechatPayApiV1PaymentsWechatPayPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.FundWechatPayApiV1PaymentsWechatPayPostExecute(r)
}

/*
FundWechatPayApiV1PaymentsWechatPayPost 基金微信支付

对应 Java: FundController.wechatPay — 调用微信支付 JSAPI 下单.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiFundWechatPayApiV1PaymentsWechatPayPostRequest
*/
func (a *PaymentFundAPIService) FundWechatPayApiV1PaymentsWechatPayPost(ctx context.Context) ApiFundWechatPayApiV1PaymentsWechatPayPostRequest {
	return ApiFundWechatPayApiV1PaymentsWechatPayPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *PaymentFundAPIService) FundWechatPayApiV1PaymentsWechatPayPostExecute(r ApiFundWechatPayApiV1PaymentsWechatPayPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PaymentFundAPIService.FundWechatPayApiV1PaymentsWechatPayPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/payments/wechatPay"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.outTradeNo == nil {
		return localVarReturnValue, nil, reportError("outTradeNo is required and must be specified")
	}
	if r.totalFee == nil {
		return localVarReturnValue, nil, reportError("totalFee is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "out_trade_no", r.outTradeNo, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "total_fee", r.totalFee, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiFundWithdrawalApiV1PaymentsWithdrawalPostRequest struct {
	ctx context.Context
	ApiService *PaymentFundAPIService
	amount *int32
}

// 提现金额（分）
func (r ApiFundWithdrawalApiV1PaymentsWithdrawalPostRequest) Amount(amount int32) ApiFundWithdrawalApiV1PaymentsWithdrawalPostRequest {
	r.amount = &amount
	return r
}

func (r ApiFundWithdrawalApiV1PaymentsWithdrawalPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.FundWithdrawalApiV1PaymentsWithdrawalPostExecute(r)
}

/*
FundWithdrawalApiV1PaymentsWithdrawalPost 基金提现

对应 Java: FundController.withdrawal — 申请提现（扣除 2% 手续费）.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiFundWithdrawalApiV1PaymentsWithdrawalPostRequest
*/
func (a *PaymentFundAPIService) FundWithdrawalApiV1PaymentsWithdrawalPost(ctx context.Context) ApiFundWithdrawalApiV1PaymentsWithdrawalPostRequest {
	return ApiFundWithdrawalApiV1PaymentsWithdrawalPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *PaymentFundAPIService) FundWithdrawalApiV1PaymentsWithdrawalPostExecute(r ApiFundWithdrawalApiV1PaymentsWithdrawalPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PaymentFundAPIService.FundWithdrawalApiV1PaymentsWithdrawalPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/payments/withdrawal"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.amount == nil {
		return localVarReturnValue, nil, reportError("amount is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "amount", r.amount, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
