/*
ZHS Platform

ZHS Platform API - AI Agent Marketplace & Educational Platform

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zhs_api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// LLMModelsUnifyAPIService LLMModelsUnifyAPI service
type LLMModelsUnifyAPIService service

type ApiModelsUnifyApiV1LlmModelsUnifyGetRequest struct {
	ctx context.Context
	ApiService *LLMModelsUnifyAPIService
	name *string
	type_ *int32
	isDel *int32
	page *int32
	limit *int32
}

func (r ApiModelsUnifyApiV1LlmModelsUnifyGetRequest) Name(name string) ApiModelsUnifyApiV1LlmModelsUnifyGetRequest {
	r.name = &name
	return r
}

func (r ApiModelsUnifyApiV1LlmModelsUnifyGetRequest) Type_(type_ int32) ApiModelsUnifyApiV1LlmModelsUnifyGetRequest {
	r.type_ = &type_
	return r
}

func (r ApiModelsUnifyApiV1LlmModelsUnifyGetRequest) IsDel(isDel int32) ApiModelsUnifyApiV1LlmModelsUnifyGetRequest {
	r.isDel = &isDel
	return r
}

func (r ApiModelsUnifyApiV1LlmModelsUnifyGetRequest) Page(page int32) ApiModelsUnifyApiV1LlmModelsUnifyGetRequest {
	r.page = &page
	return r
}

func (r ApiModelsUnifyApiV1LlmModelsUnifyGetRequest) Limit(limit int32) ApiModelsUnifyApiV1LlmModelsUnifyGetRequest {
	r.limit = &limit
	return r
}

func (r ApiModelsUnifyApiV1LlmModelsUnifyGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ModelsUnifyApiV1LlmModelsUnifyGetExecute(r)
}

/*
ModelsUnifyApiV1LlmModelsUnifyGet 大模型统一列表 (兼容 ihui-ai-api)

返回前端 AIModelInfo[] 格式，字段映射:
- id, name, source, description, icon, status, sort
- 前端别名: modelCode, displayName, img, remark, type, category, manufacturer

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiModelsUnifyApiV1LlmModelsUnifyGetRequest
*/
func (a *LLMModelsUnifyAPIService) ModelsUnifyApiV1LlmModelsUnifyGet(ctx context.Context) ApiModelsUnifyApiV1LlmModelsUnifyGetRequest {
	return ApiModelsUnifyApiV1LlmModelsUnifyGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *LLMModelsUnifyAPIService) ModelsUnifyApiV1LlmModelsUnifyGetExecute(r ApiModelsUnifyApiV1LlmModelsUnifyGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LLMModelsUnifyAPIService.ModelsUnifyApiV1LlmModelsUnifyGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/llm/models-unify"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	}
	if r.isDel != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_del", r.isDel, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_del", defaultValue, "form", "")
		r.isDel = &defaultValue
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 100
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
