/*
ZHS Platform

ZHS Platform API - AI Agent Marketplace & Educational Platform

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zhs_api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// UserVideoLogAPIService UserVideoLogAPI service
type UserVideoLogAPIService service

type ApiRecordWatchApiV1UserVideoLogRecordPostRequest struct {
	ctx context.Context
	ApiService *UserVideoLogAPIService
	videoId *int32
	duration *int32
	watched *int32
	device *string
	ip *string
	isCompleted *bool
	isFinished *bool
	videoTitle *string
}

func (r ApiRecordWatchApiV1UserVideoLogRecordPostRequest) VideoId(videoId int32) ApiRecordWatchApiV1UserVideoLogRecordPostRequest {
	r.videoId = &videoId
	return r
}

func (r ApiRecordWatchApiV1UserVideoLogRecordPostRequest) Duration(duration int32) ApiRecordWatchApiV1UserVideoLogRecordPostRequest {
	r.duration = &duration
	return r
}

func (r ApiRecordWatchApiV1UserVideoLogRecordPostRequest) Watched(watched int32) ApiRecordWatchApiV1UserVideoLogRecordPostRequest {
	r.watched = &watched
	return r
}

func (r ApiRecordWatchApiV1UserVideoLogRecordPostRequest) Device(device string) ApiRecordWatchApiV1UserVideoLogRecordPostRequest {
	r.device = &device
	return r
}

func (r ApiRecordWatchApiV1UserVideoLogRecordPostRequest) Ip(ip string) ApiRecordWatchApiV1UserVideoLogRecordPostRequest {
	r.ip = &ip
	return r
}

func (r ApiRecordWatchApiV1UserVideoLogRecordPostRequest) IsCompleted(isCompleted bool) ApiRecordWatchApiV1UserVideoLogRecordPostRequest {
	r.isCompleted = &isCompleted
	return r
}

func (r ApiRecordWatchApiV1UserVideoLogRecordPostRequest) IsFinished(isFinished bool) ApiRecordWatchApiV1UserVideoLogRecordPostRequest {
	r.isFinished = &isFinished
	return r
}

func (r ApiRecordWatchApiV1UserVideoLogRecordPostRequest) VideoTitle(videoTitle string) ApiRecordWatchApiV1UserVideoLogRecordPostRequest {
	r.videoTitle = &videoTitle
	return r
}

func (r ApiRecordWatchApiV1UserVideoLogRecordPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.RecordWatchApiV1UserVideoLogRecordPostExecute(r)
}

/*
RecordWatchApiV1UserVideoLogRecordPost 记录视频观看

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRecordWatchApiV1UserVideoLogRecordPostRequest
*/
func (a *UserVideoLogAPIService) RecordWatchApiV1UserVideoLogRecordPost(ctx context.Context) ApiRecordWatchApiV1UserVideoLogRecordPostRequest {
	return ApiRecordWatchApiV1UserVideoLogRecordPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *UserVideoLogAPIService) RecordWatchApiV1UserVideoLogRecordPostExecute(r ApiRecordWatchApiV1UserVideoLogRecordPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserVideoLogAPIService.RecordWatchApiV1UserVideoLogRecordPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/user-video-log/record"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.videoId == nil {
		return localVarReturnValue, nil, reportError("videoId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "video_id", r.videoId, "form", "")
	if r.duration != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "duration", r.duration, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "duration", defaultValue, "form", "")
		r.duration = &defaultValue
	}
	if r.watched != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "watched", r.watched, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "watched", defaultValue, "form", "")
		r.watched = &defaultValue
	}
	if r.device != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "device", r.device, "form", "")
	}
	if r.ip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ip", r.ip, "form", "")
	}
	if r.isCompleted != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_completed", r.isCompleted, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_completed", defaultValue, "form", "")
		r.isCompleted = &defaultValue
	}
	if r.isFinished != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_finished", r.isFinished, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_finished", defaultValue, "form", "")
		r.isFinished = &defaultValue
	}
	if r.videoTitle != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "video_title", r.videoTitle, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRecordWatchApiV1UserVideoLogRecordPost_0Request struct {
	ctx context.Context
	ApiService *UserVideoLogAPIService
	videoId *int32
	duration *int32
	watched *int32
	device *string
	ip *string
	isCompleted *bool
	isFinished *bool
	videoTitle *string
}

func (r ApiRecordWatchApiV1UserVideoLogRecordPost_0Request) VideoId(videoId int32) ApiRecordWatchApiV1UserVideoLogRecordPost_0Request {
	r.videoId = &videoId
	return r
}

func (r ApiRecordWatchApiV1UserVideoLogRecordPost_0Request) Duration(duration int32) ApiRecordWatchApiV1UserVideoLogRecordPost_0Request {
	r.duration = &duration
	return r
}

func (r ApiRecordWatchApiV1UserVideoLogRecordPost_0Request) Watched(watched int32) ApiRecordWatchApiV1UserVideoLogRecordPost_0Request {
	r.watched = &watched
	return r
}

func (r ApiRecordWatchApiV1UserVideoLogRecordPost_0Request) Device(device string) ApiRecordWatchApiV1UserVideoLogRecordPost_0Request {
	r.device = &device
	return r
}

func (r ApiRecordWatchApiV1UserVideoLogRecordPost_0Request) Ip(ip string) ApiRecordWatchApiV1UserVideoLogRecordPost_0Request {
	r.ip = &ip
	return r
}

func (r ApiRecordWatchApiV1UserVideoLogRecordPost_0Request) IsCompleted(isCompleted bool) ApiRecordWatchApiV1UserVideoLogRecordPost_0Request {
	r.isCompleted = &isCompleted
	return r
}

func (r ApiRecordWatchApiV1UserVideoLogRecordPost_0Request) IsFinished(isFinished bool) ApiRecordWatchApiV1UserVideoLogRecordPost_0Request {
	r.isFinished = &isFinished
	return r
}

func (r ApiRecordWatchApiV1UserVideoLogRecordPost_0Request) VideoTitle(videoTitle string) ApiRecordWatchApiV1UserVideoLogRecordPost_0Request {
	r.videoTitle = &videoTitle
	return r
}

func (r ApiRecordWatchApiV1UserVideoLogRecordPost_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.RecordWatchApiV1UserVideoLogRecordPost_1Execute(r)
}

/*
RecordWatchApiV1UserVideoLogRecordPost_0 记录视频观看

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRecordWatchApiV1UserVideoLogRecordPost_0Request
*/
func (a *UserVideoLogAPIService) RecordWatchApiV1UserVideoLogRecordPost_1(ctx context.Context) ApiRecordWatchApiV1UserVideoLogRecordPost_0Request {
	return ApiRecordWatchApiV1UserVideoLogRecordPost_0Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *UserVideoLogAPIService) RecordWatchApiV1UserVideoLogRecordPost_1Execute(r ApiRecordWatchApiV1UserVideoLogRecordPost_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserVideoLogAPIService.RecordWatchApiV1UserVideoLogRecordPost_1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/user-video-log/record"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.videoId == nil {
		return localVarReturnValue, nil, reportError("videoId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "video_id", r.videoId, "form", "")
	if r.duration != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "duration", r.duration, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "duration", defaultValue, "form", "")
		r.duration = &defaultValue
	}
	if r.watched != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "watched", r.watched, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "watched", defaultValue, "form", "")
		r.watched = &defaultValue
	}
	if r.device != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "device", r.device, "form", "")
	}
	if r.ip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ip", r.ip, "form", "")
	}
	if r.isCompleted != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_completed", r.isCompleted, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_completed", defaultValue, "form", "")
		r.isCompleted = &defaultValue
	}
	if r.isFinished != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_finished", r.isFinished, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_finished", defaultValue, "form", "")
		r.isFinished = &defaultValue
	}
	if r.videoTitle != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "video_title", r.videoTitle, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiStatsApiV1UserVideoLogStatsGetRequest struct {
	ctx context.Context
	ApiService *UserVideoLogAPIService
}

func (r ApiStatsApiV1UserVideoLogStatsGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.StatsApiV1UserVideoLogStatsGetExecute(r)
}

/*
StatsApiV1UserVideoLogStatsGet 观看统计

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiStatsApiV1UserVideoLogStatsGetRequest
*/
func (a *UserVideoLogAPIService) StatsApiV1UserVideoLogStatsGet(ctx context.Context) ApiStatsApiV1UserVideoLogStatsGetRequest {
	return ApiStatsApiV1UserVideoLogStatsGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *UserVideoLogAPIService) StatsApiV1UserVideoLogStatsGetExecute(r ApiStatsApiV1UserVideoLogStatsGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserVideoLogAPIService.StatsApiV1UserVideoLogStatsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/user-video-log/stats"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiStatsApiV1UserVideoLogStatsGet_0Request struct {
	ctx context.Context
	ApiService *UserVideoLogAPIService
}

func (r ApiStatsApiV1UserVideoLogStatsGet_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.StatsApiV1UserVideoLogStatsGet_2Execute(r)
}

/*
StatsApiV1UserVideoLogStatsGet_0 观看统计

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiStatsApiV1UserVideoLogStatsGet_0Request
*/
func (a *UserVideoLogAPIService) StatsApiV1UserVideoLogStatsGet_2(ctx context.Context) ApiStatsApiV1UserVideoLogStatsGet_0Request {
	return ApiStatsApiV1UserVideoLogStatsGet_0Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *UserVideoLogAPIService) StatsApiV1UserVideoLogStatsGet_2Execute(r ApiStatsApiV1UserVideoLogStatsGet_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserVideoLogAPIService.StatsApiV1UserVideoLogStatsGet_2")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/user-video-log/stats"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUserVideoLogListRequest struct {
	ctx context.Context
	ApiService *UserVideoLogAPIService
	page *int32
	limit *int32
	videoId *int32
	isFinished *bool
}

func (r ApiUserVideoLogListRequest) Page(page int32) ApiUserVideoLogListRequest {
	r.page = &page
	return r
}

func (r ApiUserVideoLogListRequest) Limit(limit int32) ApiUserVideoLogListRequest {
	r.limit = &limit
	return r
}

func (r ApiUserVideoLogListRequest) VideoId(videoId int32) ApiUserVideoLogListRequest {
	r.videoId = &videoId
	return r
}

func (r ApiUserVideoLogListRequest) IsFinished(isFinished bool) ApiUserVideoLogListRequest {
	r.isFinished = &isFinished
	return r
}

func (r ApiUserVideoLogListRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.UserVideoLogListExecute(r)
}

/*
UserVideoLogList 我的观看记录

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiUserVideoLogListRequest
*/
func (a *UserVideoLogAPIService) UserVideoLogList(ctx context.Context) ApiUserVideoLogListRequest {
	return ApiUserVideoLogListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *UserVideoLogAPIService) UserVideoLogListExecute(r ApiUserVideoLogListRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserVideoLogAPIService.UserVideoLogList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/user-video-log/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.videoId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "video_id", r.videoId, "form", "")
	}
	if r.isFinished != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_finished", r.isFinished, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUserVideoLogList_0Request struct {
	ctx context.Context
	ApiService *UserVideoLogAPIService
	page *int32
	limit *int32
	videoId *int32
	isFinished *bool
}

func (r ApiUserVideoLogList_0Request) Page(page int32) ApiUserVideoLogList_0Request {
	r.page = &page
	return r
}

func (r ApiUserVideoLogList_0Request) Limit(limit int32) ApiUserVideoLogList_0Request {
	r.limit = &limit
	return r
}

func (r ApiUserVideoLogList_0Request) VideoId(videoId int32) ApiUserVideoLogList_0Request {
	r.videoId = &videoId
	return r
}

func (r ApiUserVideoLogList_0Request) IsFinished(isFinished bool) ApiUserVideoLogList_0Request {
	r.isFinished = &isFinished
	return r
}

func (r ApiUserVideoLogList_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.UserVideoLogList_3Execute(r)
}

/*
UserVideoLogList_0 我的观看记录

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiUserVideoLogList_0Request
*/
func (a *UserVideoLogAPIService) UserVideoLogList_3(ctx context.Context) ApiUserVideoLogList_0Request {
	return ApiUserVideoLogList_0Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *UserVideoLogAPIService) UserVideoLogList_3Execute(r ApiUserVideoLogList_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserVideoLogAPIService.UserVideoLogList_3")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/user-video-log/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.videoId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "video_id", r.videoId, "form", "")
	}
	if r.isFinished != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_finished", r.isFinished, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
