/*
ZHS Platform

ZHS Platform API - AI Agent Marketplace & Educational Platform

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zhs_api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// EducationPlatformAPIService EducationPlatformAPI service
type EducationPlatformAPIService service

type ApiCreatePlatformApiV1EducationPlatformPostRequest struct {
	ctx context.Context
	ApiService *EducationPlatformAPIService
	name *string
	code *string
	type_ *string
	apiUrl *string
	apiKey *string
	apiSecret *string
	config *string
	syncUrl *string
	description *string
}

func (r ApiCreatePlatformApiV1EducationPlatformPostRequest) Name(name string) ApiCreatePlatformApiV1EducationPlatformPostRequest {
	r.name = &name
	return r
}

func (r ApiCreatePlatformApiV1EducationPlatformPostRequest) Code(code string) ApiCreatePlatformApiV1EducationPlatformPostRequest {
	r.code = &code
	return r
}

func (r ApiCreatePlatformApiV1EducationPlatformPostRequest) Type_(type_ string) ApiCreatePlatformApiV1EducationPlatformPostRequest {
	r.type_ = &type_
	return r
}

func (r ApiCreatePlatformApiV1EducationPlatformPostRequest) ApiUrl(apiUrl string) ApiCreatePlatformApiV1EducationPlatformPostRequest {
	r.apiUrl = &apiUrl
	return r
}

func (r ApiCreatePlatformApiV1EducationPlatformPostRequest) ApiKey(apiKey string) ApiCreatePlatformApiV1EducationPlatformPostRequest {
	r.apiKey = &apiKey
	return r
}

func (r ApiCreatePlatformApiV1EducationPlatformPostRequest) ApiSecret(apiSecret string) ApiCreatePlatformApiV1EducationPlatformPostRequest {
	r.apiSecret = &apiSecret
	return r
}

func (r ApiCreatePlatformApiV1EducationPlatformPostRequest) Config(config string) ApiCreatePlatformApiV1EducationPlatformPostRequest {
	r.config = &config
	return r
}

func (r ApiCreatePlatformApiV1EducationPlatformPostRequest) SyncUrl(syncUrl string) ApiCreatePlatformApiV1EducationPlatformPostRequest {
	r.syncUrl = &syncUrl
	return r
}

func (r ApiCreatePlatformApiV1EducationPlatformPostRequest) Description(description string) ApiCreatePlatformApiV1EducationPlatformPostRequest {
	r.description = &description
	return r
}

func (r ApiCreatePlatformApiV1EducationPlatformPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CreatePlatformApiV1EducationPlatformPostExecute(r)
}

/*
CreatePlatformApiV1EducationPlatformPost 新增教育平台

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreatePlatformApiV1EducationPlatformPostRequest
*/
func (a *EducationPlatformAPIService) CreatePlatformApiV1EducationPlatformPost(ctx context.Context) ApiCreatePlatformApiV1EducationPlatformPostRequest {
	return ApiCreatePlatformApiV1EducationPlatformPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *EducationPlatformAPIService) CreatePlatformApiV1EducationPlatformPostExecute(r ApiCreatePlatformApiV1EducationPlatformPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EducationPlatformAPIService.CreatePlatformApiV1EducationPlatformPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/education-platform"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.name == nil {
		return localVarReturnValue, nil, reportError("name is required and must be specified")
	}
	if r.code == nil {
		return localVarReturnValue, nil, reportError("code is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "code", r.code, "form", "")
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	} else {
		var defaultValue string = "mooc"
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", defaultValue, "form", "")
		r.type_ = &defaultValue
	}
	if r.apiUrl != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api_url", r.apiUrl, "form", "")
	}
	if r.apiKey != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api_key", r.apiKey, "form", "")
	}
	if r.apiSecret != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api_secret", r.apiSecret, "form", "")
	}
	if r.config != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "config", r.config, "form", "")
	}
	if r.syncUrl != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sync_url", r.syncUrl, "form", "")
	}
	if r.description != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description", r.description, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreatePlatformApiV1EducationPlatformPost_0Request struct {
	ctx context.Context
	ApiService *EducationPlatformAPIService
	name *string
	code *string
	type_ *string
	apiUrl *string
	apiKey *string
	apiSecret *string
	config *string
	syncUrl *string
	description *string
}

func (r ApiCreatePlatformApiV1EducationPlatformPost_0Request) Name(name string) ApiCreatePlatformApiV1EducationPlatformPost_0Request {
	r.name = &name
	return r
}

func (r ApiCreatePlatformApiV1EducationPlatformPost_0Request) Code(code string) ApiCreatePlatformApiV1EducationPlatformPost_0Request {
	r.code = &code
	return r
}

func (r ApiCreatePlatformApiV1EducationPlatformPost_0Request) Type_(type_ string) ApiCreatePlatformApiV1EducationPlatformPost_0Request {
	r.type_ = &type_
	return r
}

func (r ApiCreatePlatformApiV1EducationPlatformPost_0Request) ApiUrl(apiUrl string) ApiCreatePlatformApiV1EducationPlatformPost_0Request {
	r.apiUrl = &apiUrl
	return r
}

func (r ApiCreatePlatformApiV1EducationPlatformPost_0Request) ApiKey(apiKey string) ApiCreatePlatformApiV1EducationPlatformPost_0Request {
	r.apiKey = &apiKey
	return r
}

func (r ApiCreatePlatformApiV1EducationPlatformPost_0Request) ApiSecret(apiSecret string) ApiCreatePlatformApiV1EducationPlatformPost_0Request {
	r.apiSecret = &apiSecret
	return r
}

func (r ApiCreatePlatformApiV1EducationPlatformPost_0Request) Config(config string) ApiCreatePlatformApiV1EducationPlatformPost_0Request {
	r.config = &config
	return r
}

func (r ApiCreatePlatformApiV1EducationPlatformPost_0Request) SyncUrl(syncUrl string) ApiCreatePlatformApiV1EducationPlatformPost_0Request {
	r.syncUrl = &syncUrl
	return r
}

func (r ApiCreatePlatformApiV1EducationPlatformPost_0Request) Description(description string) ApiCreatePlatformApiV1EducationPlatformPost_0Request {
	r.description = &description
	return r
}

func (r ApiCreatePlatformApiV1EducationPlatformPost_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CreatePlatformApiV1EducationPlatformPost_1Execute(r)
}

/*
CreatePlatformApiV1EducationPlatformPost_0 新增教育平台

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreatePlatformApiV1EducationPlatformPost_0Request
*/
func (a *EducationPlatformAPIService) CreatePlatformApiV1EducationPlatformPost_1(ctx context.Context) ApiCreatePlatformApiV1EducationPlatformPost_0Request {
	return ApiCreatePlatformApiV1EducationPlatformPost_0Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *EducationPlatformAPIService) CreatePlatformApiV1EducationPlatformPost_1Execute(r ApiCreatePlatformApiV1EducationPlatformPost_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EducationPlatformAPIService.CreatePlatformApiV1EducationPlatformPost_1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/education-platform"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.name == nil {
		return localVarReturnValue, nil, reportError("name is required and must be specified")
	}
	if r.code == nil {
		return localVarReturnValue, nil, reportError("code is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "code", r.code, "form", "")
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	} else {
		var defaultValue string = "mooc"
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", defaultValue, "form", "")
		r.type_ = &defaultValue
	}
	if r.apiUrl != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api_url", r.apiUrl, "form", "")
	}
	if r.apiKey != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api_key", r.apiKey, "form", "")
	}
	if r.apiSecret != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api_secret", r.apiSecret, "form", "")
	}
	if r.config != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "config", r.config, "form", "")
	}
	if r.syncUrl != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sync_url", r.syncUrl, "form", "")
	}
	if r.description != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description", r.description, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeletePlatformApiV1EducationPlatformPidDeleteRequest struct {
	ctx context.Context
	ApiService *EducationPlatformAPIService
	pid int32
}

func (r ApiDeletePlatformApiV1EducationPlatformPidDeleteRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DeletePlatformApiV1EducationPlatformPidDeleteExecute(r)
}

/*
DeletePlatformApiV1EducationPlatformPidDelete 删除教育平台

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pid
 @return ApiDeletePlatformApiV1EducationPlatformPidDeleteRequest
*/
func (a *EducationPlatformAPIService) DeletePlatformApiV1EducationPlatformPidDelete(ctx context.Context, pid int32) ApiDeletePlatformApiV1EducationPlatformPidDeleteRequest {
	return ApiDeletePlatformApiV1EducationPlatformPidDeleteRequest{
		ApiService: a,
		ctx: ctx,
		pid: pid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *EducationPlatformAPIService) DeletePlatformApiV1EducationPlatformPidDeleteExecute(r ApiDeletePlatformApiV1EducationPlatformPidDeleteRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EducationPlatformAPIService.DeletePlatformApiV1EducationPlatformPidDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/education-platform/{pid}"
	localVarPath = strings.Replace(localVarPath, "{"+"pid"+"}", url.PathEscape(parameterValueToString(r.pid, "pid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeletePlatformApiV1EducationPlatformPidDelete_0Request struct {
	ctx context.Context
	ApiService *EducationPlatformAPIService
	pid int32
}

func (r ApiDeletePlatformApiV1EducationPlatformPidDelete_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DeletePlatformApiV1EducationPlatformPidDelete_2Execute(r)
}

/*
DeletePlatformApiV1EducationPlatformPidDelete_0 删除教育平台

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pid
 @return ApiDeletePlatformApiV1EducationPlatformPidDelete_0Request
*/
func (a *EducationPlatformAPIService) DeletePlatformApiV1EducationPlatformPidDelete_2(ctx context.Context, pid int32) ApiDeletePlatformApiV1EducationPlatformPidDelete_0Request {
	return ApiDeletePlatformApiV1EducationPlatformPidDelete_0Request{
		ApiService: a,
		ctx: ctx,
		pid: pid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *EducationPlatformAPIService) DeletePlatformApiV1EducationPlatformPidDelete_2Execute(r ApiDeletePlatformApiV1EducationPlatformPidDelete_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EducationPlatformAPIService.DeletePlatformApiV1EducationPlatformPidDelete_2")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/education-platform/{pid}"
	localVarPath = strings.Replace(localVarPath, "{"+"pid"+"}", url.PathEscape(parameterValueToString(r.pid, "pid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListPlatformsApiV1EducationPlatformListGetRequest struct {
	ctx context.Context
	ApiService *EducationPlatformAPIService
	status *int32
}

func (r ApiListPlatformsApiV1EducationPlatformListGetRequest) Status(status int32) ApiListPlatformsApiV1EducationPlatformListGetRequest {
	r.status = &status
	return r
}

func (r ApiListPlatformsApiV1EducationPlatformListGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListPlatformsApiV1EducationPlatformListGetExecute(r)
}

/*
ListPlatformsApiV1EducationPlatformListGet 教育平台列表

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListPlatformsApiV1EducationPlatformListGetRequest
*/
func (a *EducationPlatformAPIService) ListPlatformsApiV1EducationPlatformListGet(ctx context.Context) ApiListPlatformsApiV1EducationPlatformListGetRequest {
	return ApiListPlatformsApiV1EducationPlatformListGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *EducationPlatformAPIService) ListPlatformsApiV1EducationPlatformListGetExecute(r ApiListPlatformsApiV1EducationPlatformListGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EducationPlatformAPIService.ListPlatformsApiV1EducationPlatformListGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/education-platform/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListPlatformsApiV1EducationPlatformListGet_0Request struct {
	ctx context.Context
	ApiService *EducationPlatformAPIService
	status *int32
}

func (r ApiListPlatformsApiV1EducationPlatformListGet_0Request) Status(status int32) ApiListPlatformsApiV1EducationPlatformListGet_0Request {
	r.status = &status
	return r
}

func (r ApiListPlatformsApiV1EducationPlatformListGet_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListPlatformsApiV1EducationPlatformListGet_3Execute(r)
}

/*
ListPlatformsApiV1EducationPlatformListGet_0 教育平台列表

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListPlatformsApiV1EducationPlatformListGet_0Request
*/
func (a *EducationPlatformAPIService) ListPlatformsApiV1EducationPlatformListGet_3(ctx context.Context) ApiListPlatformsApiV1EducationPlatformListGet_0Request {
	return ApiListPlatformsApiV1EducationPlatformListGet_0Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *EducationPlatformAPIService) ListPlatformsApiV1EducationPlatformListGet_3Execute(r ApiListPlatformsApiV1EducationPlatformListGet_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EducationPlatformAPIService.ListPlatformsApiV1EducationPlatformListGet_3")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/education-platform/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSyncLogApiV1EducationPlatformSyncLogGetRequest struct {
	ctx context.Context
	ApiService *EducationPlatformAPIService
	page *int32
	limit *int32
	platformCode *string
}

func (r ApiSyncLogApiV1EducationPlatformSyncLogGetRequest) Page(page int32) ApiSyncLogApiV1EducationPlatformSyncLogGetRequest {
	r.page = &page
	return r
}

func (r ApiSyncLogApiV1EducationPlatformSyncLogGetRequest) Limit(limit int32) ApiSyncLogApiV1EducationPlatformSyncLogGetRequest {
	r.limit = &limit
	return r
}

func (r ApiSyncLogApiV1EducationPlatformSyncLogGetRequest) PlatformCode(platformCode string) ApiSyncLogApiV1EducationPlatformSyncLogGetRequest {
	r.platformCode = &platformCode
	return r
}

func (r ApiSyncLogApiV1EducationPlatformSyncLogGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.SyncLogApiV1EducationPlatformSyncLogGetExecute(r)
}

/*
SyncLogApiV1EducationPlatformSyncLogGet 同步日志

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSyncLogApiV1EducationPlatformSyncLogGetRequest
*/
func (a *EducationPlatformAPIService) SyncLogApiV1EducationPlatformSyncLogGet(ctx context.Context) ApiSyncLogApiV1EducationPlatformSyncLogGetRequest {
	return ApiSyncLogApiV1EducationPlatformSyncLogGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *EducationPlatformAPIService) SyncLogApiV1EducationPlatformSyncLogGetExecute(r ApiSyncLogApiV1EducationPlatformSyncLogGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EducationPlatformAPIService.SyncLogApiV1EducationPlatformSyncLogGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/education-platform/sync/log"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.platformCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "platform_code", r.platformCode, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSyncLogApiV1EducationPlatformSyncLogGet_0Request struct {
	ctx context.Context
	ApiService *EducationPlatformAPIService
	page *int32
	limit *int32
	platformCode *string
}

func (r ApiSyncLogApiV1EducationPlatformSyncLogGet_0Request) Page(page int32) ApiSyncLogApiV1EducationPlatformSyncLogGet_0Request {
	r.page = &page
	return r
}

func (r ApiSyncLogApiV1EducationPlatformSyncLogGet_0Request) Limit(limit int32) ApiSyncLogApiV1EducationPlatformSyncLogGet_0Request {
	r.limit = &limit
	return r
}

func (r ApiSyncLogApiV1EducationPlatformSyncLogGet_0Request) PlatformCode(platformCode string) ApiSyncLogApiV1EducationPlatformSyncLogGet_0Request {
	r.platformCode = &platformCode
	return r
}

func (r ApiSyncLogApiV1EducationPlatformSyncLogGet_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.SyncLogApiV1EducationPlatformSyncLogGet_4Execute(r)
}

/*
SyncLogApiV1EducationPlatformSyncLogGet_0 同步日志

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSyncLogApiV1EducationPlatformSyncLogGet_0Request
*/
func (a *EducationPlatformAPIService) SyncLogApiV1EducationPlatformSyncLogGet_4(ctx context.Context) ApiSyncLogApiV1EducationPlatformSyncLogGet_0Request {
	return ApiSyncLogApiV1EducationPlatformSyncLogGet_0Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *EducationPlatformAPIService) SyncLogApiV1EducationPlatformSyncLogGet_4Execute(r ApiSyncLogApiV1EducationPlatformSyncLogGet_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EducationPlatformAPIService.SyncLogApiV1EducationPlatformSyncLogGet_4")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/education-platform/sync/log"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.platformCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "platform_code", r.platformCode, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSyncPlatformApiV1EducationPlatformPidSyncPostRequest struct {
	ctx context.Context
	ApiService *EducationPlatformAPIService
	pid int32
	type_ *string
	syncType *string
}

func (r ApiSyncPlatformApiV1EducationPlatformPidSyncPostRequest) Type_(type_ string) ApiSyncPlatformApiV1EducationPlatformPidSyncPostRequest {
	r.type_ = &type_
	return r
}

func (r ApiSyncPlatformApiV1EducationPlatformPidSyncPostRequest) SyncType(syncType string) ApiSyncPlatformApiV1EducationPlatformPidSyncPostRequest {
	r.syncType = &syncType
	return r
}

func (r ApiSyncPlatformApiV1EducationPlatformPidSyncPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.SyncPlatformApiV1EducationPlatformPidSyncPostExecute(r)
}

/*
SyncPlatformApiV1EducationPlatformPidSyncPost 同步数据

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pid
 @return ApiSyncPlatformApiV1EducationPlatformPidSyncPostRequest
*/
func (a *EducationPlatformAPIService) SyncPlatformApiV1EducationPlatformPidSyncPost(ctx context.Context, pid int32) ApiSyncPlatformApiV1EducationPlatformPidSyncPostRequest {
	return ApiSyncPlatformApiV1EducationPlatformPidSyncPostRequest{
		ApiService: a,
		ctx: ctx,
		pid: pid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *EducationPlatformAPIService) SyncPlatformApiV1EducationPlatformPidSyncPostExecute(r ApiSyncPlatformApiV1EducationPlatformPidSyncPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EducationPlatformAPIService.SyncPlatformApiV1EducationPlatformPidSyncPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/education-platform/{pid}/sync"
	localVarPath = strings.Replace(localVarPath, "{"+"pid"+"}", url.PathEscape(parameterValueToString(r.pid, "pid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	} else {
		var defaultValue string = "course"
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", defaultValue, "form", "")
		r.type_ = &defaultValue
	}
	if r.syncType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sync_type", r.syncType, "form", "")
	} else {
		var defaultValue string = "pull"
		parameterAddToHeaderOrQuery(localVarQueryParams, "sync_type", defaultValue, "form", "")
		r.syncType = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSyncPlatformApiV1EducationPlatformPidSyncPost_0Request struct {
	ctx context.Context
	ApiService *EducationPlatformAPIService
	pid int32
	type_ *string
	syncType *string
}

func (r ApiSyncPlatformApiV1EducationPlatformPidSyncPost_0Request) Type_(type_ string) ApiSyncPlatformApiV1EducationPlatformPidSyncPost_0Request {
	r.type_ = &type_
	return r
}

func (r ApiSyncPlatformApiV1EducationPlatformPidSyncPost_0Request) SyncType(syncType string) ApiSyncPlatformApiV1EducationPlatformPidSyncPost_0Request {
	r.syncType = &syncType
	return r
}

func (r ApiSyncPlatformApiV1EducationPlatformPidSyncPost_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.SyncPlatformApiV1EducationPlatformPidSyncPost_5Execute(r)
}

/*
SyncPlatformApiV1EducationPlatformPidSyncPost_0 同步数据

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pid
 @return ApiSyncPlatformApiV1EducationPlatformPidSyncPost_0Request
*/
func (a *EducationPlatformAPIService) SyncPlatformApiV1EducationPlatformPidSyncPost_5(ctx context.Context, pid int32) ApiSyncPlatformApiV1EducationPlatformPidSyncPost_0Request {
	return ApiSyncPlatformApiV1EducationPlatformPidSyncPost_0Request{
		ApiService: a,
		ctx: ctx,
		pid: pid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *EducationPlatformAPIService) SyncPlatformApiV1EducationPlatformPidSyncPost_5Execute(r ApiSyncPlatformApiV1EducationPlatformPidSyncPost_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EducationPlatformAPIService.SyncPlatformApiV1EducationPlatformPidSyncPost_5")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/education-platform/{pid}/sync"
	localVarPath = strings.Replace(localVarPath, "{"+"pid"+"}", url.PathEscape(parameterValueToString(r.pid, "pid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	} else {
		var defaultValue string = "course"
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", defaultValue, "form", "")
		r.type_ = &defaultValue
	}
	if r.syncType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sync_type", r.syncType, "form", "")
	} else {
		var defaultValue string = "pull"
		parameterAddToHeaderOrQuery(localVarQueryParams, "sync_type", defaultValue, "form", "")
		r.syncType = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdatePlatformApiV1EducationPlatformPidPutRequest struct {
	ctx context.Context
	ApiService *EducationPlatformAPIService
	pid int32
	name *string
	apiUrl *string
	apiKey *string
	apiSecret *string
	status *int32
	config *string
}

func (r ApiUpdatePlatformApiV1EducationPlatformPidPutRequest) Name(name string) ApiUpdatePlatformApiV1EducationPlatformPidPutRequest {
	r.name = &name
	return r
}

func (r ApiUpdatePlatformApiV1EducationPlatformPidPutRequest) ApiUrl(apiUrl string) ApiUpdatePlatformApiV1EducationPlatformPidPutRequest {
	r.apiUrl = &apiUrl
	return r
}

func (r ApiUpdatePlatformApiV1EducationPlatformPidPutRequest) ApiKey(apiKey string) ApiUpdatePlatformApiV1EducationPlatformPidPutRequest {
	r.apiKey = &apiKey
	return r
}

func (r ApiUpdatePlatformApiV1EducationPlatformPidPutRequest) ApiSecret(apiSecret string) ApiUpdatePlatformApiV1EducationPlatformPidPutRequest {
	r.apiSecret = &apiSecret
	return r
}

func (r ApiUpdatePlatformApiV1EducationPlatformPidPutRequest) Status(status int32) ApiUpdatePlatformApiV1EducationPlatformPidPutRequest {
	r.status = &status
	return r
}

func (r ApiUpdatePlatformApiV1EducationPlatformPidPutRequest) Config(config string) ApiUpdatePlatformApiV1EducationPlatformPidPutRequest {
	r.config = &config
	return r
}

func (r ApiUpdatePlatformApiV1EducationPlatformPidPutRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.UpdatePlatformApiV1EducationPlatformPidPutExecute(r)
}

/*
UpdatePlatformApiV1EducationPlatformPidPut 修改教育平台

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pid
 @return ApiUpdatePlatformApiV1EducationPlatformPidPutRequest
*/
func (a *EducationPlatformAPIService) UpdatePlatformApiV1EducationPlatformPidPut(ctx context.Context, pid int32) ApiUpdatePlatformApiV1EducationPlatformPidPutRequest {
	return ApiUpdatePlatformApiV1EducationPlatformPidPutRequest{
		ApiService: a,
		ctx: ctx,
		pid: pid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *EducationPlatformAPIService) UpdatePlatformApiV1EducationPlatformPidPutExecute(r ApiUpdatePlatformApiV1EducationPlatformPidPutRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EducationPlatformAPIService.UpdatePlatformApiV1EducationPlatformPidPut")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/education-platform/{pid}"
	localVarPath = strings.Replace(localVarPath, "{"+"pid"+"}", url.PathEscape(parameterValueToString(r.pid, "pid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.apiUrl != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api_url", r.apiUrl, "form", "")
	}
	if r.apiKey != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api_key", r.apiKey, "form", "")
	}
	if r.apiSecret != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api_secret", r.apiSecret, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.config != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "config", r.config, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdatePlatformApiV1EducationPlatformPidPut_0Request struct {
	ctx context.Context
	ApiService *EducationPlatformAPIService
	pid int32
	name *string
	apiUrl *string
	apiKey *string
	apiSecret *string
	status *int32
	config *string
}

func (r ApiUpdatePlatformApiV1EducationPlatformPidPut_0Request) Name(name string) ApiUpdatePlatformApiV1EducationPlatformPidPut_0Request {
	r.name = &name
	return r
}

func (r ApiUpdatePlatformApiV1EducationPlatformPidPut_0Request) ApiUrl(apiUrl string) ApiUpdatePlatformApiV1EducationPlatformPidPut_0Request {
	r.apiUrl = &apiUrl
	return r
}

func (r ApiUpdatePlatformApiV1EducationPlatformPidPut_0Request) ApiKey(apiKey string) ApiUpdatePlatformApiV1EducationPlatformPidPut_0Request {
	r.apiKey = &apiKey
	return r
}

func (r ApiUpdatePlatformApiV1EducationPlatformPidPut_0Request) ApiSecret(apiSecret string) ApiUpdatePlatformApiV1EducationPlatformPidPut_0Request {
	r.apiSecret = &apiSecret
	return r
}

func (r ApiUpdatePlatformApiV1EducationPlatformPidPut_0Request) Status(status int32) ApiUpdatePlatformApiV1EducationPlatformPidPut_0Request {
	r.status = &status
	return r
}

func (r ApiUpdatePlatformApiV1EducationPlatformPidPut_0Request) Config(config string) ApiUpdatePlatformApiV1EducationPlatformPidPut_0Request {
	r.config = &config
	return r
}

func (r ApiUpdatePlatformApiV1EducationPlatformPidPut_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.UpdatePlatformApiV1EducationPlatformPidPut_6Execute(r)
}

/*
UpdatePlatformApiV1EducationPlatformPidPut_0 修改教育平台

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pid
 @return ApiUpdatePlatformApiV1EducationPlatformPidPut_0Request
*/
func (a *EducationPlatformAPIService) UpdatePlatformApiV1EducationPlatformPidPut_6(ctx context.Context, pid int32) ApiUpdatePlatformApiV1EducationPlatformPidPut_0Request {
	return ApiUpdatePlatformApiV1EducationPlatformPidPut_0Request{
		ApiService: a,
		ctx: ctx,
		pid: pid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *EducationPlatformAPIService) UpdatePlatformApiV1EducationPlatformPidPut_6Execute(r ApiUpdatePlatformApiV1EducationPlatformPidPut_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EducationPlatformAPIService.UpdatePlatformApiV1EducationPlatformPidPut_6")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/education-platform/{pid}"
	localVarPath = strings.Replace(localVarPath, "{"+"pid"+"}", url.PathEscape(parameterValueToString(r.pid, "pid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.apiUrl != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api_url", r.apiUrl, "form", "")
	}
	if r.apiKey != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api_key", r.apiKey, "form", "")
	}
	if r.apiSecret != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api_secret", r.apiSecret, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.config != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "config", r.config, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
