/*
ZHS Platform

ZHS Platform API - AI Agent Marketplace & Educational Platform

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zhs_api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// ContentAPIService ContentAPI service
type ContentAPIService service

type ApiCreateVersionApiV1ContentVersionCreatePostRequest struct {
	ctx context.Context
	ApiService *ContentAPIService
	versionCode *string
	versionName *string
	downloadUrl *string
	description *string
	platform *string
	forceUpdate *int32
}

func (r ApiCreateVersionApiV1ContentVersionCreatePostRequest) VersionCode(versionCode string) ApiCreateVersionApiV1ContentVersionCreatePostRequest {
	r.versionCode = &versionCode
	return r
}

func (r ApiCreateVersionApiV1ContentVersionCreatePostRequest) VersionName(versionName string) ApiCreateVersionApiV1ContentVersionCreatePostRequest {
	r.versionName = &versionName
	return r
}

func (r ApiCreateVersionApiV1ContentVersionCreatePostRequest) DownloadUrl(downloadUrl string) ApiCreateVersionApiV1ContentVersionCreatePostRequest {
	r.downloadUrl = &downloadUrl
	return r
}

func (r ApiCreateVersionApiV1ContentVersionCreatePostRequest) Description(description string) ApiCreateVersionApiV1ContentVersionCreatePostRequest {
	r.description = &description
	return r
}

func (r ApiCreateVersionApiV1ContentVersionCreatePostRequest) Platform(platform string) ApiCreateVersionApiV1ContentVersionCreatePostRequest {
	r.platform = &platform
	return r
}

// 0&#x3D;否 1&#x3D;是
func (r ApiCreateVersionApiV1ContentVersionCreatePostRequest) ForceUpdate(forceUpdate int32) ApiCreateVersionApiV1ContentVersionCreatePostRequest {
	r.forceUpdate = &forceUpdate
	return r
}

func (r ApiCreateVersionApiV1ContentVersionCreatePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CreateVersionApiV1ContentVersionCreatePostExecute(r)
}

/*
CreateVersionApiV1ContentVersionCreatePost 创建 App 版本

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateVersionApiV1ContentVersionCreatePostRequest
*/
func (a *ContentAPIService) CreateVersionApiV1ContentVersionCreatePost(ctx context.Context) ApiCreateVersionApiV1ContentVersionCreatePostRequest {
	return ApiCreateVersionApiV1ContentVersionCreatePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ContentAPIService) CreateVersionApiV1ContentVersionCreatePostExecute(r ApiCreateVersionApiV1ContentVersionCreatePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentAPIService.CreateVersionApiV1ContentVersionCreatePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/content/version/create"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.versionCode == nil {
		return localVarReturnValue, nil, reportError("versionCode is required and must be specified")
	}
	if r.versionName == nil {
		return localVarReturnValue, nil, reportError("versionName is required and must be specified")
	}
	if r.downloadUrl == nil {
		return localVarReturnValue, nil, reportError("downloadUrl is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "version_code", r.versionCode, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "version_name", r.versionName, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "download_url", r.downloadUrl, "form", "")
	if r.description != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description", r.description, "form", "")
	} else {
		var defaultValue string = ""
		parameterAddToHeaderOrQuery(localVarQueryParams, "description", defaultValue, "form", "")
		r.description = &defaultValue
	}
	if r.platform != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "platform", r.platform, "form", "")
	} else {
		var defaultValue string = "android"
		parameterAddToHeaderOrQuery(localVarQueryParams, "platform", defaultValue, "form", "")
		r.platform = &defaultValue
	}
	if r.forceUpdate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "force_update", r.forceUpdate, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "force_update", defaultValue, "form", "")
		r.forceUpdate = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteFeedbackApiV1ContentFeedbackDeleteDeleteRequest struct {
	ctx context.Context
	ApiService *ContentAPIService
	feedbackId *int32
}

func (r ApiDeleteFeedbackApiV1ContentFeedbackDeleteDeleteRequest) FeedbackId(feedbackId int32) ApiDeleteFeedbackApiV1ContentFeedbackDeleteDeleteRequest {
	r.feedbackId = &feedbackId
	return r
}

func (r ApiDeleteFeedbackApiV1ContentFeedbackDeleteDeleteRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DeleteFeedbackApiV1ContentFeedbackDeleteDeleteExecute(r)
}

/*
DeleteFeedbackApiV1ContentFeedbackDeleteDelete 删除反馈

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDeleteFeedbackApiV1ContentFeedbackDeleteDeleteRequest
*/
func (a *ContentAPIService) DeleteFeedbackApiV1ContentFeedbackDeleteDelete(ctx context.Context) ApiDeleteFeedbackApiV1ContentFeedbackDeleteDeleteRequest {
	return ApiDeleteFeedbackApiV1ContentFeedbackDeleteDeleteRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ContentAPIService) DeleteFeedbackApiV1ContentFeedbackDeleteDeleteExecute(r ApiDeleteFeedbackApiV1ContentFeedbackDeleteDeleteRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentAPIService.DeleteFeedbackApiV1ContentFeedbackDeleteDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/content/feedback/delete"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.feedbackId == nil {
		return localVarReturnValue, nil, reportError("feedbackId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "feedback_id", r.feedbackId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteVersionApiV1ContentVersionDeleteDeleteRequest struct {
	ctx context.Context
	ApiService *ContentAPIService
	versionId *int32
}

func (r ApiDeleteVersionApiV1ContentVersionDeleteDeleteRequest) VersionId(versionId int32) ApiDeleteVersionApiV1ContentVersionDeleteDeleteRequest {
	r.versionId = &versionId
	return r
}

func (r ApiDeleteVersionApiV1ContentVersionDeleteDeleteRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DeleteVersionApiV1ContentVersionDeleteDeleteExecute(r)
}

/*
DeleteVersionApiV1ContentVersionDeleteDelete 删除 App 版本

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDeleteVersionApiV1ContentVersionDeleteDeleteRequest
*/
func (a *ContentAPIService) DeleteVersionApiV1ContentVersionDeleteDelete(ctx context.Context) ApiDeleteVersionApiV1ContentVersionDeleteDeleteRequest {
	return ApiDeleteVersionApiV1ContentVersionDeleteDeleteRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ContentAPIService) DeleteVersionApiV1ContentVersionDeleteDeleteExecute(r ApiDeleteVersionApiV1ContentVersionDeleteDeleteRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentAPIService.DeleteVersionApiV1ContentVersionDeleteDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/content/version/delete"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.versionId == nil {
		return localVarReturnValue, nil, reportError("versionId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "version_id", r.versionId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetAboutApiV1ContentAboutGetRequest struct {
	ctx context.Context
	ApiService *ContentAPIService
}

func (r ApiGetAboutApiV1ContentAboutGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetAboutApiV1ContentAboutGetExecute(r)
}

/*
GetAboutApiV1ContentAboutGet Get about us

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetAboutApiV1ContentAboutGetRequest
*/
func (a *ContentAPIService) GetAboutApiV1ContentAboutGet(ctx context.Context) ApiGetAboutApiV1ContentAboutGetRequest {
	return ApiGetAboutApiV1ContentAboutGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ContentAPIService) GetAboutApiV1ContentAboutGetExecute(r ApiGetAboutApiV1ContentAboutGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentAPIService.GetAboutApiV1ContentAboutGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/content/about"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetContactApiV1ContentContactGetRequest struct {
	ctx context.Context
	ApiService *ContentAPIService
}

func (r ApiGetContactApiV1ContentContactGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetContactApiV1ContentContactGetExecute(r)
}

/*
GetContactApiV1ContentContactGet 获取联系信息

Return the active contact-us entry.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetContactApiV1ContentContactGetRequest
*/
func (a *ContentAPIService) GetContactApiV1ContentContactGet(ctx context.Context) ApiGetContactApiV1ContentContactGetRequest {
	return ApiGetContactApiV1ContentContactGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ContentAPIService) GetContactApiV1ContentContactGetExecute(r ApiGetContactApiV1ContentContactGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentAPIService.GetContactApiV1ContentContactGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/content/contact"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetNewsApiV1ContentNewsNewsIdGetRequest struct {
	ctx context.Context
	ApiService *ContentAPIService
	newsId int32
}

func (r ApiGetNewsApiV1ContentNewsNewsIdGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetNewsApiV1ContentNewsNewsIdGetExecute(r)
}

/*
GetNewsApiV1ContentNewsNewsIdGet Get news detail

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param newsId
 @return ApiGetNewsApiV1ContentNewsNewsIdGetRequest
*/
func (a *ContentAPIService) GetNewsApiV1ContentNewsNewsIdGet(ctx context.Context, newsId int32) ApiGetNewsApiV1ContentNewsNewsIdGetRequest {
	return ApiGetNewsApiV1ContentNewsNewsIdGetRequest{
		ApiService: a,
		ctx: ctx,
		newsId: newsId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ContentAPIService) GetNewsApiV1ContentNewsNewsIdGetExecute(r ApiGetNewsApiV1ContentNewsNewsIdGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentAPIService.GetNewsApiV1ContentNewsNewsIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/content/news/{news_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"news_id"+"}", url.PathEscape(parameterValueToString(r.newsId, "newsId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetVersionApiV1ContentVersionGetRequest struct {
	ctx context.Context
	ApiService *ContentAPIService
	platform *string
}

func (r ApiGetVersionApiV1ContentVersionGetRequest) Platform(platform string) ApiGetVersionApiV1ContentVersionGetRequest {
	r.platform = &platform
	return r
}

func (r ApiGetVersionApiV1ContentVersionGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetVersionApiV1ContentVersionGetExecute(r)
}

/*
GetVersionApiV1ContentVersionGet Get latest app version

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetVersionApiV1ContentVersionGetRequest
*/
func (a *ContentAPIService) GetVersionApiV1ContentVersionGet(ctx context.Context) ApiGetVersionApiV1ContentVersionGetRequest {
	return ApiGetVersionApiV1ContentVersionGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ContentAPIService) GetVersionApiV1ContentVersionGetExecute(r ApiGetVersionApiV1ContentVersionGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentAPIService.GetVersionApiV1ContentVersionGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/content/version"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.platform != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "platform", r.platform, "form", "")
	} else {
		var defaultValue string = "android"
		parameterAddToHeaderOrQuery(localVarQueryParams, "platform", defaultValue, "form", "")
		r.platform = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListBannersApiV1ContentBannersGetRequest struct {
	ctx context.Context
	ApiService *ContentAPIService
	position *string
}

func (r ApiListBannersApiV1ContentBannersGetRequest) Position(position string) ApiListBannersApiV1ContentBannersGetRequest {
	r.position = &position
	return r
}

func (r ApiListBannersApiV1ContentBannersGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListBannersApiV1ContentBannersGetExecute(r)
}

/*
ListBannersApiV1ContentBannersGet List banners

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListBannersApiV1ContentBannersGetRequest
*/
func (a *ContentAPIService) ListBannersApiV1ContentBannersGet(ctx context.Context) ApiListBannersApiV1ContentBannersGetRequest {
	return ApiListBannersApiV1ContentBannersGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ContentAPIService) ListBannersApiV1ContentBannersGetExecute(r ApiListBannersApiV1ContentBannersGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentAPIService.ListBannersApiV1ContentBannersGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/content/banners"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.position != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "position", r.position, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListFeedbacksApiV1ContentFeedbackListGetRequest struct {
	ctx context.Context
	ApiService *ContentAPIService
	page *int32
	limit *int32
	status *int32
}

func (r ApiListFeedbacksApiV1ContentFeedbackListGetRequest) Page(page int32) ApiListFeedbacksApiV1ContentFeedbackListGetRequest {
	r.page = &page
	return r
}

func (r ApiListFeedbacksApiV1ContentFeedbackListGetRequest) Limit(limit int32) ApiListFeedbacksApiV1ContentFeedbackListGetRequest {
	r.limit = &limit
	return r
}

// 筛选状态: 0&#x3D;未处理 1&#x3D;已处理
func (r ApiListFeedbacksApiV1ContentFeedbackListGetRequest) Status(status int32) ApiListFeedbacksApiV1ContentFeedbackListGetRequest {
	r.status = &status
	return r
}

func (r ApiListFeedbacksApiV1ContentFeedbackListGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListFeedbacksApiV1ContentFeedbackListGetExecute(r)
}

/*
ListFeedbacksApiV1ContentFeedbackListGet 反馈列表

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListFeedbacksApiV1ContentFeedbackListGetRequest
*/
func (a *ContentAPIService) ListFeedbacksApiV1ContentFeedbackListGet(ctx context.Context) ApiListFeedbacksApiV1ContentFeedbackListGetRequest {
	return ApiListFeedbacksApiV1ContentFeedbackListGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ContentAPIService) ListFeedbacksApiV1ContentFeedbackListGetExecute(r ApiListFeedbacksApiV1ContentFeedbackListGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentAPIService.ListFeedbacksApiV1ContentFeedbackListGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/content/feedback/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListNewsApiV1ContentNewsGetRequest struct {
	ctx context.Context
	ApiService *ContentAPIService
	page *int32
	limit *int32
}

func (r ApiListNewsApiV1ContentNewsGetRequest) Page(page int32) ApiListNewsApiV1ContentNewsGetRequest {
	r.page = &page
	return r
}

func (r ApiListNewsApiV1ContentNewsGetRequest) Limit(limit int32) ApiListNewsApiV1ContentNewsGetRequest {
	r.limit = &limit
	return r
}

func (r ApiListNewsApiV1ContentNewsGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListNewsApiV1ContentNewsGetExecute(r)
}

/*
ListNewsApiV1ContentNewsGet List news

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListNewsApiV1ContentNewsGetRequest
*/
func (a *ContentAPIService) ListNewsApiV1ContentNewsGet(ctx context.Context) ApiListNewsApiV1ContentNewsGetRequest {
	return ApiListNewsApiV1ContentNewsGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ContentAPIService) ListNewsApiV1ContentNewsGetExecute(r ApiListNewsApiV1ContentNewsGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentAPIService.ListNewsApiV1ContentNewsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/content/news"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListVersionsApiV1ContentVersionListGetRequest struct {
	ctx context.Context
	ApiService *ContentAPIService
	page *int32
	limit *int32
	platform *string
}

func (r ApiListVersionsApiV1ContentVersionListGetRequest) Page(page int32) ApiListVersionsApiV1ContentVersionListGetRequest {
	r.page = &page
	return r
}

func (r ApiListVersionsApiV1ContentVersionListGetRequest) Limit(limit int32) ApiListVersionsApiV1ContentVersionListGetRequest {
	r.limit = &limit
	return r
}

func (r ApiListVersionsApiV1ContentVersionListGetRequest) Platform(platform string) ApiListVersionsApiV1ContentVersionListGetRequest {
	r.platform = &platform
	return r
}

func (r ApiListVersionsApiV1ContentVersionListGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListVersionsApiV1ContentVersionListGetExecute(r)
}

/*
ListVersionsApiV1ContentVersionListGet App 版本列表

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListVersionsApiV1ContentVersionListGetRequest
*/
func (a *ContentAPIService) ListVersionsApiV1ContentVersionListGet(ctx context.Context) ApiListVersionsApiV1ContentVersionListGetRequest {
	return ApiListVersionsApiV1ContentVersionListGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ContentAPIService) ListVersionsApiV1ContentVersionListGetExecute(r ApiListVersionsApiV1ContentVersionListGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentAPIService.ListVersionsApiV1ContentVersionListGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/content/version/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.platform != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "platform", r.platform, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSubmitFeedbackApiV1ContentFeedbackPostRequest struct {
	ctx context.Context
	ApiService *ContentAPIService
	content *string
	images *string
	type_ *string
}

func (r ApiSubmitFeedbackApiV1ContentFeedbackPostRequest) Content(content string) ApiSubmitFeedbackApiV1ContentFeedbackPostRequest {
	r.content = &content
	return r
}

func (r ApiSubmitFeedbackApiV1ContentFeedbackPostRequest) Images(images string) ApiSubmitFeedbackApiV1ContentFeedbackPostRequest {
	r.images = &images
	return r
}

func (r ApiSubmitFeedbackApiV1ContentFeedbackPostRequest) Type_(type_ string) ApiSubmitFeedbackApiV1ContentFeedbackPostRequest {
	r.type_ = &type_
	return r
}

func (r ApiSubmitFeedbackApiV1ContentFeedbackPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.SubmitFeedbackApiV1ContentFeedbackPostExecute(r)
}

/*
SubmitFeedbackApiV1ContentFeedbackPost Submit feedback

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSubmitFeedbackApiV1ContentFeedbackPostRequest
*/
func (a *ContentAPIService) SubmitFeedbackApiV1ContentFeedbackPost(ctx context.Context) ApiSubmitFeedbackApiV1ContentFeedbackPostRequest {
	return ApiSubmitFeedbackApiV1ContentFeedbackPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ContentAPIService) SubmitFeedbackApiV1ContentFeedbackPostExecute(r ApiSubmitFeedbackApiV1ContentFeedbackPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentAPIService.SubmitFeedbackApiV1ContentFeedbackPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/content/feedback"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.content == nil {
		return localVarReturnValue, nil, reportError("content is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "content", r.content, "form", "")
	if r.images != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "images", r.images, "form", "")
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateFeedbackApiV1ContentFeedbackUpdatePutRequest struct {
	ctx context.Context
	ApiService *ContentAPIService
	feedbackId *int32
	status *int32
	reply *string
}

func (r ApiUpdateFeedbackApiV1ContentFeedbackUpdatePutRequest) FeedbackId(feedbackId int32) ApiUpdateFeedbackApiV1ContentFeedbackUpdatePutRequest {
	r.feedbackId = &feedbackId
	return r
}

func (r ApiUpdateFeedbackApiV1ContentFeedbackUpdatePutRequest) Status(status int32) ApiUpdateFeedbackApiV1ContentFeedbackUpdatePutRequest {
	r.status = &status
	return r
}

func (r ApiUpdateFeedbackApiV1ContentFeedbackUpdatePutRequest) Reply(reply string) ApiUpdateFeedbackApiV1ContentFeedbackUpdatePutRequest {
	r.reply = &reply
	return r
}

func (r ApiUpdateFeedbackApiV1ContentFeedbackUpdatePutRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.UpdateFeedbackApiV1ContentFeedbackUpdatePutExecute(r)
}

/*
UpdateFeedbackApiV1ContentFeedbackUpdatePut 更新/回复反馈

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiUpdateFeedbackApiV1ContentFeedbackUpdatePutRequest
*/
func (a *ContentAPIService) UpdateFeedbackApiV1ContentFeedbackUpdatePut(ctx context.Context) ApiUpdateFeedbackApiV1ContentFeedbackUpdatePutRequest {
	return ApiUpdateFeedbackApiV1ContentFeedbackUpdatePutRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ContentAPIService) UpdateFeedbackApiV1ContentFeedbackUpdatePutExecute(r ApiUpdateFeedbackApiV1ContentFeedbackUpdatePutRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentAPIService.UpdateFeedbackApiV1ContentFeedbackUpdatePut")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/content/feedback/update"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.feedbackId == nil {
		return localVarReturnValue, nil, reportError("feedbackId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "feedback_id", r.feedbackId, "form", "")
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.reply != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "reply", r.reply, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateVersionApiV1ContentVersionUpdatePutRequest struct {
	ctx context.Context
	ApiService *ContentAPIService
	versionId *int32
	versionCode *string
	versionName *string
	downloadUrl *string
	description *string
	platform *string
	forceUpdate *int32
	status *int32
}

func (r ApiUpdateVersionApiV1ContentVersionUpdatePutRequest) VersionId(versionId int32) ApiUpdateVersionApiV1ContentVersionUpdatePutRequest {
	r.versionId = &versionId
	return r
}

func (r ApiUpdateVersionApiV1ContentVersionUpdatePutRequest) VersionCode(versionCode string) ApiUpdateVersionApiV1ContentVersionUpdatePutRequest {
	r.versionCode = &versionCode
	return r
}

func (r ApiUpdateVersionApiV1ContentVersionUpdatePutRequest) VersionName(versionName string) ApiUpdateVersionApiV1ContentVersionUpdatePutRequest {
	r.versionName = &versionName
	return r
}

func (r ApiUpdateVersionApiV1ContentVersionUpdatePutRequest) DownloadUrl(downloadUrl string) ApiUpdateVersionApiV1ContentVersionUpdatePutRequest {
	r.downloadUrl = &downloadUrl
	return r
}

func (r ApiUpdateVersionApiV1ContentVersionUpdatePutRequest) Description(description string) ApiUpdateVersionApiV1ContentVersionUpdatePutRequest {
	r.description = &description
	return r
}

func (r ApiUpdateVersionApiV1ContentVersionUpdatePutRequest) Platform(platform string) ApiUpdateVersionApiV1ContentVersionUpdatePutRequest {
	r.platform = &platform
	return r
}

func (r ApiUpdateVersionApiV1ContentVersionUpdatePutRequest) ForceUpdate(forceUpdate int32) ApiUpdateVersionApiV1ContentVersionUpdatePutRequest {
	r.forceUpdate = &forceUpdate
	return r
}

func (r ApiUpdateVersionApiV1ContentVersionUpdatePutRequest) Status(status int32) ApiUpdateVersionApiV1ContentVersionUpdatePutRequest {
	r.status = &status
	return r
}

func (r ApiUpdateVersionApiV1ContentVersionUpdatePutRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.UpdateVersionApiV1ContentVersionUpdatePutExecute(r)
}

/*
UpdateVersionApiV1ContentVersionUpdatePut 更新 App 版本

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiUpdateVersionApiV1ContentVersionUpdatePutRequest
*/
func (a *ContentAPIService) UpdateVersionApiV1ContentVersionUpdatePut(ctx context.Context) ApiUpdateVersionApiV1ContentVersionUpdatePutRequest {
	return ApiUpdateVersionApiV1ContentVersionUpdatePutRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ContentAPIService) UpdateVersionApiV1ContentVersionUpdatePutExecute(r ApiUpdateVersionApiV1ContentVersionUpdatePutRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentAPIService.UpdateVersionApiV1ContentVersionUpdatePut")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/content/version/update"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.versionId == nil {
		return localVarReturnValue, nil, reportError("versionId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "version_id", r.versionId, "form", "")
	if r.versionCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "version_code", r.versionCode, "form", "")
	}
	if r.versionName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "version_name", r.versionName, "form", "")
	}
	if r.downloadUrl != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "download_url", r.downloadUrl, "form", "")
	}
	if r.description != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description", r.description, "form", "")
	}
	if r.platform != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "platform", r.platform, "form", "")
	}
	if r.forceUpdate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "force_update", r.forceUpdate, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
