/*
ZHS Platform

ZHS Platform API - AI Agent Marketplace & Educational Platform

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zhs_api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"os"
)


// AIDoubaoAPIService AIDoubaoAPI service
type AIDoubaoAPIService service

type ApiDoubaoChatApiV1AiDoubaoChatPostRequest struct {
	ctx context.Context
	ApiService *AIDoubaoAPIService
	message *string
	model *string
}

func (r ApiDoubaoChatApiV1AiDoubaoChatPostRequest) Message(message string) ApiDoubaoChatApiV1AiDoubaoChatPostRequest {
	r.message = &message
	return r
}

func (r ApiDoubaoChatApiV1AiDoubaoChatPostRequest) Model(model string) ApiDoubaoChatApiV1AiDoubaoChatPostRequest {
	r.model = &model
	return r
}

func (r ApiDoubaoChatApiV1AiDoubaoChatPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DoubaoChatApiV1AiDoubaoChatPostExecute(r)
}

/*
DoubaoChatApiV1AiDoubaoChatPost Doubao chat completion

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDoubaoChatApiV1AiDoubaoChatPostRequest
*/
func (a *AIDoubaoAPIService) DoubaoChatApiV1AiDoubaoChatPost(ctx context.Context) ApiDoubaoChatApiV1AiDoubaoChatPostRequest {
	return ApiDoubaoChatApiV1AiDoubaoChatPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AIDoubaoAPIService) DoubaoChatApiV1AiDoubaoChatPostExecute(r ApiDoubaoChatApiV1AiDoubaoChatPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AIDoubaoAPIService.DoubaoChatApiV1AiDoubaoChatPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/ai/doubao/chat"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.message == nil {
		return localVarReturnValue, nil, reportError("message is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "message", r.message, "form", "")
	if r.model != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "model", r.model, "form", "")
	} else {
		var defaultValue string = "doubao-pro-32k"
		parameterAddToHeaderOrQuery(localVarQueryParams, "model", defaultValue, "form", "")
		r.model = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDoubaoImageEditApiV1AiDoubaoImageEditPostRequest struct {
	ctx context.Context
	ApiService *AIDoubaoAPIService
	prompt *string
	image *os.File
	mask *os.File
	model *string
	size *string
	n *int32
	strength *float32
	responseFormat *string
}

// 编辑指令 prompt
func (r ApiDoubaoImageEditApiV1AiDoubaoImageEditPostRequest) Prompt(prompt string) ApiDoubaoImageEditApiV1AiDoubaoImageEditPostRequest {
	r.prompt = &prompt
	return r
}

// 待编辑的原始图片
func (r ApiDoubaoImageEditApiV1AiDoubaoImageEditPostRequest) Image(image *os.File) ApiDoubaoImageEditApiV1AiDoubaoImageEditPostRequest {
	r.image = image
	return r
}

// 遮罩图片（可选），标记需要编辑的区域
func (r ApiDoubaoImageEditApiV1AiDoubaoImageEditPostRequest) Mask(mask *os.File) ApiDoubaoImageEditApiV1AiDoubaoImageEditPostRequest {
	r.mask = mask
	return r
}

// 图片编辑模型名称
func (r ApiDoubaoImageEditApiV1AiDoubaoImageEditPostRequest) Model(model string) ApiDoubaoImageEditApiV1AiDoubaoImageEditPostRequest {
	r.model = &model
	return r
}

// 输出图片尺寸
func (r ApiDoubaoImageEditApiV1AiDoubaoImageEditPostRequest) Size(size string) ApiDoubaoImageEditApiV1AiDoubaoImageEditPostRequest {
	r.size = &size
	return r
}

// 生成数量
func (r ApiDoubaoImageEditApiV1AiDoubaoImageEditPostRequest) N(n int32) ApiDoubaoImageEditApiV1AiDoubaoImageEditPostRequest {
	r.n = &n
	return r
}

// 编辑强度，0-1
func (r ApiDoubaoImageEditApiV1AiDoubaoImageEditPostRequest) Strength(strength float32) ApiDoubaoImageEditApiV1AiDoubaoImageEditPostRequest {
	r.strength = &strength
	return r
}

// 返回格式: url / b64_json
func (r ApiDoubaoImageEditApiV1AiDoubaoImageEditPostRequest) ResponseFormat(responseFormat string) ApiDoubaoImageEditApiV1AiDoubaoImageEditPostRequest {
	r.responseFormat = &responseFormat
	return r
}

func (r ApiDoubaoImageEditApiV1AiDoubaoImageEditPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DoubaoImageEditApiV1AiDoubaoImageEditPostExecute(r)
}

/*
DoubaoImageEditApiV1AiDoubaoImageEditPost 豆包图片编辑

调用豆包图片编辑 API（/v3/images/edits）。

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDoubaoImageEditApiV1AiDoubaoImageEditPostRequest
*/
func (a *AIDoubaoAPIService) DoubaoImageEditApiV1AiDoubaoImageEditPost(ctx context.Context) ApiDoubaoImageEditApiV1AiDoubaoImageEditPostRequest {
	return ApiDoubaoImageEditApiV1AiDoubaoImageEditPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AIDoubaoAPIService) DoubaoImageEditApiV1AiDoubaoImageEditPostExecute(r ApiDoubaoImageEditApiV1AiDoubaoImageEditPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AIDoubaoAPIService.DoubaoImageEditApiV1AiDoubaoImageEditPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/ai/doubao/image/edit"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.prompt == nil {
		return localVarReturnValue, nil, reportError("prompt is required and must be specified")
	}
	if r.image == nil {
		return localVarReturnValue, nil, reportError("image is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "prompt", r.prompt, "", "")
	var imageLocalVarFormFileName string
	var imageLocalVarFileName     string
	var imageLocalVarFileBytes    []byte

	imageLocalVarFormFileName = "image"
	imageLocalVarFile := r.image

	if imageLocalVarFile != nil {
		fbs, _ := io.ReadAll(imageLocalVarFile)

		imageLocalVarFileBytes = fbs
		imageLocalVarFileName = imageLocalVarFile.Name()
		imageLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: imageLocalVarFileBytes, fileName: imageLocalVarFileName, formFileName: imageLocalVarFormFileName})
	}
	var maskLocalVarFormFileName string
	var maskLocalVarFileName     string
	var maskLocalVarFileBytes    []byte

	maskLocalVarFormFileName = "mask"
	maskLocalVarFile := r.mask

	if maskLocalVarFile != nil {
		fbs, _ := io.ReadAll(maskLocalVarFile)

		maskLocalVarFileBytes = fbs
		maskLocalVarFileName = maskLocalVarFile.Name()
		maskLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: maskLocalVarFileBytes, fileName: maskLocalVarFileName, formFileName: maskLocalVarFormFileName})
	}
	if r.model != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "model", r.model, "", "")
	}
	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "size", r.size, "", "")
	}
	if r.n != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "n", r.n, "", "")
	}
	if r.strength != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "strength", r.strength, "", "")
	}
	if r.responseFormat != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "response_format", r.responseFormat, "", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDoubaoImageGenerateApiV1AiDoubaoImageGeneratePostRequest struct {
	ctx context.Context
	ApiService *AIDoubaoAPIService
	doubaoImageRequest *DoubaoImageRequest
}

func (r ApiDoubaoImageGenerateApiV1AiDoubaoImageGeneratePostRequest) DoubaoImageRequest(doubaoImageRequest DoubaoImageRequest) ApiDoubaoImageGenerateApiV1AiDoubaoImageGeneratePostRequest {
	r.doubaoImageRequest = &doubaoImageRequest
	return r
}

func (r ApiDoubaoImageGenerateApiV1AiDoubaoImageGeneratePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DoubaoImageGenerateApiV1AiDoubaoImageGeneratePostExecute(r)
}

/*
DoubaoImageGenerateApiV1AiDoubaoImageGeneratePost 豆包图片生成 (即梦 jimeng_t2i_v40)

Submit a JiMeng text-to-image task via Volcengine CVSync2Async API,
poll until complete, persist the image, deduct tokens, and return the URL.

Uses Volcengine V4 HMAC signing with DOUBAO_JM_API_KEY / DOUBAO_JM_SECRET_KEY.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDoubaoImageGenerateApiV1AiDoubaoImageGeneratePostRequest
*/
func (a *AIDoubaoAPIService) DoubaoImageGenerateApiV1AiDoubaoImageGeneratePost(ctx context.Context) ApiDoubaoImageGenerateApiV1AiDoubaoImageGeneratePostRequest {
	return ApiDoubaoImageGenerateApiV1AiDoubaoImageGeneratePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AIDoubaoAPIService) DoubaoImageGenerateApiV1AiDoubaoImageGeneratePostExecute(r ApiDoubaoImageGenerateApiV1AiDoubaoImageGeneratePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AIDoubaoAPIService.DoubaoImageGenerateApiV1AiDoubaoImageGeneratePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/ai/doubao/image/generate"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.doubaoImageRequest == nil {
		return localVarReturnValue, nil, reportError("doubaoImageRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.doubaoImageRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDoubaoSeedreamApiV1AiDoubaoImageSeedreamPostRequest struct {
	ctx context.Context
	ApiService *AIDoubaoAPIService
	seedreamImageRequest *SeedreamImageRequest
}

func (r ApiDoubaoSeedreamApiV1AiDoubaoImageSeedreamPostRequest) SeedreamImageRequest(seedreamImageRequest SeedreamImageRequest) ApiDoubaoSeedreamApiV1AiDoubaoImageSeedreamPostRequest {
	r.seedreamImageRequest = &seedreamImageRequest
	return r
}

func (r ApiDoubaoSeedreamApiV1AiDoubaoImageSeedreamPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DoubaoSeedreamApiV1AiDoubaoImageSeedreamPostExecute(r)
}

/*
DoubaoSeedreamApiV1AiDoubaoImageSeedreamPost Seedream 图片生成

Call Doubao Seedream model for image generation via /v3/images/generations
with Bearer token auth.  Mirrors the original doubao_image_proxy.py
/doubao-seedream-generation endpoint.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDoubaoSeedreamApiV1AiDoubaoImageSeedreamPostRequest
*/
func (a *AIDoubaoAPIService) DoubaoSeedreamApiV1AiDoubaoImageSeedreamPost(ctx context.Context) ApiDoubaoSeedreamApiV1AiDoubaoImageSeedreamPostRequest {
	return ApiDoubaoSeedreamApiV1AiDoubaoImageSeedreamPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AIDoubaoAPIService) DoubaoSeedreamApiV1AiDoubaoImageSeedreamPostExecute(r ApiDoubaoSeedreamApiV1AiDoubaoImageSeedreamPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AIDoubaoAPIService.DoubaoSeedreamApiV1AiDoubaoImageSeedreamPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/ai/doubao/image/seedream"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.seedreamImageRequest == nil {
		return localVarReturnValue, nil, reportError("seedreamImageRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.seedreamImageRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDoubaoStreamApiV1AiDoubaoChatStreamPostRequest struct {
	ctx context.Context
	ApiService *AIDoubaoAPIService
	message *string
	model *string
}

func (r ApiDoubaoStreamApiV1AiDoubaoChatStreamPostRequest) Message(message string) ApiDoubaoStreamApiV1AiDoubaoChatStreamPostRequest {
	r.message = &message
	return r
}

func (r ApiDoubaoStreamApiV1AiDoubaoChatStreamPostRequest) Model(model string) ApiDoubaoStreamApiV1AiDoubaoChatStreamPostRequest {
	r.model = &model
	return r
}

func (r ApiDoubaoStreamApiV1AiDoubaoChatStreamPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DoubaoStreamApiV1AiDoubaoChatStreamPostExecute(r)
}

/*
DoubaoStreamApiV1AiDoubaoChatStreamPost Doubao streaming chat

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDoubaoStreamApiV1AiDoubaoChatStreamPostRequest
*/
func (a *AIDoubaoAPIService) DoubaoStreamApiV1AiDoubaoChatStreamPost(ctx context.Context) ApiDoubaoStreamApiV1AiDoubaoChatStreamPostRequest {
	return ApiDoubaoStreamApiV1AiDoubaoChatStreamPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AIDoubaoAPIService) DoubaoStreamApiV1AiDoubaoChatStreamPostExecute(r ApiDoubaoStreamApiV1AiDoubaoChatStreamPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AIDoubaoAPIService.DoubaoStreamApiV1AiDoubaoChatStreamPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/ai/doubao/chat/stream"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.message == nil {
		return localVarReturnValue, nil, reportError("message is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "message", r.message, "form", "")
	if r.model != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "model", r.model, "form", "")
	} else {
		var defaultValue string = "doubao-pro-32k"
		parameterAddToHeaderOrQuery(localVarQueryParams, "model", defaultValue, "form", "")
		r.model = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDoubaoVideoGenerateApiV1AiDoubaoVideoGeneratePostRequest struct {
	ctx context.Context
	ApiService *AIDoubaoAPIService
	videoGenerateRequest *VideoGenerateRequest
}

func (r ApiDoubaoVideoGenerateApiV1AiDoubaoVideoGeneratePostRequest) VideoGenerateRequest(videoGenerateRequest VideoGenerateRequest) ApiDoubaoVideoGenerateApiV1AiDoubaoVideoGeneratePostRequest {
	r.videoGenerateRequest = &videoGenerateRequest
	return r
}

func (r ApiDoubaoVideoGenerateApiV1AiDoubaoVideoGeneratePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DoubaoVideoGenerateApiV1AiDoubaoVideoGeneratePostExecute(r)
}

/*
DoubaoVideoGenerateApiV1AiDoubaoVideoGeneratePost 豆包视频生成 (Seedance, async)

Submit a Doubao Seedance video-generation task, poll until complete,
persist the resulting video, deduct tokens, and return the video URL.

Mirrors the original doubao_video_proxy.py /video-generation endpoint.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDoubaoVideoGenerateApiV1AiDoubaoVideoGeneratePostRequest
*/
func (a *AIDoubaoAPIService) DoubaoVideoGenerateApiV1AiDoubaoVideoGeneratePost(ctx context.Context) ApiDoubaoVideoGenerateApiV1AiDoubaoVideoGeneratePostRequest {
	return ApiDoubaoVideoGenerateApiV1AiDoubaoVideoGeneratePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AIDoubaoAPIService) DoubaoVideoGenerateApiV1AiDoubaoVideoGeneratePostExecute(r ApiDoubaoVideoGenerateApiV1AiDoubaoVideoGeneratePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AIDoubaoAPIService.DoubaoVideoGenerateApiV1AiDoubaoVideoGeneratePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/ai/doubao/video/generate"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.videoGenerateRequest == nil {
		return localVarReturnValue, nil, reportError("videoGenerateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.videoGenerateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
