/*
ZHS Platform

ZHS Platform API - AI Agent Marketplace & Educational Platform

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zhs_api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// OrganizationAPIService OrganizationAPI service
type OrganizationAPIService service

type ApiAddMemberApiV1OrganizationOidMemberPostRequest struct {
	ctx context.Context
	ApiService *OrganizationAPIService
	oid int32
	userId *string
	role *string
	position *string
}

func (r ApiAddMemberApiV1OrganizationOidMemberPostRequest) UserId(userId string) ApiAddMemberApiV1OrganizationOidMemberPostRequest {
	r.userId = &userId
	return r
}

func (r ApiAddMemberApiV1OrganizationOidMemberPostRequest) Role(role string) ApiAddMemberApiV1OrganizationOidMemberPostRequest {
	r.role = &role
	return r
}

func (r ApiAddMemberApiV1OrganizationOidMemberPostRequest) Position(position string) ApiAddMemberApiV1OrganizationOidMemberPostRequest {
	r.position = &position
	return r
}

func (r ApiAddMemberApiV1OrganizationOidMemberPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.AddMemberApiV1OrganizationOidMemberPostExecute(r)
}

/*
AddMemberApiV1OrganizationOidMemberPost 添加成员

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param oid
 @return ApiAddMemberApiV1OrganizationOidMemberPostRequest
*/
func (a *OrganizationAPIService) AddMemberApiV1OrganizationOidMemberPost(ctx context.Context, oid int32) ApiAddMemberApiV1OrganizationOidMemberPostRequest {
	return ApiAddMemberApiV1OrganizationOidMemberPostRequest{
		ApiService: a,
		ctx: ctx,
		oid: oid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *OrganizationAPIService) AddMemberApiV1OrganizationOidMemberPostExecute(r ApiAddMemberApiV1OrganizationOidMemberPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrganizationAPIService.AddMemberApiV1OrganizationOidMemberPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organization/{oid}/member"
	localVarPath = strings.Replace(localVarPath, "{"+"oid"+"}", url.PathEscape(parameterValueToString(r.oid, "oid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.userId == nil {
		return localVarReturnValue, nil, reportError("userId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", r.userId, "form", "")
	if r.role != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "role", r.role, "form", "")
	} else {
		var defaultValue string = "member"
		parameterAddToHeaderOrQuery(localVarQueryParams, "role", defaultValue, "form", "")
		r.role = &defaultValue
	}
	if r.position != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "position", r.position, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAddMemberApiV1OrganizationOidMemberPost_0Request struct {
	ctx context.Context
	ApiService *OrganizationAPIService
	oid int32
	userId *string
	role *string
	position *string
}

func (r ApiAddMemberApiV1OrganizationOidMemberPost_0Request) UserId(userId string) ApiAddMemberApiV1OrganizationOidMemberPost_0Request {
	r.userId = &userId
	return r
}

func (r ApiAddMemberApiV1OrganizationOidMemberPost_0Request) Role(role string) ApiAddMemberApiV1OrganizationOidMemberPost_0Request {
	r.role = &role
	return r
}

func (r ApiAddMemberApiV1OrganizationOidMemberPost_0Request) Position(position string) ApiAddMemberApiV1OrganizationOidMemberPost_0Request {
	r.position = &position
	return r
}

func (r ApiAddMemberApiV1OrganizationOidMemberPost_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.AddMemberApiV1OrganizationOidMemberPost_1Execute(r)
}

/*
AddMemberApiV1OrganizationOidMemberPost_0 添加成员

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param oid
 @return ApiAddMemberApiV1OrganizationOidMemberPost_0Request
*/
func (a *OrganizationAPIService) AddMemberApiV1OrganizationOidMemberPost_1(ctx context.Context, oid int32) ApiAddMemberApiV1OrganizationOidMemberPost_0Request {
	return ApiAddMemberApiV1OrganizationOidMemberPost_0Request{
		ApiService: a,
		ctx: ctx,
		oid: oid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *OrganizationAPIService) AddMemberApiV1OrganizationOidMemberPost_1Execute(r ApiAddMemberApiV1OrganizationOidMemberPost_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrganizationAPIService.AddMemberApiV1OrganizationOidMemberPost_1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organization/{oid}/member"
	localVarPath = strings.Replace(localVarPath, "{"+"oid"+"}", url.PathEscape(parameterValueToString(r.oid, "oid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.userId == nil {
		return localVarReturnValue, nil, reportError("userId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", r.userId, "form", "")
	if r.role != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "role", r.role, "form", "")
	} else {
		var defaultValue string = "member"
		parameterAddToHeaderOrQuery(localVarQueryParams, "role", defaultValue, "form", "")
		r.role = &defaultValue
	}
	if r.position != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "position", r.position, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateOrganizationApiV1OrganizationPostRequest struct {
	ctx context.Context
	ApiService *OrganizationAPIService
	name *string
	pid *int32
	type_ *string
	shortName *string
	code *string
	description *string
	leader *string
	leaderPhone *string
	logo *string
	address *string
	sortOrder *int32
}

func (r ApiCreateOrganizationApiV1OrganizationPostRequest) Name(name string) ApiCreateOrganizationApiV1OrganizationPostRequest {
	r.name = &name
	return r
}

func (r ApiCreateOrganizationApiV1OrganizationPostRequest) Pid(pid int32) ApiCreateOrganizationApiV1OrganizationPostRequest {
	r.pid = &pid
	return r
}

func (r ApiCreateOrganizationApiV1OrganizationPostRequest) Type_(type_ string) ApiCreateOrganizationApiV1OrganizationPostRequest {
	r.type_ = &type_
	return r
}

func (r ApiCreateOrganizationApiV1OrganizationPostRequest) ShortName(shortName string) ApiCreateOrganizationApiV1OrganizationPostRequest {
	r.shortName = &shortName
	return r
}

func (r ApiCreateOrganizationApiV1OrganizationPostRequest) Code(code string) ApiCreateOrganizationApiV1OrganizationPostRequest {
	r.code = &code
	return r
}

func (r ApiCreateOrganizationApiV1OrganizationPostRequest) Description(description string) ApiCreateOrganizationApiV1OrganizationPostRequest {
	r.description = &description
	return r
}

func (r ApiCreateOrganizationApiV1OrganizationPostRequest) Leader(leader string) ApiCreateOrganizationApiV1OrganizationPostRequest {
	r.leader = &leader
	return r
}

func (r ApiCreateOrganizationApiV1OrganizationPostRequest) LeaderPhone(leaderPhone string) ApiCreateOrganizationApiV1OrganizationPostRequest {
	r.leaderPhone = &leaderPhone
	return r
}

func (r ApiCreateOrganizationApiV1OrganizationPostRequest) Logo(logo string) ApiCreateOrganizationApiV1OrganizationPostRequest {
	r.logo = &logo
	return r
}

func (r ApiCreateOrganizationApiV1OrganizationPostRequest) Address(address string) ApiCreateOrganizationApiV1OrganizationPostRequest {
	r.address = &address
	return r
}

func (r ApiCreateOrganizationApiV1OrganizationPostRequest) SortOrder(sortOrder int32) ApiCreateOrganizationApiV1OrganizationPostRequest {
	r.sortOrder = &sortOrder
	return r
}

func (r ApiCreateOrganizationApiV1OrganizationPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CreateOrganizationApiV1OrganizationPostExecute(r)
}

/*
CreateOrganizationApiV1OrganizationPost 创建组织

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateOrganizationApiV1OrganizationPostRequest
*/
func (a *OrganizationAPIService) CreateOrganizationApiV1OrganizationPost(ctx context.Context) ApiCreateOrganizationApiV1OrganizationPostRequest {
	return ApiCreateOrganizationApiV1OrganizationPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *OrganizationAPIService) CreateOrganizationApiV1OrganizationPostExecute(r ApiCreateOrganizationApiV1OrganizationPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrganizationAPIService.CreateOrganizationApiV1OrganizationPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organization"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.name == nil {
		return localVarReturnValue, nil, reportError("name is required and must be specified")
	}
	if strlen(*r.name) < 1 {
		return localVarReturnValue, nil, reportError("name must have at least 1 elements")
	}
	if strlen(*r.name) > 100 {
		return localVarReturnValue, nil, reportError("name must have less than 100 elements")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	if r.pid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pid", r.pid, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "pid", defaultValue, "form", "")
		r.pid = &defaultValue
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	} else {
		var defaultValue string = "company"
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", defaultValue, "form", "")
		r.type_ = &defaultValue
	}
	if r.shortName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "short_name", r.shortName, "form", "")
	}
	if r.code != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "code", r.code, "form", "")
	}
	if r.description != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description", r.description, "form", "")
	}
	if r.leader != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "leader", r.leader, "form", "")
	}
	if r.leaderPhone != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "leader_phone", r.leaderPhone, "form", "")
	}
	if r.logo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "logo", r.logo, "form", "")
	}
	if r.address != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "address", r.address, "form", "")
	}
	if r.sortOrder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_order", r.sortOrder, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_order", defaultValue, "form", "")
		r.sortOrder = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateOrganizationApiV1OrganizationPost_0Request struct {
	ctx context.Context
	ApiService *OrganizationAPIService
	name *string
	pid *int32
	type_ *string
	shortName *string
	code *string
	description *string
	leader *string
	leaderPhone *string
	logo *string
	address *string
	sortOrder *int32
}

func (r ApiCreateOrganizationApiV1OrganizationPost_0Request) Name(name string) ApiCreateOrganizationApiV1OrganizationPost_0Request {
	r.name = &name
	return r
}

func (r ApiCreateOrganizationApiV1OrganizationPost_0Request) Pid(pid int32) ApiCreateOrganizationApiV1OrganizationPost_0Request {
	r.pid = &pid
	return r
}

func (r ApiCreateOrganizationApiV1OrganizationPost_0Request) Type_(type_ string) ApiCreateOrganizationApiV1OrganizationPost_0Request {
	r.type_ = &type_
	return r
}

func (r ApiCreateOrganizationApiV1OrganizationPost_0Request) ShortName(shortName string) ApiCreateOrganizationApiV1OrganizationPost_0Request {
	r.shortName = &shortName
	return r
}

func (r ApiCreateOrganizationApiV1OrganizationPost_0Request) Code(code string) ApiCreateOrganizationApiV1OrganizationPost_0Request {
	r.code = &code
	return r
}

func (r ApiCreateOrganizationApiV1OrganizationPost_0Request) Description(description string) ApiCreateOrganizationApiV1OrganizationPost_0Request {
	r.description = &description
	return r
}

func (r ApiCreateOrganizationApiV1OrganizationPost_0Request) Leader(leader string) ApiCreateOrganizationApiV1OrganizationPost_0Request {
	r.leader = &leader
	return r
}

func (r ApiCreateOrganizationApiV1OrganizationPost_0Request) LeaderPhone(leaderPhone string) ApiCreateOrganizationApiV1OrganizationPost_0Request {
	r.leaderPhone = &leaderPhone
	return r
}

func (r ApiCreateOrganizationApiV1OrganizationPost_0Request) Logo(logo string) ApiCreateOrganizationApiV1OrganizationPost_0Request {
	r.logo = &logo
	return r
}

func (r ApiCreateOrganizationApiV1OrganizationPost_0Request) Address(address string) ApiCreateOrganizationApiV1OrganizationPost_0Request {
	r.address = &address
	return r
}

func (r ApiCreateOrganizationApiV1OrganizationPost_0Request) SortOrder(sortOrder int32) ApiCreateOrganizationApiV1OrganizationPost_0Request {
	r.sortOrder = &sortOrder
	return r
}

func (r ApiCreateOrganizationApiV1OrganizationPost_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CreateOrganizationApiV1OrganizationPost_2Execute(r)
}

/*
CreateOrganizationApiV1OrganizationPost_0 创建组织

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateOrganizationApiV1OrganizationPost_0Request
*/
func (a *OrganizationAPIService) CreateOrganizationApiV1OrganizationPost_2(ctx context.Context) ApiCreateOrganizationApiV1OrganizationPost_0Request {
	return ApiCreateOrganizationApiV1OrganizationPost_0Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *OrganizationAPIService) CreateOrganizationApiV1OrganizationPost_2Execute(r ApiCreateOrganizationApiV1OrganizationPost_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrganizationAPIService.CreateOrganizationApiV1OrganizationPost_2")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organization"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.name == nil {
		return localVarReturnValue, nil, reportError("name is required and must be specified")
	}
	if strlen(*r.name) < 1 {
		return localVarReturnValue, nil, reportError("name must have at least 1 elements")
	}
	if strlen(*r.name) > 100 {
		return localVarReturnValue, nil, reportError("name must have less than 100 elements")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	if r.pid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pid", r.pid, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "pid", defaultValue, "form", "")
		r.pid = &defaultValue
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	} else {
		var defaultValue string = "company"
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", defaultValue, "form", "")
		r.type_ = &defaultValue
	}
	if r.shortName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "short_name", r.shortName, "form", "")
	}
	if r.code != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "code", r.code, "form", "")
	}
	if r.description != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description", r.description, "form", "")
	}
	if r.leader != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "leader", r.leader, "form", "")
	}
	if r.leaderPhone != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "leader_phone", r.leaderPhone, "form", "")
	}
	if r.logo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "logo", r.logo, "form", "")
	}
	if r.address != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "address", r.address, "form", "")
	}
	if r.sortOrder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_order", r.sortOrder, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_order", defaultValue, "form", "")
		r.sortOrder = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteOrganizationApiV1OrganizationOidDeleteRequest struct {
	ctx context.Context
	ApiService *OrganizationAPIService
	oid int32
}

func (r ApiDeleteOrganizationApiV1OrganizationOidDeleteRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DeleteOrganizationApiV1OrganizationOidDeleteExecute(r)
}

/*
DeleteOrganizationApiV1OrganizationOidDelete 删除组织

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param oid
 @return ApiDeleteOrganizationApiV1OrganizationOidDeleteRequest
*/
func (a *OrganizationAPIService) DeleteOrganizationApiV1OrganizationOidDelete(ctx context.Context, oid int32) ApiDeleteOrganizationApiV1OrganizationOidDeleteRequest {
	return ApiDeleteOrganizationApiV1OrganizationOidDeleteRequest{
		ApiService: a,
		ctx: ctx,
		oid: oid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *OrganizationAPIService) DeleteOrganizationApiV1OrganizationOidDeleteExecute(r ApiDeleteOrganizationApiV1OrganizationOidDeleteRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrganizationAPIService.DeleteOrganizationApiV1OrganizationOidDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organization/{oid}"
	localVarPath = strings.Replace(localVarPath, "{"+"oid"+"}", url.PathEscape(parameterValueToString(r.oid, "oid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteOrganizationApiV1OrganizationOidDelete_0Request struct {
	ctx context.Context
	ApiService *OrganizationAPIService
	oid int32
}

func (r ApiDeleteOrganizationApiV1OrganizationOidDelete_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DeleteOrganizationApiV1OrganizationOidDelete_3Execute(r)
}

/*
DeleteOrganizationApiV1OrganizationOidDelete_0 删除组织

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param oid
 @return ApiDeleteOrganizationApiV1OrganizationOidDelete_0Request
*/
func (a *OrganizationAPIService) DeleteOrganizationApiV1OrganizationOidDelete_3(ctx context.Context, oid int32) ApiDeleteOrganizationApiV1OrganizationOidDelete_0Request {
	return ApiDeleteOrganizationApiV1OrganizationOidDelete_0Request{
		ApiService: a,
		ctx: ctx,
		oid: oid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *OrganizationAPIService) DeleteOrganizationApiV1OrganizationOidDelete_3Execute(r ApiDeleteOrganizationApiV1OrganizationOidDelete_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrganizationAPIService.DeleteOrganizationApiV1OrganizationOidDelete_3")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organization/{oid}"
	localVarPath = strings.Replace(localVarPath, "{"+"oid"+"}", url.PathEscape(parameterValueToString(r.oid, "oid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetOrganizationApiV1OrganizationOidGetRequest struct {
	ctx context.Context
	ApiService *OrganizationAPIService
	oid int32
}

func (r ApiGetOrganizationApiV1OrganizationOidGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetOrganizationApiV1OrganizationOidGetExecute(r)
}

/*
GetOrganizationApiV1OrganizationOidGet 组织详情

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param oid
 @return ApiGetOrganizationApiV1OrganizationOidGetRequest
*/
func (a *OrganizationAPIService) GetOrganizationApiV1OrganizationOidGet(ctx context.Context, oid int32) ApiGetOrganizationApiV1OrganizationOidGetRequest {
	return ApiGetOrganizationApiV1OrganizationOidGetRequest{
		ApiService: a,
		ctx: ctx,
		oid: oid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *OrganizationAPIService) GetOrganizationApiV1OrganizationOidGetExecute(r ApiGetOrganizationApiV1OrganizationOidGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrganizationAPIService.GetOrganizationApiV1OrganizationOidGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organization/{oid}"
	localVarPath = strings.Replace(localVarPath, "{"+"oid"+"}", url.PathEscape(parameterValueToString(r.oid, "oid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetOrganizationApiV1OrganizationOidGet_0Request struct {
	ctx context.Context
	ApiService *OrganizationAPIService
	oid int32
}

func (r ApiGetOrganizationApiV1OrganizationOidGet_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetOrganizationApiV1OrganizationOidGet_4Execute(r)
}

/*
GetOrganizationApiV1OrganizationOidGet_0 组织详情

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param oid
 @return ApiGetOrganizationApiV1OrganizationOidGet_0Request
*/
func (a *OrganizationAPIService) GetOrganizationApiV1OrganizationOidGet_4(ctx context.Context, oid int32) ApiGetOrganizationApiV1OrganizationOidGet_0Request {
	return ApiGetOrganizationApiV1OrganizationOidGet_0Request{
		ApiService: a,
		ctx: ctx,
		oid: oid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *OrganizationAPIService) GetOrganizationApiV1OrganizationOidGet_4Execute(r ApiGetOrganizationApiV1OrganizationOidGet_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrganizationAPIService.GetOrganizationApiV1OrganizationOidGet_4")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organization/{oid}"
	localVarPath = strings.Replace(localVarPath, "{"+"oid"+"}", url.PathEscape(parameterValueToString(r.oid, "oid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListMembersApiV1OrganizationOidMembersGetRequest struct {
	ctx context.Context
	ApiService *OrganizationAPIService
	oid int32
	page *int32
	limit *int32
}

func (r ApiListMembersApiV1OrganizationOidMembersGetRequest) Page(page int32) ApiListMembersApiV1OrganizationOidMembersGetRequest {
	r.page = &page
	return r
}

func (r ApiListMembersApiV1OrganizationOidMembersGetRequest) Limit(limit int32) ApiListMembersApiV1OrganizationOidMembersGetRequest {
	r.limit = &limit
	return r
}

func (r ApiListMembersApiV1OrganizationOidMembersGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListMembersApiV1OrganizationOidMembersGetExecute(r)
}

/*
ListMembersApiV1OrganizationOidMembersGet 组织成员

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param oid
 @return ApiListMembersApiV1OrganizationOidMembersGetRequest
*/
func (a *OrganizationAPIService) ListMembersApiV1OrganizationOidMembersGet(ctx context.Context, oid int32) ApiListMembersApiV1OrganizationOidMembersGetRequest {
	return ApiListMembersApiV1OrganizationOidMembersGetRequest{
		ApiService: a,
		ctx: ctx,
		oid: oid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *OrganizationAPIService) ListMembersApiV1OrganizationOidMembersGetExecute(r ApiListMembersApiV1OrganizationOidMembersGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrganizationAPIService.ListMembersApiV1OrganizationOidMembersGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organization/{oid}/members"
	localVarPath = strings.Replace(localVarPath, "{"+"oid"+"}", url.PathEscape(parameterValueToString(r.oid, "oid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListMembersApiV1OrganizationOidMembersGet_0Request struct {
	ctx context.Context
	ApiService *OrganizationAPIService
	oid int32
	page *int32
	limit *int32
}

func (r ApiListMembersApiV1OrganizationOidMembersGet_0Request) Page(page int32) ApiListMembersApiV1OrganizationOidMembersGet_0Request {
	r.page = &page
	return r
}

func (r ApiListMembersApiV1OrganizationOidMembersGet_0Request) Limit(limit int32) ApiListMembersApiV1OrganizationOidMembersGet_0Request {
	r.limit = &limit
	return r
}

func (r ApiListMembersApiV1OrganizationOidMembersGet_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListMembersApiV1OrganizationOidMembersGet_5Execute(r)
}

/*
ListMembersApiV1OrganizationOidMembersGet_0 组织成员

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param oid
 @return ApiListMembersApiV1OrganizationOidMembersGet_0Request
*/
func (a *OrganizationAPIService) ListMembersApiV1OrganizationOidMembersGet_5(ctx context.Context, oid int32) ApiListMembersApiV1OrganizationOidMembersGet_0Request {
	return ApiListMembersApiV1OrganizationOidMembersGet_0Request{
		ApiService: a,
		ctx: ctx,
		oid: oid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *OrganizationAPIService) ListMembersApiV1OrganizationOidMembersGet_5Execute(r ApiListMembersApiV1OrganizationOidMembersGet_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrganizationAPIService.ListMembersApiV1OrganizationOidMembersGet_5")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organization/{oid}/members"
	localVarPath = strings.Replace(localVarPath, "{"+"oid"+"}", url.PathEscape(parameterValueToString(r.oid, "oid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListOrganizationsApiV1OrganizationListGetRequest struct {
	ctx context.Context
	ApiService *OrganizationAPIService
	pid *int32
	status *int32
	keyword *string
}

func (r ApiListOrganizationsApiV1OrganizationListGetRequest) Pid(pid int32) ApiListOrganizationsApiV1OrganizationListGetRequest {
	r.pid = &pid
	return r
}

func (r ApiListOrganizationsApiV1OrganizationListGetRequest) Status(status int32) ApiListOrganizationsApiV1OrganizationListGetRequest {
	r.status = &status
	return r
}

func (r ApiListOrganizationsApiV1OrganizationListGetRequest) Keyword(keyword string) ApiListOrganizationsApiV1OrganizationListGetRequest {
	r.keyword = &keyword
	return r
}

func (r ApiListOrganizationsApiV1OrganizationListGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListOrganizationsApiV1OrganizationListGetExecute(r)
}

/*
ListOrganizationsApiV1OrganizationListGet 组织列表

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListOrganizationsApiV1OrganizationListGetRequest
*/
func (a *OrganizationAPIService) ListOrganizationsApiV1OrganizationListGet(ctx context.Context) ApiListOrganizationsApiV1OrganizationListGetRequest {
	return ApiListOrganizationsApiV1OrganizationListGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *OrganizationAPIService) ListOrganizationsApiV1OrganizationListGetExecute(r ApiListOrganizationsApiV1OrganizationListGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrganizationAPIService.ListOrganizationsApiV1OrganizationListGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organization/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.pid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pid", r.pid, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.keyword != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "keyword", r.keyword, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListOrganizationsApiV1OrganizationListGet_0Request struct {
	ctx context.Context
	ApiService *OrganizationAPIService
	pid *int32
	status *int32
	keyword *string
}

func (r ApiListOrganizationsApiV1OrganizationListGet_0Request) Pid(pid int32) ApiListOrganizationsApiV1OrganizationListGet_0Request {
	r.pid = &pid
	return r
}

func (r ApiListOrganizationsApiV1OrganizationListGet_0Request) Status(status int32) ApiListOrganizationsApiV1OrganizationListGet_0Request {
	r.status = &status
	return r
}

func (r ApiListOrganizationsApiV1OrganizationListGet_0Request) Keyword(keyword string) ApiListOrganizationsApiV1OrganizationListGet_0Request {
	r.keyword = &keyword
	return r
}

func (r ApiListOrganizationsApiV1OrganizationListGet_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListOrganizationsApiV1OrganizationListGet_6Execute(r)
}

/*
ListOrganizationsApiV1OrganizationListGet_0 组织列表

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListOrganizationsApiV1OrganizationListGet_0Request
*/
func (a *OrganizationAPIService) ListOrganizationsApiV1OrganizationListGet_6(ctx context.Context) ApiListOrganizationsApiV1OrganizationListGet_0Request {
	return ApiListOrganizationsApiV1OrganizationListGet_0Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *OrganizationAPIService) ListOrganizationsApiV1OrganizationListGet_6Execute(r ApiListOrganizationsApiV1OrganizationListGet_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrganizationAPIService.ListOrganizationsApiV1OrganizationListGet_6")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organization/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.pid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pid", r.pid, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.keyword != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "keyword", r.keyword, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOrgTreeApiV1OrganizationTreeGetRequest struct {
	ctx context.Context
	ApiService *OrganizationAPIService
}

func (r ApiOrgTreeApiV1OrganizationTreeGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.OrgTreeApiV1OrganizationTreeGetExecute(r)
}

/*
OrgTreeApiV1OrganizationTreeGet 组织树

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiOrgTreeApiV1OrganizationTreeGetRequest
*/
func (a *OrganizationAPIService) OrgTreeApiV1OrganizationTreeGet(ctx context.Context) ApiOrgTreeApiV1OrganizationTreeGetRequest {
	return ApiOrgTreeApiV1OrganizationTreeGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *OrganizationAPIService) OrgTreeApiV1OrganizationTreeGetExecute(r ApiOrgTreeApiV1OrganizationTreeGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrganizationAPIService.OrgTreeApiV1OrganizationTreeGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organization/tree"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOrgTreeApiV1OrganizationTreeGet_0Request struct {
	ctx context.Context
	ApiService *OrganizationAPIService
}

func (r ApiOrgTreeApiV1OrganizationTreeGet_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.OrgTreeApiV1OrganizationTreeGet_7Execute(r)
}

/*
OrgTreeApiV1OrganizationTreeGet_0 组织树

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiOrgTreeApiV1OrganizationTreeGet_0Request
*/
func (a *OrganizationAPIService) OrgTreeApiV1OrganizationTreeGet_7(ctx context.Context) ApiOrgTreeApiV1OrganizationTreeGet_0Request {
	return ApiOrgTreeApiV1OrganizationTreeGet_0Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *OrganizationAPIService) OrgTreeApiV1OrganizationTreeGet_7Execute(r ApiOrgTreeApiV1OrganizationTreeGet_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrganizationAPIService.OrgTreeApiV1OrganizationTreeGet_7")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organization/tree"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRemoveMemberApiV1OrganizationOidMemberUserIdDeleteRequest struct {
	ctx context.Context
	ApiService *OrganizationAPIService
	oid int32
	userId string
}

func (r ApiRemoveMemberApiV1OrganizationOidMemberUserIdDeleteRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.RemoveMemberApiV1OrganizationOidMemberUserIdDeleteExecute(r)
}

/*
RemoveMemberApiV1OrganizationOidMemberUserIdDelete 移除成员

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param oid
 @param userId
 @return ApiRemoveMemberApiV1OrganizationOidMemberUserIdDeleteRequest
*/
func (a *OrganizationAPIService) RemoveMemberApiV1OrganizationOidMemberUserIdDelete(ctx context.Context, oid int32, userId string) ApiRemoveMemberApiV1OrganizationOidMemberUserIdDeleteRequest {
	return ApiRemoveMemberApiV1OrganizationOidMemberUserIdDeleteRequest{
		ApiService: a,
		ctx: ctx,
		oid: oid,
		userId: userId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *OrganizationAPIService) RemoveMemberApiV1OrganizationOidMemberUserIdDeleteExecute(r ApiRemoveMemberApiV1OrganizationOidMemberUserIdDeleteRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrganizationAPIService.RemoveMemberApiV1OrganizationOidMemberUserIdDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organization/{oid}/member/{user_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"oid"+"}", url.PathEscape(parameterValueToString(r.oid, "oid")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"user_id"+"}", url.PathEscape(parameterValueToString(r.userId, "userId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRemoveMemberApiV1OrganizationOidMemberUserIdDelete_0Request struct {
	ctx context.Context
	ApiService *OrganizationAPIService
	oid int32
	userId string
}

func (r ApiRemoveMemberApiV1OrganizationOidMemberUserIdDelete_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.RemoveMemberApiV1OrganizationOidMemberUserIdDelete_8Execute(r)
}

/*
RemoveMemberApiV1OrganizationOidMemberUserIdDelete_0 移除成员

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param oid
 @param userId
 @return ApiRemoveMemberApiV1OrganizationOidMemberUserIdDelete_0Request
*/
func (a *OrganizationAPIService) RemoveMemberApiV1OrganizationOidMemberUserIdDelete_8(ctx context.Context, oid int32, userId string) ApiRemoveMemberApiV1OrganizationOidMemberUserIdDelete_0Request {
	return ApiRemoveMemberApiV1OrganizationOidMemberUserIdDelete_0Request{
		ApiService: a,
		ctx: ctx,
		oid: oid,
		userId: userId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *OrganizationAPIService) RemoveMemberApiV1OrganizationOidMemberUserIdDelete_8Execute(r ApiRemoveMemberApiV1OrganizationOidMemberUserIdDelete_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrganizationAPIService.RemoveMemberApiV1OrganizationOidMemberUserIdDelete_8")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organization/{oid}/member/{user_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"oid"+"}", url.PathEscape(parameterValueToString(r.oid, "oid")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"user_id"+"}", url.PathEscape(parameterValueToString(r.userId, "userId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateOrganizationApiV1OrganizationOidPutRequest struct {
	ctx context.Context
	ApiService *OrganizationAPIService
	oid int32
	name *string
	shortName *string
	description *string
	leader *string
	leaderPhone *string
	status *int32
	sortOrder *int32
}

func (r ApiUpdateOrganizationApiV1OrganizationOidPutRequest) Name(name string) ApiUpdateOrganizationApiV1OrganizationOidPutRequest {
	r.name = &name
	return r
}

func (r ApiUpdateOrganizationApiV1OrganizationOidPutRequest) ShortName(shortName string) ApiUpdateOrganizationApiV1OrganizationOidPutRequest {
	r.shortName = &shortName
	return r
}

func (r ApiUpdateOrganizationApiV1OrganizationOidPutRequest) Description(description string) ApiUpdateOrganizationApiV1OrganizationOidPutRequest {
	r.description = &description
	return r
}

func (r ApiUpdateOrganizationApiV1OrganizationOidPutRequest) Leader(leader string) ApiUpdateOrganizationApiV1OrganizationOidPutRequest {
	r.leader = &leader
	return r
}

func (r ApiUpdateOrganizationApiV1OrganizationOidPutRequest) LeaderPhone(leaderPhone string) ApiUpdateOrganizationApiV1OrganizationOidPutRequest {
	r.leaderPhone = &leaderPhone
	return r
}

func (r ApiUpdateOrganizationApiV1OrganizationOidPutRequest) Status(status int32) ApiUpdateOrganizationApiV1OrganizationOidPutRequest {
	r.status = &status
	return r
}

func (r ApiUpdateOrganizationApiV1OrganizationOidPutRequest) SortOrder(sortOrder int32) ApiUpdateOrganizationApiV1OrganizationOidPutRequest {
	r.sortOrder = &sortOrder
	return r
}

func (r ApiUpdateOrganizationApiV1OrganizationOidPutRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.UpdateOrganizationApiV1OrganizationOidPutExecute(r)
}

/*
UpdateOrganizationApiV1OrganizationOidPut 修改组织

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param oid
 @return ApiUpdateOrganizationApiV1OrganizationOidPutRequest
*/
func (a *OrganizationAPIService) UpdateOrganizationApiV1OrganizationOidPut(ctx context.Context, oid int32) ApiUpdateOrganizationApiV1OrganizationOidPutRequest {
	return ApiUpdateOrganizationApiV1OrganizationOidPutRequest{
		ApiService: a,
		ctx: ctx,
		oid: oid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *OrganizationAPIService) UpdateOrganizationApiV1OrganizationOidPutExecute(r ApiUpdateOrganizationApiV1OrganizationOidPutRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrganizationAPIService.UpdateOrganizationApiV1OrganizationOidPut")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organization/{oid}"
	localVarPath = strings.Replace(localVarPath, "{"+"oid"+"}", url.PathEscape(parameterValueToString(r.oid, "oid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.shortName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "short_name", r.shortName, "form", "")
	}
	if r.description != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description", r.description, "form", "")
	}
	if r.leader != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "leader", r.leader, "form", "")
	}
	if r.leaderPhone != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "leader_phone", r.leaderPhone, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.sortOrder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_order", r.sortOrder, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateOrganizationApiV1OrganizationOidPut_0Request struct {
	ctx context.Context
	ApiService *OrganizationAPIService
	oid int32
	name *string
	shortName *string
	description *string
	leader *string
	leaderPhone *string
	status *int32
	sortOrder *int32
}

func (r ApiUpdateOrganizationApiV1OrganizationOidPut_0Request) Name(name string) ApiUpdateOrganizationApiV1OrganizationOidPut_0Request {
	r.name = &name
	return r
}

func (r ApiUpdateOrganizationApiV1OrganizationOidPut_0Request) ShortName(shortName string) ApiUpdateOrganizationApiV1OrganizationOidPut_0Request {
	r.shortName = &shortName
	return r
}

func (r ApiUpdateOrganizationApiV1OrganizationOidPut_0Request) Description(description string) ApiUpdateOrganizationApiV1OrganizationOidPut_0Request {
	r.description = &description
	return r
}

func (r ApiUpdateOrganizationApiV1OrganizationOidPut_0Request) Leader(leader string) ApiUpdateOrganizationApiV1OrganizationOidPut_0Request {
	r.leader = &leader
	return r
}

func (r ApiUpdateOrganizationApiV1OrganizationOidPut_0Request) LeaderPhone(leaderPhone string) ApiUpdateOrganizationApiV1OrganizationOidPut_0Request {
	r.leaderPhone = &leaderPhone
	return r
}

func (r ApiUpdateOrganizationApiV1OrganizationOidPut_0Request) Status(status int32) ApiUpdateOrganizationApiV1OrganizationOidPut_0Request {
	r.status = &status
	return r
}

func (r ApiUpdateOrganizationApiV1OrganizationOidPut_0Request) SortOrder(sortOrder int32) ApiUpdateOrganizationApiV1OrganizationOidPut_0Request {
	r.sortOrder = &sortOrder
	return r
}

func (r ApiUpdateOrganizationApiV1OrganizationOidPut_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.UpdateOrganizationApiV1OrganizationOidPut_9Execute(r)
}

/*
UpdateOrganizationApiV1OrganizationOidPut_0 修改组织

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param oid
 @return ApiUpdateOrganizationApiV1OrganizationOidPut_0Request
*/
func (a *OrganizationAPIService) UpdateOrganizationApiV1OrganizationOidPut_9(ctx context.Context, oid int32) ApiUpdateOrganizationApiV1OrganizationOidPut_0Request {
	return ApiUpdateOrganizationApiV1OrganizationOidPut_0Request{
		ApiService: a,
		ctx: ctx,
		oid: oid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *OrganizationAPIService) UpdateOrganizationApiV1OrganizationOidPut_9Execute(r ApiUpdateOrganizationApiV1OrganizationOidPut_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrganizationAPIService.UpdateOrganizationApiV1OrganizationOidPut_9")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organization/{oid}"
	localVarPath = strings.Replace(localVarPath, "{"+"oid"+"}", url.PathEscape(parameterValueToString(r.oid, "oid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.shortName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "short_name", r.shortName, "form", "")
	}
	if r.description != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description", r.description, "form", "")
	}
	if r.leader != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "leader", r.leader, "form", "")
	}
	if r.leaderPhone != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "leader_phone", r.leaderPhone, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.sortOrder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_order", r.sortOrder, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
