/*
ZHS Platform

ZHS Platform API - AI Agent Marketplace & Educational Platform

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zhs_api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// SystemAdminAPIService SystemAdminAPI service
type SystemAdminAPIService service

type ApiCreateConfigApiV1SystemAdminConfigCreatePostRequest struct {
	ctx context.Context
	ApiService *SystemAdminAPIService
	configName *string
	configKey *string
	configValue *string
	configType *string
}

func (r ApiCreateConfigApiV1SystemAdminConfigCreatePostRequest) ConfigName(configName string) ApiCreateConfigApiV1SystemAdminConfigCreatePostRequest {
	r.configName = &configName
	return r
}

func (r ApiCreateConfigApiV1SystemAdminConfigCreatePostRequest) ConfigKey(configKey string) ApiCreateConfigApiV1SystemAdminConfigCreatePostRequest {
	r.configKey = &configKey
	return r
}

func (r ApiCreateConfigApiV1SystemAdminConfigCreatePostRequest) ConfigValue(configValue string) ApiCreateConfigApiV1SystemAdminConfigCreatePostRequest {
	r.configValue = &configValue
	return r
}

func (r ApiCreateConfigApiV1SystemAdminConfigCreatePostRequest) ConfigType(configType string) ApiCreateConfigApiV1SystemAdminConfigCreatePostRequest {
	r.configType = &configType
	return r
}

func (r ApiCreateConfigApiV1SystemAdminConfigCreatePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CreateConfigApiV1SystemAdminConfigCreatePostExecute(r)
}

/*
CreateConfigApiV1SystemAdminConfigCreatePost 新增配置

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateConfigApiV1SystemAdminConfigCreatePostRequest
*/
func (a *SystemAdminAPIService) CreateConfigApiV1SystemAdminConfigCreatePost(ctx context.Context) ApiCreateConfigApiV1SystemAdminConfigCreatePostRequest {
	return ApiCreateConfigApiV1SystemAdminConfigCreatePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *SystemAdminAPIService) CreateConfigApiV1SystemAdminConfigCreatePostExecute(r ApiCreateConfigApiV1SystemAdminConfigCreatePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SystemAdminAPIService.CreateConfigApiV1SystemAdminConfigCreatePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/system/admin/config/create"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.configName == nil {
		return localVarReturnValue, nil, reportError("configName is required and must be specified")
	}
	if r.configKey == nil {
		return localVarReturnValue, nil, reportError("configKey is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "config_name", r.configName, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "config_key", r.configKey, "form", "")
	if r.configValue != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "config_value", r.configValue, "form", "")
	} else {
		var defaultValue string = ""
		parameterAddToHeaderOrQuery(localVarQueryParams, "config_value", defaultValue, "form", "")
		r.configValue = &defaultValue
	}
	if r.configType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "config_type", r.configType, "form", "")
	} else {
		var defaultValue string = "N"
		parameterAddToHeaderOrQuery(localVarQueryParams, "config_type", defaultValue, "form", "")
		r.configType = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateDeptApiV1SystemAdminDeptCreatePostRequest struct {
	ctx context.Context
	ApiService *SystemAdminAPIService
	deptName *string
	parentId *int32
	leader *string
	orderNum *int32
}

func (r ApiCreateDeptApiV1SystemAdminDeptCreatePostRequest) DeptName(deptName string) ApiCreateDeptApiV1SystemAdminDeptCreatePostRequest {
	r.deptName = &deptName
	return r
}

func (r ApiCreateDeptApiV1SystemAdminDeptCreatePostRequest) ParentId(parentId int32) ApiCreateDeptApiV1SystemAdminDeptCreatePostRequest {
	r.parentId = &parentId
	return r
}

func (r ApiCreateDeptApiV1SystemAdminDeptCreatePostRequest) Leader(leader string) ApiCreateDeptApiV1SystemAdminDeptCreatePostRequest {
	r.leader = &leader
	return r
}

func (r ApiCreateDeptApiV1SystemAdminDeptCreatePostRequest) OrderNum(orderNum int32) ApiCreateDeptApiV1SystemAdminDeptCreatePostRequest {
	r.orderNum = &orderNum
	return r
}

func (r ApiCreateDeptApiV1SystemAdminDeptCreatePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CreateDeptApiV1SystemAdminDeptCreatePostExecute(r)
}

/*
CreateDeptApiV1SystemAdminDeptCreatePost 创建部门

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateDeptApiV1SystemAdminDeptCreatePostRequest
*/
func (a *SystemAdminAPIService) CreateDeptApiV1SystemAdminDeptCreatePost(ctx context.Context) ApiCreateDeptApiV1SystemAdminDeptCreatePostRequest {
	return ApiCreateDeptApiV1SystemAdminDeptCreatePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *SystemAdminAPIService) CreateDeptApiV1SystemAdminDeptCreatePostExecute(r ApiCreateDeptApiV1SystemAdminDeptCreatePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SystemAdminAPIService.CreateDeptApiV1SystemAdminDeptCreatePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/system/admin/dept/create"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.deptName == nil {
		return localVarReturnValue, nil, reportError("deptName is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "dept_name", r.deptName, "form", "")
	if r.parentId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "parent_id", r.parentId, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "parent_id", defaultValue, "form", "")
		r.parentId = &defaultValue
	}
	if r.leader != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "leader", r.leader, "form", "")
	} else {
		var defaultValue string = ""
		parameterAddToHeaderOrQuery(localVarQueryParams, "leader", defaultValue, "form", "")
		r.leader = &defaultValue
	}
	if r.orderNum != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_num", r.orderNum, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_num", defaultValue, "form", "")
		r.orderNum = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateDictDataApiV1SystemAdminDictDataCreatePostRequest struct {
	ctx context.Context
	ApiService *SystemAdminAPIService
	dictType *string
	dictLabel *string
	dictValue *string
	dictSort *int32
}

func (r ApiCreateDictDataApiV1SystemAdminDictDataCreatePostRequest) DictType(dictType string) ApiCreateDictDataApiV1SystemAdminDictDataCreatePostRequest {
	r.dictType = &dictType
	return r
}

func (r ApiCreateDictDataApiV1SystemAdminDictDataCreatePostRequest) DictLabel(dictLabel string) ApiCreateDictDataApiV1SystemAdminDictDataCreatePostRequest {
	r.dictLabel = &dictLabel
	return r
}

func (r ApiCreateDictDataApiV1SystemAdminDictDataCreatePostRequest) DictValue(dictValue string) ApiCreateDictDataApiV1SystemAdminDictDataCreatePostRequest {
	r.dictValue = &dictValue
	return r
}

func (r ApiCreateDictDataApiV1SystemAdminDictDataCreatePostRequest) DictSort(dictSort int32) ApiCreateDictDataApiV1SystemAdminDictDataCreatePostRequest {
	r.dictSort = &dictSort
	return r
}

func (r ApiCreateDictDataApiV1SystemAdminDictDataCreatePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CreateDictDataApiV1SystemAdminDictDataCreatePostExecute(r)
}

/*
CreateDictDataApiV1SystemAdminDictDataCreatePost 新增字典数据

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateDictDataApiV1SystemAdminDictDataCreatePostRequest
*/
func (a *SystemAdminAPIService) CreateDictDataApiV1SystemAdminDictDataCreatePost(ctx context.Context) ApiCreateDictDataApiV1SystemAdminDictDataCreatePostRequest {
	return ApiCreateDictDataApiV1SystemAdminDictDataCreatePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *SystemAdminAPIService) CreateDictDataApiV1SystemAdminDictDataCreatePostExecute(r ApiCreateDictDataApiV1SystemAdminDictDataCreatePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SystemAdminAPIService.CreateDictDataApiV1SystemAdminDictDataCreatePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/system/admin/dict/data/create"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.dictType == nil {
		return localVarReturnValue, nil, reportError("dictType is required and must be specified")
	}
	if r.dictLabel == nil {
		return localVarReturnValue, nil, reportError("dictLabel is required and must be specified")
	}
	if r.dictValue == nil {
		return localVarReturnValue, nil, reportError("dictValue is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "dict_type", r.dictType, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "dict_label", r.dictLabel, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "dict_value", r.dictValue, "form", "")
	if r.dictSort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dict_sort", r.dictSort, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "dict_sort", defaultValue, "form", "")
		r.dictSort = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateDictTypeApiV1SystemAdminDictTypeCreatePostRequest struct {
	ctx context.Context
	ApiService *SystemAdminAPIService
	dictName *string
	dictType *string
}

func (r ApiCreateDictTypeApiV1SystemAdminDictTypeCreatePostRequest) DictName(dictName string) ApiCreateDictTypeApiV1SystemAdminDictTypeCreatePostRequest {
	r.dictName = &dictName
	return r
}

// 字典编码，如 sys_user_sex
func (r ApiCreateDictTypeApiV1SystemAdminDictTypeCreatePostRequest) DictType(dictType string) ApiCreateDictTypeApiV1SystemAdminDictTypeCreatePostRequest {
	r.dictType = &dictType
	return r
}

func (r ApiCreateDictTypeApiV1SystemAdminDictTypeCreatePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CreateDictTypeApiV1SystemAdminDictTypeCreatePostExecute(r)
}

/*
CreateDictTypeApiV1SystemAdminDictTypeCreatePost 新增字典类型

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateDictTypeApiV1SystemAdminDictTypeCreatePostRequest
*/
func (a *SystemAdminAPIService) CreateDictTypeApiV1SystemAdminDictTypeCreatePost(ctx context.Context) ApiCreateDictTypeApiV1SystemAdminDictTypeCreatePostRequest {
	return ApiCreateDictTypeApiV1SystemAdminDictTypeCreatePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *SystemAdminAPIService) CreateDictTypeApiV1SystemAdminDictTypeCreatePostExecute(r ApiCreateDictTypeApiV1SystemAdminDictTypeCreatePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SystemAdminAPIService.CreateDictTypeApiV1SystemAdminDictTypeCreatePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/system/admin/dict/type/create"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.dictName == nil {
		return localVarReturnValue, nil, reportError("dictName is required and must be specified")
	}
	if r.dictType == nil {
		return localVarReturnValue, nil, reportError("dictType is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "dict_name", r.dictName, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "dict_type", r.dictType, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateMenuApiV1SystemAdminMenuCreatePostRequest struct {
	ctx context.Context
	ApiService *SystemAdminAPIService
	menuName *string
	parentId *int32
	path *string
	icon *string
	menuType *string
}

func (r ApiCreateMenuApiV1SystemAdminMenuCreatePostRequest) MenuName(menuName string) ApiCreateMenuApiV1SystemAdminMenuCreatePostRequest {
	r.menuName = &menuName
	return r
}

func (r ApiCreateMenuApiV1SystemAdminMenuCreatePostRequest) ParentId(parentId int32) ApiCreateMenuApiV1SystemAdminMenuCreatePostRequest {
	r.parentId = &parentId
	return r
}

func (r ApiCreateMenuApiV1SystemAdminMenuCreatePostRequest) Path(path string) ApiCreateMenuApiV1SystemAdminMenuCreatePostRequest {
	r.path = &path
	return r
}

func (r ApiCreateMenuApiV1SystemAdminMenuCreatePostRequest) Icon(icon string) ApiCreateMenuApiV1SystemAdminMenuCreatePostRequest {
	r.icon = &icon
	return r
}

func (r ApiCreateMenuApiV1SystemAdminMenuCreatePostRequest) MenuType(menuType string) ApiCreateMenuApiV1SystemAdminMenuCreatePostRequest {
	r.menuType = &menuType
	return r
}

func (r ApiCreateMenuApiV1SystemAdminMenuCreatePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CreateMenuApiV1SystemAdminMenuCreatePostExecute(r)
}

/*
CreateMenuApiV1SystemAdminMenuCreatePost 创建菜单

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateMenuApiV1SystemAdminMenuCreatePostRequest
*/
func (a *SystemAdminAPIService) CreateMenuApiV1SystemAdminMenuCreatePost(ctx context.Context) ApiCreateMenuApiV1SystemAdminMenuCreatePostRequest {
	return ApiCreateMenuApiV1SystemAdminMenuCreatePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *SystemAdminAPIService) CreateMenuApiV1SystemAdminMenuCreatePostExecute(r ApiCreateMenuApiV1SystemAdminMenuCreatePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SystemAdminAPIService.CreateMenuApiV1SystemAdminMenuCreatePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/system/admin/menu/create"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.menuName == nil {
		return localVarReturnValue, nil, reportError("menuName is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "menu_name", r.menuName, "form", "")
	if r.parentId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "parent_id", r.parentId, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "parent_id", defaultValue, "form", "")
		r.parentId = &defaultValue
	}
	if r.path != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "path", r.path, "form", "")
	} else {
		var defaultValue string = ""
		parameterAddToHeaderOrQuery(localVarQueryParams, "path", defaultValue, "form", "")
		r.path = &defaultValue
	}
	if r.icon != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "icon", r.icon, "form", "")
	} else {
		var defaultValue string = "#"
		parameterAddToHeaderOrQuery(localVarQueryParams, "icon", defaultValue, "form", "")
		r.icon = &defaultValue
	}
	if r.menuType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "menu_type", r.menuType, "form", "")
	} else {
		var defaultValue string = "M"
		parameterAddToHeaderOrQuery(localVarQueryParams, "menu_type", defaultValue, "form", "")
		r.menuType = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreatePostApiV1SystemAdminPostCreatePostRequest struct {
	ctx context.Context
	ApiService *SystemAdminAPIService
	postCode *string
	postName *string
	postSort *int32
}

func (r ApiCreatePostApiV1SystemAdminPostCreatePostRequest) PostCode(postCode string) ApiCreatePostApiV1SystemAdminPostCreatePostRequest {
	r.postCode = &postCode
	return r
}

func (r ApiCreatePostApiV1SystemAdminPostCreatePostRequest) PostName(postName string) ApiCreatePostApiV1SystemAdminPostCreatePostRequest {
	r.postName = &postName
	return r
}

func (r ApiCreatePostApiV1SystemAdminPostCreatePostRequest) PostSort(postSort int32) ApiCreatePostApiV1SystemAdminPostCreatePostRequest {
	r.postSort = &postSort
	return r
}

func (r ApiCreatePostApiV1SystemAdminPostCreatePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CreatePostApiV1SystemAdminPostCreatePostExecute(r)
}

/*
CreatePostApiV1SystemAdminPostCreatePost 创建岗位

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreatePostApiV1SystemAdminPostCreatePostRequest
*/
func (a *SystemAdminAPIService) CreatePostApiV1SystemAdminPostCreatePost(ctx context.Context) ApiCreatePostApiV1SystemAdminPostCreatePostRequest {
	return ApiCreatePostApiV1SystemAdminPostCreatePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *SystemAdminAPIService) CreatePostApiV1SystemAdminPostCreatePostExecute(r ApiCreatePostApiV1SystemAdminPostCreatePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SystemAdminAPIService.CreatePostApiV1SystemAdminPostCreatePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/system/admin/post/create"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.postCode == nil {
		return localVarReturnValue, nil, reportError("postCode is required and must be specified")
	}
	if r.postName == nil {
		return localVarReturnValue, nil, reportError("postName is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "post_code", r.postCode, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "post_name", r.postName, "form", "")
	if r.postSort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "post_sort", r.postSort, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "post_sort", defaultValue, "form", "")
		r.postSort = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateRoleApiV1SystemAdminRoleCreatePostRequest struct {
	ctx context.Context
	ApiService *SystemAdminAPIService
	roleName *string
	roleKey *string
	roleSort *int32
}

func (r ApiCreateRoleApiV1SystemAdminRoleCreatePostRequest) RoleName(roleName string) ApiCreateRoleApiV1SystemAdminRoleCreatePostRequest {
	r.roleName = &roleName
	return r
}

func (r ApiCreateRoleApiV1SystemAdminRoleCreatePostRequest) RoleKey(roleKey string) ApiCreateRoleApiV1SystemAdminRoleCreatePostRequest {
	r.roleKey = &roleKey
	return r
}

func (r ApiCreateRoleApiV1SystemAdminRoleCreatePostRequest) RoleSort(roleSort int32) ApiCreateRoleApiV1SystemAdminRoleCreatePostRequest {
	r.roleSort = &roleSort
	return r
}

func (r ApiCreateRoleApiV1SystemAdminRoleCreatePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CreateRoleApiV1SystemAdminRoleCreatePostExecute(r)
}

/*
CreateRoleApiV1SystemAdminRoleCreatePost 创建角色

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateRoleApiV1SystemAdminRoleCreatePostRequest
*/
func (a *SystemAdminAPIService) CreateRoleApiV1SystemAdminRoleCreatePost(ctx context.Context) ApiCreateRoleApiV1SystemAdminRoleCreatePostRequest {
	return ApiCreateRoleApiV1SystemAdminRoleCreatePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *SystemAdminAPIService) CreateRoleApiV1SystemAdminRoleCreatePostExecute(r ApiCreateRoleApiV1SystemAdminRoleCreatePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SystemAdminAPIService.CreateRoleApiV1SystemAdminRoleCreatePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/system/admin/role/create"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.roleName == nil {
		return localVarReturnValue, nil, reportError("roleName is required and must be specified")
	}
	if r.roleKey == nil {
		return localVarReturnValue, nil, reportError("roleKey is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "role_name", r.roleName, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "role_key", r.roleKey, "form", "")
	if r.roleSort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "role_sort", r.roleSort, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "role_sort", defaultValue, "form", "")
		r.roleSort = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteDeptApiV1SystemAdminDeptDeletePostRequest struct {
	ctx context.Context
	ApiService *SystemAdminAPIService
	deptId *int32
}

func (r ApiDeleteDeptApiV1SystemAdminDeptDeletePostRequest) DeptId(deptId int32) ApiDeleteDeptApiV1SystemAdminDeptDeletePostRequest {
	r.deptId = &deptId
	return r
}

func (r ApiDeleteDeptApiV1SystemAdminDeptDeletePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DeleteDeptApiV1SystemAdminDeptDeletePostExecute(r)
}

/*
DeleteDeptApiV1SystemAdminDeptDeletePost 删除部门

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDeleteDeptApiV1SystemAdminDeptDeletePostRequest
*/
func (a *SystemAdminAPIService) DeleteDeptApiV1SystemAdminDeptDeletePost(ctx context.Context) ApiDeleteDeptApiV1SystemAdminDeptDeletePostRequest {
	return ApiDeleteDeptApiV1SystemAdminDeptDeletePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *SystemAdminAPIService) DeleteDeptApiV1SystemAdminDeptDeletePostExecute(r ApiDeleteDeptApiV1SystemAdminDeptDeletePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SystemAdminAPIService.DeleteDeptApiV1SystemAdminDeptDeletePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/system/admin/dept/delete"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.deptId == nil {
		return localVarReturnValue, nil, reportError("deptId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "dept_id", r.deptId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteMenuApiV1SystemAdminMenuDeletePostRequest struct {
	ctx context.Context
	ApiService *SystemAdminAPIService
	menuId *int32
}

func (r ApiDeleteMenuApiV1SystemAdminMenuDeletePostRequest) MenuId(menuId int32) ApiDeleteMenuApiV1SystemAdminMenuDeletePostRequest {
	r.menuId = &menuId
	return r
}

func (r ApiDeleteMenuApiV1SystemAdminMenuDeletePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DeleteMenuApiV1SystemAdminMenuDeletePostExecute(r)
}

/*
DeleteMenuApiV1SystemAdminMenuDeletePost 删除菜单

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDeleteMenuApiV1SystemAdminMenuDeletePostRequest
*/
func (a *SystemAdminAPIService) DeleteMenuApiV1SystemAdminMenuDeletePost(ctx context.Context) ApiDeleteMenuApiV1SystemAdminMenuDeletePostRequest {
	return ApiDeleteMenuApiV1SystemAdminMenuDeletePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *SystemAdminAPIService) DeleteMenuApiV1SystemAdminMenuDeletePostExecute(r ApiDeleteMenuApiV1SystemAdminMenuDeletePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SystemAdminAPIService.DeleteMenuApiV1SystemAdminMenuDeletePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/system/admin/menu/delete"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.menuId == nil {
		return localVarReturnValue, nil, reportError("menuId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "menu_id", r.menuId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteRoleApiV1SystemAdminRoleDeletePostRequest struct {
	ctx context.Context
	ApiService *SystemAdminAPIService
	roleId *int32
}

func (r ApiDeleteRoleApiV1SystemAdminRoleDeletePostRequest) RoleId(roleId int32) ApiDeleteRoleApiV1SystemAdminRoleDeletePostRequest {
	r.roleId = &roleId
	return r
}

func (r ApiDeleteRoleApiV1SystemAdminRoleDeletePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DeleteRoleApiV1SystemAdminRoleDeletePostExecute(r)
}

/*
DeleteRoleApiV1SystemAdminRoleDeletePost 删除角色

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDeleteRoleApiV1SystemAdminRoleDeletePostRequest
*/
func (a *SystemAdminAPIService) DeleteRoleApiV1SystemAdminRoleDeletePost(ctx context.Context) ApiDeleteRoleApiV1SystemAdminRoleDeletePostRequest {
	return ApiDeleteRoleApiV1SystemAdminRoleDeletePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *SystemAdminAPIService) DeleteRoleApiV1SystemAdminRoleDeletePostExecute(r ApiDeleteRoleApiV1SystemAdminRoleDeletePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SystemAdminAPIService.DeleteRoleApiV1SystemAdminRoleDeletePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/system/admin/role/delete"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.roleId == nil {
		return localVarReturnValue, nil, reportError("roleId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "role_id", r.roleId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiExportConfigsApiV1SystemAdminConfigExportGetRequest struct {
	ctx context.Context
	ApiService *SystemAdminAPIService
}

func (r ApiExportConfigsApiV1SystemAdminConfigExportGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ExportConfigsApiV1SystemAdminConfigExportGetExecute(r)
}

/*
ExportConfigsApiV1SystemAdminConfigExportGet 导出参数配置到Excel

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiExportConfigsApiV1SystemAdminConfigExportGetRequest
*/
func (a *SystemAdminAPIService) ExportConfigsApiV1SystemAdminConfigExportGet(ctx context.Context) ApiExportConfigsApiV1SystemAdminConfigExportGetRequest {
	return ApiExportConfigsApiV1SystemAdminConfigExportGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *SystemAdminAPIService) ExportConfigsApiV1SystemAdminConfigExportGetExecute(r ApiExportConfigsApiV1SystemAdminConfigExportGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SystemAdminAPIService.ExportConfigsApiV1SystemAdminConfigExportGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/system/admin/config/export"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiExportDeptsApiV1SystemAdminDeptExportGetRequest struct {
	ctx context.Context
	ApiService *SystemAdminAPIService
}

func (r ApiExportDeptsApiV1SystemAdminDeptExportGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ExportDeptsApiV1SystemAdminDeptExportGetExecute(r)
}

/*
ExportDeptsApiV1SystemAdminDeptExportGet 导出部门列表到Excel

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiExportDeptsApiV1SystemAdminDeptExportGetRequest
*/
func (a *SystemAdminAPIService) ExportDeptsApiV1SystemAdminDeptExportGet(ctx context.Context) ApiExportDeptsApiV1SystemAdminDeptExportGetRequest {
	return ApiExportDeptsApiV1SystemAdminDeptExportGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *SystemAdminAPIService) ExportDeptsApiV1SystemAdminDeptExportGetExecute(r ApiExportDeptsApiV1SystemAdminDeptExportGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SystemAdminAPIService.ExportDeptsApiV1SystemAdminDeptExportGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/system/admin/dept/export"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiExportDictTypesApiV1SystemAdminDictTypeExportGetRequest struct {
	ctx context.Context
	ApiService *SystemAdminAPIService
}

func (r ApiExportDictTypesApiV1SystemAdminDictTypeExportGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ExportDictTypesApiV1SystemAdminDictTypeExportGetExecute(r)
}

/*
ExportDictTypesApiV1SystemAdminDictTypeExportGet 导出字典类型到Excel

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiExportDictTypesApiV1SystemAdminDictTypeExportGetRequest
*/
func (a *SystemAdminAPIService) ExportDictTypesApiV1SystemAdminDictTypeExportGet(ctx context.Context) ApiExportDictTypesApiV1SystemAdminDictTypeExportGetRequest {
	return ApiExportDictTypesApiV1SystemAdminDictTypeExportGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *SystemAdminAPIService) ExportDictTypesApiV1SystemAdminDictTypeExportGetExecute(r ApiExportDictTypesApiV1SystemAdminDictTypeExportGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SystemAdminAPIService.ExportDictTypesApiV1SystemAdminDictTypeExportGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/system/admin/dict/type/export"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiExportMenusApiV1SystemAdminMenuExportGetRequest struct {
	ctx context.Context
	ApiService *SystemAdminAPIService
}

func (r ApiExportMenusApiV1SystemAdminMenuExportGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ExportMenusApiV1SystemAdminMenuExportGetExecute(r)
}

/*
ExportMenusApiV1SystemAdminMenuExportGet 导出菜单列表到Excel

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiExportMenusApiV1SystemAdminMenuExportGetRequest
*/
func (a *SystemAdminAPIService) ExportMenusApiV1SystemAdminMenuExportGet(ctx context.Context) ApiExportMenusApiV1SystemAdminMenuExportGetRequest {
	return ApiExportMenusApiV1SystemAdminMenuExportGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *SystemAdminAPIService) ExportMenusApiV1SystemAdminMenuExportGetExecute(r ApiExportMenusApiV1SystemAdminMenuExportGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SystemAdminAPIService.ExportMenusApiV1SystemAdminMenuExportGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/system/admin/menu/export"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiExportPostsApiV1SystemAdminPostExportGetRequest struct {
	ctx context.Context
	ApiService *SystemAdminAPIService
}

func (r ApiExportPostsApiV1SystemAdminPostExportGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ExportPostsApiV1SystemAdminPostExportGetExecute(r)
}

/*
ExportPostsApiV1SystemAdminPostExportGet 导出岗位列表到Excel

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiExportPostsApiV1SystemAdminPostExportGetRequest
*/
func (a *SystemAdminAPIService) ExportPostsApiV1SystemAdminPostExportGet(ctx context.Context) ApiExportPostsApiV1SystemAdminPostExportGetRequest {
	return ApiExportPostsApiV1SystemAdminPostExportGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *SystemAdminAPIService) ExportPostsApiV1SystemAdminPostExportGetExecute(r ApiExportPostsApiV1SystemAdminPostExportGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SystemAdminAPIService.ExportPostsApiV1SystemAdminPostExportGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/system/admin/post/export"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiExportRolesApiV1SystemAdminRoleExportGetRequest struct {
	ctx context.Context
	ApiService *SystemAdminAPIService
}

func (r ApiExportRolesApiV1SystemAdminRoleExportGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ExportRolesApiV1SystemAdminRoleExportGetExecute(r)
}

/*
ExportRolesApiV1SystemAdminRoleExportGet 导出角色列表到Excel

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiExportRolesApiV1SystemAdminRoleExportGetRequest
*/
func (a *SystemAdminAPIService) ExportRolesApiV1SystemAdminRoleExportGet(ctx context.Context) ApiExportRolesApiV1SystemAdminRoleExportGetRequest {
	return ApiExportRolesApiV1SystemAdminRoleExportGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *SystemAdminAPIService) ExportRolesApiV1SystemAdminRoleExportGetExecute(r ApiExportRolesApiV1SystemAdminRoleExportGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SystemAdminAPIService.ExportRolesApiV1SystemAdminRoleExportGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/system/admin/role/export"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetConfigByKeyApiV1SystemAdminConfigKeyConfigKeyGetRequest struct {
	ctx context.Context
	ApiService *SystemAdminAPIService
	configKey string
}

func (r ApiGetConfigByKeyApiV1SystemAdminConfigKeyConfigKeyGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetConfigByKeyApiV1SystemAdminConfigKeyConfigKeyGetExecute(r)
}

/*
GetConfigByKeyApiV1SystemAdminConfigKeyConfigKeyGet 按 key 查配置

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param configKey
 @return ApiGetConfigByKeyApiV1SystemAdminConfigKeyConfigKeyGetRequest
*/
func (a *SystemAdminAPIService) GetConfigByKeyApiV1SystemAdminConfigKeyConfigKeyGet(ctx context.Context, configKey string) ApiGetConfigByKeyApiV1SystemAdminConfigKeyConfigKeyGetRequest {
	return ApiGetConfigByKeyApiV1SystemAdminConfigKeyConfigKeyGetRequest{
		ApiService: a,
		ctx: ctx,
		configKey: configKey,
	}
}

// Execute executes the request
//  @return interface{}
func (a *SystemAdminAPIService) GetConfigByKeyApiV1SystemAdminConfigKeyConfigKeyGetExecute(r ApiGetConfigByKeyApiV1SystemAdminConfigKeyConfigKeyGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SystemAdminAPIService.GetConfigByKeyApiV1SystemAdminConfigKeyConfigKeyGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/system/admin/config/key/{config_key}"
	localVarPath = strings.Replace(localVarPath, "{"+"config_key"+"}", url.PathEscape(parameterValueToString(r.configKey, "configKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetDictDataByTypeApiV1SystemAdminDictDataTypeDictTypeGetRequest struct {
	ctx context.Context
	ApiService *SystemAdminAPIService
	dictType string
}

func (r ApiGetDictDataByTypeApiV1SystemAdminDictDataTypeDictTypeGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetDictDataByTypeApiV1SystemAdminDictDataTypeDictTypeGetExecute(r)
}

/*
GetDictDataByTypeApiV1SystemAdminDictDataTypeDictTypeGet 按字典类型获取数据 (RuoYi 兼容)

前端 /system/dict/data/type/{dict_type} 调用此端点.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param dictType
 @return ApiGetDictDataByTypeApiV1SystemAdminDictDataTypeDictTypeGetRequest
*/
func (a *SystemAdminAPIService) GetDictDataByTypeApiV1SystemAdminDictDataTypeDictTypeGet(ctx context.Context, dictType string) ApiGetDictDataByTypeApiV1SystemAdminDictDataTypeDictTypeGetRequest {
	return ApiGetDictDataByTypeApiV1SystemAdminDictDataTypeDictTypeGetRequest{
		ApiService: a,
		ctx: ctx,
		dictType: dictType,
	}
}

// Execute executes the request
//  @return interface{}
func (a *SystemAdminAPIService) GetDictDataByTypeApiV1SystemAdminDictDataTypeDictTypeGetExecute(r ApiGetDictDataByTypeApiV1SystemAdminDictDataTypeDictTypeGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SystemAdminAPIService.GetDictDataByTypeApiV1SystemAdminDictDataTypeDictTypeGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/system/admin/dict/data/type/{dict_type}"
	localVarPath = strings.Replace(localVarPath, "{"+"dict_type"+"}", url.PathEscape(parameterValueToString(r.dictType, "dictType")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetRoutersApiV1SystemAdminMenuGetRoutersGetRequest struct {
	ctx context.Context
	ApiService *SystemAdminAPIService
}

func (r ApiGetRoutersApiV1SystemAdminMenuGetRoutersGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetRoutersApiV1SystemAdminMenuGetRoutersGetExecute(r)
}

/*
GetRoutersApiV1SystemAdminMenuGetRoutersGet 获取路由菜单树 (RuoYi 兼容)

返回前端路由所需的菜单树结构。RuoYi 前端调用 /system/menu/getRouters。

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetRoutersApiV1SystemAdminMenuGetRoutersGetRequest
*/
func (a *SystemAdminAPIService) GetRoutersApiV1SystemAdminMenuGetRoutersGet(ctx context.Context) ApiGetRoutersApiV1SystemAdminMenuGetRoutersGetRequest {
	return ApiGetRoutersApiV1SystemAdminMenuGetRoutersGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *SystemAdminAPIService) GetRoutersApiV1SystemAdminMenuGetRoutersGetExecute(r ApiGetRoutersApiV1SystemAdminMenuGetRoutersGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SystemAdminAPIService.GetRoutersApiV1SystemAdminMenuGetRoutersGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/system/admin/menu/getRouters"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListConfigsApiV1SystemAdminConfigListGetRequest struct {
	ctx context.Context
	ApiService *SystemAdminAPIService
	page *int32
	limit *int32
	configKey *string
}

func (r ApiListConfigsApiV1SystemAdminConfigListGetRequest) Page(page int32) ApiListConfigsApiV1SystemAdminConfigListGetRequest {
	r.page = &page
	return r
}

func (r ApiListConfigsApiV1SystemAdminConfigListGetRequest) Limit(limit int32) ApiListConfigsApiV1SystemAdminConfigListGetRequest {
	r.limit = &limit
	return r
}

func (r ApiListConfigsApiV1SystemAdminConfigListGetRequest) ConfigKey(configKey string) ApiListConfigsApiV1SystemAdminConfigListGetRequest {
	r.configKey = &configKey
	return r
}

func (r ApiListConfigsApiV1SystemAdminConfigListGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListConfigsApiV1SystemAdminConfigListGetExecute(r)
}

/*
ListConfigsApiV1SystemAdminConfigListGet 参数配置列表

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListConfigsApiV1SystemAdminConfigListGetRequest
*/
func (a *SystemAdminAPIService) ListConfigsApiV1SystemAdminConfigListGet(ctx context.Context) ApiListConfigsApiV1SystemAdminConfigListGetRequest {
	return ApiListConfigsApiV1SystemAdminConfigListGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *SystemAdminAPIService) ListConfigsApiV1SystemAdminConfigListGetExecute(r ApiListConfigsApiV1SystemAdminConfigListGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SystemAdminAPIService.ListConfigsApiV1SystemAdminConfigListGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/system/admin/config/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 50
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.configKey != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "config_key", r.configKey, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListDeptsApiV1SystemAdminDeptListGetRequest struct {
	ctx context.Context
	ApiService *SystemAdminAPIService
	page *int32
	limit *int32
	deptName *string
}

func (r ApiListDeptsApiV1SystemAdminDeptListGetRequest) Page(page int32) ApiListDeptsApiV1SystemAdminDeptListGetRequest {
	r.page = &page
	return r
}

func (r ApiListDeptsApiV1SystemAdminDeptListGetRequest) Limit(limit int32) ApiListDeptsApiV1SystemAdminDeptListGetRequest {
	r.limit = &limit
	return r
}

func (r ApiListDeptsApiV1SystemAdminDeptListGetRequest) DeptName(deptName string) ApiListDeptsApiV1SystemAdminDeptListGetRequest {
	r.deptName = &deptName
	return r
}

func (r ApiListDeptsApiV1SystemAdminDeptListGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListDeptsApiV1SystemAdminDeptListGetExecute(r)
}

/*
ListDeptsApiV1SystemAdminDeptListGet 部门列表

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListDeptsApiV1SystemAdminDeptListGetRequest
*/
func (a *SystemAdminAPIService) ListDeptsApiV1SystemAdminDeptListGet(ctx context.Context) ApiListDeptsApiV1SystemAdminDeptListGetRequest {
	return ApiListDeptsApiV1SystemAdminDeptListGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *SystemAdminAPIService) ListDeptsApiV1SystemAdminDeptListGetExecute(r ApiListDeptsApiV1SystemAdminDeptListGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SystemAdminAPIService.ListDeptsApiV1SystemAdminDeptListGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/system/admin/dept/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 50
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.deptName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dept_name", r.deptName, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListDictDataApiV1SystemAdminDictDataListGetRequest struct {
	ctx context.Context
	ApiService *SystemAdminAPIService
	dictType *string
	page *int32
	limit *int32
}

// 字典编码
func (r ApiListDictDataApiV1SystemAdminDictDataListGetRequest) DictType(dictType string) ApiListDictDataApiV1SystemAdminDictDataListGetRequest {
	r.dictType = &dictType
	return r
}

func (r ApiListDictDataApiV1SystemAdminDictDataListGetRequest) Page(page int32) ApiListDictDataApiV1SystemAdminDictDataListGetRequest {
	r.page = &page
	return r
}

func (r ApiListDictDataApiV1SystemAdminDictDataListGetRequest) Limit(limit int32) ApiListDictDataApiV1SystemAdminDictDataListGetRequest {
	r.limit = &limit
	return r
}

func (r ApiListDictDataApiV1SystemAdminDictDataListGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListDictDataApiV1SystemAdminDictDataListGetExecute(r)
}

/*
ListDictDataApiV1SystemAdminDictDataListGet 字典数据列表

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListDictDataApiV1SystemAdminDictDataListGetRequest
*/
func (a *SystemAdminAPIService) ListDictDataApiV1SystemAdminDictDataListGet(ctx context.Context) ApiListDictDataApiV1SystemAdminDictDataListGetRequest {
	return ApiListDictDataApiV1SystemAdminDictDataListGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *SystemAdminAPIService) ListDictDataApiV1SystemAdminDictDataListGetExecute(r ApiListDictDataApiV1SystemAdminDictDataListGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SystemAdminAPIService.ListDictDataApiV1SystemAdminDictDataListGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/system/admin/dict/data/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.dictType == nil {
		return localVarReturnValue, nil, reportError("dictType is required and must be specified")
	}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 100
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "dict_type", r.dictType, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListDictTypesApiV1SystemAdminDictTypeListGetRequest struct {
	ctx context.Context
	ApiService *SystemAdminAPIService
	page *int32
	limit *int32
}

func (r ApiListDictTypesApiV1SystemAdminDictTypeListGetRequest) Page(page int32) ApiListDictTypesApiV1SystemAdminDictTypeListGetRequest {
	r.page = &page
	return r
}

func (r ApiListDictTypesApiV1SystemAdminDictTypeListGetRequest) Limit(limit int32) ApiListDictTypesApiV1SystemAdminDictTypeListGetRequest {
	r.limit = &limit
	return r
}

func (r ApiListDictTypesApiV1SystemAdminDictTypeListGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListDictTypesApiV1SystemAdminDictTypeListGetExecute(r)
}

/*
ListDictTypesApiV1SystemAdminDictTypeListGet 字典类型列表

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListDictTypesApiV1SystemAdminDictTypeListGetRequest
*/
func (a *SystemAdminAPIService) ListDictTypesApiV1SystemAdminDictTypeListGet(ctx context.Context) ApiListDictTypesApiV1SystemAdminDictTypeListGetRequest {
	return ApiListDictTypesApiV1SystemAdminDictTypeListGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *SystemAdminAPIService) ListDictTypesApiV1SystemAdminDictTypeListGetExecute(r ApiListDictTypesApiV1SystemAdminDictTypeListGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SystemAdminAPIService.ListDictTypesApiV1SystemAdminDictTypeListGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/system/admin/dict/type/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 50
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
[...]
