/*
ZHS Platform

ZHS Platform API - AI Agent Marketplace & Educational Platform

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zhs_api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// AuthIdentityAPIService AuthIdentityAPI service
type AuthIdentityAPIService service

type ApiAuditApiV1AuthIdentityAidAuditPutRequest struct {
	ctx context.Context
	ApiService *AuthIdentityAPIService
	aid int32
	status *int32
	remark *string
	expireDays *int32
}

func (r ApiAuditApiV1AuthIdentityAidAuditPutRequest) Status(status int32) ApiAuditApiV1AuthIdentityAidAuditPutRequest {
	r.status = &status
	return r
}

func (r ApiAuditApiV1AuthIdentityAidAuditPutRequest) Remark(remark string) ApiAuditApiV1AuthIdentityAidAuditPutRequest {
	r.remark = &remark
	return r
}

func (r ApiAuditApiV1AuthIdentityAidAuditPutRequest) ExpireDays(expireDays int32) ApiAuditApiV1AuthIdentityAidAuditPutRequest {
	r.expireDays = &expireDays
	return r
}

func (r ApiAuditApiV1AuthIdentityAidAuditPutRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.AuditApiV1AuthIdentityAidAuditPutExecute(r)
}

/*
AuditApiV1AuthIdentityAidAuditPut 审核认证

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param aid
 @return ApiAuditApiV1AuthIdentityAidAuditPutRequest
*/
func (a *AuthIdentityAPIService) AuditApiV1AuthIdentityAidAuditPut(ctx context.Context, aid int32) ApiAuditApiV1AuthIdentityAidAuditPutRequest {
	return ApiAuditApiV1AuthIdentityAidAuditPutRequest{
		ApiService: a,
		ctx: ctx,
		aid: aid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AuthIdentityAPIService) AuditApiV1AuthIdentityAidAuditPutExecute(r ApiAuditApiV1AuthIdentityAidAuditPutRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthIdentityAPIService.AuditApiV1AuthIdentityAidAuditPut")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/auth-identity/{aid}/audit"
	localVarPath = strings.Replace(localVarPath, "{"+"aid"+"}", url.PathEscape(parameterValueToString(r.aid, "aid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.status == nil {
		return localVarReturnValue, nil, reportError("status is required and must be specified")
	}
	if *r.status < 1 {
		return localVarReturnValue, nil, reportError("status must be greater than 1")
	}
	if *r.status > 3 {
		return localVarReturnValue, nil, reportError("status must be less than 3")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	if r.remark != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remark", r.remark, "form", "")
	}
	if r.expireDays != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "expire_days", r.expireDays, "form", "")
	} else {
		var defaultValue int32 = 365
		parameterAddToHeaderOrQuery(localVarQueryParams, "expire_days", defaultValue, "form", "")
		r.expireDays = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAuditApiV1AuthIdentityAidAuditPut_0Request struct {
	ctx context.Context
	ApiService *AuthIdentityAPIService
	aid int32
	status *int32
	remark *string
	expireDays *int32
}

func (r ApiAuditApiV1AuthIdentityAidAuditPut_0Request) Status(status int32) ApiAuditApiV1AuthIdentityAidAuditPut_0Request {
	r.status = &status
	return r
}

func (r ApiAuditApiV1AuthIdentityAidAuditPut_0Request) Remark(remark string) ApiAuditApiV1AuthIdentityAidAuditPut_0Request {
	r.remark = &remark
	return r
}

func (r ApiAuditApiV1AuthIdentityAidAuditPut_0Request) ExpireDays(expireDays int32) ApiAuditApiV1AuthIdentityAidAuditPut_0Request {
	r.expireDays = &expireDays
	return r
}

func (r ApiAuditApiV1AuthIdentityAidAuditPut_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.AuditApiV1AuthIdentityAidAuditPut_1Execute(r)
}

/*
AuditApiV1AuthIdentityAidAuditPut_0 审核认证

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param aid
 @return ApiAuditApiV1AuthIdentityAidAuditPut_0Request
*/
func (a *AuthIdentityAPIService) AuditApiV1AuthIdentityAidAuditPut_1(ctx context.Context, aid int32) ApiAuditApiV1AuthIdentityAidAuditPut_0Request {
	return ApiAuditApiV1AuthIdentityAidAuditPut_0Request{
		ApiService: a,
		ctx: ctx,
		aid: aid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AuthIdentityAPIService) AuditApiV1AuthIdentityAidAuditPut_1Execute(r ApiAuditApiV1AuthIdentityAidAuditPut_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthIdentityAPIService.AuditApiV1AuthIdentityAidAuditPut_1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/auth-identity/{aid}/audit"
	localVarPath = strings.Replace(localVarPath, "{"+"aid"+"}", url.PathEscape(parameterValueToString(r.aid, "aid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.status == nil {
		return localVarReturnValue, nil, reportError("status is required and must be specified")
	}
	if *r.status < 1 {
		return localVarReturnValue, nil, reportError("status must be greater than 1")
	}
	if *r.status > 3 {
		return localVarReturnValue, nil, reportError("status must be less than 3")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	if r.remark != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remark", r.remark, "form", "")
	}
	if r.expireDays != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "expire_days", r.expireDays, "form", "")
	} else {
		var defaultValue int32 = 365
		parameterAddToHeaderOrQuery(localVarQueryParams, "expire_days", defaultValue, "form", "")
		r.expireDays = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAuthIdentitySubmitRequest struct {
	ctx context.Context
	ApiService *AuthIdentityAPIService
	realName *string
	idCard *string
	phone *string
	idCardFront *string
	idCardBack *string
	type_ *int32
}

func (r ApiAuthIdentitySubmitRequest) RealName(realName string) ApiAuthIdentitySubmitRequest {
	r.realName = &realName
	return r
}

func (r ApiAuthIdentitySubmitRequest) IdCard(idCard string) ApiAuthIdentitySubmitRequest {
	r.idCard = &idCard
	return r
}

func (r ApiAuthIdentitySubmitRequest) Phone(phone string) ApiAuthIdentitySubmitRequest {
	r.phone = &phone
	return r
}

func (r ApiAuthIdentitySubmitRequest) IdCardFront(idCardFront string) ApiAuthIdentitySubmitRequest {
	r.idCardFront = &idCardFront
	return r
}

func (r ApiAuthIdentitySubmitRequest) IdCardBack(idCardBack string) ApiAuthIdentitySubmitRequest {
	r.idCardBack = &idCardBack
	return r
}

func (r ApiAuthIdentitySubmitRequest) Type_(type_ int32) ApiAuthIdentitySubmitRequest {
	r.type_ = &type_
	return r
}

func (r ApiAuthIdentitySubmitRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.AuthIdentitySubmitExecute(r)
}

/*
AuthIdentitySubmit 提交实名认证

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAuthIdentitySubmitRequest
*/
func (a *AuthIdentityAPIService) AuthIdentitySubmit(ctx context.Context) ApiAuthIdentitySubmitRequest {
	return ApiAuthIdentitySubmitRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AuthIdentityAPIService) AuthIdentitySubmitExecute(r ApiAuthIdentitySubmitRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthIdentityAPIService.AuthIdentitySubmit")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/auth-identity/submit"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.realName == nil {
		return localVarReturnValue, nil, reportError("realName is required and must be specified")
	}
	if strlen(*r.realName) < 2 {
		return localVarReturnValue, nil, reportError("realName must have at least 2 elements")
	}
	if strlen(*r.realName) > 50 {
		return localVarReturnValue, nil, reportError("realName must have less than 50 elements")
	}
	if r.idCard == nil {
		return localVarReturnValue, nil, reportError("idCard is required and must be specified")
	}
	if strlen(*r.idCard) < 15 {
		return localVarReturnValue, nil, reportError("idCard must have at least 15 elements")
	}
	if strlen(*r.idCard) > 20 {
		return localVarReturnValue, nil, reportError("idCard must have less than 20 elements")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "real_name", r.realName, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "id_card", r.idCard, "form", "")
	if r.phone != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "phone", r.phone, "form", "")
	}
	if r.idCardFront != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id_card_front", r.idCardFront, "form", "")
	}
	if r.idCardBack != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id_card_back", r.idCardBack, "form", "")
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", defaultValue, "form", "")
		r.type_ = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAuthIdentitySubmit_0Request struct {
	ctx context.Context
	ApiService *AuthIdentityAPIService
	realName *string
	idCard *string
	phone *string
	idCardFront *string
	idCardBack *string
	type_ *int32
}

func (r ApiAuthIdentitySubmit_0Request) RealName(realName string) ApiAuthIdentitySubmit_0Request {
	r.realName = &realName
	return r
}

func (r ApiAuthIdentitySubmit_0Request) IdCard(idCard string) ApiAuthIdentitySubmit_0Request {
	r.idCard = &idCard
	return r
}

func (r ApiAuthIdentitySubmit_0Request) Phone(phone string) ApiAuthIdentitySubmit_0Request {
	r.phone = &phone
	return r
}

func (r ApiAuthIdentitySubmit_0Request) IdCardFront(idCardFront string) ApiAuthIdentitySubmit_0Request {
	r.idCardFront = &idCardFront
	return r
}

func (r ApiAuthIdentitySubmit_0Request) IdCardBack(idCardBack string) ApiAuthIdentitySubmit_0Request {
	r.idCardBack = &idCardBack
	return r
}

func (r ApiAuthIdentitySubmit_0Request) Type_(type_ int32) ApiAuthIdentitySubmit_0Request {
	r.type_ = &type_
	return r
}

func (r ApiAuthIdentitySubmit_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.AuthIdentitySubmit_2Execute(r)
}

/*
AuthIdentitySubmit_0 提交实名认证

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAuthIdentitySubmit_0Request
*/
func (a *AuthIdentityAPIService) AuthIdentitySubmit_2(ctx context.Context) ApiAuthIdentitySubmit_0Request {
	return ApiAuthIdentitySubmit_0Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AuthIdentityAPIService) AuthIdentitySubmit_2Execute(r ApiAuthIdentitySubmit_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthIdentityAPIService.AuthIdentitySubmit_2")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/auth-identity/submit"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.realName == nil {
		return localVarReturnValue, nil, reportError("realName is required and must be specified")
	}
	if strlen(*r.realName) < 2 {
		return localVarReturnValue, nil, reportError("realName must have at least 2 elements")
	}
	if strlen(*r.realName) > 50 {
		return localVarReturnValue, nil, reportError("realName must have less than 50 elements")
	}
	if r.idCard == nil {
		return localVarReturnValue, nil, reportError("idCard is required and must be specified")
	}
	if strlen(*r.idCard) < 15 {
		return localVarReturnValue, nil, reportError("idCard must have at least 15 elements")
	}
	if strlen(*r.idCard) > 20 {
		return localVarReturnValue, nil, reportError("idCard must have less than 20 elements")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "real_name", r.realName, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "id_card", r.idCard, "form", "")
	if r.phone != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "phone", r.phone, "form", "")
	}
	if r.idCardFront != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id_card_front", r.idCardFront, "form", "")
	}
	if r.idCardBack != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id_card_back", r.idCardBack, "form", "")
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", defaultValue, "form", "")
		r.type_ = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListIdentitiesApiV1AuthIdentityListGetRequest struct {
	ctx context.Context
	ApiService *AuthIdentityAPIService
	page *int32
	limit *int32
	status *int32
}

func (r ApiListIdentitiesApiV1AuthIdentityListGetRequest) Page(page int32) ApiListIdentitiesApiV1AuthIdentityListGetRequest {
	r.page = &page
	return r
}

func (r ApiListIdentitiesApiV1AuthIdentityListGetRequest) Limit(limit int32) ApiListIdentitiesApiV1AuthIdentityListGetRequest {
	r.limit = &limit
	return r
}

func (r ApiListIdentitiesApiV1AuthIdentityListGetRequest) Status(status int32) ApiListIdentitiesApiV1AuthIdentityListGetRequest {
	r.status = &status
	return r
}

func (r ApiListIdentitiesApiV1AuthIdentityListGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListIdentitiesApiV1AuthIdentityListGetExecute(r)
}

/*
ListIdentitiesApiV1AuthIdentityListGet 认证列表(管理员)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListIdentitiesApiV1AuthIdentityListGetRequest
*/
func (a *AuthIdentityAPIService) ListIdentitiesApiV1AuthIdentityListGet(ctx context.Context) ApiListIdentitiesApiV1AuthIdentityListGetRequest {
	return ApiListIdentitiesApiV1AuthIdentityListGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AuthIdentityAPIService) ListIdentitiesApiV1AuthIdentityListGetExecute(r ApiListIdentitiesApiV1AuthIdentityListGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthIdentityAPIService.ListIdentitiesApiV1AuthIdentityListGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/auth-identity/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListIdentitiesApiV1AuthIdentityListGet_0Request struct {
	ctx context.Context
	ApiService *AuthIdentityAPIService
	page *int32
	limit *int32
	status *int32
}

func (r ApiListIdentitiesApiV1AuthIdentityListGet_0Request) Page(page int32) ApiListIdentitiesApiV1AuthIdentityListGet_0Request {
	r.page = &page
	return r
}

func (r ApiListIdentitiesApiV1AuthIdentityListGet_0Request) Limit(limit int32) ApiListIdentitiesApiV1AuthIdentityListGet_0Request {
	r.limit = &limit
	return r
}

func (r ApiListIdentitiesApiV1AuthIdentityListGet_0Request) Status(status int32) ApiListIdentitiesApiV1AuthIdentityListGet_0Request {
	r.status = &status
	return r
}

func (r ApiListIdentitiesApiV1AuthIdentityListGet_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListIdentitiesApiV1AuthIdentityListGet_3Execute(r)
}

/*
ListIdentitiesApiV1AuthIdentityListGet_0 认证列表(管理员)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListIdentitiesApiV1AuthIdentityListGet_0Request
*/
func (a *AuthIdentityAPIService) ListIdentitiesApiV1AuthIdentityListGet_3(ctx context.Context) ApiListIdentitiesApiV1AuthIdentityListGet_0Request {
	return ApiListIdentitiesApiV1AuthIdentityListGet_0Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AuthIdentityAPIService) ListIdentitiesApiV1AuthIdentityListGet_3Execute(r ApiListIdentitiesApiV1AuthIdentityListGet_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthIdentityAPIService.ListIdentitiesApiV1AuthIdentityListGet_3")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/auth-identity/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiMyIdentityApiV1AuthIdentityMyGetRequest struct {
	ctx context.Context
	ApiService *AuthIdentityAPIService
}

func (r ApiMyIdentityApiV1AuthIdentityMyGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.MyIdentityApiV1AuthIdentityMyGetExecute(r)
}

/*
MyIdentityApiV1AuthIdentityMyGet 我的认证

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiMyIdentityApiV1AuthIdentityMyGetRequest
*/
func (a *AuthIdentityAPIService) MyIdentityApiV1AuthIdentityMyGet(ctx context.Context) ApiMyIdentityApiV1AuthIdentityMyGetRequest {
	return ApiMyIdentityApiV1AuthIdentityMyGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AuthIdentityAPIService) MyIdentityApiV1AuthIdentityMyGetExecute(r ApiMyIdentityApiV1AuthIdentityMyGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthIdentityAPIService.MyIdentityApiV1AuthIdentityMyGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/auth-identity/my"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiMyIdentityApiV1AuthIdentityMyGet_0Request struct {
	ctx context.Context
	ApiService *AuthIdentityAPIService
}

func (r ApiMyIdentityApiV1AuthIdentityMyGet_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.MyIdentityApiV1AuthIdentityMyGet_4Execute(r)
}

/*
MyIdentityApiV1AuthIdentityMyGet_0 我的认证

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiMyIdentityApiV1AuthIdentityMyGet_0Request
*/
func (a *AuthIdentityAPIService) MyIdentityApiV1AuthIdentityMyGet_4(ctx context.Context) ApiMyIdentityApiV1AuthIdentityMyGet_0Request {
	return ApiMyIdentityApiV1AuthIdentityMyGet_0Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AuthIdentityAPIService) MyIdentityApiV1AuthIdentityMyGet_4Execute(r ApiMyIdentityApiV1AuthIdentityMyGet_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthIdentityAPIService.MyIdentityApiV1AuthIdentityMyGet_4")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/auth-identity/my"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
