/*
ZHS Platform

ZHS Platform API - AI Agent Marketplace & Educational Platform

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zhs_api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"os"
)


// ChatAPIService ChatAPI service
type ChatAPIService service

type ApiChatWithBillingApiV1ChatChatWithBillingPostRequest struct {
	ctx context.Context
	ApiService *ChatAPIService
	botId *string
	message *string
	costTokens *int32
}

func (r ApiChatWithBillingApiV1ChatChatWithBillingPostRequest) BotId(botId string) ApiChatWithBillingApiV1ChatChatWithBillingPostRequest {
	r.botId = &botId
	return r
}

func (r ApiChatWithBillingApiV1ChatChatWithBillingPostRequest) Message(message string) ApiChatWithBillingApiV1ChatChatWithBillingPostRequest {
	r.message = &message
	return r
}

// 本次聊天扣减 token 数
func (r ApiChatWithBillingApiV1ChatChatWithBillingPostRequest) CostTokens(costTokens int32) ApiChatWithBillingApiV1ChatChatWithBillingPostRequest {
	r.costTokens = &costTokens
	return r
}

func (r ApiChatWithBillingApiV1ChatChatWithBillingPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ChatWithBillingApiV1ChatChatWithBillingPostExecute(r)
}

/*
ChatWithBillingApiV1ChatChatWithBillingPost Chat with token billing

带计费的聊天：先扣 token，再转发到 Coze。

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiChatWithBillingApiV1ChatChatWithBillingPostRequest
*/
func (a *ChatAPIService) ChatWithBillingApiV1ChatChatWithBillingPost(ctx context.Context) ApiChatWithBillingApiV1ChatChatWithBillingPostRequest {
	return ApiChatWithBillingApiV1ChatChatWithBillingPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ChatAPIService) ChatWithBillingApiV1ChatChatWithBillingPostExecute(r ApiChatWithBillingApiV1ChatChatWithBillingPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChatAPIService.ChatWithBillingApiV1ChatChatWithBillingPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/chat/chat-with-billing"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.botId == nil {
		return localVarReturnValue, nil, reportError("botId is required and must be specified")
	}
	if r.message == nil {
		return localVarReturnValue, nil, reportError("message is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "bot_id", r.botId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "message", r.message, "form", "")
	if r.costTokens != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cost_tokens", r.costTokens, "form", "")
	} else {
		var defaultValue int32 = 100
		parameterAddToHeaderOrQuery(localVarQueryParams, "cost_tokens", defaultValue, "form", "")
		r.costTokens = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateConversationApiV1ChatConversationCreatePostRequest struct {
	ctx context.Context
	ApiService *ChatAPIService
	botId *string
}

func (r ApiCreateConversationApiV1ChatConversationCreatePostRequest) BotId(botId string) ApiCreateConversationApiV1ChatConversationCreatePostRequest {
	r.botId = &botId
	return r
}

func (r ApiCreateConversationApiV1ChatConversationCreatePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CreateConversationApiV1ChatConversationCreatePostExecute(r)
}

/*
CreateConversationApiV1ChatConversationCreatePost Create Coze conversation

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateConversationApiV1ChatConversationCreatePostRequest
*/
func (a *ChatAPIService) CreateConversationApiV1ChatConversationCreatePost(ctx context.Context) ApiCreateConversationApiV1ChatConversationCreatePostRequest {
	return ApiCreateConversationApiV1ChatConversationCreatePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ChatAPIService) CreateConversationApiV1ChatConversationCreatePostExecute(r ApiCreateConversationApiV1ChatConversationCreatePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChatAPIService.CreateConversationApiV1ChatConversationCreatePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/chat/conversation/create"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.botId == nil {
		return localVarReturnValue, nil, reportError("botId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "bot_id", r.botId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateDatasetApiV1ChatDatasetsCreatePostRequest struct {
	ctx context.Context
	ApiService *ChatAPIService
	name *string
	spaceId *string
}

func (r ApiCreateDatasetApiV1ChatDatasetsCreatePostRequest) Name(name string) ApiCreateDatasetApiV1ChatDatasetsCreatePostRequest {
	r.name = &name
	return r
}

// Workspace ID, defaults to configured account
func (r ApiCreateDatasetApiV1ChatDatasetsCreatePostRequest) SpaceId(spaceId string) ApiCreateDatasetApiV1ChatDatasetsCreatePostRequest {
	r.spaceId = &spaceId
	return r
}

func (r ApiCreateDatasetApiV1ChatDatasetsCreatePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CreateDatasetApiV1ChatDatasetsCreatePostExecute(r)
}

/*
CreateDatasetApiV1ChatDatasetsCreatePost Create Coze dataset

创建数据集。

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateDatasetApiV1ChatDatasetsCreatePostRequest
*/
func (a *ChatAPIService) CreateDatasetApiV1ChatDatasetsCreatePost(ctx context.Context) ApiCreateDatasetApiV1ChatDatasetsCreatePostRequest {
	return ApiCreateDatasetApiV1ChatDatasetsCreatePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ChatAPIService) CreateDatasetApiV1ChatDatasetsCreatePostExecute(r ApiCreateDatasetApiV1ChatDatasetsCreatePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChatAPIService.CreateDatasetApiV1ChatDatasetsCreatePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/chat/datasets/create"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.name == nil {
		return localVarReturnValue, nil, reportError("name is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	if r.spaceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "space_id", r.spaceId, "form", "")
	} else {
		var defaultValue string = ""
		parameterAddToHeaderOrQuery(localVarQueryParams, "space_id", defaultValue, "form", "")
		r.spaceId = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListConversationsApiV1ChatConversationsListPostRequest struct {
	ctx context.Context
	ApiService *ChatAPIService
	botId *string
	userId *string
	page *int32
	size *int32
}

func (r ApiListConversationsApiV1ChatConversationsListPostRequest) BotId(botId string) ApiListConversationsApiV1ChatConversationsListPostRequest {
	r.botId = &botId
	return r
}

func (r ApiListConversationsApiV1ChatConversationsListPostRequest) UserId(userId string) ApiListConversationsApiV1ChatConversationsListPostRequest {
	r.userId = &userId
	return r
}

func (r ApiListConversationsApiV1ChatConversationsListPostRequest) Page(page int32) ApiListConversationsApiV1ChatConversationsListPostRequest {
	r.page = &page
	return r
}

func (r ApiListConversationsApiV1ChatConversationsListPostRequest) Size(size int32) ApiListConversationsApiV1ChatConversationsListPostRequest {
	r.size = &size
	return r
}

func (r ApiListConversationsApiV1ChatConversationsListPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListConversationsApiV1ChatConversationsListPostExecute(r)
}

/*
ListConversationsApiV1ChatConversationsListPost List Coze conversations

获取对话列表。

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListConversationsApiV1ChatConversationsListPostRequest
*/
func (a *ChatAPIService) ListConversationsApiV1ChatConversationsListPost(ctx context.Context) ApiListConversationsApiV1ChatConversationsListPostRequest {
	return ApiListConversationsApiV1ChatConversationsListPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ChatAPIService) ListConversationsApiV1ChatConversationsListPostExecute(r ApiListConversationsApiV1ChatConversationsListPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChatAPIService.ListConversationsApiV1ChatConversationsListPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/chat/conversations/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.botId == nil {
		return localVarReturnValue, nil, reportError("botId is required and must be specified")
	}
	if r.userId == nil {
		return localVarReturnValue, nil, reportError("userId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "bot_id", r.botId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", r.userId, "form", "")
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", defaultValue, "form", "")
		r.size = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListDatasetsApiV1ChatDatasetsListPostRequest struct {
	ctx context.Context
	ApiService *ChatAPIService
	spaceId *string
	page *int32
	size *int32
}

// Workspace ID
func (r ApiListDatasetsApiV1ChatDatasetsListPostRequest) SpaceId(spaceId string) ApiListDatasetsApiV1ChatDatasetsListPostRequest {
	r.spaceId = &spaceId
	return r
}

func (r ApiListDatasetsApiV1ChatDatasetsListPostRequest) Page(page int32) ApiListDatasetsApiV1ChatDatasetsListPostRequest {
	r.page = &page
	return r
}

func (r ApiListDatasetsApiV1ChatDatasetsListPostRequest) Size(size int32) ApiListDatasetsApiV1ChatDatasetsListPostRequest {
	r.size = &size
	return r
}

func (r ApiListDatasetsApiV1ChatDatasetsListPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListDatasetsApiV1ChatDatasetsListPostExecute(r)
}

/*
ListDatasetsApiV1ChatDatasetsListPost List Coze datasets

获取数据集列表。

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListDatasetsApiV1ChatDatasetsListPostRequest
*/
func (a *ChatAPIService) ListDatasetsApiV1ChatDatasetsListPost(ctx context.Context) ApiListDatasetsApiV1ChatDatasetsListPostRequest {
	return ApiListDatasetsApiV1ChatDatasetsListPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ChatAPIService) ListDatasetsApiV1ChatDatasetsListPostExecute(r ApiListDatasetsApiV1ChatDatasetsListPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChatAPIService.ListDatasetsApiV1ChatDatasetsListPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/chat/datasets/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.spaceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "space_id", r.spaceId, "form", "")
	} else {
		var defaultValue string = ""
		parameterAddToHeaderOrQuery(localVarQueryParams, "space_id", defaultValue, "form", "")
		r.spaceId = &defaultValue
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", defaultValue, "form", "")
		r.size = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListDocumentsApiV1ChatDocumentsListPostRequest struct {
	ctx context.Context
	ApiService *ChatAPIService
	datasetId *string
	page *int32
	size *int32
}

func (r ApiListDocumentsApiV1ChatDocumentsListPostRequest) DatasetId(datasetId string) ApiListDocumentsApiV1ChatDocumentsListPostRequest {
	r.datasetId = &datasetId
	return r
}

func (r ApiListDocumentsApiV1ChatDocumentsListPostRequest) Page(page int32) ApiListDocumentsApiV1ChatDocumentsListPostRequest {
	r.page = &page
	return r
}

func (r ApiListDocumentsApiV1ChatDocumentsListPostRequest) Size(size int32) ApiListDocumentsApiV1ChatDocumentsListPostRequest {
	r.size = &size
	return r
}

func (r ApiListDocumentsApiV1ChatDocumentsListPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListDocumentsApiV1ChatDocumentsListPostExecute(r)
}

/*
ListDocumentsApiV1ChatDocumentsListPost List Coze dataset documents

获取数据集下的文档列表。

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListDocumentsApiV1ChatDocumentsListPostRequest
*/
func (a *ChatAPIService) ListDocumentsApiV1ChatDocumentsListPost(ctx context.Context) ApiListDocumentsApiV1ChatDocumentsListPostRequest {
	return ApiListDocumentsApiV1ChatDocumentsListPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ChatAPIService) ListDocumentsApiV1ChatDocumentsListPostExecute(r ApiListDocumentsApiV1ChatDocumentsListPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChatAPIService.ListDocumentsApiV1ChatDocumentsListPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/chat/documents/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.datasetId == nil {
		return localVarReturnValue, nil, reportError("datasetId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "dataset_id", r.datasetId, "form", "")
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", defaultValue, "form", "")
		r.size = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListMessagesApiV1ChatMessagesListPostRequest struct {
	ctx context.Context
	ApiService *ChatAPIService
	conversationId *string
	botId *string
	page *int32
	size *int32
}

func (r ApiListMessagesApiV1ChatMessagesListPostRequest) ConversationId(conversationId string) ApiListMessagesApiV1ChatMessagesListPostRequest {
	r.conversationId = &conversationId
	return r
}

func (r ApiListMessagesApiV1ChatMessagesListPostRequest) BotId(botId string) ApiListMessagesApiV1ChatMessagesListPostRequest {
	r.botId = &botId
	return r
}

func (r ApiListMessagesApiV1ChatMessagesListPostRequest) Page(page int32) ApiListMessagesApiV1ChatMessagesListPostRequest {
	r.page = &page
	return r
}

func (r ApiListMessagesApiV1ChatMessagesListPostRequest) Size(size int32) ApiListMessagesApiV1ChatMessagesListPostRequest {
	r.size = &size
	return r
}

func (r ApiListMessagesApiV1ChatMessagesListPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListMessagesApiV1ChatMessagesListPostExecute(r)
}

/*
ListMessagesApiV1ChatMessagesListPost List Coze conversation messages

获取对话消息列表。

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListMessagesApiV1ChatMessagesListPostRequest
*/
func (a *ChatAPIService) ListMessagesApiV1ChatMessagesListPost(ctx context.Context) ApiListMessagesApiV1ChatMessagesListPostRequest {
	return ApiListMessagesApiV1ChatMessagesListPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ChatAPIService) ListMessagesApiV1ChatMessagesListPostExecute(r ApiListMessagesApiV1ChatMessagesListPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChatAPIService.ListMessagesApiV1ChatMessagesListPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/chat/messages/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.conversationId == nil {
		return localVarReturnValue, nil, reportError("conversationId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "conversation_id", r.conversationId, "form", "")
	if r.botId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bot_id", r.botId, "form", "")
	} else {
		var defaultValue string = ""
		parameterAddToHeaderOrQuery(localVarQueryParams, "bot_id", defaultValue, "form", "")
		r.botId = &defaultValue
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", defaultValue, "form", "")
		r.size = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiMessageFeedbackApiV1ChatMessagesFeedbackPostRequest struct {
	ctx context.Context
	ApiService *ChatAPIService
	messageId *string
	conversationId *string
	feedbackType *string
	content *string
}

func (r ApiMessageFeedbackApiV1ChatMessagesFeedbackPostRequest) MessageId(messageId string) ApiMessageFeedbackApiV1ChatMessagesFeedbackPostRequest {
	r.messageId = &messageId
	return r
}

func (r ApiMessageFeedbackApiV1ChatMessagesFeedbackPostRequest) ConversationId(conversationId string) ApiMessageFeedbackApiV1ChatMessagesFeedbackPostRequest {
	r.conversationId = &conversationId
	return r
}

// like / dislike
func (r ApiMessageFeedbackApiV1ChatMessagesFeedbackPostRequest) FeedbackType(feedbackType string) ApiMessageFeedbackApiV1ChatMessagesFeedbackPostRequest {
	r.feedbackType = &feedbackType
	return r
}

func (r ApiMessageFeedbackApiV1ChatMessagesFeedbackPostRequest) Content(content string) ApiMessageFeedbackApiV1ChatMessagesFeedbackPostRequest {
	r.content = &content
	return r
}

func (r ApiMessageFeedbackApiV1ChatMessagesFeedbackPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.MessageFeedbackApiV1ChatMessagesFeedbackPostExecute(r)
}

/*
MessageFeedbackApiV1ChatMessagesFeedbackPost Coze message feedback

消息反馈（点赞/点踩）。

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiMessageFeedbackApiV1ChatMessagesFeedbackPostRequest
*/
func (a *ChatAPIService) MessageFeedbackApiV1ChatMessagesFeedbackPost(ctx context.Context) ApiMessageFeedbackApiV1ChatMessagesFeedbackPostRequest {
	return ApiMessageFeedbackApiV1ChatMessagesFeedbackPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ChatAPIService) MessageFeedbackApiV1ChatMessagesFeedbackPostExecute(r ApiMessageFeedbackApiV1ChatMessagesFeedbackPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChatAPIService.MessageFeedbackApiV1ChatMessagesFeedbackPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/chat/messages/feedback"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.messageId == nil {
		return localVarReturnValue, nil, reportError("messageId is required and must be specified")
	}
	if r.conversationId == nil {
		return localVarReturnValue, nil, reportError("conversationId is required and must be specified")
	}
	if r.feedbackType == nil {
		return localVarReturnValue, nil, reportError("feedbackType is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "message_id", r.messageId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "conversation_id", r.conversationId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "feedback_type", r.feedbackType, "form", "")
	if r.content != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "content", r.content, "form", "")
	} else {
		var defaultValue string = ""
		parameterAddToHeaderOrQuery(localVarQueryParams, "content", defaultValue, "form", "")
		r.content = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiResumeWorkflowApiV1ChatWorkflowRunResumePostRequest struct {
	ctx context.Context
	ApiService *ChatAPIService
	workflowId *string
	eventId *string
	interruptType *string
	resumeData *string
}

func (r ApiResumeWorkflowApiV1ChatWorkflowRunResumePostRequest) WorkflowId(workflowId string) ApiResumeWorkflowApiV1ChatWorkflowRunResumePostRequest {
	r.workflowId = &workflowId
	return r
}

func (r ApiResumeWorkflowApiV1ChatWorkflowRunResumePostRequest) EventId(eventId string) ApiResumeWorkflowApiV1ChatWorkflowRunResumePostRequest {
	r.eventId = &eventId
	return r
}

func (r ApiResumeWorkflowApiV1ChatWorkflowRunResumePostRequest) InterruptType(interruptType string) ApiResumeWorkflowApiV1ChatWorkflowRunResumePostRequest {
	r.interruptType = &interruptType
	return r
}

// JSON string
func (r ApiResumeWorkflowApiV1ChatWorkflowRunResumePostRequest) ResumeData(resumeData string) ApiResumeWorkflowApiV1ChatWorkflowRunResumePostRequest {
	r.resumeData = &resumeData
	return r
}

func (r ApiResumeWorkflowApiV1ChatWorkflowRunResumePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ResumeWorkflowApiV1ChatWorkflowRunResumePostExecute(r)
}

/*
ResumeWorkflowApiV1ChatWorkflowRunResumePost Resume interrupted Coze workflow

恢复被中断的工作流。

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiResumeWorkflowApiV1ChatWorkflowRunResumePostRequest
*/
func (a *ChatAPIService) ResumeWorkflowApiV1ChatWorkflowRunResumePost(ctx context.Context) ApiResumeWorkflowApiV1ChatWorkflowRunResumePostRequest {
	return ApiResumeWorkflowApiV1ChatWorkflowRunResumePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ChatAPIService) ResumeWorkflowApiV1ChatWorkflowRunResumePostExecute(r ApiResumeWorkflowApiV1ChatWorkflowRunResumePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChatAPIService.ResumeWorkflowApiV1ChatWorkflowRunResumePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/chat/workflow/run/resume"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.workflowId == nil {
		return localVarReturnValue, nil, reportError("workflowId is required and must be specified")
	}
	if r.eventId == nil {
		return localVarReturnValue, nil, reportError("eventId is required and must be specified")
	}
	if r.interruptType == nil {
		return localVarReturnValue, nil, reportError("interruptType is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "workflow_id", r.workflowId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "event_id", r.eventId, "form", "")
	if r.resumeData != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resume_data", r.resumeData, "form", "")
	} else {
		var defaultValue string = "{}"
		parameterAddToHeaderOrQuery(localVarQueryParams, "resume_data", defaultValue, "form", "")
		r.resumeData = &defaultValue
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "interrupt_type", r.interruptType, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiResumeWorkflowStreamApiV1ChatWorkflowRunResumeStreamPostRequest struct {
	ctx context.Context
	ApiService *ChatAPIService
	workflowId *string
	eventId *string
	interruptType *string
	resumeData *string
}

func (r ApiResumeWorkflowStreamApiV1ChatWorkflowRunResumeStreamPostRequest) WorkflowId(workflowId string) ApiResumeWorkflowStreamApiV1ChatWorkflowRunResumeStreamPostRequest {
	r.workflowId = &workflowId
	return r
}

func (r ApiResumeWorkflowStreamApiV1ChatWorkflowRunResumeStreamPostRequest) EventId(eventId string) ApiResumeWorkflowStreamApiV1ChatWorkflowRunResumeStreamPostRequest {
	r.eventId = &eventId
	return r
}

func (r ApiResumeWorkflowStreamApiV1ChatWorkflowRunResumeStreamPostRequest) InterruptType(interruptType string) ApiResumeWorkflowStreamApiV1ChatWorkflowRunResumeStreamPostRequest {
	r.interruptType = &interruptType
	return r
}

// JSON string
func (r ApiResumeWorkflowStreamApiV1ChatWorkflowRunResumeStreamPostRequest) ResumeData(resumeData string) ApiResumeWorkflowStreamApiV1ChatWorkflowRunResumeStreamPostRequest {
	r.resumeData = &resumeData
	return r
}

func (r ApiResumeWorkflowStreamApiV1ChatWorkflowRunResumeStreamPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ResumeWorkflowStreamApiV1ChatWorkflowRunResumeStreamPostExecute(r)
}

/*
ResumeWorkflowStreamApiV1ChatWorkflowRunResumeStreamPost Resume interrupted Coze workflow (stream)

流式恢复被中断的工作流。

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiResumeWorkflowStreamApiV1ChatWorkflowRunResumeStreamPostRequest
*/
func (a *ChatAPIService) ResumeWorkflowStreamApiV1ChatWorkflowRunResumeStreamPost(ctx context.Context) ApiResumeWorkflowStreamApiV1ChatWorkflowRunResumeStreamPostRequest {
	return ApiResumeWorkflowStreamApiV1ChatWorkflowRunResumeStreamPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ChatAPIService) ResumeWorkflowStreamApiV1ChatWorkflowRunResumeStreamPostExecute(r ApiResumeWorkflowStreamApiV1ChatWorkflowRunResumeStreamPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChatAPIService.ResumeWorkflowStreamApiV1ChatWorkflowRunResumeStreamPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/chat/workflow/run/resume/stream"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.workflowId == nil {
		return localVarReturnValue, nil, reportError("workflowId is required and must be specified")
	}
	if r.eventId == nil {
		return localVarReturnValue, nil, reportError("eventId is required and must be specified")
	}
	if r.interruptType == nil {
		return localVarReturnValue, nil, reportError("interruptType is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "workflow_id", r.workflowId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "event_id", r.eventId, "form", "")
	if r.resumeData != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resume_data", r.resumeData, "form", "")
	} else {
		var defaultValue string = "{}"
		parameterAddToHeaderOrQuery(localVarQueryParams, "resume_data", defaultValue, "form", "")
		r.resumeData = &defaultValue
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "interrupt_type", r.interruptType, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRetrieveConversationApiV1ChatConversationsRetrievePostRequest struct {
	ctx context.Context
	ApiService *ChatAPIService
	conversationId *string
}

func (r ApiRetrieveConversationApiV1ChatConversationsRetrievePostRequest) ConversationId(conversationId string) ApiRetrieveConversationApiV1ChatConversationsRetrievePostRequest {
	r.conversationId = &conversationId
	return r
}

func (r ApiRetrieveConversationApiV1ChatConversationsRetrievePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.RetrieveConversationApiV1ChatConversationsRetrievePostExecute(r)
}

/*
RetrieveConversationApiV1ChatConversationsRetrievePost Retrieve Coze conversation

获取对话详情。

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRetrieveConversationApiV1ChatConversationsRetrievePostRequest
*/
func (a *ChatAPIService) RetrieveConversationApiV1ChatConversationsRetrievePost(ctx context.Context) ApiRetrieveConversationApiV1ChatConversationsRetrievePostRequest {
	return ApiRetrieveConversationApiV1ChatConversationsRetrievePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ChatAPIService) RetrieveConversationApiV1ChatConversationsRetrievePostExecute(r ApiRetrieveConversationApiV1ChatConversationsRetrievePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChatAPIService.RetrieveConversationApiV1ChatConversationsRetrievePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/chat/conversations/retrieve"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.conversationId == nil {
		return localVarReturnValue, nil, reportError("conversationId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "conversation_id", r.conversationId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRunWorkflowApiV1ChatWorkflowRunPostRequest struct {
	ctx context.Context
	ApiService *ChatAPIService
	workflowId *string
	parameters *string
}

func (r ApiRunWorkflowApiV1ChatWorkflowRunPostRequest) WorkflowId(workflowId string) ApiRunWorkflowApiV1ChatWorkflowRunPostRequest {
	r.workflowId = &workflowId
	return r
}

// JSON 字符串
func (r ApiRunWorkflowApiV1ChatWorkflowRunPostRequest) Parameters(parameters string) ApiRunWorkflowApiV1ChatWorkflowRunPostRequest {
	r.parameters = &parameters
	return r
}

func (r ApiRunWorkflowApiV1ChatWorkflowRunPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.RunWorkflowApiV1ChatWorkflowRunPostExecute(r)
}

/*
RunWorkflowApiV1ChatWorkflowRunPost Run Coze workflow (sync)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRunWorkflowApiV1ChatWorkflowRunPostRequest
*/
func (a *ChatAPIService) RunWorkflowApiV1ChatWorkflowRunPost(ctx context.Context) ApiRunWorkflowApiV1ChatWorkflowRunPostRequest {
	return ApiRunWorkflowApiV1ChatWorkflowRunPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ChatAPIService) RunWorkflowApiV1ChatWorkflowRunPostExecute(r ApiRunWorkflowApiV1ChatWorkflowRunPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChatAPIService.RunWorkflowApiV1ChatWorkflowRunPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/chat/workflow/run"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.workflowId == nil {
		return localVarReturnValue, nil, reportError("workflowId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "workflow_id", r.workflowId, "form", "")
	if r.parameters != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "parameters", r.parameters, "form", "")
	} else {
		var defaultValue string = "{}"
		parameterAddToHeaderOrQuery(localVarQueryParams, "parameters", defaultValue, "form", "")
		r.parameters = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRunWorkflowStreamApiV1ChatWorkflowRunStreamPostRequest struct {
	ctx context.Context
	ApiService *ChatAPIService
	workflowId *string
	parameters *string
}

func (r ApiRunWorkflowStreamApiV1ChatWorkflowRunStreamPostRequest) WorkflowId(workflowId string) ApiRunWorkflowStreamApiV1ChatWorkflowRunStreamPostRequest {
	r.workflowId = &workflowId
	return r
}

func (r ApiRunWorkflowStreamApiV1ChatWorkflowRunStreamPostRequest) Parameters(parameters string) ApiRunWorkflowStreamApiV1ChatWorkflowRunStreamPostRequest {
	r.parameters = &parameters
	return r
}

func (r ApiRunWorkflowStreamApiV1ChatWorkflowRunStreamPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.RunWorkflowStreamApiV1ChatWorkflowRunStreamPostExecute(r)
}

/*
RunWorkflowStreamApiV1ChatWorkflowRunStreamPost Run Coze workflow (stream)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRunWorkflowStreamApiV1ChatWorkflowRunStreamPostRequest
*/
func (a *ChatAPIService) RunWorkflowStreamApiV1ChatWorkflowRunStreamPost(ctx context.Context) ApiRunWorkflowStreamApiV1ChatWorkflowRunStreamPostRequest {
	return ApiRunWorkflowStreamApiV1ChatWorkflowRunStreamPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ChatAPIService) RunWorkflowStreamApiV1ChatWorkflowRunStreamPostExecute(r ApiRunWorkflowStreamApiV1ChatWorkflowRunStreamPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChatAPIService.RunWorkflowStreamApiV1ChatWorkflowRunStreamPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/chat/workflow/run/stream"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.workflowId == nil {
		return localVarReturnValue, nil, reportError("workflowId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "workflow_id", r.workflowId, "form", "")
	if r.parameters != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "parameters", r.parameters, "form", "")
	} else {
		var defaultValue string = "{}"
		parameterAddToHeaderOrQuery(localVarQueryParams, "parameters", defaultValue, "form", "")
		r.parameters = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSendMessageApiV1ChatMessagePostRequest struct {
	ctx context.Context
	ApiService *ChatAPIService
	botId *string
	message *string
	conversationId *string
}

func (r ApiSendMessageApiV1ChatMessagePostRequest) BotId(botId string) ApiSendMessageApiV1ChatMessagePostRequest {
	r.botId = &botId
	return r
}

func (r ApiSendMessageApiV1ChatMessagePostRequest) Message(message string) ApiSendMessageApiV1ChatMessagePostRequest {
	r.message = &message
	return r
}

func (r ApiSendMessageApiV1ChatMessagePostRequest) ConversationId(conversationId string) ApiSendMessageApiV1ChatMessagePostRequest {
	r.conversationId = &conversationId
	return r
}

func (r ApiSendMessageApiV1ChatMessagePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.SendMessageApiV1ChatMessagePostExecute(r)
}

/*
SendMessageApiV1ChatMessagePost Send chat message via Coze (sync)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSendMessageApiV1ChatMessagePostRequest
*/
func (a *ChatAPIService) SendMessageApiV1ChatMessagePost(ctx context.Context) ApiSendMessageApiV1ChatMessagePostRequest {
	return ApiSendMessageApiV1ChatMessagePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ChatAPIService) SendMessageApiV1ChatMessagePostExecute(r ApiSendMessageApiV1ChatMessagePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChatAPIService.SendMessageApiV1ChatMessagePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/chat/message"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.botId == nil {
		return localVarReturnValue, nil, reportError("botId is required and must be specified")
	}
	if r.message == nil {
		return localVarReturnValue, nil, reportError("message is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "bot_id", r.botId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "message", r.message, "form", "")
	if r.conversationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "conversation_id", r.conversationId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSendMessageStreamApiV1ChatMessageStreamPostRequest struct {
	ctx context.Context
	ApiService *ChatAPIService
	botId *string
	message *string
	conversationId *string
}

func (r ApiSendMessageStreamApiV1ChatMessageStreamPostRequest) BotId(botId string) ApiSendMessageStreamApiV1ChatMessageStreamPostRequest {
	r.botId = &botId
	return r
}

func (r ApiSendMessageStreamApiV1ChatMessageStreamPostRequest) Message(message string) ApiSendMessageStreamApiV1ChatMessageStreamPostRequest {
	r.message = &message
	return r
}

func (r ApiSendMessageStreamApiV1ChatMessageStreamPostRequest) ConversationId(conversationId string) ApiSendMessageStreamApiV1ChatMessageStreamPostRequest {
	r.conversationId = &conversationId
	return r
}

func (r ApiSendMessageStreamApiV1ChatMessageStreamPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.SendMessageStreamApiV1ChatMessageStreamPostExecute(r)
}

/*
SendMessageStreamApiV1ChatMessageStreamPost Send chat message via Coze (SSE stream)

流式聊天：通过 SSE 把 Coze 增量事件转发给前端。

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSendMessageStreamApiV1ChatMessageStreamPostRequest
*/
func (a *ChatAPIService) SendMessageStreamApiV1ChatMessageStreamPost(ctx context.Context) ApiSendMessageStreamApiV1ChatMessageStreamPostRequest {
	return ApiSendMessageStreamApiV1ChatMessageStreamPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ChatAPIService) SendMessageStreamApiV1ChatMessageStreamPostExecute(r ApiSendMessageStreamApiV1ChatMessageStreamPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChatAPIService.SendMessageStreamApiV1ChatMessageStreamPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/chat/message/stream"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.botId == nil {
		return localVarReturnValue, nil, reportError("botId is required and must be specified")
	}
	if r.message == nil {
		return localVarReturnValue, nil, reportError("message is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "bot_id", r.botId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "message", r.message, "form", "")
	if r.conversationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "conversation_id", r.conversationId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUploadDocumentApiV1ChatDocumentsUploadPostRequest struct {
	ctx context.Context
	ApiService *ChatAPIService
	datasetId *string
	documentName *string
	upload *os.File
}

func (r ApiUploadDocumentApiV1ChatDocumentsUploadPostRequest) DatasetId(datasetId string) ApiUploadDocumentApiV1ChatDocumentsUploadPostRequest {
	r.datasetId = &datasetId
	return r
}

func (r ApiUploadDocumentApiV1ChatDocumentsUploadPostRequest) DocumentName(documentName string) ApiUploadDocumentApiV1ChatDocumentsUploadPostRequest {
	r.documentName = &documentName
	return r
}

func (r ApiUploadDocumentApiV1ChatDocumentsUploadPostRequest) Upload(upload *os.File) ApiUploadDocumentApiV1ChatDocumentsUploadPostRequest {
	r.upload = upload
	return r
}

func (r ApiUploadDocumentApiV1ChatDocumentsUploadPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.UploadDocumentApiV1ChatDocumentsUploadPostExecute(r)
}

/*
UploadDocumentApiV1ChatDocumentsUploadPost Upload document to Coze dataset (multipart)

上传文档到数据集（multipart/form-data）。

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiUploadDocumentApiV1ChatDocumentsUploadPostRequest
*/
func (a *ChatAPIService) UploadDocumentApiV1ChatDocumentsUploadPost(ctx context.Context) ApiUploadDocumentApiV1ChatDocumentsUploadPostRequest {
	return ApiUploadDocumentApiV1ChatDocumentsUploadPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ChatAPIService) UploadDocumentApiV1ChatDocumentsUploadPostExecute(r ApiUploadDocumentApiV1ChatDocumentsUploadPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChatAPIService.UploadDocumentApiV1ChatDocumentsUploadPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/chat/documents/upload"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.datasetId == nil {
		return localVarReturnValue, nil, reportError("datasetId is required and must be specified")
	}
	if r.documentName == nil {
		return localVarReturnValue, nil, reportError("documentName is required and must be specified")
	}
	if r.upload == nil {
		return localVarReturnValue, nil, reportError("upload is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "dataset_id", r.datasetId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "document_name", r.documentName, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	var uploadLocalVarFormFileName string
	var uploadLocalVarFileName     string
	var uploadLocalVarFileBytes    []byte

	uploadLocalVarFormFileName = "upload"
	uploadLocalVarFile := r.upload

	if uploadLocalVarFile != nil {
		fbs, _ := io.ReadAll(uploadLocalVarFile)

		uploadLocalVarFileBytes = fbs
		uploadLocalVarFileName = uploadLocalVarFile.Name()
		uploadLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: uploadLocalVarFileBytes, fileName: uploadLocalVarFileName, formFileName: uploadLocalVarFormFileName})
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiWorkflowHistoryApiV1ChatWorkflowRunHistoryPostRequest struct {
	ctx context.Context
	ApiService *ChatAPIService
	workflowId *string
	executeId *string
}

func (r ApiWorkflowHistoryApiV1ChatWorkflowRunHistoryPostRequest) WorkflowId(workflowId string) ApiWorkflowHistoryApiV1ChatWorkflowRunHistoryPostRequest {
	r.workflowId = &workflowId
	return r
}

func (r ApiWorkflowHistoryApiV1ChatWorkflowRunHistoryPostRequest) ExecuteId(executeId string) ApiWorkflowHistoryApiV1ChatWorkflowRunHistoryPostRequest {
	r.executeId = &executeId
	return r
}

func (r ApiWorkflowHistoryApiV1ChatWorkflowRunHistoryPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.WorkflowHistoryApiV1ChatWorkflowRunHistoryPostExecute(r)
}

/*
WorkflowHistoryApiV1ChatWorkflowRunHistoryPost Get Coze workflow run history

获取工作流执行历史。

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiWorkflowHistoryApiV1ChatWorkflowRunHistoryPostRequest
*/
func (a *ChatAPIService) WorkflowHistoryApiV1ChatWorkflowRunHistoryPost(ctx context.Context) ApiWorkflowHistoryApiV1ChatWorkflowRunHistoryPostRequest {
	return ApiWorkflowHistoryApiV1ChatWorkflowRunHistoryPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ChatAPIService) WorkflowHistoryApiV1ChatWorkflowRunHistoryPostExecute(r ApiWorkflowHistoryApiV1ChatWorkflowRunHistoryPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChatAPIService.WorkflowHistoryApiV1ChatWorkflowRunHistoryPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/chat/workflow/run/history"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.workflowId == nil {
		return localVarReturnValue, nil, reportError("workflowId is required and must be specified")
	}
	if r.executeId == nil {
		return localVarReturnValue, nil, reportError("executeId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "workflow_id", r.workflowId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "execute_id", r.executeId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
