/*
ZHS Platform

ZHS Platform API - AI Agent Marketplace & Educational Platform

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zhs_api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// FinanceMarginAPIService FinanceMarginAPI service
type FinanceMarginAPIService service

type ApiAdminAdjustBalanceApiV1FinanceTargetUserUuidPutRequest struct {
	ctx context.Context
	ApiService *FinanceMarginAPIService
	targetUserUuid string
	quantity *int32
	reason *string
}

// 调整数量（正数增加/负数扣减）
func (r ApiAdminAdjustBalanceApiV1FinanceTargetUserUuidPutRequest) Quantity(quantity int32) ApiAdminAdjustBalanceApiV1FinanceTargetUserUuidPutRequest {
	r.quantity = &quantity
	return r
}

// 操作原因
func (r ApiAdminAdjustBalanceApiV1FinanceTargetUserUuidPutRequest) Reason(reason string) ApiAdminAdjustBalanceApiV1FinanceTargetUserUuidPutRequest {
	r.reason = &reason
	return r
}

func (r ApiAdminAdjustBalanceApiV1FinanceTargetUserUuidPutRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.AdminAdjustBalanceApiV1FinanceTargetUserUuidPutExecute(r)
}

/*
AdminAdjustBalanceApiV1FinanceTargetUserUuidPut 管理员直接调整用户 Token 余额

P15-C2 改造: 改用 require_login + 内部 role 断言, 避免 FastAPI 0.116 + Python 3.13
对 Depends(require_role("admin")) 嵌套闭包的签名解析报错 (no signature for builtin str).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param targetUserUuid
 @return ApiAdminAdjustBalanceApiV1FinanceTargetUserUuidPutRequest
*/
func (a *FinanceMarginAPIService) AdminAdjustBalanceApiV1FinanceTargetUserUuidPut(ctx context.Context, targetUserUuid string) ApiAdminAdjustBalanceApiV1FinanceTargetUserUuidPutRequest {
	return ApiAdminAdjustBalanceApiV1FinanceTargetUserUuidPutRequest{
		ApiService: a,
		ctx: ctx,
		targetUserUuid: targetUserUuid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *FinanceMarginAPIService) AdminAdjustBalanceApiV1FinanceTargetUserUuidPutExecute(r ApiAdminAdjustBalanceApiV1FinanceTargetUserUuidPutRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FinanceMarginAPIService.AdminAdjustBalanceApiV1FinanceTargetUserUuidPut")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/finance/{target_user_uuid}"
	localVarPath = strings.Replace(localVarPath, "{"+"target_user_uuid"+"}", url.PathEscape(parameterValueToString(r.targetUserUuid, "targetUserUuid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.quantity == nil {
		return localVarReturnValue, nil, reportError("quantity is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "quantity", r.quantity, "form", "")
	if r.reason != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "reason", r.reason, "form", "")
	} else {
		var defaultValue string = "管理员调整"
		parameterAddToHeaderOrQuery(localVarQueryParams, "reason", defaultValue, "form", "")
		r.reason = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCheckBalanceApiV1FinanceCheckGetRequest struct {
	ctx context.Context
	ApiService *FinanceMarginAPIService
	minTokens *int32
}

// 所需 token 数
func (r ApiCheckBalanceApiV1FinanceCheckGetRequest) MinTokens(minTokens int32) ApiCheckBalanceApiV1FinanceCheckGetRequest {
	r.minTokens = &minTokens
	return r
}

func (r ApiCheckBalanceApiV1FinanceCheckGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CheckBalanceApiV1FinanceCheckGetExecute(r)
}

/*
CheckBalanceApiV1FinanceCheckGet 检查余额是否充足

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCheckBalanceApiV1FinanceCheckGetRequest
*/
func (a *FinanceMarginAPIService) CheckBalanceApiV1FinanceCheckGet(ctx context.Context) ApiCheckBalanceApiV1FinanceCheckGetRequest {
	return ApiCheckBalanceApiV1FinanceCheckGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *FinanceMarginAPIService) CheckBalanceApiV1FinanceCheckGetExecute(r ApiCheckBalanceApiV1FinanceCheckGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FinanceMarginAPIService.CheckBalanceApiV1FinanceCheckGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/finance/check"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.minTokens == nil {
		return localVarReturnValue, nil, reportError("minTokens is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "min_tokens", r.minTokens, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeductApiV1FinanceDeductPostRequest struct {
	ctx context.Context
	ApiService *FinanceMarginAPIService
	quantity *int32
	remark *string
}

// 扣减数量
func (r ApiDeductApiV1FinanceDeductPostRequest) Quantity(quantity int32) ApiDeductApiV1FinanceDeductPostRequest {
	r.quantity = &quantity
	return r
}

// 操作描述
func (r ApiDeductApiV1FinanceDeductPostRequest) Remark(remark string) ApiDeductApiV1FinanceDeductPostRequest {
	r.remark = &remark
	return r
}

func (r ApiDeductApiV1FinanceDeductPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DeductApiV1FinanceDeductPostExecute(r)
}

/*
DeductApiV1FinanceDeductPost 扣减用户 token（内部调用）

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDeductApiV1FinanceDeductPostRequest
*/
func (a *FinanceMarginAPIService) DeductApiV1FinanceDeductPost(ctx context.Context) ApiDeductApiV1FinanceDeductPostRequest {
	return ApiDeductApiV1FinanceDeductPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *FinanceMarginAPIService) DeductApiV1FinanceDeductPostExecute(r ApiDeductApiV1FinanceDeductPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FinanceMarginAPIService.DeductApiV1FinanceDeductPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/finance/deduct"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.quantity == nil {
		return localVarReturnValue, nil, reportError("quantity is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "quantity", r.quantity, "form", "")
	if r.remark != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remark", r.remark, "form", "")
	} else {
		var defaultValue string = ""
		parameterAddToHeaderOrQuery(localVarQueryParams, "remark", defaultValue, "form", "")
		r.remark = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiExpireApiV1FinanceExpirePostRequest struct {
	ctx context.Context
	ApiService *FinanceMarginAPIService
	quantity *int32
	source *string
}

// 过期数量
func (r ApiExpireApiV1FinanceExpirePostRequest) Quantity(quantity int32) ApiExpireApiV1FinanceExpirePostRequest {
	r.quantity = &quantity
	return r
}

func (r ApiExpireApiV1FinanceExpirePostRequest) Source(source string) ApiExpireApiV1FinanceExpirePostRequest {
	r.source = &source
	return r
}

func (r ApiExpireApiV1FinanceExpirePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ExpireApiV1FinanceExpirePostExecute(r)
}

/*
ExpireApiV1FinanceExpirePost 过期清零（管理员/定时任务）

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiExpireApiV1FinanceExpirePostRequest
*/
func (a *FinanceMarginAPIService) ExpireApiV1FinanceExpirePost(ctx context.Context) ApiExpireApiV1FinanceExpirePostRequest {
	return ApiExpireApiV1FinanceExpirePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *FinanceMarginAPIService) ExpireApiV1FinanceExpirePostExecute(r ApiExpireApiV1FinanceExpirePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FinanceMarginAPIService.ExpireApiV1FinanceExpirePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/finance/expire"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.quantity == nil {
		return localVarReturnValue, nil, reportError("quantity is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "quantity", r.quantity, "form", "")
	if r.source != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source", r.source, "form", "")
	} else {
		var defaultValue string = "到期清零"
		parameterAddToHeaderOrQuery(localVarQueryParams, "source", defaultValue, "form", "")
		r.source = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetBalanceApiV1FinanceBalanceGetRequest struct {
	ctx context.Context
	ApiService *FinanceMarginAPIService
}

func (r ApiGetBalanceApiV1FinanceBalanceGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetBalanceApiV1FinanceBalanceGetExecute(r)
}

/*
GetBalanceApiV1FinanceBalanceGet 查询用户 token 余额（Redis 缓存 5 分钟）

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetBalanceApiV1FinanceBalanceGetRequest
*/
func (a *FinanceMarginAPIService) GetBalanceApiV1FinanceBalanceGet(ctx context.Context) ApiGetBalanceApiV1FinanceBalanceGetRequest {
	return ApiGetBalanceApiV1FinanceBalanceGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *FinanceMarginAPIService) GetBalanceApiV1FinanceBalanceGetExecute(r ApiGetBalanceApiV1FinanceBalanceGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FinanceMarginAPIService.GetBalanceApiV1FinanceBalanceGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/finance/balance"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGrantCommissionApiV1FinanceCommissionPostRequest struct {
	ctx context.Context
	ApiService *FinanceMarginAPIService
	quantity *int32
	invitedUserId *string
	source *string
}

// 佣金数量
func (r ApiGrantCommissionApiV1FinanceCommissionPostRequest) Quantity(quantity int32) ApiGrantCommissionApiV1FinanceCommissionPostRequest {
	r.quantity = &quantity
	return r
}

// 被邀请人 uuid
func (r ApiGrantCommissionApiV1FinanceCommissionPostRequest) InvitedUserId(invitedUserId string) ApiGrantCommissionApiV1FinanceCommissionPostRequest {
	r.invitedUserId = &invitedUserId
	return r
}

// 来源
func (r ApiGrantCommissionApiV1FinanceCommissionPostRequest) Source(source string) ApiGrantCommissionApiV1FinanceCommissionPostRequest {
	r.source = &source
	return r
}

func (r ApiGrantCommissionApiV1FinanceCommissionPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GrantCommissionApiV1FinanceCommissionPostExecute(r)
}

/*
GrantCommissionApiV1FinanceCommissionPost 佣金入账（邀请分成）

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGrantCommissionApiV1FinanceCommissionPostRequest
*/
func (a *FinanceMarginAPIService) GrantCommissionApiV1FinanceCommissionPost(ctx context.Context) ApiGrantCommissionApiV1FinanceCommissionPostRequest {
	return ApiGrantCommissionApiV1FinanceCommissionPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *FinanceMarginAPIService) GrantCommissionApiV1FinanceCommissionPostExecute(r ApiGrantCommissionApiV1FinanceCommissionPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FinanceMarginAPIService.GrantCommissionApiV1FinanceCommissionPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/finance/commission"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.quantity == nil {
		return localVarReturnValue, nil, reportError("quantity is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "quantity", r.quantity, "form", "")
	if r.invitedUserId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "invited_user_id", r.invitedUserId, "form", "")
	} else {
		var defaultValue string = ""
		parameterAddToHeaderOrQuery(localVarQueryParams, "invited_user_id", defaultValue, "form", "")
		r.invitedUserId = &defaultValue
	}
	if r.source != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source", r.source, "form", "")
	} else {
		var defaultValue string = "invite"
		parameterAddToHeaderOrQuery(localVarQueryParams, "source", defaultValue, "form", "")
		r.source = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListFlowsApiV1FinanceFlowsGetRequest struct {
	ctx context.Context
	ApiService *FinanceMarginAPIService
	page *int32
	limit *int32
	opType *int32
}

func (r ApiListFlowsApiV1FinanceFlowsGetRequest) Page(page int32) ApiListFlowsApiV1FinanceFlowsGetRequest {
	r.page = &page
	return r
}

func (r ApiListFlowsApiV1FinanceFlowsGetRequest) Limit(limit int32) ApiListFlowsApiV1FinanceFlowsGetRequest {
	r.limit = &limit
	return r
}

// 0&#x3D;充值 1&#x3D;扣减 2&#x3D;过期 3&#x3D;退款 4&#x3D;佣金
func (r ApiListFlowsApiV1FinanceFlowsGetRequest) OpType(opType int32) ApiListFlowsApiV1FinanceFlowsGetRequest {
	r.opType = &opType
	return r
}

func (r ApiListFlowsApiV1FinanceFlowsGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListFlowsApiV1FinanceFlowsGetExecute(r)
}

/*
ListFlowsApiV1FinanceFlowsGet 用户 token 流水（支持按类型过滤）

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListFlowsApiV1FinanceFlowsGetRequest
*/
func (a *FinanceMarginAPIService) ListFlowsApiV1FinanceFlowsGet(ctx context.Context) ApiListFlowsApiV1FinanceFlowsGetRequest {
	return ApiListFlowsApiV1FinanceFlowsGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *FinanceMarginAPIService) ListFlowsApiV1FinanceFlowsGetExecute(r ApiListFlowsApiV1FinanceFlowsGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FinanceMarginAPIService.ListFlowsApiV1FinanceFlowsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/finance/flows"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.opType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "op_type", r.opType, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListTokenFlowAdminApiV1FinanceFlowListGetRequest struct {
	ctx context.Context
	ApiService *FinanceMarginAPIService
	page *int32
	limit *int32
	userId *string
	opType *int32
}

func (r ApiListTokenFlowAdminApiV1FinanceFlowListGetRequest) Page(page int32) ApiListTokenFlowAdminApiV1FinanceFlowListGetRequest {
	r.page = &page
	return r
}

func (r ApiListTokenFlowAdminApiV1FinanceFlowListGetRequest) Limit(limit int32) ApiListTokenFlowAdminApiV1FinanceFlowListGetRequest {
	r.limit = &limit
	return r
}

// 按用户 UUID 过滤
func (r ApiListTokenFlowAdminApiV1FinanceFlowListGetRequest) UserId(userId string) ApiListTokenFlowAdminApiV1FinanceFlowListGetRequest {
	r.userId = &userId
	return r
}

// 操作类型过滤
func (r ApiListTokenFlowAdminApiV1FinanceFlowListGetRequest) OpType(opType int32) ApiListTokenFlowAdminApiV1FinanceFlowListGetRequest {
	r.opType = &opType
	return r
}

func (r ApiListTokenFlowAdminApiV1FinanceFlowListGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListTokenFlowAdminApiV1FinanceFlowListGetExecute(r)
}

/*
ListTokenFlowAdminApiV1FinanceFlowListGet Token 操作流水列表（管理员）

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListTokenFlowAdminApiV1FinanceFlowListGetRequest
*/
func (a *FinanceMarginAPIService) ListTokenFlowAdminApiV1FinanceFlowListGet(ctx context.Context) ApiListTokenFlowAdminApiV1FinanceFlowListGetRequest {
	return ApiListTokenFlowAdminApiV1FinanceFlowListGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *FinanceMarginAPIService) ListTokenFlowAdminApiV1FinanceFlowListGetExecute(r ApiListTokenFlowAdminApiV1FinanceFlowListGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FinanceMarginAPIService.ListTokenFlowAdminApiV1FinanceFlowListGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/finance/flow/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", r.userId, "form", "")
	}
	if r.opType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "op_type", r.opType, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRechargeApiV1FinanceRechargePostRequest struct {
	ctx context.Context
	ApiService *FinanceMarginAPIService
	quantity *int32
	outTradeNo *string
}

// 充值数量
func (r ApiRechargeApiV1FinanceRechargePostRequest) Quantity(quantity int32) ApiRechargeApiV1FinanceRechargePostRequest {
	r.quantity = &quantity
	return r
}

// 支付订单号
func (r ApiRechargeApiV1FinanceRechargePostRequest) OutTradeNo(outTradeNo string) ApiRechargeApiV1FinanceRechargePostRequest {
	r.outTradeNo = &outTradeNo
	return r
}

func (r ApiRechargeApiV1FinanceRechargePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.RechargeApiV1FinanceRechargePostExecute(r)
}

/*
RechargeApiV1FinanceRechargePost 充值 token（与支付订单配合使用）

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRechargeApiV1FinanceRechargePostRequest
*/
func (a *FinanceMarginAPIService) RechargeApiV1FinanceRechargePost(ctx context.Context) ApiRechargeApiV1FinanceRechargePostRequest {
	return ApiRechargeApiV1FinanceRechargePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *FinanceMarginAPIService) RechargeApiV1FinanceRechargePostExecute(r ApiRechargeApiV1FinanceRechargePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FinanceMarginAPIService.RechargeApiV1FinanceRechargePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/finance/recharge"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.quantity == nil {
		return localVarReturnValue, nil, reportError("quantity is required and must be specified")
	}
	if r.outTradeNo == nil {
		return localVarReturnValue, nil, reportError("outTradeNo is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "quantity", r.quantity, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "out_trade_no", r.outTradeNo, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRefundTokenApiV1FinanceRefundPostRequest struct {
	ctx context.Context
	ApiService *FinanceMarginAPIService
	quantity *int32
	remark *string
}

// 回退数量
func (r ApiRefundTokenApiV1FinanceRefundPostRequest) Quantity(quantity int32) ApiRefundTokenApiV1FinanceRefundPostRequest {
	r.quantity = &quantity
	return r
}

// 操作说明
func (r ApiRefundTokenApiV1FinanceRefundPostRequest) Remark(remark string) ApiRefundTokenApiV1FinanceRefundPostRequest {
	r.remark = &remark
	return r
}

func (r ApiRefundTokenApiV1FinanceRefundPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.RefundTokenApiV1FinanceRefundPostExecute(r)
}

/*
RefundTokenApiV1FinanceRefundPost Token 回退（退还指定数量 token 到用户余额）

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRefundTokenApiV1FinanceRefundPostRequest
*/
func (a *FinanceMarginAPIService) RefundTokenApiV1FinanceRefundPost(ctx context.Context) ApiRefundTokenApiV1FinanceRefundPostRequest {
	return ApiRefundTokenApiV1FinanceRefundPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *FinanceMarginAPIService) RefundTokenApiV1FinanceRefundPostExecute(r ApiRefundTokenApiV1FinanceRefundPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FinanceMarginAPIService.RefundTokenApiV1FinanceRefundPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/finance/refund"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.quantity == nil {
		return localVarReturnValue, nil, reportError("quantity is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "quantity", r.quantity, "form", "")
	if r.remark != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remark", r.remark, "form", "")
	} else {
		var defaultValue string = ""
		parameterAddToHeaderOrQuery(localVarQueryParams, "remark", defaultValue, "form", "")
		r.remark = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
