/*
ZHS Platform

ZHS Platform API - AI Agent Marketplace & Educational Platform

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zhs_api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// WeChatPayAPIService WeChatPayAPI service
type WeChatPayAPIService service

type ApiCheckStatusApiV1PaymentsWechatStatusOutTradeNoGetRequest struct {
	ctx context.Context
	ApiService *WeChatPayAPIService
	outTradeNo string
}

func (r ApiCheckStatusApiV1PaymentsWechatStatusOutTradeNoGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CheckStatusApiV1PaymentsWechatStatusOutTradeNoGetExecute(r)
}

/*
CheckStatusApiV1PaymentsWechatStatusOutTradeNoGet Check payment status

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param outTradeNo
 @return ApiCheckStatusApiV1PaymentsWechatStatusOutTradeNoGetRequest
*/
func (a *WeChatPayAPIService) CheckStatusApiV1PaymentsWechatStatusOutTradeNoGet(ctx context.Context, outTradeNo string) ApiCheckStatusApiV1PaymentsWechatStatusOutTradeNoGetRequest {
	return ApiCheckStatusApiV1PaymentsWechatStatusOutTradeNoGetRequest{
		ApiService: a,
		ctx: ctx,
		outTradeNo: outTradeNo,
	}
}

// Execute executes the request
//  @return interface{}
func (a *WeChatPayAPIService) CheckStatusApiV1PaymentsWechatStatusOutTradeNoGetExecute(r ApiCheckStatusApiV1PaymentsWechatStatusOutTradeNoGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WeChatPayAPIService.CheckStatusApiV1PaymentsWechatStatusOutTradeNoGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/payments/wechat/status/{out_trade_no}"
	localVarPath = strings.Replace(localVarPath, "{"+"out_trade_no"+"}", url.PathEscape(parameterValueToString(r.outTradeNo, "outTradeNo")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiConsecutiveProductApiV1PaymentsWechatConsecutiveProductGetRequest struct {
	ctx context.Context
	ApiService *WeChatPayAPIService
}

func (r ApiConsecutiveProductApiV1PaymentsWechatConsecutiveProductGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ConsecutiveProductApiV1PaymentsWechatConsecutiveProductGetExecute(r)
}

/*
ConsecutiveProductApiV1PaymentsWechatConsecutiveProductGet Query consecutive subscription products

Query consecutive subscription (monthly/annual) product list.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiConsecutiveProductApiV1PaymentsWechatConsecutiveProductGetRequest
*/
func (a *WeChatPayAPIService) ConsecutiveProductApiV1PaymentsWechatConsecutiveProductGet(ctx context.Context) ApiConsecutiveProductApiV1PaymentsWechatConsecutiveProductGetRequest {
	return ApiConsecutiveProductApiV1PaymentsWechatConsecutiveProductGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *WeChatPayAPIService) ConsecutiveProductApiV1PaymentsWechatConsecutiveProductGetExecute(r ApiConsecutiveProductApiV1PaymentsWechatConsecutiveProductGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WeChatPayAPIService.ConsecutiveProductApiV1PaymentsWechatConsecutiveProductGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/payments/wechat/consecutive/product"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateWxPayAndroidApiV1PaymentsWechatAndroidCreatePostRequest struct {
	ctx context.Context
	ApiService *WeChatPayAPIService
	amount *int32
	productId *string
	orderType *int32
	description *string
}

func (r ApiCreateWxPayAndroidApiV1PaymentsWechatAndroidCreatePostRequest) Amount(amount int32) ApiCreateWxPayAndroidApiV1PaymentsWechatAndroidCreatePostRequest {
	r.amount = &amount
	return r
}

func (r ApiCreateWxPayAndroidApiV1PaymentsWechatAndroidCreatePostRequest) ProductId(productId string) ApiCreateWxPayAndroidApiV1PaymentsWechatAndroidCreatePostRequest {
	r.productId = &productId
	return r
}

func (r ApiCreateWxPayAndroidApiV1PaymentsWechatAndroidCreatePostRequest) OrderType(orderType int32) ApiCreateWxPayAndroidApiV1PaymentsWechatAndroidCreatePostRequest {
	r.orderType = &orderType
	return r
}

func (r ApiCreateWxPayAndroidApiV1PaymentsWechatAndroidCreatePostRequest) Description(description string) ApiCreateWxPayAndroidApiV1PaymentsWechatAndroidCreatePostRequest {
	r.description = &description
	return r
}

func (r ApiCreateWxPayAndroidApiV1PaymentsWechatAndroidCreatePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CreateWxPayAndroidApiV1PaymentsWechatAndroidCreatePostExecute(r)
}

/*
CreateWxPayAndroidApiV1PaymentsWechatAndroidCreatePost Create WeChat Pay order (Android app)

Matches Java PayManagementController.wxPay + PayAndroidServiceImpl.pay.

Android uses APP payment API (not JSAPI), uses separate APP_ID,
and notify URL is wx.app.notify (WX_ANDROID_NOTIFY_URL).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateWxPayAndroidApiV1PaymentsWechatAndroidCreatePostRequest
*/
func (a *WeChatPayAPIService) CreateWxPayAndroidApiV1PaymentsWechatAndroidCreatePost(ctx context.Context) ApiCreateWxPayAndroidApiV1PaymentsWechatAndroidCreatePostRequest {
	return ApiCreateWxPayAndroidApiV1PaymentsWechatAndroidCreatePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *WeChatPayAPIService) CreateWxPayAndroidApiV1PaymentsWechatAndroidCreatePostExecute(r ApiCreateWxPayAndroidApiV1PaymentsWechatAndroidCreatePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WeChatPayAPIService.CreateWxPayAndroidApiV1PaymentsWechatAndroidCreatePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/payments/wechat/android/create"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.amount == nil {
		return localVarReturnValue, nil, reportError("amount is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "amount", r.amount, "form", "")
	if r.productId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "product_id", r.productId, "form", "")
	}
	if r.orderType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_type", r.orderType, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_type", defaultValue, "form", "")
		r.orderType = &defaultValue
	}
	if r.description != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description", r.description, "form", "")
	} else {
		var defaultValue string = "Purchase"
		parameterAddToHeaderOrQuery(localVarQueryParams, "description", defaultValue, "form", "")
		r.description = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateWxPayApiV1PaymentsWechatCreatePostRequest struct {
	ctx context.Context
	ApiService *WeChatPayAPIService
	amount *int32
	openId *string
	productId *string
	orderType *int32
	description *string
}

// Amount in fen
func (r ApiCreateWxPayApiV1PaymentsWechatCreatePostRequest) Amount(amount int32) ApiCreateWxPayApiV1PaymentsWechatCreatePostRequest {
	r.amount = &amount
	return r
}

// WeChat openid
func (r ApiCreateWxPayApiV1PaymentsWechatCreatePostRequest) OpenId(openId string) ApiCreateWxPayApiV1PaymentsWechatCreatePostRequest {
	r.openId = &openId
	return r
}

func (r ApiCreateWxPayApiV1PaymentsWechatCreatePostRequest) ProductId(productId string) ApiCreateWxPayApiV1PaymentsWechatCreatePostRequest {
	r.productId = &productId
	return r
}

// 0&#x3D;token,1&#x3D;activity,2&#x3D;identity,3&#x3D;agent
func (r ApiCreateWxPayApiV1PaymentsWechatCreatePostRequest) OrderType(orderType int32) ApiCreateWxPayApiV1PaymentsWechatCreatePostRequest {
	r.orderType = &orderType
	return r
}

func (r ApiCreateWxPayApiV1PaymentsWechatCreatePostRequest) Description(description string) ApiCreateWxPayApiV1PaymentsWechatCreatePostRequest {
	r.description = &description
	return r
}

func (r ApiCreateWxPayApiV1PaymentsWechatCreatePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CreateWxPayApiV1PaymentsWechatCreatePostExecute(r)
}

/*
CreateWxPayApiV1PaymentsWechatCreatePost Create WeChat Pay order (JSAPI / mini program)

Matches Java WXPayNowController.initiatePay + WXPayNowServiceImpl.pay.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateWxPayApiV1PaymentsWechatCreatePostRequest
*/
func (a *WeChatPayAPIService) CreateWxPayApiV1PaymentsWechatCreatePost(ctx context.Context) ApiCreateWxPayApiV1PaymentsWechatCreatePostRequest {
	return ApiCreateWxPayApiV1PaymentsWechatCreatePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *WeChatPayAPIService) CreateWxPayApiV1PaymentsWechatCreatePostExecute(r ApiCreateWxPayApiV1PaymentsWechatCreatePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WeChatPayAPIService.CreateWxPayApiV1PaymentsWechatCreatePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/payments/wechat/create"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.amount == nil {
		return localVarReturnValue, nil, reportError("amount is required and must be specified")
	}
	if r.openId == nil {
		return localVarReturnValue, nil, reportError("openId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "amount", r.amount, "form", "")
	if r.productId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "product_id", r.productId, "form", "")
	}
	if r.orderType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_type", r.orderType, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_type", defaultValue, "form", "")
		r.orderType = &defaultValue
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "open_id", r.openId, "form", "")
	if r.description != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description", r.description, "form", "")
	} else {
		var defaultValue string = "Purchase"
		parameterAddToHeaderOrQuery(localVarQueryParams, "description", defaultValue, "form", "")
		r.description = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateWxPayCourseApiV1PaymentsWechatCourseCreatePostRequest struct {
	ctx context.Context
	ApiService *WeChatPayAPIService
	amount *int32
	courseId *string
}

func (r ApiCreateWxPayCourseApiV1PaymentsWechatCourseCreatePostRequest) Amount(amount int32) ApiCreateWxPayCourseApiV1PaymentsWechatCourseCreatePostRequest {
	r.amount = &amount
	return r
}

func (r ApiCreateWxPayCourseApiV1PaymentsWechatCourseCreatePostRequest) CourseId(courseId string) ApiCreateWxPayCourseApiV1PaymentsWechatCourseCreatePostRequest {
	r.courseId = &courseId
	return r
}

func (r ApiCreateWxPayCourseApiV1PaymentsWechatCourseCreatePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CreateWxPayCourseApiV1PaymentsWechatCourseCreatePostExecute(r)
}

/*
CreateWxPayCourseApiV1PaymentsWechatCourseCreatePost Create WeChat Pay order (course)

Create a course payment order.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateWxPayCourseApiV1PaymentsWechatCourseCreatePostRequest
*/
func (a *WeChatPayAPIService) CreateWxPayCourseApiV1PaymentsWechatCourseCreatePost(ctx context.Context) ApiCreateWxPayCourseApiV1PaymentsWechatCourseCreatePostRequest {
	return ApiCreateWxPayCourseApiV1PaymentsWechatCourseCreatePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *WeChatPayAPIService) CreateWxPayCourseApiV1PaymentsWechatCourseCreatePostExecute(r ApiCreateWxPayCourseApiV1PaymentsWechatCourseCreatePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WeChatPayAPIService.CreateWxPayCourseApiV1PaymentsWechatCourseCreatePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/payments/wechat/course/create"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.amount == nil {
		return localVarReturnValue, nil, reportError("amount is required and must be specified")
	}
	if r.courseId == nil {
		return localVarReturnValue, nil, reportError("courseId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "amount", r.amount, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "course_id", r.courseId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiQueryByTradeNoApiV1PaymentsWechatQueryByTradeNoPostRequest struct {
	ctx context.Context
	ApiService *WeChatPayAPIService
	outTradeNo *string
}

func (r ApiQueryByTradeNoApiV1PaymentsWechatQueryByTradeNoPostRequest) OutTradeNo(outTradeNo string) ApiQueryByTradeNoApiV1PaymentsWechatQueryByTradeNoPostRequest {
	r.outTradeNo = &outTradeNo
	return r
}

func (r ApiQueryByTradeNoApiV1PaymentsWechatQueryByTradeNoPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.QueryByTradeNoApiV1PaymentsWechatQueryByTradeNoPostExecute(r)
}

/*
QueryByTradeNoApiV1PaymentsWechatQueryByTradeNoPost Query by merchant trade number

Query local order and WeChat payment status.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiQueryByTradeNoApiV1PaymentsWechatQueryByTradeNoPostRequest
*/
func (a *WeChatPayAPIService) QueryByTradeNoApiV1PaymentsWechatQueryByTradeNoPost(ctx context.Context) ApiQueryByTradeNoApiV1PaymentsWechatQueryByTradeNoPostRequest {
	return ApiQueryByTradeNoApiV1PaymentsWechatQueryByTradeNoPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *WeChatPayAPIService) QueryByTradeNoApiV1PaymentsWechatQueryByTradeNoPostExecute(r ApiQueryByTradeNoApiV1PaymentsWechatQueryByTradeNoPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WeChatPayAPIService.QueryByTradeNoApiV1PaymentsWechatQueryByTradeNoPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/payments/wechat/query/by-trade-no"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.outTradeNo == nil {
		return localVarReturnValue, nil, reportError("outTradeNo is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "out_trade_no", r.outTradeNo, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiWxPayCloseApiV1PaymentsWechatClosePostRequest struct {
	ctx context.Context
	ApiService *WeChatPayAPIService
	outTradeNo *string
}

func (r ApiWxPayCloseApiV1PaymentsWechatClosePostRequest) OutTradeNo(outTradeNo string) ApiWxPayCloseApiV1PaymentsWechatClosePostRequest {
	r.outTradeNo = &outTradeNo
	return r
}

func (r ApiWxPayCloseApiV1PaymentsWechatClosePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.WxPayCloseApiV1PaymentsWechatClosePostExecute(r)
}

/*
WxPayCloseApiV1PaymentsWechatClosePost Close WeChat Pay order

Matches Java WXPayNowServiceImpl.closeOrder -- updates status to 4 (closed).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiWxPayCloseApiV1PaymentsWechatClosePostRequest
*/
func (a *WeChatPayAPIService) WxPayCloseApiV1PaymentsWechatClosePost(ctx context.Context) ApiWxPayCloseApiV1PaymentsWechatClosePostRequest {
	return ApiWxPayCloseApiV1PaymentsWechatClosePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *WeChatPayAPIService) WxPayCloseApiV1PaymentsWechatClosePostExecute(r ApiWxPayCloseApiV1PaymentsWechatClosePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WeChatPayAPIService.WxPayCloseApiV1PaymentsWechatClosePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/payments/wechat/close"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.outTradeNo == nil {
		return localVarReturnValue, nil, reportError("outTradeNo is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "out_trade_no", r.outTradeNo, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiWxPayNotifyApiV1PaymentsWechatNotifyPostRequest struct {
	ctx context.Context
	ApiService *WeChatPayAPIService
	wechatpaySerial *string
	wechatpaySignature *string
	wechatpayTimestamp *string
	wechatpayNonce *string
}

func (r ApiWxPayNotifyApiV1PaymentsWechatNotifyPostRequest) WechatpaySerial(wechatpaySerial string) ApiWxPayNotifyApiV1PaymentsWechatNotifyPostRequest {
	r.wechatpaySerial = &wechatpaySerial
	return r
}

func (r ApiWxPayNotifyApiV1PaymentsWechatNotifyPostRequest) WechatpaySignature(wechatpaySignature string) ApiWxPayNotifyApiV1PaymentsWechatNotifyPostRequest {
	r.wechatpaySignature = &wechatpaySignature
	return r
}

func (r ApiWxPayNotifyApiV1PaymentsWechatNotifyPostRequest) WechatpayTimestamp(wechatpayTimestamp string) ApiWxPayNotifyApiV1PaymentsWechatNotifyPostRequest {
	r.wechatpayTimestamp = &wechatpayTimestamp
	return r
}

func (r ApiWxPayNotifyApiV1PaymentsWechatNotifyPostRequest) WechatpayNonce(wechatpayNonce string) ApiWxPayNotifyApiV1PaymentsWechatNotifyPostRequest {
	r.wechatpayNonce = &wechatpayNonce
	return r
}

func (r ApiWxPayNotifyApiV1PaymentsWechatNotifyPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.WxPayNotifyApiV1PaymentsWechatNotifyPostExecute(r)
}

/*
WxPayNotifyApiV1PaymentsWechatNotifyPost WeChat Pay V3 async callback

WeChat Pay V3 callback with idempotency protection.

This endpoint handles payment success notifications from WeChat Pay V3.
Implements idempotency to prevent duplicate order status updates when
WeChat retries the callback.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiWxPayNotifyApiV1PaymentsWechatNotifyPostRequest
*/
func (a *WeChatPayAPIService) WxPayNotifyApiV1PaymentsWechatNotifyPost(ctx context.Context) ApiWxPayNotifyApiV1PaymentsWechatNotifyPostRequest {
	return ApiWxPayNotifyApiV1PaymentsWechatNotifyPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *WeChatPayAPIService) WxPayNotifyApiV1PaymentsWechatNotifyPostExecute(r ApiWxPayNotifyApiV1PaymentsWechatNotifyPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WeChatPayAPIService.WxPayNotifyApiV1PaymentsWechatNotifyPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/payments/wechat/notify"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.wechatpaySerial != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "wechatpay-serial", r.wechatpaySerial, "simple", "")
	}
	if r.wechatpaySignature != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "wechatpay-signature", r.wechatpaySignature, "simple", "")
	}
	if r.wechatpayTimestamp != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "wechatpay-timestamp", r.wechatpayTimestamp, "simple", "")
	}
	if r.wechatpayNonce != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "wechatpay-nonce", r.wechatpayNonce, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiWxPayQueryApiV1PaymentsWechatQueryPostRequest struct {
	ctx context.Context
	ApiService *WeChatPayAPIService
	outTradeNo *string
}

func (r ApiWxPayQueryApiV1PaymentsWechatQueryPostRequest) OutTradeNo(outTradeNo string) ApiWxPayQueryApiV1PaymentsWechatQueryPostRequest {
	r.outTradeNo = &outTradeNo
	return r
}

func (r ApiWxPayQueryApiV1PaymentsWechatQueryPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.WxPayQueryApiV1PaymentsWechatQueryPostExecute(r)
}

/*
WxPayQueryApiV1PaymentsWechatQueryPost Query WeChat Pay order

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiWxPayQueryApiV1PaymentsWechatQueryPostRequest
*/
func (a *WeChatPayAPIService) WxPayQueryApiV1PaymentsWechatQueryPost(ctx context.Context) ApiWxPayQueryApiV1PaymentsWechatQueryPostRequest {
	return ApiWxPayQueryApiV1PaymentsWechatQueryPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *WeChatPayAPIService) WxPayQueryApiV1PaymentsWechatQueryPostExecute(r ApiWxPayQueryApiV1PaymentsWechatQueryPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WeChatPayAPIService.WxPayQueryApiV1PaymentsWechatQueryPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/payments/wechat/query"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.outTradeNo == nil {
		return localVarReturnValue, nil, reportError("outTradeNo is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "out_trade_no", r.outTradeNo, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiWxPayRefundApiV1PaymentsWechatRefundPostRequest struct {
	ctx context.Context
	ApiService *WeChatPayAPIService
	outTradeNo *string
	refundAmount *int32
	reason *string
}

func (r ApiWxPayRefundApiV1PaymentsWechatRefundPostRequest) OutTradeNo(outTradeNo string) ApiWxPayRefundApiV1PaymentsWechatRefundPostRequest {
	r.outTradeNo = &outTradeNo
	return r
}

// Refund amount in fen
func (r ApiWxPayRefundApiV1PaymentsWechatRefundPostRequest) RefundAmount(refundAmount int32) ApiWxPayRefundApiV1PaymentsWechatRefundPostRequest {
	r.refundAmount = &refundAmount
	return r
}

func (r ApiWxPayRefundApiV1PaymentsWechatRefundPostRequest) Reason(reason string) ApiWxPayRefundApiV1PaymentsWechatRefundPostRequest {
	r.reason = &reason
	return r
}

func (r ApiWxPayRefundApiV1PaymentsWechatRefundPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.WxPayRefundApiV1PaymentsWechatRefundPostExecute(r)
}

/*
WxPayRefundApiV1PaymentsWechatRefundPost Refund WeChat Pay order

Matches Java WXPayNowServiceImpl.refunds.

Note: Java refund code has a bug -- it calls setOutTradeNo(outRefundNo)
overwriting the original out_trade_no. Python uses out_refund_no correctly.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiWxPayRefundApiV1PaymentsWechatRefundPostRequest
*/
func (a *WeChatPayAPIService) WxPayRefundApiV1PaymentsWechatRefundPost(ctx context.Context) ApiWxPayRefundApiV1PaymentsWechatRefundPostRequest {
	return ApiWxPayRefundApiV1PaymentsWechatRefundPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *WeChatPayAPIService) WxPayRefundApiV1PaymentsWechatRefundPostExecute(r ApiWxPayRefundApiV1PaymentsWechatRefundPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WeChatPayAPIService.WxPayRefundApiV1PaymentsWechatRefundPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/payments/wechat/refund"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.outTradeNo == nil {
		return localVarReturnValue, nil, reportError("outTradeNo is required and must be specified")
	}
	if r.refundAmount == nil {
		return localVarReturnValue, nil, reportError("refundAmount is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "out_trade_no", r.outTradeNo, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "refund_amount", r.refundAmount, "form", "")
	if r.reason != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "reason", r.reason, "form", "")
	} else {
		var defaultValue string = "User requested refund"
		parameterAddToHeaderOrQuery(localVarQueryParams, "reason", defaultValue, "form", "")
		r.reason = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiWxRefundNotifyApiV1PaymentsWechatNotifyRefundPostRequest struct {
	ctx context.Context
	ApiService *WeChatPayAPIService
	wechatpaySerial *string
	wechatpaySignature *string
	wechatpayTimestamp *string
	wechatpayNonce *string
}

func (r ApiWxRefundNotifyApiV1PaymentsWechatNotifyRefundPostRequest) WechatpaySerial(wechatpaySerial string) ApiWxRefundNotifyApiV1PaymentsWechatNotifyRefundPostRequest {
	r.wechatpaySerial = &wechatpaySerial
	return r
}

func (r ApiWxRefundNotifyApiV1PaymentsWechatNotifyRefundPostRequest) WechatpaySignature(wechatpaySignature string) ApiWxRefundNotifyApiV1PaymentsWechatNotifyRefundPostRequest {
	r.wechatpaySignature = &wechatpaySignature
	return r
}

func (r ApiWxRefundNotifyApiV1PaymentsWechatNotifyRefundPostRequest) WechatpayTimestamp(wechatpayTimestamp string) ApiWxRefundNotifyApiV1PaymentsWechatNotifyRefundPostRequest {
	r.wechatpayTimestamp = &wechatpayTimestamp
	return r
}

func (r ApiWxRefundNotifyApiV1PaymentsWechatNotifyRefundPostRequest) WechatpayNonce(wechatpayNonce string) ApiWxRefundNotifyApiV1PaymentsWechatNotifyRefundPostRequest {
	r.wechatpayNonce = &wechatpayNonce
	return r
}

func (r ApiWxRefundNotifyApiV1PaymentsWechatNotifyRefundPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.WxRefundNotifyApiV1PaymentsWechatNotifyRefundPostExecute(r)
}

/*
WxRefundNotifyApiV1PaymentsWechatNotifyRefundPost WeChat Pay refund callback

WeChat Pay refund callback with idempotency protection.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiWxRefundNotifyApiV1PaymentsWechatNotifyRefundPostRequest
*/
func (a *WeChatPayAPIService) WxRefundNotifyApiV1PaymentsWechatNotifyRefundPost(ctx context.Context) ApiWxRefundNotifyApiV1PaymentsWechatNotifyRefundPostRequest {
	return ApiWxRefundNotifyApiV1PaymentsWechatNotifyRefundPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *WeChatPayAPIService) WxRefundNotifyApiV1PaymentsWechatNotifyRefundPostExecute(r ApiWxRefundNotifyApiV1PaymentsWechatNotifyRefundPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WeChatPayAPIService.WxRefundNotifyApiV1PaymentsWechatNotifyRefundPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/payments/wechat/notify/refund"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.wechatpaySerial != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "wechatpay-serial", r.wechatpaySerial, "simple", "")
	}
	if r.wechatpaySignature != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "wechatpay-signature", r.wechatpaySignature, "simple", "")
	}
	if r.wechatpayTimestamp != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "wechatpay-timestamp", r.wechatpayTimestamp, "simple", "")
	}
	if r.wechatpayNonce != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "wechatpay-nonce", r.wechatpayNonce, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiWxTransferNotifyApiV1PaymentsWechatNotifyTransferPostRequest struct {
	ctx context.Context
	ApiService *WeChatPayAPIService
	wechatpaySerial *string
	wechatpaySignature *string
	wechatpayTimestamp *string
	wechatpayNonce *string
}

func (r ApiWxTransferNotifyApiV1PaymentsWechatNotifyTransferPostRequest) WechatpaySerial(wechatpaySerial string) ApiWxTransferNotifyApiV1PaymentsWechatNotifyTransferPostRequest {
	r.wechatpaySerial = &wechatpaySerial
	return r
}

func (r ApiWxTransferNotifyApiV1PaymentsWechatNotifyTransferPostRequest) WechatpaySignature(wechatpaySignature string) ApiWxTransferNotifyApiV1PaymentsWechatNotifyTransferPostRequest {
	r.wechatpaySignature = &wechatpaySignature
	return r
}

func (r ApiWxTransferNotifyApiV1PaymentsWechatNotifyTransferPostRequest) WechatpayTimestamp(wechatpayTimestamp string) ApiWxTransferNotifyApiV1PaymentsWechatNotifyTransferPostRequest {
	r.wechatpayTimestamp = &wechatpayTimestamp
	return r
}

func (r ApiWxTransferNotifyApiV1PaymentsWechatNotifyTransferPostRequest) WechatpayNonce(wechatpayNonce string) ApiWxTransferNotifyApiV1PaymentsWechatNotifyTransferPostRequest {
	r.wechatpayNonce = &wechatpayNonce
	return r
}

func (r ApiWxTransferNotifyApiV1PaymentsWechatNotifyTransferPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.WxTransferNotifyApiV1PaymentsWechatNotifyTransferPostExecute(r)
}

/*
WxTransferNotifyApiV1PaymentsWechatNotifyTransferPost WeChat Pay transfer callback

WeChat Pay transfer (withdrawal) callback with idempotency.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiWxTransferNotifyApiV1PaymentsWechatNotifyTransferPostRequest
*/
func (a *WeChatPayAPIService) WxTransferNotifyApiV1PaymentsWechatNotifyTransferPost(ctx context.Context) ApiWxTransferNotifyApiV1PaymentsWechatNotifyTransferPostRequest {
	return ApiWxTransferNotifyApiV1PaymentsWechatNotifyTransferPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *WeChatPayAPIService) WxTransferNotifyApiV1PaymentsWechatNotifyTransferPostExecute(r ApiWxTransferNotifyApiV1PaymentsWechatNotifyTransferPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WeChatPayAPIService.WxTransferNotifyApiV1PaymentsWechatNotifyTransferPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/payments/wechat/notify/transfer"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.wechatpaySerial != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "wechatpay-serial", r.wechatpaySerial, "simple", "")
	}
	if r.wechatpaySignature != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "wechatpay-signature", r.wechatpaySignature, "simple", "")
	}
	if r.wechatpayTimestamp != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "wechatpay-timestamp", r.wechatpayTimestamp, "simple", "")
	}
	if r.wechatpayNonce != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "wechatpay-nonce", r.wechatpayNonce, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
