/*
ZHS Platform

ZHS Platform API - AI Agent Marketplace & Educational Platform

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zhs_api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// CirclePostAPIService CirclePostAPI service
type CirclePostAPIService service

type ApiAddCommentApiV1CirclePostPidCommentPostRequest struct {
	ctx context.Context
	ApiService *CirclePostAPIService
	pid int32
	content *string
	pid2 *int32
	replyUserId *string
	replyUserName *string
}

func (r ApiAddCommentApiV1CirclePostPidCommentPostRequest) Content(content string) ApiAddCommentApiV1CirclePostPidCommentPostRequest {
	r.content = &content
	return r
}

func (r ApiAddCommentApiV1CirclePostPidCommentPostRequest) Pid2(pid2 int32) ApiAddCommentApiV1CirclePostPidCommentPostRequest {
	r.pid2 = &pid2
	return r
}

func (r ApiAddCommentApiV1CirclePostPidCommentPostRequest) ReplyUserId(replyUserId string) ApiAddCommentApiV1CirclePostPidCommentPostRequest {
	r.replyUserId = &replyUserId
	return r
}

func (r ApiAddCommentApiV1CirclePostPidCommentPostRequest) ReplyUserName(replyUserName string) ApiAddCommentApiV1CirclePostPidCommentPostRequest {
	r.replyUserName = &replyUserName
	return r
}

func (r ApiAddCommentApiV1CirclePostPidCommentPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.AddCommentApiV1CirclePostPidCommentPostExecute(r)
}

/*
AddCommentApiV1CirclePostPidCommentPost 发表评论

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pid
 @return ApiAddCommentApiV1CirclePostPidCommentPostRequest
*/
func (a *CirclePostAPIService) AddCommentApiV1CirclePostPidCommentPost(ctx context.Context, pid int32) ApiAddCommentApiV1CirclePostPidCommentPostRequest {
	return ApiAddCommentApiV1CirclePostPidCommentPostRequest{
		ApiService: a,
		ctx: ctx,
		pid: pid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *CirclePostAPIService) AddCommentApiV1CirclePostPidCommentPostExecute(r ApiAddCommentApiV1CirclePostPidCommentPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CirclePostAPIService.AddCommentApiV1CirclePostPidCommentPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/circle/post/{pid}/comment"
	localVarPath = strings.Replace(localVarPath, "{"+"pid"+"}", url.PathEscape(parameterValueToString(r.pid, "pid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.content == nil {
		return localVarReturnValue, nil, reportError("content is required and must be specified")
	}
	if strlen(*r.content) < 1 {
		return localVarReturnValue, nil, reportError("content must have at least 1 elements")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "content", r.content, "form", "")
	if r.pid2 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pid", r.pid2, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "pid", defaultValue, "form", "")
		r.pid2 = &defaultValue
	}
	if r.replyUserId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "reply_user_id", r.replyUserId, "form", "")
	}
	if r.replyUserName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "reply_user_name", r.replyUserName, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreatePostApiV1CirclePostPostRequest struct {
	ctx context.Context
	ApiService *CirclePostAPIService
	circleId *int32
	content *string
	images *string
	video *string
}

func (r ApiCreatePostApiV1CirclePostPostRequest) CircleId(circleId int32) ApiCreatePostApiV1CirclePostPostRequest {
	r.circleId = &circleId
	return r
}

func (r ApiCreatePostApiV1CirclePostPostRequest) Content(content string) ApiCreatePostApiV1CirclePostPostRequest {
	r.content = &content
	return r
}

func (r ApiCreatePostApiV1CirclePostPostRequest) Images(images string) ApiCreatePostApiV1CirclePostPostRequest {
	r.images = &images
	return r
}

func (r ApiCreatePostApiV1CirclePostPostRequest) Video(video string) ApiCreatePostApiV1CirclePostPostRequest {
	r.video = &video
	return r
}

func (r ApiCreatePostApiV1CirclePostPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CreatePostApiV1CirclePostPostExecute(r)
}

/*
CreatePostApiV1CirclePostPost 发布帖子

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreatePostApiV1CirclePostPostRequest
*/
func (a *CirclePostAPIService) CreatePostApiV1CirclePostPost(ctx context.Context) ApiCreatePostApiV1CirclePostPostRequest {
	return ApiCreatePostApiV1CirclePostPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *CirclePostAPIService) CreatePostApiV1CirclePostPostExecute(r ApiCreatePostApiV1CirclePostPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CirclePostAPIService.CreatePostApiV1CirclePostPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/circle/post"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.circleId == nil {
		return localVarReturnValue, nil, reportError("circleId is required and must be specified")
	}
	if r.content == nil {
		return localVarReturnValue, nil, reportError("content is required and must be specified")
	}
	if strlen(*r.content) < 1 {
		return localVarReturnValue, nil, reportError("content must have at least 1 elements")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "circle_id", r.circleId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "content", r.content, "form", "")
	if r.images != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "images", r.images, "form", "")
	}
	if r.video != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "video", r.video, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeletePostApiV1CirclePostPidDeleteRequest struct {
	ctx context.Context
	ApiService *CirclePostAPIService
	pid int32
}

func (r ApiDeletePostApiV1CirclePostPidDeleteRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DeletePostApiV1CirclePostPidDeleteExecute(r)
}

/*
DeletePostApiV1CirclePostPidDelete 删除帖子

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pid
 @return ApiDeletePostApiV1CirclePostPidDeleteRequest
*/
func (a *CirclePostAPIService) DeletePostApiV1CirclePostPidDelete(ctx context.Context, pid int32) ApiDeletePostApiV1CirclePostPidDeleteRequest {
	return ApiDeletePostApiV1CirclePostPidDeleteRequest{
		ApiService: a,
		ctx: ctx,
		pid: pid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *CirclePostAPIService) DeletePostApiV1CirclePostPidDeleteExecute(r ApiDeletePostApiV1CirclePostPidDeleteRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CirclePostAPIService.DeletePostApiV1CirclePostPidDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/circle/post/{pid}"
	localVarPath = strings.Replace(localVarPath, "{"+"pid"+"}", url.PathEscape(parameterValueToString(r.pid, "pid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetPostApiV1CirclePostPidGetRequest struct {
	ctx context.Context
	ApiService *CirclePostAPIService
	pid int32
}

func (r ApiGetPostApiV1CirclePostPidGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetPostApiV1CirclePostPidGetExecute(r)
}

/*
GetPostApiV1CirclePostPidGet 帖子详情

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pid
 @return ApiGetPostApiV1CirclePostPidGetRequest
*/
func (a *CirclePostAPIService) GetPostApiV1CirclePostPidGet(ctx context.Context, pid int32) ApiGetPostApiV1CirclePostPidGetRequest {
	return ApiGetPostApiV1CirclePostPidGetRequest{
		ApiService: a,
		ctx: ctx,
		pid: pid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *CirclePostAPIService) GetPostApiV1CirclePostPidGetExecute(r ApiGetPostApiV1CirclePostPidGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CirclePostAPIService.GetPostApiV1CirclePostPidGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/circle/post/{pid}"
	localVarPath = strings.Replace(localVarPath, "{"+"pid"+"}", url.PathEscape(parameterValueToString(r.pid, "pid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListCommentsApiV1CirclePostPidCommentsGetRequest struct {
	ctx context.Context
	ApiService *CirclePostAPIService
	pid int32
	page *int32
	limit *int32
}

func (r ApiListCommentsApiV1CirclePostPidCommentsGetRequest) Page(page int32) ApiListCommentsApiV1CirclePostPidCommentsGetRequest {
	r.page = &page
	return r
}

func (r ApiListCommentsApiV1CirclePostPidCommentsGetRequest) Limit(limit int32) ApiListCommentsApiV1CirclePostPidCommentsGetRequest {
	r.limit = &limit
	return r
}

func (r ApiListCommentsApiV1CirclePostPidCommentsGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListCommentsApiV1CirclePostPidCommentsGetExecute(r)
}

/*
ListCommentsApiV1CirclePostPidCommentsGet 评论列表

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pid
 @return ApiListCommentsApiV1CirclePostPidCommentsGetRequest
*/
func (a *CirclePostAPIService) ListCommentsApiV1CirclePostPidCommentsGet(ctx context.Context, pid int32) ApiListCommentsApiV1CirclePostPidCommentsGetRequest {
	return ApiListCommentsApiV1CirclePostPidCommentsGetRequest{
		ApiService: a,
		ctx: ctx,
		pid: pid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *CirclePostAPIService) ListCommentsApiV1CirclePostPidCommentsGetExecute(r ApiListCommentsApiV1CirclePostPidCommentsGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CirclePostAPIService.ListCommentsApiV1CirclePostPidCommentsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/circle/post/{pid}/comments"
	localVarPath = strings.Replace(localVarPath, "{"+"pid"+"}", url.PathEscape(parameterValueToString(r.pid, "pid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListPostsApiV1CirclePostListGetRequest struct {
	ctx context.Context
	ApiService *CirclePostAPIService
	page *int32
	limit *int32
	circleId *int32
	userId *string
	keyword *string
	orderBy *string
}

func (r ApiListPostsApiV1CirclePostListGetRequest) Page(page int32) ApiListPostsApiV1CirclePostListGetRequest {
	r.page = &page
	return r
}

func (r ApiListPostsApiV1CirclePostListGetRequest) Limit(limit int32) ApiListPostsApiV1CirclePostListGetRequest {
	r.limit = &limit
	return r
}

func (r ApiListPostsApiV1CirclePostListGetRequest) CircleId(circleId int32) ApiListPostsApiV1CirclePostListGetRequest {
	r.circleId = &circleId
	return r
}

func (r ApiListPostsApiV1CirclePostListGetRequest) UserId(userId string) ApiListPostsApiV1CirclePostListGetRequest {
	r.userId = &userId
	return r
}

func (r ApiListPostsApiV1CirclePostListGetRequest) Keyword(keyword string) ApiListPostsApiV1CirclePostListGetRequest {
	r.keyword = &keyword
	return r
}

func (r ApiListPostsApiV1CirclePostListGetRequest) OrderBy(orderBy string) ApiListPostsApiV1CirclePostListGetRequest {
	r.orderBy = &orderBy
	return r
}

func (r ApiListPostsApiV1CirclePostListGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListPostsApiV1CirclePostListGetExecute(r)
}

/*
ListPostsApiV1CirclePostListGet 帖子列表

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListPostsApiV1CirclePostListGetRequest
*/
func (a *CirclePostAPIService) ListPostsApiV1CirclePostListGet(ctx context.Context) ApiListPostsApiV1CirclePostListGetRequest {
	return ApiListPostsApiV1CirclePostListGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *CirclePostAPIService) ListPostsApiV1CirclePostListGetExecute(r ApiListPostsApiV1CirclePostListGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CirclePostAPIService.ListPostsApiV1CirclePostListGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/circle/post/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.circleId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "circle_id", r.circleId, "form", "")
	}
	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", r.userId, "form", "")
	}
	if r.keyword != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "keyword", r.keyword, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_by", r.orderBy, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiToggleLikeApiV1CirclePostPidLikePostRequest struct {
	ctx context.Context
	ApiService *CirclePostAPIService
	pid int32
}

func (r ApiToggleLikeApiV1CirclePostPidLikePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ToggleLikeApiV1CirclePostPidLikePostExecute(r)
}

/*
ToggleLikeApiV1CirclePostPidLikePost 点赞/取消点赞

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pid
 @return ApiToggleLikeApiV1CirclePostPidLikePostRequest
*/
func (a *CirclePostAPIService) ToggleLikeApiV1CirclePostPidLikePost(ctx context.Context, pid int32) ApiToggleLikeApiV1CirclePostPidLikePostRequest {
	return ApiToggleLikeApiV1CirclePostPidLikePostRequest{
		ApiService: a,
		ctx: ctx,
		pid: pid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *CirclePostAPIService) ToggleLikeApiV1CirclePostPidLikePostExecute(r ApiToggleLikeApiV1CirclePostPidLikePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CirclePostAPIService.ToggleLikeApiV1CirclePostPidLikePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/circle/post/{pid}/like"
	localVarPath = strings.Replace(localVarPath, "{"+"pid"+"}", url.PathEscape(parameterValueToString(r.pid, "pid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdatePostApiV1CirclePostPidPutRequest struct {
	ctx context.Context
	ApiService *CirclePostAPIService
	pid int32
	content *string
	images *string
	video *string
}

func (r ApiUpdatePostApiV1CirclePostPidPutRequest) Content(content string) ApiUpdatePostApiV1CirclePostPidPutRequest {
	r.content = &content
	return r
}

func (r ApiUpdatePostApiV1CirclePostPidPutRequest) Images(images string) ApiUpdatePostApiV1CirclePostPidPutRequest {
	r.images = &images
	return r
}

func (r ApiUpdatePostApiV1CirclePostPidPutRequest) Video(video string) ApiUpdatePostApiV1CirclePostPidPutRequest {
	r.video = &video
	return r
}

func (r ApiUpdatePostApiV1CirclePostPidPutRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.UpdatePostApiV1CirclePostPidPutExecute(r)
}

/*
UpdatePostApiV1CirclePostPidPut 修改帖子

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pid
 @return ApiUpdatePostApiV1CirclePostPidPutRequest
*/
func (a *CirclePostAPIService) UpdatePostApiV1CirclePostPidPut(ctx context.Context, pid int32) ApiUpdatePostApiV1CirclePostPidPutRequest {
	return ApiUpdatePostApiV1CirclePostPidPutRequest{
		ApiService: a,
		ctx: ctx,
		pid: pid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *CirclePostAPIService) UpdatePostApiV1CirclePostPidPutExecute(r ApiUpdatePostApiV1CirclePostPidPutRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CirclePostAPIService.UpdatePostApiV1CirclePostPidPut")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/circle/post/{pid}"
	localVarPath = strings.Replace(localVarPath, "{"+"pid"+"}", url.PathEscape(parameterValueToString(r.pid, "pid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.content != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "content", r.content, "form", "")
	}
	if r.images != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "images", r.images, "form", "")
	}
	if r.video != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "video", r.video, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
