/*
ZHS Platform

ZHS Platform API - AI Agent Marketplace & Educational Platform

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zhs_api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// UserVideoCommentAPIService UserVideoCommentAPI service
type UserVideoCommentAPIService service

type ApiAddCommentApiV1UserVideoCommentPostRequest struct {
	ctx context.Context
	ApiService *UserVideoCommentAPIService
	videoId *int32
	content *string
	pid *int32
	replyUserId *string
	replyUserName *string
}

func (r ApiAddCommentApiV1UserVideoCommentPostRequest) VideoId(videoId int32) ApiAddCommentApiV1UserVideoCommentPostRequest {
	r.videoId = &videoId
	return r
}

func (r ApiAddCommentApiV1UserVideoCommentPostRequest) Content(content string) ApiAddCommentApiV1UserVideoCommentPostRequest {
	r.content = &content
	return r
}

func (r ApiAddCommentApiV1UserVideoCommentPostRequest) Pid(pid int32) ApiAddCommentApiV1UserVideoCommentPostRequest {
	r.pid = &pid
	return r
}

func (r ApiAddCommentApiV1UserVideoCommentPostRequest) ReplyUserId(replyUserId string) ApiAddCommentApiV1UserVideoCommentPostRequest {
	r.replyUserId = &replyUserId
	return r
}

func (r ApiAddCommentApiV1UserVideoCommentPostRequest) ReplyUserName(replyUserName string) ApiAddCommentApiV1UserVideoCommentPostRequest {
	r.replyUserName = &replyUserName
	return r
}

func (r ApiAddCommentApiV1UserVideoCommentPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.AddCommentApiV1UserVideoCommentPostExecute(r)
}

/*
AddCommentApiV1UserVideoCommentPost 发表视频评论

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAddCommentApiV1UserVideoCommentPostRequest
*/
func (a *UserVideoCommentAPIService) AddCommentApiV1UserVideoCommentPost(ctx context.Context) ApiAddCommentApiV1UserVideoCommentPostRequest {
	return ApiAddCommentApiV1UserVideoCommentPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *UserVideoCommentAPIService) AddCommentApiV1UserVideoCommentPostExecute(r ApiAddCommentApiV1UserVideoCommentPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserVideoCommentAPIService.AddCommentApiV1UserVideoCommentPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/user-video-comment"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.videoId == nil {
		return localVarReturnValue, nil, reportError("videoId is required and must be specified")
	}
	if r.content == nil {
		return localVarReturnValue, nil, reportError("content is required and must be specified")
	}
	if strlen(*r.content) < 1 {
		return localVarReturnValue, nil, reportError("content must have at least 1 elements")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "video_id", r.videoId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "content", r.content, "form", "")
	if r.pid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pid", r.pid, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "pid", defaultValue, "form", "")
		r.pid = &defaultValue
	}
	if r.replyUserId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "reply_user_id", r.replyUserId, "form", "")
	}
	if r.replyUserName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "reply_user_name", r.replyUserName, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAddCommentApiV1UserVideoCommentPost_0Request struct {
	ctx context.Context
	ApiService *UserVideoCommentAPIService
	videoId *int32
	content *string
	pid *int32
	replyUserId *string
	replyUserName *string
}

func (r ApiAddCommentApiV1UserVideoCommentPost_0Request) VideoId(videoId int32) ApiAddCommentApiV1UserVideoCommentPost_0Request {
	r.videoId = &videoId
	return r
}

func (r ApiAddCommentApiV1UserVideoCommentPost_0Request) Content(content string) ApiAddCommentApiV1UserVideoCommentPost_0Request {
	r.content = &content
	return r
}

func (r ApiAddCommentApiV1UserVideoCommentPost_0Request) Pid(pid int32) ApiAddCommentApiV1UserVideoCommentPost_0Request {
	r.pid = &pid
	return r
}

func (r ApiAddCommentApiV1UserVideoCommentPost_0Request) ReplyUserId(replyUserId string) ApiAddCommentApiV1UserVideoCommentPost_0Request {
	r.replyUserId = &replyUserId
	return r
}

func (r ApiAddCommentApiV1UserVideoCommentPost_0Request) ReplyUserName(replyUserName string) ApiAddCommentApiV1UserVideoCommentPost_0Request {
	r.replyUserName = &replyUserName
	return r
}

func (r ApiAddCommentApiV1UserVideoCommentPost_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.AddCommentApiV1UserVideoCommentPost_1Execute(r)
}

/*
AddCommentApiV1UserVideoCommentPost_0 发表视频评论

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAddCommentApiV1UserVideoCommentPost_0Request
*/
func (a *UserVideoCommentAPIService) AddCommentApiV1UserVideoCommentPost_1(ctx context.Context) ApiAddCommentApiV1UserVideoCommentPost_0Request {
	return ApiAddCommentApiV1UserVideoCommentPost_0Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *UserVideoCommentAPIService) AddCommentApiV1UserVideoCommentPost_1Execute(r ApiAddCommentApiV1UserVideoCommentPost_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserVideoCommentAPIService.AddCommentApiV1UserVideoCommentPost_1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/user-video-comment"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.videoId == nil {
		return localVarReturnValue, nil, reportError("videoId is required and must be specified")
	}
	if r.content == nil {
		return localVarReturnValue, nil, reportError("content is required and must be specified")
	}
	if strlen(*r.content) < 1 {
		return localVarReturnValue, nil, reportError("content must have at least 1 elements")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "video_id", r.videoId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "content", r.content, "form", "")
	if r.pid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pid", r.pid, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "pid", defaultValue, "form", "")
		r.pid = &defaultValue
	}
	if r.replyUserId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "reply_user_id", r.replyUserId, "form", "")
	}
	if r.replyUserName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "reply_user_name", r.replyUserName, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteCommentApiV1UserVideoCommentCidDeleteRequest struct {
	ctx context.Context
	ApiService *UserVideoCommentAPIService
	cid int32
}

func (r ApiDeleteCommentApiV1UserVideoCommentCidDeleteRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DeleteCommentApiV1UserVideoCommentCidDeleteExecute(r)
}

/*
DeleteCommentApiV1UserVideoCommentCidDelete 删除视频评论

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param cid
 @return ApiDeleteCommentApiV1UserVideoCommentCidDeleteRequest
*/
func (a *UserVideoCommentAPIService) DeleteCommentApiV1UserVideoCommentCidDelete(ctx context.Context, cid int32) ApiDeleteCommentApiV1UserVideoCommentCidDeleteRequest {
	return ApiDeleteCommentApiV1UserVideoCommentCidDeleteRequest{
		ApiService: a,
		ctx: ctx,
		cid: cid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *UserVideoCommentAPIService) DeleteCommentApiV1UserVideoCommentCidDeleteExecute(r ApiDeleteCommentApiV1UserVideoCommentCidDeleteRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserVideoCommentAPIService.DeleteCommentApiV1UserVideoCommentCidDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/user-video-comment/{cid}"
	localVarPath = strings.Replace(localVarPath, "{"+"cid"+"}", url.PathEscape(parameterValueToString(r.cid, "cid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteCommentApiV1UserVideoCommentCidDelete_0Request struct {
	ctx context.Context
	ApiService *UserVideoCommentAPIService
	cid int32
}

func (r ApiDeleteCommentApiV1UserVideoCommentCidDelete_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DeleteCommentApiV1UserVideoCommentCidDelete_2Execute(r)
}

/*
DeleteCommentApiV1UserVideoCommentCidDelete_0 删除视频评论

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param cid
 @return ApiDeleteCommentApiV1UserVideoCommentCidDelete_0Request
*/
func (a *UserVideoCommentAPIService) DeleteCommentApiV1UserVideoCommentCidDelete_2(ctx context.Context, cid int32) ApiDeleteCommentApiV1UserVideoCommentCidDelete_0Request {
	return ApiDeleteCommentApiV1UserVideoCommentCidDelete_0Request{
		ApiService: a,
		ctx: ctx,
		cid: cid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *UserVideoCommentAPIService) DeleteCommentApiV1UserVideoCommentCidDelete_2Execute(r ApiDeleteCommentApiV1UserVideoCommentCidDelete_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserVideoCommentAPIService.DeleteCommentApiV1UserVideoCommentCidDelete_2")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/user-video-comment/{cid}"
	localVarPath = strings.Replace(localVarPath, "{"+"cid"+"}", url.PathEscape(parameterValueToString(r.cid, "cid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListCommentsApiV1UserVideoCommentListGetRequest struct {
	ctx context.Context
	ApiService *UserVideoCommentAPIService
	videoId *int32
	page *int32
	limit *int32
}

func (r ApiListCommentsApiV1UserVideoCommentListGetRequest) VideoId(videoId int32) ApiListCommentsApiV1UserVideoCommentListGetRequest {
	r.videoId = &videoId
	return r
}

func (r ApiListCommentsApiV1UserVideoCommentListGetRequest) Page(page int32) ApiListCommentsApiV1UserVideoCommentListGetRequest {
	r.page = &page
	return r
}

func (r ApiListCommentsApiV1UserVideoCommentListGetRequest) Limit(limit int32) ApiListCommentsApiV1UserVideoCommentListGetRequest {
	r.limit = &limit
	return r
}

func (r ApiListCommentsApiV1UserVideoCommentListGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListCommentsApiV1UserVideoCommentListGetExecute(r)
}

/*
ListCommentsApiV1UserVideoCommentListGet 视频评论列表

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListCommentsApiV1UserVideoCommentListGetRequest
*/
func (a *UserVideoCommentAPIService) ListCommentsApiV1UserVideoCommentListGet(ctx context.Context) ApiListCommentsApiV1UserVideoCommentListGetRequest {
	return ApiListCommentsApiV1UserVideoCommentListGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *UserVideoCommentAPIService) ListCommentsApiV1UserVideoCommentListGetExecute(r ApiListCommentsApiV1UserVideoCommentListGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserVideoCommentAPIService.ListCommentsApiV1UserVideoCommentListGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/user-video-comment/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.videoId == nil {
		return localVarReturnValue, nil, reportError("videoId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "video_id", r.videoId, "form", "")
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListCommentsApiV1UserVideoCommentListGet_0Request struct {
	ctx context.Context
	ApiService *UserVideoCommentAPIService
	videoId *int32
	page *int32
	limit *int32
}

func (r ApiListCommentsApiV1UserVideoCommentListGet_0Request) VideoId(videoId int32) ApiListCommentsApiV1UserVideoCommentListGet_0Request {
	r.videoId = &videoId
	return r
}

func (r ApiListCommentsApiV1UserVideoCommentListGet_0Request) Page(page int32) ApiListCommentsApiV1UserVideoCommentListGet_0Request {
	r.page = &page
	return r
}

func (r ApiListCommentsApiV1UserVideoCommentListGet_0Request) Limit(limit int32) ApiListCommentsApiV1UserVideoCommentListGet_0Request {
	r.limit = &limit
	return r
}

func (r ApiListCommentsApiV1UserVideoCommentListGet_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListCommentsApiV1UserVideoCommentListGet_3Execute(r)
}

/*
ListCommentsApiV1UserVideoCommentListGet_0 视频评论列表

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListCommentsApiV1UserVideoCommentListGet_0Request
*/
func (a *UserVideoCommentAPIService) ListCommentsApiV1UserVideoCommentListGet_3(ctx context.Context) ApiListCommentsApiV1UserVideoCommentListGet_0Request {
	return ApiListCommentsApiV1UserVideoCommentListGet_0Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *UserVideoCommentAPIService) ListCommentsApiV1UserVideoCommentListGet_3Execute(r ApiListCommentsApiV1UserVideoCommentListGet_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserVideoCommentAPIService.ListCommentsApiV1UserVideoCommentListGet_3")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/user-video-comment/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.videoId == nil {
		return localVarReturnValue, nil, reportError("videoId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "video_id", r.videoId, "form", "")
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
