/*
ZHS Platform

ZHS Platform API - AI Agent Marketplace & Educational Platform

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zhs_api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// VisitTrackingAPIService VisitTrackingAPI service
type VisitTrackingAPIService service

type ApiLogListApiV1VisitLogListGetRequest struct {
	ctx context.Context
	ApiService *VisitTrackingAPIService
	page *int32
	limit *int32
	userId *string
	path *string
	targetType *string
	startDate *string
	endDate *string
}

func (r ApiLogListApiV1VisitLogListGetRequest) Page(page int32) ApiLogListApiV1VisitLogListGetRequest {
	r.page = &page
	return r
}

func (r ApiLogListApiV1VisitLogListGetRequest) Limit(limit int32) ApiLogListApiV1VisitLogListGetRequest {
	r.limit = &limit
	return r
}

func (r ApiLogListApiV1VisitLogListGetRequest) UserId(userId string) ApiLogListApiV1VisitLogListGetRequest {
	r.userId = &userId
	return r
}

func (r ApiLogListApiV1VisitLogListGetRequest) Path(path string) ApiLogListApiV1VisitLogListGetRequest {
	r.path = &path
	return r
}

func (r ApiLogListApiV1VisitLogListGetRequest) TargetType(targetType string) ApiLogListApiV1VisitLogListGetRequest {
	r.targetType = &targetType
	return r
}

func (r ApiLogListApiV1VisitLogListGetRequest) StartDate(startDate string) ApiLogListApiV1VisitLogListGetRequest {
	r.startDate = &startDate
	return r
}

func (r ApiLogListApiV1VisitLogListGetRequest) EndDate(endDate string) ApiLogListApiV1VisitLogListGetRequest {
	r.endDate = &endDate
	return r
}

func (r ApiLogListApiV1VisitLogListGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.LogListApiV1VisitLogListGetExecute(r)
}

/*
LogListApiV1VisitLogListGet 访问日志

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiLogListApiV1VisitLogListGetRequest
*/
func (a *VisitTrackingAPIService) LogListApiV1VisitLogListGet(ctx context.Context) ApiLogListApiV1VisitLogListGetRequest {
	return ApiLogListApiV1VisitLogListGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *VisitTrackingAPIService) LogListApiV1VisitLogListGetExecute(r ApiLogListApiV1VisitLogListGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VisitTrackingAPIService.LogListApiV1VisitLogListGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/visit/log/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", r.userId, "form", "")
	}
	if r.path != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "path", r.path, "form", "")
	}
	if r.targetType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "target_type", r.targetType, "form", "")
	}
	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_date", r.startDate, "form", "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_date", r.endDate, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiLogListApiV1VisitLogListGet_0Request struct {
	ctx context.Context
	ApiService *VisitTrackingAPIService
	page *int32
	limit *int32
	userId *string
	path *string
	targetType *string
	startDate *string
	endDate *string
}

func (r ApiLogListApiV1VisitLogListGet_0Request) Page(page int32) ApiLogListApiV1VisitLogListGet_0Request {
	r.page = &page
	return r
}

func (r ApiLogListApiV1VisitLogListGet_0Request) Limit(limit int32) ApiLogListApiV1VisitLogListGet_0Request {
	r.limit = &limit
	return r
}

func (r ApiLogListApiV1VisitLogListGet_0Request) UserId(userId string) ApiLogListApiV1VisitLogListGet_0Request {
	r.userId = &userId
	return r
}

func (r ApiLogListApiV1VisitLogListGet_0Request) Path(path string) ApiLogListApiV1VisitLogListGet_0Request {
	r.path = &path
	return r
}

func (r ApiLogListApiV1VisitLogListGet_0Request) TargetType(targetType string) ApiLogListApiV1VisitLogListGet_0Request {
	r.targetType = &targetType
	return r
}

func (r ApiLogListApiV1VisitLogListGet_0Request) StartDate(startDate string) ApiLogListApiV1VisitLogListGet_0Request {
	r.startDate = &startDate
	return r
}

func (r ApiLogListApiV1VisitLogListGet_0Request) EndDate(endDate string) ApiLogListApiV1VisitLogListGet_0Request {
	r.endDate = &endDate
	return r
}

func (r ApiLogListApiV1VisitLogListGet_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.LogListApiV1VisitLogListGet_1Execute(r)
}

/*
LogListApiV1VisitLogListGet_0 访问日志

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiLogListApiV1VisitLogListGet_0Request
*/
func (a *VisitTrackingAPIService) LogListApiV1VisitLogListGet_1(ctx context.Context) ApiLogListApiV1VisitLogListGet_0Request {
	return ApiLogListApiV1VisitLogListGet_0Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *VisitTrackingAPIService) LogListApiV1VisitLogListGet_1Execute(r ApiLogListApiV1VisitLogListGet_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VisitTrackingAPIService.LogListApiV1VisitLogListGet_1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/visit/log/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", r.userId, "form", "")
	}
	if r.path != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "path", r.path, "form", "")
	}
	if r.targetType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "target_type", r.targetType, "form", "")
	}
	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_date", r.startDate, "form", "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_date", r.endDate, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPageStatsApiV1VisitStatsPageGetRequest struct {
	ctx context.Context
	ApiService *VisitTrackingAPIService
	startDate *string
	endDate *string
	limit *int32
}

func (r ApiPageStatsApiV1VisitStatsPageGetRequest) StartDate(startDate string) ApiPageStatsApiV1VisitStatsPageGetRequest {
	r.startDate = &startDate
	return r
}

func (r ApiPageStatsApiV1VisitStatsPageGetRequest) EndDate(endDate string) ApiPageStatsApiV1VisitStatsPageGetRequest {
	r.endDate = &endDate
	return r
}

func (r ApiPageStatsApiV1VisitStatsPageGetRequest) Limit(limit int32) ApiPageStatsApiV1VisitStatsPageGetRequest {
	r.limit = &limit
	return r
}

func (r ApiPageStatsApiV1VisitStatsPageGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.PageStatsApiV1VisitStatsPageGetExecute(r)
}

/*
PageStatsApiV1VisitStatsPageGet 页面统计

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPageStatsApiV1VisitStatsPageGetRequest
*/
func (a *VisitTrackingAPIService) PageStatsApiV1VisitStatsPageGet(ctx context.Context) ApiPageStatsApiV1VisitStatsPageGetRequest {
	return ApiPageStatsApiV1VisitStatsPageGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *VisitTrackingAPIService) PageStatsApiV1VisitStatsPageGetExecute(r ApiPageStatsApiV1VisitStatsPageGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VisitTrackingAPIService.PageStatsApiV1VisitStatsPageGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/visit/stats/page"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_date", r.startDate, "form", "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_date", r.endDate, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 50
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPageStatsApiV1VisitStatsPageGet_0Request struct {
	ctx context.Context
	ApiService *VisitTrackingAPIService
	startDate *string
	endDate *string
	limit *int32
}

func (r ApiPageStatsApiV1VisitStatsPageGet_0Request) StartDate(startDate string) ApiPageStatsApiV1VisitStatsPageGet_0Request {
	r.startDate = &startDate
	return r
}

func (r ApiPageStatsApiV1VisitStatsPageGet_0Request) EndDate(endDate string) ApiPageStatsApiV1VisitStatsPageGet_0Request {
	r.endDate = &endDate
	return r
}

func (r ApiPageStatsApiV1VisitStatsPageGet_0Request) Limit(limit int32) ApiPageStatsApiV1VisitStatsPageGet_0Request {
	r.limit = &limit
	return r
}

func (r ApiPageStatsApiV1VisitStatsPageGet_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.PageStatsApiV1VisitStatsPageGet_2Execute(r)
}

/*
PageStatsApiV1VisitStatsPageGet_0 页面统计

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPageStatsApiV1VisitStatsPageGet_0Request
*/
func (a *VisitTrackingAPIService) PageStatsApiV1VisitStatsPageGet_2(ctx context.Context) ApiPageStatsApiV1VisitStatsPageGet_0Request {
	return ApiPageStatsApiV1VisitStatsPageGet_0Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *VisitTrackingAPIService) PageStatsApiV1VisitStatsPageGet_2Execute(r ApiPageStatsApiV1VisitStatsPageGet_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VisitTrackingAPIService.PageStatsApiV1VisitStatsPageGet_2")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/visit/stats/page"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_date", r.startDate, "form", "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_date", r.endDate, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 50
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRecordPageApiV1VisitPageRecordPostRequest struct {
	ctx context.Context
	ApiService *VisitTrackingAPIService
	path *string
	statDate *string
	duration *int32
}

func (r ApiRecordPageApiV1VisitPageRecordPostRequest) Path(path string) ApiRecordPageApiV1VisitPageRecordPostRequest {
	r.path = &path
	return r
}

func (r ApiRecordPageApiV1VisitPageRecordPostRequest) StatDate(statDate string) ApiRecordPageApiV1VisitPageRecordPostRequest {
	r.statDate = &statDate
	return r
}

func (r ApiRecordPageApiV1VisitPageRecordPostRequest) Duration(duration int32) ApiRecordPageApiV1VisitPageRecordPostRequest {
	r.duration = &duration
	return r
}

func (r ApiRecordPageApiV1VisitPageRecordPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.RecordPageApiV1VisitPageRecordPostExecute(r)
}

/*
RecordPageApiV1VisitPageRecordPost 记录页面访问

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRecordPageApiV1VisitPageRecordPostRequest
*/
func (a *VisitTrackingAPIService) RecordPageApiV1VisitPageRecordPost(ctx context.Context) ApiRecordPageApiV1VisitPageRecordPostRequest {
	return ApiRecordPageApiV1VisitPageRecordPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *VisitTrackingAPIService) RecordPageApiV1VisitPageRecordPostExecute(r ApiRecordPageApiV1VisitPageRecordPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VisitTrackingAPIService.RecordPageApiV1VisitPageRecordPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/visit/page/record"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.path == nil {
		return localVarReturnValue, nil, reportError("path is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "path", r.path, "form", "")
	if r.statDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "stat_date", r.statDate, "form", "")
	}
	if r.duration != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "duration", r.duration, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "duration", defaultValue, "form", "")
		r.duration = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRecordPageApiV1VisitPageRecordPost_0Request struct {
	ctx context.Context
	ApiService *VisitTrackingAPIService
	path *string
	statDate *string
	duration *int32
}

func (r ApiRecordPageApiV1VisitPageRecordPost_0Request) Path(path string) ApiRecordPageApiV1VisitPageRecordPost_0Request {
	r.path = &path
	return r
}

func (r ApiRecordPageApiV1VisitPageRecordPost_0Request) StatDate(statDate string) ApiRecordPageApiV1VisitPageRecordPost_0Request {
	r.statDate = &statDate
	return r
}

func (r ApiRecordPageApiV1VisitPageRecordPost_0Request) Duration(duration int32) ApiRecordPageApiV1VisitPageRecordPost_0Request {
	r.duration = &duration
	return r
}

func (r ApiRecordPageApiV1VisitPageRecordPost_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.RecordPageApiV1VisitPageRecordPost_3Execute(r)
}

/*
RecordPageApiV1VisitPageRecordPost_0 记录页面访问

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRecordPageApiV1VisitPageRecordPost_0Request
*/
func (a *VisitTrackingAPIService) RecordPageApiV1VisitPageRecordPost_3(ctx context.Context) ApiRecordPageApiV1VisitPageRecordPost_0Request {
	return ApiRecordPageApiV1VisitPageRecordPost_0Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *VisitTrackingAPIService) RecordPageApiV1VisitPageRecordPost_3Execute(r ApiRecordPageApiV1VisitPageRecordPost_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VisitTrackingAPIService.RecordPageApiV1VisitPageRecordPost_3")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/visit/page/record"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.path == nil {
		return localVarReturnValue, nil, reportError("path is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "path", r.path, "form", "")
	if r.statDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "stat_date", r.statDate, "form", "")
	}
	if r.duration != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "duration", r.duration, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "duration", defaultValue, "form", "")
		r.duration = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRecordSourceApiV1VisitSourceRecordPostRequest struct {
	ctx context.Context
	ApiService *VisitTrackingAPIService
	source *string
	statDate *string
}

func (r ApiRecordSourceApiV1VisitSourceRecordPostRequest) Source(source string) ApiRecordSourceApiV1VisitSourceRecordPostRequest {
	r.source = &source
	return r
}

func (r ApiRecordSourceApiV1VisitSourceRecordPostRequest) StatDate(statDate string) ApiRecordSourceApiV1VisitSourceRecordPostRequest {
	r.statDate = &statDate
	return r
}

func (r ApiRecordSourceApiV1VisitSourceRecordPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.RecordSourceApiV1VisitSourceRecordPostExecute(r)
}

/*
RecordSourceApiV1VisitSourceRecordPost 记录来源

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRecordSourceApiV1VisitSourceRecordPostRequest
*/
func (a *VisitTrackingAPIService) RecordSourceApiV1VisitSourceRecordPost(ctx context.Context) ApiRecordSourceApiV1VisitSourceRecordPostRequest {
	return ApiRecordSourceApiV1VisitSourceRecordPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *VisitTrackingAPIService) RecordSourceApiV1VisitSourceRecordPostExecute(r ApiRecordSourceApiV1VisitSourceRecordPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VisitTrackingAPIService.RecordSourceApiV1VisitSourceRecordPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/visit/source/record"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.source == nil {
		return localVarReturnValue, nil, reportError("source is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "source", r.source, "form", "")
	if r.statDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "stat_date", r.statDate, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRecordSourceApiV1VisitSourceRecordPost_0Request struct {
	ctx context.Context
	ApiService *VisitTrackingAPIService
	source *string
	statDate *string
}

func (r ApiRecordSourceApiV1VisitSourceRecordPost_0Request) Source(source string) ApiRecordSourceApiV1VisitSourceRecordPost_0Request {
	r.source = &source
	return r
}

func (r ApiRecordSourceApiV1VisitSourceRecordPost_0Request) StatDate(statDate string) ApiRecordSourceApiV1VisitSourceRecordPost_0Request {
	r.statDate = &statDate
	return r
}

func (r ApiRecordSourceApiV1VisitSourceRecordPost_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.RecordSourceApiV1VisitSourceRecordPost_4Execute(r)
}

/*
RecordSourceApiV1VisitSourceRecordPost_0 记录来源

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRecordSourceApiV1VisitSourceRecordPost_0Request
*/
func (a *VisitTrackingAPIService) RecordSourceApiV1VisitSourceRecordPost_4(ctx context.Context) ApiRecordSourceApiV1VisitSourceRecordPost_0Request {
	return ApiRecordSourceApiV1VisitSourceRecordPost_0Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *VisitTrackingAPIService) RecordSourceApiV1VisitSourceRecordPost_4Execute(r ApiRecordSourceApiV1VisitSourceRecordPost_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VisitTrackingAPIService.RecordSourceApiV1VisitSourceRecordPost_4")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/visit/source/record"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.source == nil {
		return localVarReturnValue, nil, reportError("source is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "source", r.source, "form", "")
	if r.statDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "stat_date", r.statDate, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSourceStatsApiV1VisitStatsSourceGetRequest struct {
	ctx context.Context
	ApiService *VisitTrackingAPIService
	startDate *string
	endDate *string
}

func (r ApiSourceStatsApiV1VisitStatsSourceGetRequest) StartDate(startDate string) ApiSourceStatsApiV1VisitStatsSourceGetRequest {
	r.startDate = &startDate
	return r
}

func (r ApiSourceStatsApiV1VisitStatsSourceGetRequest) EndDate(endDate string) ApiSourceStatsApiV1VisitStatsSourceGetRequest {
	r.endDate = &endDate
	return r
}

func (r ApiSourceStatsApiV1VisitStatsSourceGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.SourceStatsApiV1VisitStatsSourceGetExecute(r)
}

/*
SourceStatsApiV1VisitStatsSourceGet 来源统计

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSourceStatsApiV1VisitStatsSourceGetRequest
*/
func (a *VisitTrackingAPIService) SourceStatsApiV1VisitStatsSourceGet(ctx context.Context) ApiSourceStatsApiV1VisitStatsSourceGetRequest {
	return ApiSourceStatsApiV1VisitStatsSourceGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *VisitTrackingAPIService) SourceStatsApiV1VisitStatsSourceGetExecute(r ApiSourceStatsApiV1VisitStatsSourceGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VisitTrackingAPIService.SourceStatsApiV1VisitStatsSourceGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/visit/stats/source"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_date", r.startDate, "form", "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_date", r.endDate, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSourceStatsApiV1VisitStatsSourceGet_0Request struct {
	ctx context.Context
	ApiService *VisitTrackingAPIService
	startDate *string
	endDate *string
}

func (r ApiSourceStatsApiV1VisitStatsSourceGet_0Request) StartDate(startDate string) ApiSourceStatsApiV1VisitStatsSourceGet_0Request {
	r.startDate = &startDate
	return r
}

func (r ApiSourceStatsApiV1VisitStatsSourceGet_0Request) EndDate(endDate string) ApiSourceStatsApiV1VisitStatsSourceGet_0Request {
	r.endDate = &endDate
	return r
}

func (r ApiSourceStatsApiV1VisitStatsSourceGet_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.SourceStatsApiV1VisitStatsSourceGet_5Execute(r)
}

/*
SourceStatsApiV1VisitStatsSourceGet_0 来源统计

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSourceStatsApiV1VisitStatsSourceGet_0Request
*/
func (a *VisitTrackingAPIService) SourceStatsApiV1VisitStatsSourceGet_5(ctx context.Context) ApiSourceStatsApiV1VisitStatsSourceGet_0Request {
	return ApiSourceStatsApiV1VisitStatsSourceGet_0Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *VisitTrackingAPIService) SourceStatsApiV1VisitStatsSourceGet_5Execute(r ApiSourceStatsApiV1VisitStatsSourceGet_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VisitTrackingAPIService.SourceStatsApiV1VisitStatsSourceGet_5")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/visit/stats/source"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_date", r.startDate, "form", "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_date", r.endDate, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiTodayStatsApiV1VisitStatsTodayGetRequest struct {
	ctx context.Context
	ApiService *VisitTrackingAPIService
}

func (r ApiTodayStatsApiV1VisitStatsTodayGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.TodayStatsApiV1VisitStatsTodayGetExecute(r)
}

/*
TodayStatsApiV1VisitStatsTodayGet 今日实时统计

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiTodayStatsApiV1VisitStatsTodayGetRequest
*/
func (a *VisitTrackingAPIService) TodayStatsApiV1VisitStatsTodayGet(ctx context.Context) ApiTodayStatsApiV1VisitStatsTodayGetRequest {
	return ApiTodayStatsApiV1VisitStatsTodayGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *VisitTrackingAPIService) TodayStatsApiV1VisitStatsTodayGetExecute(r ApiTodayStatsApiV1VisitStatsTodayGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VisitTrackingAPIService.TodayStatsApiV1VisitStatsTodayGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/visit/stats/today"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiTodayStatsApiV1VisitStatsTodayGet_0Request struct {
	ctx context.Context
	ApiService *VisitTrackingAPIService
}

func (r ApiTodayStatsApiV1VisitStatsTodayGet_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.TodayStatsApiV1VisitStatsTodayGet_6Execute(r)
}

/*
TodayStatsApiV1VisitStatsTodayGet_0 今日实时统计

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiTodayStatsApiV1VisitStatsTodayGet_0Request
*/
func (a *VisitTrackingAPIService) TodayStatsApiV1VisitStatsTodayGet_6(ctx context.Context) ApiTodayStatsApiV1VisitStatsTodayGet_0Request {
	return ApiTodayStatsApiV1VisitStatsTodayGet_0Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *VisitTrackingAPIService) TodayStatsApiV1VisitStatsTodayGet_6Execute(r ApiTodayStatsApiV1VisitStatsTodayGet_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VisitTrackingAPIService.TodayStatsApiV1VisitStatsTodayGet_6")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/visit/stats/today"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiTrackApiV1VisitTrackPostRequest struct {
	ctx context.Context
	ApiService *VisitTrackingAPIService
	path *string
	method *string
	queryParams *string
	referer *string
	userAgent *string
	ip *string
	device *string
	os *string
	browser *string
	targetType *string
	targetId *string
	duration *int32
	source *string
	sessionId *string
	userId *string
}

func (r ApiTrackApiV1VisitTrackPostRequest) Path(path string) ApiTrackApiV1VisitTrackPostRequest {
	r.path = &path
	return r
}

func (r ApiTrackApiV1VisitTrackPostRequest) Method(method string) ApiTrackApiV1VisitTrackPostRequest {
	r.method = &method
	return r
}

func (r ApiTrackApiV1VisitTrackPostRequest) QueryParams(queryParams string) ApiTrackApiV1VisitTrackPostRequest {
	r.queryParams = &queryParams
	return r
}

func (r ApiTrackApiV1VisitTrackPostRequest) Referer(referer string) ApiTrackApiV1VisitTrackPostRequest {
	r.referer = &referer
	return r
}

func (r ApiTrackApiV1VisitTrackPostRequest) UserAgent(userAgent string) ApiTrackApiV1VisitTrackPostRequest {
	r.userAgent = &userAgent
	return r
}

func (r ApiTrackApiV1VisitTrackPostRequest) Ip(ip string) ApiTrackApiV1VisitTrackPostRequest {
	r.ip = &ip
	return r
}

func (r ApiTrackApiV1VisitTrackPostRequest) Device(device string) ApiTrackApiV1VisitTrackPostRequest {
	r.device = &device
	return r
}

func (r ApiTrackApiV1VisitTrackPostRequest) Os(os string) ApiTrackApiV1VisitTrackPostRequest {
	r.os = &os
	return r
}

func (r ApiTrackApiV1VisitTrackPostRequest) Browser(browser string) ApiTrackApiV1VisitTrackPostRequest {
	r.browser = &browser
	return r
}

func (r ApiTrackApiV1VisitTrackPostRequest) TargetType(targetType string) ApiTrackApiV1VisitTrackPostRequest {
	r.targetType = &targetType
	return r
}

func (r ApiTrackApiV1VisitTrackPostRequest) TargetId(targetId string) ApiTrackApiV1VisitTrackPostRequest {
	r.targetId = &targetId
	return r
}

func (r ApiTrackApiV1VisitTrackPostRequest) Duration(duration int32) ApiTrackApiV1VisitTrackPostRequest {
	r.duration = &duration
	return r
}

func (r ApiTrackApiV1VisitTrackPostRequest) Source(source string) ApiTrackApiV1VisitTrackPostRequest {
	r.source = &source
	return r
}

func (r ApiTrackApiV1VisitTrackPostRequest) SessionId(sessionId string) ApiTrackApiV1VisitTrackPostRequest {
	r.sessionId = &sessionId
	return r
}

func (r ApiTrackApiV1VisitTrackPostRequest) UserId(userId string) ApiTrackApiV1VisitTrackPostRequest {
	r.userId = &userId
	return r
}

func (r ApiTrackApiV1VisitTrackPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.TrackApiV1VisitTrackPostExecute(r)
}

/*
TrackApiV1VisitTrackPost 记录访问

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiTrackApiV1VisitTrackPostRequest
*/
func (a *VisitTrackingAPIService) TrackApiV1VisitTrackPost(ctx context.Context) ApiTrackApiV1VisitTrackPostRequest {
	return ApiTrackApiV1VisitTrackPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *VisitTrackingAPIService) TrackApiV1VisitTrackPostExecute(r ApiTrackApiV1VisitTrackPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VisitTrackingAPIService.TrackApiV1VisitTrackPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/visit/track"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.path == nil {
		return localVarReturnValue, nil, reportError("path is required and must be specified")
	}
	if strlen(*r.path) < 1 {
		return localVarReturnValue, nil, reportError("path must have at least 1 elements")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "path", r.path, "form", "")
	if r.method != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "method", r.method, "form", "")
	}
	if r.queryParams != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "query_params", r.queryParams, "form", "")
	}
	if r.referer != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referer", r.referer, "form", "")
	}
	if r.userAgent != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_agent", r.userAgent, "form", "")
	}
	if r.ip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ip", r.ip, "form", "")
	}
	if r.device != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "device", r.device, "form", "")
	}
	if r.os != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "os", r.os, "form", "")
	}
	if r.browser != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "browser", r.browser, "form", "")
	}
	if r.targetType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "target_type", r.targetType, "form", "")
	}
	if r.targetId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "target_id", r.targetId, "form", "")
	}
	if r.duration != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "duration", r.duration, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "duration", defaultValue, "form", "")
		r.duration = &defaultValue
	}
	if r.source != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source", r.source, "form", "")
	}
	if r.sessionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "session_id", r.sessionId, "form", "")
	}
	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", r.userId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiTrackApiV1VisitTrackPost_0Request struct {
	ctx context.Context
	ApiService *VisitTrackingAPIService
	path *string
	method *string
	queryParams *string
	referer *string
	userAgent *string
	ip *string
	device *string
	os *string
	browser *string
	targetType *string
	targetId *string
	duration *int32
	source *string
	sessionId *string
	userId *string
}

func (r ApiTrackApiV1VisitTrackPost_0Request) Path(path string) ApiTrackApiV1VisitTrackPost_0Request {
	r.path = &path
	return r
}

func (r ApiTrackApiV1VisitTrackPost_0Request) Method(method string) ApiTrackApiV1VisitTrackPost_0Request {
	r.method = &method
	return r
}

func (r ApiTrackApiV1VisitTrackPost_0Request) QueryParams(queryParams string) ApiTrackApiV1VisitTrackPost_0Request {
	r.queryParams = &queryParams
	return r
}

func (r ApiTrackApiV1VisitTrackPost_0Request) Referer(referer string) ApiTrackApiV1VisitTrackPost_0Request {
	r.referer = &referer
	return r
}

func (r ApiTrackApiV1VisitTrackPost_0Request) UserAgent(userAgent string) ApiTrackApiV1VisitTrackPost_0Request {
	r.userAgent = &userAgent
	return r
}

func (r ApiTrackApiV1VisitTrackPost_0Request) Ip(ip string) ApiTrackApiV1VisitTrackPost_0Request {
	r.ip = &ip
	return r
}

func (r ApiTrackApiV1VisitTrackPost_0Request) Device(device string) ApiTrackApiV1VisitTrackPost_0Request {
	r.device = &device
	return r
}

func (r ApiTrackApiV1VisitTrackPost_0Request) Os(os string) ApiTrackApiV1VisitTrackPost_0Request {
	r.os = &os
	return r
}

func (r ApiTrackApiV1VisitTrackPost_0Request) Browser(browser string) ApiTrackApiV1VisitTrackPost_0Request {
	r.browser = &browser
	return r
}

func (r ApiTrackApiV1VisitTrackPost_0Request) TargetType(targetType string) ApiTrackApiV1VisitTrackPost_0Request {
	r.targetType = &targetType
	return r
}

func (r ApiTrackApiV1VisitTrackPost_0Request) TargetId(targetId string) ApiTrackApiV1VisitTrackPost_0Request {
	r.targetId = &targetId
	return r
}

func (r ApiTrackApiV1VisitTrackPost_0Request) Duration(duration int32) ApiTrackApiV1VisitTrackPost_0Request {
	r.duration = &duration
	return r
}

func (r ApiTrackApiV1VisitTrackPost_0Request) Source(source string) ApiTrackApiV1VisitTrackPost_0Request {
	r.source = &source
	return r
}

func (r ApiTrackApiV1VisitTrackPost_0Request) SessionId(sessionId string) ApiTrackApiV1VisitTrackPost_0Request {
	r.sessionId = &sessionId
	return r
}

func (r ApiTrackApiV1VisitTrackPost_0Request) UserId(userId string) ApiTrackApiV1VisitTrackPost_0Request {
	r.userId = &userId
	return r
}

func (r ApiTrackApiV1VisitTrackPost_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.TrackApiV1VisitTrackPost_7Execute(r)
}

/*
TrackApiV1VisitTrackPost_0 记录访问

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiTrackApiV1VisitTrackPost_0Request
*/
func (a *VisitTrackingAPIService) TrackApiV1VisitTrackPost_7(ctx context.Context) ApiTrackApiV1VisitTrackPost_0Request {
	return ApiTrackApiV1VisitTrackPost_0Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *VisitTrackingAPIService) TrackApiV1VisitTrackPost_7Execute(r ApiTrackApiV1VisitTrackPost_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VisitTrackingAPIService.TrackApiV1VisitTrackPost_7")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/visit/track"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.path == nil {
		return localVarReturnValue, nil, reportError("path is required and must be specified")
	}
	if strlen(*r.path) < 1 {
		return localVarReturnValue, nil, reportError("path must have at least 1 elements")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "path", r.path, "form", "")
	if r.method != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "method", r.method, "form", "")
	}
	if r.queryParams != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "query_params", r.queryParams, "form", "")
	}
	if r.referer != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referer", r.referer, "form", "")
	}
	if r.userAgent != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_agent", r.userAgent, "form", "")
	}
	if r.ip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ip", r.ip, "form", "")
	}
	if r.device != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "device", r.device, "form", "")
	}
	if r.os != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "os", r.os, "form", "")
	}
	if r.browser != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "browser", r.browser, "form", "")
	}
	if r.targetType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "target_type", r.targetType, "form", "")
	}
	if r.targetId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "target_id", r.targetId, "form", "")
	}
	if r.duration != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "duration", r.duration, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "duration", defaultValue, "form", "")
		r.duration = &defaultValue
	}
	if r.source != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source", r.source, "form", "")
	}
	if r.sessionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "session_id", r.sessionId, "form", "")
	}
	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", r.userId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiVisitDailyStatsRequest struct {
	ctx context.Context
	ApiService *VisitTrackingAPIService
	startDate *string
	endDate *string
	targetType *string
}

func (r ApiVisitDailyStatsRequest) StartDate(startDate string) ApiVisitDailyStatsRequest {
	r.startDate = &startDate
	return r
}

func (r ApiVisitDailyStatsRequest) EndDate(endDate string) ApiVisitDailyStatsRequest {
	r.endDate = &endDate
	return r
}

func (r ApiVisitDailyStatsRequest) TargetType(targetType string) ApiVisitDailyStatsRequest {
	r.targetType = &targetType
	return r
}

func (r ApiVisitDailyStatsRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.VisitDailyStatsExecute(r)
}

/*
VisitDailyStats 每日访问统计

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiVisitDailyStatsRequest
*/
func (a *VisitTrackingAPIService) VisitDailyStats(ctx context.Context) ApiVisitDailyStatsRequest {
	return ApiVisitDailyStatsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *VisitTrackingAPIService) VisitDailyStatsExecute(r ApiVisitDailyStatsRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VisitTrackingAPIService.VisitDailyStats")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/visit/stats/daily"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_date", r.startDate, "form", "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_date", r.endDate, "form", "")
	}
	if r.targetType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "target_type", r.targetType, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiVisitDailyStats_0Request struct {
	ctx context.Context
	ApiService *VisitTrackingAPIService
	startDate *string
	endDate *string
	targetType *string
}

func (r ApiVisitDailyStats_0Request) StartDate(startDate string) ApiVisitDailyStats_0Request {
	r.startDate = &startDate
	return r
}

func (r ApiVisitDailyStats_0Request) EndDate(endDate string) ApiVisitDailyStats_0Request {
	r.endDate = &endDate
	return r
}

func (r ApiVisitDailyStats_0Request) TargetType(targetType string) ApiVisitDailyStats_0Request {
	r.targetType = &targetType
	return r
}

func (r ApiVisitDailyStats_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.VisitDailyStats_8Execute(r)
}

/*
VisitDailyStats_0 每日访问统计

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiVisitDailyStats_0Request
*/
func (a *VisitTrackingAPIService) VisitDailyStats_8(ctx context.Context) ApiVisitDailyStats_0Request {
	return ApiVisitDailyStats_0Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *VisitTrackingAPIService) VisitDailyStats_8Execute(r ApiVisitDailyStats_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VisitTrackingAPIService.VisitDailyStats_8")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/visit/stats/daily"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_date", r.startDate, "form", "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_date", r.endDate, "form", "")
	}
	if r.targetType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "target_type", r.targetType, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
