/*
ZHS Platform

ZHS Platform API - AI Agent Marketplace & Educational Platform

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zhs_api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// AgentIdentityAPIService AgentIdentityAPI service
type AgentIdentityAPIService service

type ApiCreateIdentityOrderApiV1AgentsCreatePostRequest struct {
	ctx context.Context
	ApiService *AgentIdentityAPIService
	identityId *string
	payType *string
}

// 产品身份ID
func (r ApiCreateIdentityOrderApiV1AgentsCreatePostRequest) IdentityId(identityId string) ApiCreateIdentityOrderApiV1AgentsCreatePostRequest {
	r.identityId = &identityId
	return r
}

// 支付方式: wechat / alipay
func (r ApiCreateIdentityOrderApiV1AgentsCreatePostRequest) PayType(payType string) ApiCreateIdentityOrderApiV1AgentsCreatePostRequest {
	r.payType = &payType
	return r
}

func (r ApiCreateIdentityOrderApiV1AgentsCreatePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CreateIdentityOrderApiV1AgentsCreatePostExecute(r)
}

/*
CreateIdentityOrderApiV1AgentsCreatePost 创建身份订单

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateIdentityOrderApiV1AgentsCreatePostRequest
*/
func (a *AgentIdentityAPIService) CreateIdentityOrderApiV1AgentsCreatePost(ctx context.Context) ApiCreateIdentityOrderApiV1AgentsCreatePostRequest {
	return ApiCreateIdentityOrderApiV1AgentsCreatePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AgentIdentityAPIService) CreateIdentityOrderApiV1AgentsCreatePostExecute(r ApiCreateIdentityOrderApiV1AgentsCreatePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentIdentityAPIService.CreateIdentityOrderApiV1AgentsCreatePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/agents/create"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.identityId == nil {
		return localVarReturnValue, nil, reportError("identityId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "identity_id", r.identityId, "form", "")
	if r.payType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pay_type", r.payType, "form", "")
	} else {
		var defaultValue string = "wechat"
		parameterAddToHeaderOrQuery(localVarQueryParams, "pay_type", defaultValue, "form", "")
		r.payType = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateProportionApiV1AgentsProportionCreatePostRequest struct {
	ctx context.Context
	ApiService *AgentIdentityAPIService
	identityProportionBody *IdentityProportionBody
}

func (r ApiCreateProportionApiV1AgentsProportionCreatePostRequest) IdentityProportionBody(identityProportionBody IdentityProportionBody) ApiCreateProportionApiV1AgentsProportionCreatePostRequest {
	r.identityProportionBody = &identityProportionBody
	return r
}

func (r ApiCreateProportionApiV1AgentsProportionCreatePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CreateProportionApiV1AgentsProportionCreatePostExecute(r)
}

/*
CreateProportionApiV1AgentsProportionCreatePost 创建比例配置

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateProportionApiV1AgentsProportionCreatePostRequest
*/
func (a *AgentIdentityAPIService) CreateProportionApiV1AgentsProportionCreatePost(ctx context.Context) ApiCreateProportionApiV1AgentsProportionCreatePostRequest {
	return ApiCreateProportionApiV1AgentsProportionCreatePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AgentIdentityAPIService) CreateProportionApiV1AgentsProportionCreatePostExecute(r ApiCreateProportionApiV1AgentsProportionCreatePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentIdentityAPIService.CreateProportionApiV1AgentsProportionCreatePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/agents/proportion/create"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.identityProportionBody == nil {
		return localVarReturnValue, nil, reportError("identityProportionBody is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.identityProportionBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListIdentityOrdersApiV1AgentsListGetRequest struct {
	ctx context.Context
	ApiService *AgentIdentityAPIService
	page *int32
	limit *int32
	status *int32
	orderType *int32
}

func (r ApiListIdentityOrdersApiV1AgentsListGetRequest) Page(page int32) ApiListIdentityOrdersApiV1AgentsListGetRequest {
	r.page = &page
	return r
}

func (r ApiListIdentityOrdersApiV1AgentsListGetRequest) Limit(limit int32) ApiListIdentityOrdersApiV1AgentsListGetRequest {
	r.limit = &limit
	return r
}

// 订单状态 0&#x3D;待支付 1&#x3D;已支付 2&#x3D;已退款 3&#x3D;已取消
func (r ApiListIdentityOrdersApiV1AgentsListGetRequest) Status(status int32) ApiListIdentityOrdersApiV1AgentsListGetRequest {
	r.status = &status
	return r
}

// 订单类型, 默认2&#x3D;身份订单
func (r ApiListIdentityOrdersApiV1AgentsListGetRequest) OrderType(orderType int32) ApiListIdentityOrdersApiV1AgentsListGetRequest {
	r.orderType = &orderType
	return r
}

func (r ApiListIdentityOrdersApiV1AgentsListGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListIdentityOrdersApiV1AgentsListGetExecute(r)
}

/*
ListIdentityOrdersApiV1AgentsListGet 身份订单列表

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListIdentityOrdersApiV1AgentsListGetRequest
*/
func (a *AgentIdentityAPIService) ListIdentityOrdersApiV1AgentsListGet(ctx context.Context) ApiListIdentityOrdersApiV1AgentsListGetRequest {
	return ApiListIdentityOrdersApiV1AgentsListGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AgentIdentityAPIService) ListIdentityOrdersApiV1AgentsListGetExecute(r ApiListIdentityOrdersApiV1AgentsListGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentIdentityAPIService.ListIdentityOrdersApiV1AgentsListGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/agents/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.orderType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_type", r.orderType, "form", "")
	} else {
		var defaultValue int32 = 2
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_type", defaultValue, "form", "")
		r.orderType = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListProportionsApiV1AgentsProportionListGetRequest struct {
	ctx context.Context
	ApiService *AgentIdentityAPIService
	page *int32
	limit *int32
	status *int32
}

func (r ApiListProportionsApiV1AgentsProportionListGetRequest) Page(page int32) ApiListProportionsApiV1AgentsProportionListGetRequest {
	r.page = &page
	return r
}

func (r ApiListProportionsApiV1AgentsProportionListGetRequest) Limit(limit int32) ApiListProportionsApiV1AgentsProportionListGetRequest {
	r.limit = &limit
	return r
}

// 0&#x3D;stopped 1&#x3D;active
func (r ApiListProportionsApiV1AgentsProportionListGetRequest) Status(status int32) ApiListProportionsApiV1AgentsProportionListGetRequest {
	r.status = &status
	return r
}

func (r ApiListProportionsApiV1AgentsProportionListGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListProportionsApiV1AgentsProportionListGetExecute(r)
}

/*
ListProportionsApiV1AgentsProportionListGet 身份比例列表

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListProportionsApiV1AgentsProportionListGetRequest
*/
func (a *AgentIdentityAPIService) ListProportionsApiV1AgentsProportionListGet(ctx context.Context) ApiListProportionsApiV1AgentsProportionListGetRequest {
	return ApiListProportionsApiV1AgentsProportionListGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AgentIdentityAPIService) ListProportionsApiV1AgentsProportionListGetExecute(r ApiListProportionsApiV1AgentsProportionListGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentIdentityAPIService.ListProportionsApiV1AgentsProportionListGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/agents/proportion/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateProportionApiV1AgentsProportionProportionIdPutRequest struct {
	ctx context.Context
	ApiService *AgentIdentityAPIService
	proportionId string
	identityProportionBody *IdentityProportionBody
}

func (r ApiUpdateProportionApiV1AgentsProportionProportionIdPutRequest) IdentityProportionBody(identityProportionBody IdentityProportionBody) ApiUpdateProportionApiV1AgentsProportionProportionIdPutRequest {
	r.identityProportionBody = &identityProportionBody
	return r
}

func (r ApiUpdateProportionApiV1AgentsProportionProportionIdPutRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.UpdateProportionApiV1AgentsProportionProportionIdPutExecute(r)
}

/*
UpdateProportionApiV1AgentsProportionProportionIdPut 修改比例

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param proportionId
 @return ApiUpdateProportionApiV1AgentsProportionProportionIdPutRequest
*/
func (a *AgentIdentityAPIService) UpdateProportionApiV1AgentsProportionProportionIdPut(ctx context.Context, proportionId string) ApiUpdateProportionApiV1AgentsProportionProportionIdPutRequest {
	return ApiUpdateProportionApiV1AgentsProportionProportionIdPutRequest{
		ApiService: a,
		ctx: ctx,
		proportionId: proportionId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AgentIdentityAPIService) UpdateProportionApiV1AgentsProportionProportionIdPutExecute(r ApiUpdateProportionApiV1AgentsProportionProportionIdPutRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentIdentityAPIService.UpdateProportionApiV1AgentsProportionProportionIdPut")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/agents/proportion/{proportion_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"proportion_id"+"}", url.PathEscape(parameterValueToString(r.proportionId, "proportionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.identityProportionBody == nil {
		return localVarReturnValue, nil, reportError("identityProportionBody is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.identityProportionBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
