/*
ZHS Platform

ZHS Platform API - AI Agent Marketplace & Educational Platform

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zhs_api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// MonitorCanaryAuditAPIService MonitorCanaryAuditAPI service
type MonitorCanaryAuditAPIService service

type ApiCanaryAuditCleanupApiV1MonitorCanaryAuditCleanupPostRequest struct {
	ctx context.Context
	ApiService *MonitorCanaryAuditAPIService
}

func (r ApiCanaryAuditCleanupApiV1MonitorCanaryAuditCleanupPostRequest) Execute() (*ApiResponse, *http.Response, error) {
	return r.ApiService.CanaryAuditCleanupApiV1MonitorCanaryAuditCleanupPostExecute(r)
}

/*
CanaryAuditCleanupApiV1MonitorCanaryAuditCleanupPost Canary Audit Cleanup

手动触发过期清理 (按 store._retention_days).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCanaryAuditCleanupApiV1MonitorCanaryAuditCleanupPostRequest
*/
func (a *MonitorCanaryAuditAPIService) CanaryAuditCleanupApiV1MonitorCanaryAuditCleanupPost(ctx context.Context) ApiCanaryAuditCleanupApiV1MonitorCanaryAuditCleanupPostRequest {
	return ApiCanaryAuditCleanupApiV1MonitorCanaryAuditCleanupPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ApiResponse
func (a *MonitorCanaryAuditAPIService) CanaryAuditCleanupApiV1MonitorCanaryAuditCleanupPostExecute(r ApiCanaryAuditCleanupApiV1MonitorCanaryAuditCleanupPostRequest) (*ApiResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ApiResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MonitorCanaryAuditAPIService.CanaryAuditCleanupApiV1MonitorCanaryAuditCleanupPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/monitor/canary-audit/cleanup"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCanaryAuditCleanupApiV1MonitorCanaryAuditCleanupPost_0Request struct {
	ctx context.Context
	ApiService *MonitorCanaryAuditAPIService
}

func (r ApiCanaryAuditCleanupApiV1MonitorCanaryAuditCleanupPost_0Request) Execute() (*ApiResponse, *http.Response, error) {
	return r.ApiService.CanaryAuditCleanupApiV1MonitorCanaryAuditCleanupPost_1Execute(r)
}

/*
CanaryAuditCleanupApiV1MonitorCanaryAuditCleanupPost_0 Canary Audit Cleanup

手动触发过期清理 (按 store._retention_days).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCanaryAuditCleanupApiV1MonitorCanaryAuditCleanupPost_0Request
*/
func (a *MonitorCanaryAuditAPIService) CanaryAuditCleanupApiV1MonitorCanaryAuditCleanupPost_1(ctx context.Context) ApiCanaryAuditCleanupApiV1MonitorCanaryAuditCleanupPost_0Request {
	return ApiCanaryAuditCleanupApiV1MonitorCanaryAuditCleanupPost_0Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ApiResponse
func (a *MonitorCanaryAuditAPIService) CanaryAuditCleanupApiV1MonitorCanaryAuditCleanupPost_1Execute(r ApiCanaryAuditCleanupApiV1MonitorCanaryAuditCleanupPost_0Request) (*ApiResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ApiResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MonitorCanaryAuditAPIService.CanaryAuditCleanupApiV1MonitorCanaryAuditCleanupPost_1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/monitor/canary-audit/cleanup"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCanaryAuditStatsApiV1MonitorCanaryAuditStatsGetRequest struct {
	ctx context.Context
	ApiService *MonitorCanaryAuditAPIService
}

func (r ApiCanaryAuditStatsApiV1MonitorCanaryAuditStatsGetRequest) Execute() (*ApiResponse, *http.Response, error) {
	return r.ApiService.CanaryAuditStatsApiV1MonitorCanaryAuditStatsGetExecute(r)
}

/*
CanaryAuditStatsApiV1MonitorCanaryAuditStatsGet Canary Audit Stats

审计统计 (按 source 分组 + 总数).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCanaryAuditStatsApiV1MonitorCanaryAuditStatsGetRequest
*/
func (a *MonitorCanaryAuditAPIService) CanaryAuditStatsApiV1MonitorCanaryAuditStatsGet(ctx context.Context) ApiCanaryAuditStatsApiV1MonitorCanaryAuditStatsGetRequest {
	return ApiCanaryAuditStatsApiV1MonitorCanaryAuditStatsGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ApiResponse
func (a *MonitorCanaryAuditAPIService) CanaryAuditStatsApiV1MonitorCanaryAuditStatsGetExecute(r ApiCanaryAuditStatsApiV1MonitorCanaryAuditStatsGetRequest) (*ApiResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ApiResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MonitorCanaryAuditAPIService.CanaryAuditStatsApiV1MonitorCanaryAuditStatsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/monitor/canary-audit/stats"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCanaryAuditStatsApiV1MonitorCanaryAuditStatsGet_0Request struct {
	ctx context.Context
	ApiService *MonitorCanaryAuditAPIService
}

func (r ApiCanaryAuditStatsApiV1MonitorCanaryAuditStatsGet_0Request) Execute() (*ApiResponse, *http.Response, error) {
	return r.ApiService.CanaryAuditStatsApiV1MonitorCanaryAuditStatsGet_2Execute(r)
}

/*
CanaryAuditStatsApiV1MonitorCanaryAuditStatsGet_0 Canary Audit Stats

审计统计 (按 source 分组 + 总数).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCanaryAuditStatsApiV1MonitorCanaryAuditStatsGet_0Request
*/
func (a *MonitorCanaryAuditAPIService) CanaryAuditStatsApiV1MonitorCanaryAuditStatsGet_2(ctx context.Context) ApiCanaryAuditStatsApiV1MonitorCanaryAuditStatsGet_0Request {
	return ApiCanaryAuditStatsApiV1MonitorCanaryAuditStatsGet_0Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ApiResponse
func (a *MonitorCanaryAuditAPIService) CanaryAuditStatsApiV1MonitorCanaryAuditStatsGet_2Execute(r ApiCanaryAuditStatsApiV1MonitorCanaryAuditStatsGet_0Request) (*ApiResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ApiResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MonitorCanaryAuditAPIService.CanaryAuditStatsApiV1MonitorCanaryAuditStatsGet_2")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/monitor/canary-audit/stats"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiQueryCanaryAuditApiV1MonitorCanaryAuditGetRequest struct {
	ctx context.Context
	ApiService *MonitorCanaryAuditAPIService
	limit *int32
	source *string
	action *string
	sinceTs *float32
	untilTs *float32
}

// 返回条数限制
func (r ApiQueryCanaryAuditApiV1MonitorCanaryAuditGetRequest) Limit(limit int32) ApiQueryCanaryAuditApiV1MonitorCanaryAuditGetRequest {
	r.limit = &limit
	return r
}

// controller / promoter / override
func (r ApiQueryCanaryAuditApiV1MonitorCanaryAuditGetRequest) Source(source string) ApiQueryCanaryAuditApiV1MonitorCanaryAuditGetRequest {
	r.source = &source
	return r
}

// 事件类型过滤
func (r ApiQueryCanaryAuditApiV1MonitorCanaryAuditGetRequest) Action(action string) ApiQueryCanaryAuditApiV1MonitorCanaryAuditGetRequest {
	r.action = &action
	return r
}

// 起始时间戳
func (r ApiQueryCanaryAuditApiV1MonitorCanaryAuditGetRequest) SinceTs(sinceTs float32) ApiQueryCanaryAuditApiV1MonitorCanaryAuditGetRequest {
	r.sinceTs = &sinceTs
	return r
}

// 结束时间戳
func (r ApiQueryCanaryAuditApiV1MonitorCanaryAuditGetRequest) UntilTs(untilTs float32) ApiQueryCanaryAuditApiV1MonitorCanaryAuditGetRequest {
	r.untilTs = &untilTs
	return r
}

func (r ApiQueryCanaryAuditApiV1MonitorCanaryAuditGetRequest) Execute() (*ApiResponse, *http.Response, error) {
	return r.ApiService.QueryCanaryAuditApiV1MonitorCanaryAuditGetExecute(r)
}

/*
QueryCanaryAuditApiV1MonitorCanaryAuditGet Query Canary Audit

查 Canary 审计日志 (按时间倒序).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiQueryCanaryAuditApiV1MonitorCanaryAuditGetRequest
*/
func (a *MonitorCanaryAuditAPIService) QueryCanaryAuditApiV1MonitorCanaryAuditGet(ctx context.Context) ApiQueryCanaryAuditApiV1MonitorCanaryAuditGetRequest {
	return ApiQueryCanaryAuditApiV1MonitorCanaryAuditGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ApiResponse
func (a *MonitorCanaryAuditAPIService) QueryCanaryAuditApiV1MonitorCanaryAuditGetExecute(r ApiQueryCanaryAuditApiV1MonitorCanaryAuditGetRequest) (*ApiResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ApiResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MonitorCanaryAuditAPIService.QueryCanaryAuditApiV1MonitorCanaryAuditGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/monitor/canary-audit"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 100
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.source != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source", r.source, "form", "")
	}
	if r.action != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "action", r.action, "form", "")
	}
	if r.sinceTs != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "since_ts", r.sinceTs, "form", "")
	}
	if r.untilTs != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "until_ts", r.untilTs, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiQueryCanaryAuditApiV1MonitorCanaryAuditGet_0Request struct {
	ctx context.Context
	ApiService *MonitorCanaryAuditAPIService
	limit *int32
	source *string
	action *string
	sinceTs *float32
	untilTs *float32
}

// 返回条数限制
func (r ApiQueryCanaryAuditApiV1MonitorCanaryAuditGet_0Request) Limit(limit int32) ApiQueryCanaryAuditApiV1MonitorCanaryAuditGet_0Request {
	r.limit = &limit
	return r
}

// controller / promoter / override
func (r ApiQueryCanaryAuditApiV1MonitorCanaryAuditGet_0Request) Source(source string) ApiQueryCanaryAuditApiV1MonitorCanaryAuditGet_0Request {
	r.source = &source
	return r
}

// 事件类型过滤
func (r ApiQueryCanaryAuditApiV1MonitorCanaryAuditGet_0Request) Action(action string) ApiQueryCanaryAuditApiV1MonitorCanaryAuditGet_0Request {
	r.action = &action
	return r
}

// 起始时间戳
func (r ApiQueryCanaryAuditApiV1MonitorCanaryAuditGet_0Request) SinceTs(sinceTs float32) ApiQueryCanaryAuditApiV1MonitorCanaryAuditGet_0Request {
	r.sinceTs = &sinceTs
	return r
}

// 结束时间戳
func (r ApiQueryCanaryAuditApiV1MonitorCanaryAuditGet_0Request) UntilTs(untilTs float32) ApiQueryCanaryAuditApiV1MonitorCanaryAuditGet_0Request {
	r.untilTs = &untilTs
	return r
}

func (r ApiQueryCanaryAuditApiV1MonitorCanaryAuditGet_0Request) Execute() (*ApiResponse, *http.Response, error) {
	return r.ApiService.QueryCanaryAuditApiV1MonitorCanaryAuditGet_3Execute(r)
}

/*
QueryCanaryAuditApiV1MonitorCanaryAuditGet_0 Query Canary Audit

查 Canary 审计日志 (按时间倒序).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiQueryCanaryAuditApiV1MonitorCanaryAuditGet_0Request
*/
func (a *MonitorCanaryAuditAPIService) QueryCanaryAuditApiV1MonitorCanaryAuditGet_3(ctx context.Context) ApiQueryCanaryAuditApiV1MonitorCanaryAuditGet_0Request {
	return ApiQueryCanaryAuditApiV1MonitorCanaryAuditGet_0Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ApiResponse
func (a *MonitorCanaryAuditAPIService) QueryCanaryAuditApiV1MonitorCanaryAuditGet_3Execute(r ApiQueryCanaryAuditApiV1MonitorCanaryAuditGet_0Request) (*ApiResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ApiResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MonitorCanaryAuditAPIService.QueryCanaryAuditApiV1MonitorCanaryAuditGet_3")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/monitor/canary-audit"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 100
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.source != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source", r.source, "form", "")
	}
	if r.action != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "action", r.action, "form", "")
	}
	if r.sinceTs != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "since_ts", r.sinceTs, "form", "")
	}
	if r.untilTs != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "until_ts", r.untilTs, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
