/*
ZHS Platform

ZHS Platform API - AI Agent Marketplace & Educational Platform

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zhs_api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// AlipayAPIService AlipayAPI service
type AlipayAPIService service

type ApiAlipayQueryApiV1PaymentsAlipayQueryPostRequest struct {
	ctx context.Context
	ApiService *AlipayAPIService
	outTradeNo *string
}

func (r ApiAlipayQueryApiV1PaymentsAlipayQueryPostRequest) OutTradeNo(outTradeNo string) ApiAlipayQueryApiV1PaymentsAlipayQueryPostRequest {
	r.outTradeNo = &outTradeNo
	return r
}

func (r ApiAlipayQueryApiV1PaymentsAlipayQueryPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.AlipayQueryApiV1PaymentsAlipayQueryPostExecute(r)
}

/*
AlipayQueryApiV1PaymentsAlipayQueryPost Query Alipay order

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAlipayQueryApiV1PaymentsAlipayQueryPostRequest
*/
func (a *AlipayAPIService) AlipayQueryApiV1PaymentsAlipayQueryPost(ctx context.Context) ApiAlipayQueryApiV1PaymentsAlipayQueryPostRequest {
	return ApiAlipayQueryApiV1PaymentsAlipayQueryPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AlipayAPIService) AlipayQueryApiV1PaymentsAlipayQueryPostExecute(r ApiAlipayQueryApiV1PaymentsAlipayQueryPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AlipayAPIService.AlipayQueryApiV1PaymentsAlipayQueryPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/payments/alipay/query"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.outTradeNo == nil {
		return localVarReturnValue, nil, reportError("outTradeNo is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "out_trade_no", r.outTradeNo, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAlipayRefundApiV1PaymentsAlipayRefundPostRequest struct {
	ctx context.Context
	ApiService *AlipayAPIService
	outTradeNo *string
	refundAmount *float32
	reason *string
}

func (r ApiAlipayRefundApiV1PaymentsAlipayRefundPostRequest) OutTradeNo(outTradeNo string) ApiAlipayRefundApiV1PaymentsAlipayRefundPostRequest {
	r.outTradeNo = &outTradeNo
	return r
}

// 退款金额（元）
func (r ApiAlipayRefundApiV1PaymentsAlipayRefundPostRequest) RefundAmount(refundAmount float32) ApiAlipayRefundApiV1PaymentsAlipayRefundPostRequest {
	r.refundAmount = &refundAmount
	return r
}

func (r ApiAlipayRefundApiV1PaymentsAlipayRefundPostRequest) Reason(reason string) ApiAlipayRefundApiV1PaymentsAlipayRefundPostRequest {
	r.reason = &reason
	return r
}

func (r ApiAlipayRefundApiV1PaymentsAlipayRefundPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.AlipayRefundApiV1PaymentsAlipayRefundPostExecute(r)
}

/*
AlipayRefundApiV1PaymentsAlipayRefundPost Alipay 退款（调用 alipay.trade.refund）

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAlipayRefundApiV1PaymentsAlipayRefundPostRequest
*/
func (a *AlipayAPIService) AlipayRefundApiV1PaymentsAlipayRefundPost(ctx context.Context) ApiAlipayRefundApiV1PaymentsAlipayRefundPostRequest {
	return ApiAlipayRefundApiV1PaymentsAlipayRefundPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AlipayAPIService) AlipayRefundApiV1PaymentsAlipayRefundPostExecute(r ApiAlipayRefundApiV1PaymentsAlipayRefundPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AlipayAPIService.AlipayRefundApiV1PaymentsAlipayRefundPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/payments/alipay/refund"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.outTradeNo == nil {
		return localVarReturnValue, nil, reportError("outTradeNo is required and must be specified")
	}
	if r.refundAmount == nil {
		return localVarReturnValue, nil, reportError("refundAmount is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "out_trade_no", r.outTradeNo, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "refund_amount", r.refundAmount, "form", "")
	if r.reason != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "reason", r.reason, "form", "")
	} else {
		var defaultValue string = "用户申请退款"
		parameterAddToHeaderOrQuery(localVarQueryParams, "reason", defaultValue, "form", "")
		r.reason = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateAlipayApiV1PaymentsAlipayCreatePostRequest struct {
	ctx context.Context
	ApiService *AlipayAPIService
	amount *float32
	productId *string
	orderType *int32
	subject *string
}

// 金额（元）
func (r ApiCreateAlipayApiV1PaymentsAlipayCreatePostRequest) Amount(amount float32) ApiCreateAlipayApiV1PaymentsAlipayCreatePostRequest {
	r.amount = &amount
	return r
}

func (r ApiCreateAlipayApiV1PaymentsAlipayCreatePostRequest) ProductId(productId string) ApiCreateAlipayApiV1PaymentsAlipayCreatePostRequest {
	r.productId = &productId
	return r
}

func (r ApiCreateAlipayApiV1PaymentsAlipayCreatePostRequest) OrderType(orderType int32) ApiCreateAlipayApiV1PaymentsAlipayCreatePostRequest {
	r.orderType = &orderType
	return r
}

func (r ApiCreateAlipayApiV1PaymentsAlipayCreatePostRequest) Subject(subject string) ApiCreateAlipayApiV1PaymentsAlipayCreatePostRequest {
	r.subject = &subject
	return r
}

func (r ApiCreateAlipayApiV1PaymentsAlipayCreatePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CreateAlipayApiV1PaymentsAlipayCreatePostExecute(r)
}

/*
CreateAlipayApiV1PaymentsAlipayCreatePost Create Alipay PC / H5 page pay

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateAlipayApiV1PaymentsAlipayCreatePostRequest
*/
func (a *AlipayAPIService) CreateAlipayApiV1PaymentsAlipayCreatePost(ctx context.Context) ApiCreateAlipayApiV1PaymentsAlipayCreatePostRequest {
	return ApiCreateAlipayApiV1PaymentsAlipayCreatePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AlipayAPIService) CreateAlipayApiV1PaymentsAlipayCreatePostExecute(r ApiCreateAlipayApiV1PaymentsAlipayCreatePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AlipayAPIService.CreateAlipayApiV1PaymentsAlipayCreatePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/payments/alipay/create"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.amount == nil {
		return localVarReturnValue, nil, reportError("amount is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "amount", r.amount, "form", "")
	if r.productId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "product_id", r.productId, "form", "")
	}
	if r.orderType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_type", r.orderType, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_type", defaultValue, "form", "")
		r.orderType = &defaultValue
	}
	if r.subject != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "subject", r.subject, "form", "")
	} else {
		var defaultValue string = "订单支付"
		parameterAddToHeaderOrQuery(localVarQueryParams, "subject", defaultValue, "form", "")
		r.subject = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateAlipayAppApiV1PaymentsAlipayAppCreatePostRequest struct {
	ctx context.Context
	ApiService *AlipayAPIService
	amount *float32
	productId *string
	orderType *int32
	subject *string
}

func (r ApiCreateAlipayAppApiV1PaymentsAlipayAppCreatePostRequest) Amount(amount float32) ApiCreateAlipayAppApiV1PaymentsAlipayAppCreatePostRequest {
	r.amount = &amount
	return r
}

func (r ApiCreateAlipayAppApiV1PaymentsAlipayAppCreatePostRequest) ProductId(productId string) ApiCreateAlipayAppApiV1PaymentsAlipayAppCreatePostRequest {
	r.productId = &productId
	return r
}

func (r ApiCreateAlipayAppApiV1PaymentsAlipayAppCreatePostRequest) OrderType(orderType int32) ApiCreateAlipayAppApiV1PaymentsAlipayAppCreatePostRequest {
	r.orderType = &orderType
	return r
}

func (r ApiCreateAlipayAppApiV1PaymentsAlipayAppCreatePostRequest) Subject(subject string) ApiCreateAlipayAppApiV1PaymentsAlipayAppCreatePostRequest {
	r.subject = &subject
	return r
}

func (r ApiCreateAlipayAppApiV1PaymentsAlipayAppCreatePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CreateAlipayAppApiV1PaymentsAlipayAppCreatePostExecute(r)
}

/*
CreateAlipayAppApiV1PaymentsAlipayAppCreatePost Create Alipay order for mobile app

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateAlipayAppApiV1PaymentsAlipayAppCreatePostRequest
*/
func (a *AlipayAPIService) CreateAlipayAppApiV1PaymentsAlipayAppCreatePost(ctx context.Context) ApiCreateAlipayAppApiV1PaymentsAlipayAppCreatePostRequest {
	return ApiCreateAlipayAppApiV1PaymentsAlipayAppCreatePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AlipayAPIService) CreateAlipayAppApiV1PaymentsAlipayAppCreatePostExecute(r ApiCreateAlipayAppApiV1PaymentsAlipayAppCreatePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AlipayAPIService.CreateAlipayAppApiV1PaymentsAlipayAppCreatePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/payments/alipay/app/create"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.amount == nil {
		return localVarReturnValue, nil, reportError("amount is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "amount", r.amount, "form", "")
	if r.productId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "product_id", r.productId, "form", "")
	}
	if r.orderType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_type", r.orderType, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_type", defaultValue, "form", "")
		r.orderType = &defaultValue
	}
	if r.subject != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "subject", r.subject, "form", "")
	} else {
		var defaultValue string = "订单支付"
		parameterAddToHeaderOrQuery(localVarQueryParams, "subject", defaultValue, "form", "")
		r.subject = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
