/*
ZHS Platform

ZHS Platform API - AI Agent Marketplace & Educational Platform

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zhs_api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// AIJimengAPIService AIJimengAPI service
type AIJimengAPIService service

type ApiJimeng4ImageApiV1AiJimeng4PostRequest struct {
	ctx context.Context
	ApiService *AIJimengAPIService
	jimeng4ImageRequest *Jimeng4ImageRequest
}

func (r ApiJimeng4ImageApiV1AiJimeng4PostRequest) Jimeng4ImageRequest(jimeng4ImageRequest Jimeng4ImageRequest) ApiJimeng4ImageApiV1AiJimeng4PostRequest {
	r.jimeng4ImageRequest = &jimeng4ImageRequest
	return r
}

func (r ApiJimeng4ImageApiV1AiJimeng4PostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.Jimeng4ImageApiV1AiJimeng4PostExecute(r)
}

/*
Jimeng4ImageApiV1AiJimeng4Post 即梦 4.0 文字生成图片（兼容旧路径）

Submit a JiMeng 4.0 image generation task via CVSync2Async,
poll until complete, and return image URLs / base64 data.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiJimeng4ImageApiV1AiJimeng4PostRequest
*/
func (a *AIJimengAPIService) Jimeng4ImageApiV1AiJimeng4Post(ctx context.Context) ApiJimeng4ImageApiV1AiJimeng4PostRequest {
	return ApiJimeng4ImageApiV1AiJimeng4PostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AIJimengAPIService) Jimeng4ImageApiV1AiJimeng4PostExecute(r ApiJimeng4ImageApiV1AiJimeng4PostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AIJimengAPIService.Jimeng4ImageApiV1AiJimeng4Post")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/ai/jimeng4"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.jimeng4ImageRequest == nil {
		return localVarReturnValue, nil, reportError("jimeng4ImageRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.jimeng4ImageRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
