/*
ZHS Platform

ZHS Platform API - AI Agent Marketplace & Educational Platform

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zhs_api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// AgentRulesAPIService AgentRulesAPI service
type AgentRulesAPIService service

type ApiAcceptNeedTaskApiV1AgentsNeedTaskAcceptPostRequest struct {
	ctx context.Context
	ApiService *AgentRulesAPIService
	taskId *int32
}

func (r ApiAcceptNeedTaskApiV1AgentsNeedTaskAcceptPostRequest) TaskId(taskId int32) ApiAcceptNeedTaskApiV1AgentsNeedTaskAcceptPostRequest {
	r.taskId = &taskId
	return r
}

func (r ApiAcceptNeedTaskApiV1AgentsNeedTaskAcceptPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.AcceptNeedTaskApiV1AgentsNeedTaskAcceptPostExecute(r)
}

/*
AcceptNeedTaskApiV1AgentsNeedTaskAcceptPost 接单需求任务

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAcceptNeedTaskApiV1AgentsNeedTaskAcceptPostRequest
*/
func (a *AgentRulesAPIService) AcceptNeedTaskApiV1AgentsNeedTaskAcceptPost(ctx context.Context) ApiAcceptNeedTaskApiV1AgentsNeedTaskAcceptPostRequest {
	return ApiAcceptNeedTaskApiV1AgentsNeedTaskAcceptPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AgentRulesAPIService) AcceptNeedTaskApiV1AgentsNeedTaskAcceptPostExecute(r ApiAcceptNeedTaskApiV1AgentsNeedTaskAcceptPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentRulesAPIService.AcceptNeedTaskApiV1AgentsNeedTaskAcceptPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/agents/need-task/accept"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.taskId == nil {
		return localVarReturnValue, nil, reportError("taskId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "task_id", r.taskId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCompleteNeedTaskApiV1AgentsNeedTaskCompletePostRequest struct {
	ctx context.Context
	ApiService *AgentRulesAPIService
	taskId *int32
}

func (r ApiCompleteNeedTaskApiV1AgentsNeedTaskCompletePostRequest) TaskId(taskId int32) ApiCompleteNeedTaskApiV1AgentsNeedTaskCompletePostRequest {
	r.taskId = &taskId
	return r
}

func (r ApiCompleteNeedTaskApiV1AgentsNeedTaskCompletePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CompleteNeedTaskApiV1AgentsNeedTaskCompletePostExecute(r)
}

/*
CompleteNeedTaskApiV1AgentsNeedTaskCompletePost 完成需求任务

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCompleteNeedTaskApiV1AgentsNeedTaskCompletePostRequest
*/
func (a *AgentRulesAPIService) CompleteNeedTaskApiV1AgentsNeedTaskCompletePost(ctx context.Context) ApiCompleteNeedTaskApiV1AgentsNeedTaskCompletePostRequest {
	return ApiCompleteNeedTaskApiV1AgentsNeedTaskCompletePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AgentRulesAPIService) CompleteNeedTaskApiV1AgentsNeedTaskCompletePostExecute(r ApiCompleteNeedTaskApiV1AgentsNeedTaskCompletePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentRulesAPIService.CompleteNeedTaskApiV1AgentsNeedTaskCompletePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/agents/need-task/complete"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.taskId == nil {
		return localVarReturnValue, nil, reportError("taskId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "task_id", r.taskId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateNeedTaskApiV1AgentsNeedTaskCreatePostRequest struct {
	ctx context.Context
	ApiService *AgentRulesAPIService
	taskName *string
	taskDesc *string
	agentId *string
	rewardTokens *int32
	deadline *string
}

func (r ApiCreateNeedTaskApiV1AgentsNeedTaskCreatePostRequest) TaskName(taskName string) ApiCreateNeedTaskApiV1AgentsNeedTaskCreatePostRequest {
	r.taskName = &taskName
	return r
}

func (r ApiCreateNeedTaskApiV1AgentsNeedTaskCreatePostRequest) TaskDesc(taskDesc string) ApiCreateNeedTaskApiV1AgentsNeedTaskCreatePostRequest {
	r.taskDesc = &taskDesc
	return r
}

func (r ApiCreateNeedTaskApiV1AgentsNeedTaskCreatePostRequest) AgentId(agentId string) ApiCreateNeedTaskApiV1AgentsNeedTaskCreatePostRequest {
	r.agentId = &agentId
	return r
}

func (r ApiCreateNeedTaskApiV1AgentsNeedTaskCreatePostRequest) RewardTokens(rewardTokens int32) ApiCreateNeedTaskApiV1AgentsNeedTaskCreatePostRequest {
	r.rewardTokens = &rewardTokens
	return r
}

// ISO 时间字符串
func (r ApiCreateNeedTaskApiV1AgentsNeedTaskCreatePostRequest) Deadline(deadline string) ApiCreateNeedTaskApiV1AgentsNeedTaskCreatePostRequest {
	r.deadline = &deadline
	return r
}

func (r ApiCreateNeedTaskApiV1AgentsNeedTaskCreatePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CreateNeedTaskApiV1AgentsNeedTaskCreatePostExecute(r)
}

/*
CreateNeedTaskApiV1AgentsNeedTaskCreatePost 创建需求任务

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateNeedTaskApiV1AgentsNeedTaskCreatePostRequest
*/
func (a *AgentRulesAPIService) CreateNeedTaskApiV1AgentsNeedTaskCreatePost(ctx context.Context) ApiCreateNeedTaskApiV1AgentsNeedTaskCreatePostRequest {
	return ApiCreateNeedTaskApiV1AgentsNeedTaskCreatePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AgentRulesAPIService) CreateNeedTaskApiV1AgentsNeedTaskCreatePostExecute(r ApiCreateNeedTaskApiV1AgentsNeedTaskCreatePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentRulesAPIService.CreateNeedTaskApiV1AgentsNeedTaskCreatePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/agents/need-task/create"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.taskName == nil {
		return localVarReturnValue, nil, reportError("taskName is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "task_name", r.taskName, "form", "")
	if r.taskDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "task_desc", r.taskDesc, "form", "")
	} else {
		var defaultValue string = ""
		parameterAddToHeaderOrQuery(localVarQueryParams, "task_desc", defaultValue, "form", "")
		r.taskDesc = &defaultValue
	}
	if r.agentId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "agent_id", r.agentId, "form", "")
	} else {
		var defaultValue string = ""
		parameterAddToHeaderOrQuery(localVarQueryParams, "agent_id", defaultValue, "form", "")
		r.agentId = &defaultValue
	}
	if r.rewardTokens != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "reward_tokens", r.rewardTokens, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "reward_tokens", defaultValue, "form", "")
		r.rewardTokens = &defaultValue
	}
	if r.deadline != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deadline", r.deadline, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListNeedTasksApiV1AgentsNeedTaskListGetRequest struct {
	ctx context.Context
	ApiService *AgentRulesAPIService
	page *int32
	limit *int32
	status *int32
}

func (r ApiListNeedTasksApiV1AgentsNeedTaskListGetRequest) Page(page int32) ApiListNeedTasksApiV1AgentsNeedTaskListGetRequest {
	r.page = &page
	return r
}

func (r ApiListNeedTasksApiV1AgentsNeedTaskListGetRequest) Limit(limit int32) ApiListNeedTasksApiV1AgentsNeedTaskListGetRequest {
	r.limit = &limit
	return r
}

func (r ApiListNeedTasksApiV1AgentsNeedTaskListGetRequest) Status(status int32) ApiListNeedTasksApiV1AgentsNeedTaskListGetRequest {
	r.status = &status
	return r
}

func (r ApiListNeedTasksApiV1AgentsNeedTaskListGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListNeedTasksApiV1AgentsNeedTaskListGetExecute(r)
}

/*
ListNeedTasksApiV1AgentsNeedTaskListGet 需求任务列表

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListNeedTasksApiV1AgentsNeedTaskListGetRequest
*/
func (a *AgentRulesAPIService) ListNeedTasksApiV1AgentsNeedTaskListGet(ctx context.Context) ApiListNeedTasksApiV1AgentsNeedTaskListGetRequest {
	return ApiListNeedTasksApiV1AgentsNeedTaskListGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AgentRulesAPIService) ListNeedTasksApiV1AgentsNeedTaskListGetExecute(r ApiListNeedTasksApiV1AgentsNeedTaskListGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentRulesAPIService.ListNeedTasksApiV1AgentsNeedTaskListGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/agents/need-task/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiToggleRuleApiV1AgentsTogglePostRequest struct {
	ctx context.Context
	ApiService *AgentRulesAPIService
	ruleId *int32
	status *int32
}

func (r ApiToggleRuleApiV1AgentsTogglePostRequest) RuleId(ruleId int32) ApiToggleRuleApiV1AgentsTogglePostRequest {
	r.ruleId = &ruleId
	return r
}

// 0 禁用 1 启用
func (r ApiToggleRuleApiV1AgentsTogglePostRequest) Status(status int32) ApiToggleRuleApiV1AgentsTogglePostRequest {
	r.status = &status
	return r
}

func (r ApiToggleRuleApiV1AgentsTogglePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ToggleRuleApiV1AgentsTogglePostExecute(r)
}

/*
ToggleRuleApiV1AgentsTogglePost 启用/禁用规则

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiToggleRuleApiV1AgentsTogglePostRequest
*/
func (a *AgentRulesAPIService) ToggleRuleApiV1AgentsTogglePost(ctx context.Context) ApiToggleRuleApiV1AgentsTogglePostRequest {
	return ApiToggleRuleApiV1AgentsTogglePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AgentRulesAPIService) ToggleRuleApiV1AgentsTogglePostExecute(r ApiToggleRuleApiV1AgentsTogglePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentRulesAPIService.ToggleRuleApiV1AgentsTogglePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/agents/toggle"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.ruleId == nil {
		return localVarReturnValue, nil, reportError("ruleId is required and must be specified")
	}
	if r.status == nil {
		return localVarReturnValue, nil, reportError("status is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "rule_id", r.ruleId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
