/*
ZHS Platform

ZHS Platform API - AI Agent Marketplace & Educational Platform

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zhs_api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// ExamAPIService ExamAPI service
type ExamAPIService service

type ApiCreatePaperApiV1ExamPaperPostRequest struct {
	ctx context.Context
	ApiService *ExamAPIService
	title *string
	description *string
	categoryId *int32
	courseId *int32
	cover *string
	totalScore *float32
	passScore *float32
	duration *int32
	type_ *int32
	difficulty *int32
	isFree *bool
	price *float32
}

func (r ApiCreatePaperApiV1ExamPaperPostRequest) Title(title string) ApiCreatePaperApiV1ExamPaperPostRequest {
	r.title = &title
	return r
}

func (r ApiCreatePaperApiV1ExamPaperPostRequest) Description(description string) ApiCreatePaperApiV1ExamPaperPostRequest {
	r.description = &description
	return r
}

func (r ApiCreatePaperApiV1ExamPaperPostRequest) CategoryId(categoryId int32) ApiCreatePaperApiV1ExamPaperPostRequest {
	r.categoryId = &categoryId
	return r
}

func (r ApiCreatePaperApiV1ExamPaperPostRequest) CourseId(courseId int32) ApiCreatePaperApiV1ExamPaperPostRequest {
	r.courseId = &courseId
	return r
}

func (r ApiCreatePaperApiV1ExamPaperPostRequest) Cover(cover string) ApiCreatePaperApiV1ExamPaperPostRequest {
	r.cover = &cover
	return r
}

func (r ApiCreatePaperApiV1ExamPaperPostRequest) TotalScore(totalScore float32) ApiCreatePaperApiV1ExamPaperPostRequest {
	r.totalScore = &totalScore
	return r
}

func (r ApiCreatePaperApiV1ExamPaperPostRequest) PassScore(passScore float32) ApiCreatePaperApiV1ExamPaperPostRequest {
	r.passScore = &passScore
	return r
}

func (r ApiCreatePaperApiV1ExamPaperPostRequest) Duration(duration int32) ApiCreatePaperApiV1ExamPaperPostRequest {
	r.duration = &duration
	return r
}

func (r ApiCreatePaperApiV1ExamPaperPostRequest) Type_(type_ int32) ApiCreatePaperApiV1ExamPaperPostRequest {
	r.type_ = &type_
	return r
}

func (r ApiCreatePaperApiV1ExamPaperPostRequest) Difficulty(difficulty int32) ApiCreatePaperApiV1ExamPaperPostRequest {
	r.difficulty = &difficulty
	return r
}

func (r ApiCreatePaperApiV1ExamPaperPostRequest) IsFree(isFree bool) ApiCreatePaperApiV1ExamPaperPostRequest {
	r.isFree = &isFree
	return r
}

func (r ApiCreatePaperApiV1ExamPaperPostRequest) Price(price float32) ApiCreatePaperApiV1ExamPaperPostRequest {
	r.price = &price
	return r
}

func (r ApiCreatePaperApiV1ExamPaperPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CreatePaperApiV1ExamPaperPostExecute(r)
}

/*
CreatePaperApiV1ExamPaperPost 创建试卷

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreatePaperApiV1ExamPaperPostRequest
*/
func (a *ExamAPIService) CreatePaperApiV1ExamPaperPost(ctx context.Context) ApiCreatePaperApiV1ExamPaperPostRequest {
	return ApiCreatePaperApiV1ExamPaperPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ExamAPIService) CreatePaperApiV1ExamPaperPostExecute(r ApiCreatePaperApiV1ExamPaperPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExamAPIService.CreatePaperApiV1ExamPaperPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/exam/paper"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.title == nil {
		return localVarReturnValue, nil, reportError("title is required and must be specified")
	}
	if strlen(*r.title) < 1 {
		return localVarReturnValue, nil, reportError("title must have at least 1 elements")
	}
	if strlen(*r.title) > 200 {
		return localVarReturnValue, nil, reportError("title must have less than 200 elements")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "title", r.title, "form", "")
	if r.description != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description", r.description, "form", "")
	}
	if r.categoryId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "category_id", r.categoryId, "form", "")
	}
	if r.courseId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "course_id", r.courseId, "form", "")
	}
	if r.cover != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cover", r.cover, "form", "")
	}
	if r.totalScore != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "total_score", r.totalScore, "form", "")
	} else {
		var defaultValue float32 = 100
		parameterAddToHeaderOrQuery(localVarQueryParams, "total_score", defaultValue, "form", "")
		r.totalScore = &defaultValue
	}
	if r.passScore != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pass_score", r.passScore, "form", "")
	} else {
		var defaultValue float32 = 60
		parameterAddToHeaderOrQuery(localVarQueryParams, "pass_score", defaultValue, "form", "")
		r.passScore = &defaultValue
	}
	if r.duration != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "duration", r.duration, "form", "")
	} else {
		var defaultValue int32 = 60
		parameterAddToHeaderOrQuery(localVarQueryParams, "duration", defaultValue, "form", "")
		r.duration = &defaultValue
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", defaultValue, "form", "")
		r.type_ = &defaultValue
	}
	if r.difficulty != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "difficulty", r.difficulty, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "difficulty", defaultValue, "form", "")
		r.difficulty = &defaultValue
	}
	if r.isFree != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_free", r.isFree, "form", "")
	} else {
		var defaultValue bool = true
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_free", defaultValue, "form", "")
		r.isFree = &defaultValue
	}
	if r.price != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "price", r.price, "form", "")
	} else {
		var defaultValue float32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "price", defaultValue, "form", "")
		r.price = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreatePaperApiV1ExamPaperPost_0Request struct {
	ctx context.Context
	ApiService *ExamAPIService
	title *string
	description *string
	categoryId *int32
	courseId *int32
	cover *string
	totalScore *float32
	passScore *float32
	duration *int32
	type_ *int32
	difficulty *int32
	isFree *bool
	price *float32
}

func (r ApiCreatePaperApiV1ExamPaperPost_0Request) Title(title string) ApiCreatePaperApiV1ExamPaperPost_0Request {
	r.title = &title
	return r
}

func (r ApiCreatePaperApiV1ExamPaperPost_0Request) Description(description string) ApiCreatePaperApiV1ExamPaperPost_0Request {
	r.description = &description
	return r
}

func (r ApiCreatePaperApiV1ExamPaperPost_0Request) CategoryId(categoryId int32) ApiCreatePaperApiV1ExamPaperPost_0Request {
	r.categoryId = &categoryId
	return r
}

func (r ApiCreatePaperApiV1ExamPaperPost_0Request) CourseId(courseId int32) ApiCreatePaperApiV1ExamPaperPost_0Request {
	r.courseId = &courseId
	return r
}

func (r ApiCreatePaperApiV1ExamPaperPost_0Request) Cover(cover string) ApiCreatePaperApiV1ExamPaperPost_0Request {
	r.cover = &cover
	return r
}

func (r ApiCreatePaperApiV1ExamPaperPost_0Request) TotalScore(totalScore float32) ApiCreatePaperApiV1ExamPaperPost_0Request {
	r.totalScore = &totalScore
	return r
}

func (r ApiCreatePaperApiV1ExamPaperPost_0Request) PassScore(passScore float32) ApiCreatePaperApiV1ExamPaperPost_0Request {
	r.passScore = &passScore
	return r
}

func (r ApiCreatePaperApiV1ExamPaperPost_0Request) Duration(duration int32) ApiCreatePaperApiV1ExamPaperPost_0Request {
	r.duration = &duration
	return r
}

func (r ApiCreatePaperApiV1ExamPaperPost_0Request) Type_(type_ int32) ApiCreatePaperApiV1ExamPaperPost_0Request {
	r.type_ = &type_
	return r
}

func (r ApiCreatePaperApiV1ExamPaperPost_0Request) Difficulty(difficulty int32) ApiCreatePaperApiV1ExamPaperPost_0Request {
	r.difficulty = &difficulty
	return r
}

func (r ApiCreatePaperApiV1ExamPaperPost_0Request) IsFree(isFree bool) ApiCreatePaperApiV1ExamPaperPost_0Request {
	r.isFree = &isFree
	return r
}

func (r ApiCreatePaperApiV1ExamPaperPost_0Request) Price(price float32) ApiCreatePaperApiV1ExamPaperPost_0Request {
	r.price = &price
	return r
}

func (r ApiCreatePaperApiV1ExamPaperPost_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CreatePaperApiV1ExamPaperPost_1Execute(r)
}

/*
CreatePaperApiV1ExamPaperPost_0 创建试卷

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreatePaperApiV1ExamPaperPost_0Request
*/
func (a *ExamAPIService) CreatePaperApiV1ExamPaperPost_1(ctx context.Context) ApiCreatePaperApiV1ExamPaperPost_0Request {
	return ApiCreatePaperApiV1ExamPaperPost_0Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ExamAPIService) CreatePaperApiV1ExamPaperPost_1Execute(r ApiCreatePaperApiV1ExamPaperPost_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExamAPIService.CreatePaperApiV1ExamPaperPost_1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/exam/paper"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.title == nil {
		return localVarReturnValue, nil, reportError("title is required and must be specified")
	}
	if strlen(*r.title) < 1 {
		return localVarReturnValue, nil, reportError("title must have at least 1 elements")
	}
	if strlen(*r.title) > 200 {
		return localVarReturnValue, nil, reportError("title must have less than 200 elements")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "title", r.title, "form", "")
	if r.description != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description", r.description, "form", "")
	}
	if r.categoryId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "category_id", r.categoryId, "form", "")
	}
	if r.courseId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "course_id", r.courseId, "form", "")
	}
	if r.cover != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cover", r.cover, "form", "")
	}
	if r.totalScore != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "total_score", r.totalScore, "form", "")
	} else {
		var defaultValue float32 = 100
		parameterAddToHeaderOrQuery(localVarQueryParams, "total_score", defaultValue, "form", "")
		r.totalScore = &defaultValue
	}
	if r.passScore != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pass_score", r.passScore, "form", "")
	} else {
		var defaultValue float32 = 60
		parameterAddToHeaderOrQuery(localVarQueryParams, "pass_score", defaultValue, "form", "")
		r.passScore = &defaultValue
	}
	if r.duration != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "duration", r.duration, "form", "")
	} else {
		var defaultValue int32 = 60
		parameterAddToHeaderOrQuery(localVarQueryParams, "duration", defaultValue, "form", "")
		r.duration = &defaultValue
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", defaultValue, "form", "")
		r.type_ = &defaultValue
	}
	if r.difficulty != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "difficulty", r.difficulty, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "difficulty", defaultValue, "form", "")
		r.difficulty = &defaultValue
	}
	if r.isFree != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_free", r.isFree, "form", "")
	} else {
		var defaultValue bool = true
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_free", defaultValue, "form", "")
		r.isFree = &defaultValue
	}
	if r.price != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "price", r.price, "form", "")
	} else {
		var defaultValue float32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "price", defaultValue, "form", "")
		r.price = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateQuestionApiV1ExamQuestionPostRequest struct {
	ctx context.Context
	ApiService *ExamAPIService
	paperId *int32
	type_ *int32
	content *string
	answer *string
	options *string
	analysis *string
	score *float32
	difficulty *int32
	sortOrder *int32
}

func (r ApiCreateQuestionApiV1ExamQuestionPostRequest) PaperId(paperId int32) ApiCreateQuestionApiV1ExamQuestionPostRequest {
	r.paperId = &paperId
	return r
}

func (r ApiCreateQuestionApiV1ExamQuestionPostRequest) Type_(type_ int32) ApiCreateQuestionApiV1ExamQuestionPostRequest {
	r.type_ = &type_
	return r
}

func (r ApiCreateQuestionApiV1ExamQuestionPostRequest) Content(content string) ApiCreateQuestionApiV1ExamQuestionPostRequest {
	r.content = &content
	return r
}

func (r ApiCreateQuestionApiV1ExamQuestionPostRequest) Answer(answer string) ApiCreateQuestionApiV1ExamQuestionPostRequest {
	r.answer = &answer
	return r
}

func (r ApiCreateQuestionApiV1ExamQuestionPostRequest) Options(options string) ApiCreateQuestionApiV1ExamQuestionPostRequest {
	r.options = &options
	return r
}

func (r ApiCreateQuestionApiV1ExamQuestionPostRequest) Analysis(analysis string) ApiCreateQuestionApiV1ExamQuestionPostRequest {
	r.analysis = &analysis
	return r
}

func (r ApiCreateQuestionApiV1ExamQuestionPostRequest) Score(score float32) ApiCreateQuestionApiV1ExamQuestionPostRequest {
	r.score = &score
	return r
}

func (r ApiCreateQuestionApiV1ExamQuestionPostRequest) Difficulty(difficulty int32) ApiCreateQuestionApiV1ExamQuestionPostRequest {
	r.difficulty = &difficulty
	return r
}

func (r ApiCreateQuestionApiV1ExamQuestionPostRequest) SortOrder(sortOrder int32) ApiCreateQuestionApiV1ExamQuestionPostRequest {
	r.sortOrder = &sortOrder
	return r
}

func (r ApiCreateQuestionApiV1ExamQuestionPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CreateQuestionApiV1ExamQuestionPostExecute(r)
}

/*
CreateQuestionApiV1ExamQuestionPost 新增题目

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateQuestionApiV1ExamQuestionPostRequest
*/
func (a *ExamAPIService) CreateQuestionApiV1ExamQuestionPost(ctx context.Context) ApiCreateQuestionApiV1ExamQuestionPostRequest {
	return ApiCreateQuestionApiV1ExamQuestionPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ExamAPIService) CreateQuestionApiV1ExamQuestionPostExecute(r ApiCreateQuestionApiV1ExamQuestionPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExamAPIService.CreateQuestionApiV1ExamQuestionPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/exam/question"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.paperId == nil {
		return localVarReturnValue, nil, reportError("paperId is required and must be specified")
	}
	if r.type_ == nil {
		return localVarReturnValue, nil, reportError("type_ is required and must be specified")
	}
	if *r.type_ < 1 {
		return localVarReturnValue, nil, reportError("type_ must be greater than 1")
	}
	if *r.type_ > 5 {
		return localVarReturnValue, nil, reportError("type_ must be less than 5")
	}
	if r.content == nil {
		return localVarReturnValue, nil, reportError("content is required and must be specified")
	}
	if strlen(*r.content) < 1 {
		return localVarReturnValue, nil, reportError("content must have at least 1 elements")
	}
	if r.answer == nil {
		return localVarReturnValue, nil, reportError("answer is required and must be specified")
	}
	if strlen(*r.answer) < 1 {
		return localVarReturnValue, nil, reportError("answer must have at least 1 elements")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "paper_id", r.paperId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "content", r.content, "form", "")
	if r.options != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "options", r.options, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "answer", r.answer, "form", "")
	if r.analysis != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "analysis", r.analysis, "form", "")
	}
	if r.score != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "score", r.score, "form", "")
	} else {
		var defaultValue float32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "score", defaultValue, "form", "")
		r.score = &defaultValue
	}
	if r.difficulty != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "difficulty", r.difficulty, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "difficulty", defaultValue, "form", "")
		r.difficulty = &defaultValue
	}
	if r.sortOrder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_order", r.sortOrder, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_order", defaultValue, "form", "")
		r.sortOrder = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateQuestionApiV1ExamQuestionPost_0Request struct {
	ctx context.Context
	ApiService *ExamAPIService
	paperId *int32
	type_ *int32
	content *string
	answer *string
	options *string
	analysis *string
	score *float32
	difficulty *int32
	sortOrder *int32
}

func (r ApiCreateQuestionApiV1ExamQuestionPost_0Request) PaperId(paperId int32) ApiCreateQuestionApiV1ExamQuestionPost_0Request {
	r.paperId = &paperId
	return r
}

func (r ApiCreateQuestionApiV1ExamQuestionPost_0Request) Type_(type_ int32) ApiCreateQuestionApiV1ExamQuestionPost_0Request {
	r.type_ = &type_
	return r
}

func (r ApiCreateQuestionApiV1ExamQuestionPost_0Request) Content(content string) ApiCreateQuestionApiV1ExamQuestionPost_0Request {
	r.content = &content
	return r
}

func (r ApiCreateQuestionApiV1ExamQuestionPost_0Request) Answer(answer string) ApiCreateQuestionApiV1ExamQuestionPost_0Request {
	r.answer = &answer
	return r
}

func (r ApiCreateQuestionApiV1ExamQuestionPost_0Request) Options(options string) ApiCreateQuestionApiV1ExamQuestionPost_0Request {
	r.options = &options
	return r
}

func (r ApiCreateQuestionApiV1ExamQuestionPost_0Request) Analysis(analysis string) ApiCreateQuestionApiV1ExamQuestionPost_0Request {
	r.analysis = &analysis
	return r
}

func (r ApiCreateQuestionApiV1ExamQuestionPost_0Request) Score(score float32) ApiCreateQuestionApiV1ExamQuestionPost_0Request {
	r.score = &score
	return r
}

func (r ApiCreateQuestionApiV1ExamQuestionPost_0Request) Difficulty(difficulty int32) ApiCreateQuestionApiV1ExamQuestionPost_0Request {
	r.difficulty = &difficulty
	return r
}

func (r ApiCreateQuestionApiV1ExamQuestionPost_0Request) SortOrder(sortOrder int32) ApiCreateQuestionApiV1ExamQuestionPost_0Request {
	r.sortOrder = &sortOrder
	return r
}

func (r ApiCreateQuestionApiV1ExamQuestionPost_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CreateQuestionApiV1ExamQuestionPost_2Execute(r)
}

/*
CreateQuestionApiV1ExamQuestionPost_0 新增题目

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateQuestionApiV1ExamQuestionPost_0Request
*/
func (a *ExamAPIService) CreateQuestionApiV1ExamQuestionPost_2(ctx context.Context) ApiCreateQuestionApiV1ExamQuestionPost_0Request {
	return ApiCreateQuestionApiV1ExamQuestionPost_0Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ExamAPIService) CreateQuestionApiV1ExamQuestionPost_2Execute(r ApiCreateQuestionApiV1ExamQuestionPost_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExamAPIService.CreateQuestionApiV1ExamQuestionPost_2")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/exam/question"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.paperId == nil {
		return localVarReturnValue, nil, reportError("paperId is required and must be specified")
	}
	if r.type_ == nil {
		return localVarReturnValue, nil, reportError("type_ is required and must be specified")
	}
	if *r.type_ < 1 {
		return localVarReturnValue, nil, reportError("type_ must be greater than 1")
	}
	if *r.type_ > 5 {
		return localVarReturnValue, nil, reportError("type_ must be less than 5")
	}
	if r.content == nil {
		return localVarReturnValue, nil, reportError("content is required and must be specified")
	}
	if strlen(*r.content) < 1 {
		return localVarReturnValue, nil, reportError("content must have at least 1 elements")
	}
	if r.answer == nil {
		return localVarReturnValue, nil, reportError("answer is required and must be specified")
	}
	if strlen(*r.answer) < 1 {
		return localVarReturnValue, nil, reportError("answer must have at least 1 elements")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "paper_id", r.paperId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "content", r.content, "form", "")
	if r.options != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "options", r.options, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "answer", r.answer, "form", "")
	if r.analysis != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "analysis", r.analysis, "form", "")
	}
	if r.score != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "score", r.score, "form", "")
	} else {
		var defaultValue float32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "score", defaultValue, "form", "")
		r.score = &defaultValue
	}
	if r.difficulty != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "difficulty", r.difficulty, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "difficulty", defaultValue, "form", "")
		r.difficulty = &defaultValue
	}
	if r.sortOrder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_order", r.sortOrder, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_order", defaultValue, "form", "")
		r.sortOrder = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeletePaperApiV1ExamPaperPidDeleteRequest struct {
	ctx context.Context
	ApiService *ExamAPIService
	pid int32
}

func (r ApiDeletePaperApiV1ExamPaperPidDeleteRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DeletePaperApiV1ExamPaperPidDeleteExecute(r)
}

/*
DeletePaperApiV1ExamPaperPidDelete 删除试卷

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pid
 @return ApiDeletePaperApiV1ExamPaperPidDeleteRequest
*/
func (a *ExamAPIService) DeletePaperApiV1ExamPaperPidDelete(ctx context.Context, pid int32) ApiDeletePaperApiV1ExamPaperPidDeleteRequest {
	return ApiDeletePaperApiV1ExamPaperPidDeleteRequest{
		ApiService: a,
		ctx: ctx,
		pid: pid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ExamAPIService) DeletePaperApiV1ExamPaperPidDeleteExecute(r ApiDeletePaperApiV1ExamPaperPidDeleteRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExamAPIService.DeletePaperApiV1ExamPaperPidDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/exam/paper/{pid}"
	localVarPath = strings.Replace(localVarPath, "{"+"pid"+"}", url.PathEscape(parameterValueToString(r.pid, "pid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeletePaperApiV1ExamPaperPidDelete_0Request struct {
	ctx context.Context
	ApiService *ExamAPIService
	pid int32
}

func (r ApiDeletePaperApiV1ExamPaperPidDelete_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DeletePaperApiV1ExamPaperPidDelete_3Execute(r)
}

/*
DeletePaperApiV1ExamPaperPidDelete_0 删除试卷

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pid
 @return ApiDeletePaperApiV1ExamPaperPidDelete_0Request
*/
func (a *ExamAPIService) DeletePaperApiV1ExamPaperPidDelete_3(ctx context.Context, pid int32) ApiDeletePaperApiV1ExamPaperPidDelete_0Request {
	return ApiDeletePaperApiV1ExamPaperPidDelete_0Request{
		ApiService: a,
		ctx: ctx,
		pid: pid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ExamAPIService) DeletePaperApiV1ExamPaperPidDelete_3Execute(r ApiDeletePaperApiV1ExamPaperPidDelete_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExamAPIService.DeletePaperApiV1ExamPaperPidDelete_3")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/exam/paper/{pid}"
	localVarPath = strings.Replace(localVarPath, "{"+"pid"+"}", url.PathEscape(parameterValueToString(r.pid, "pid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteQuestionApiV1ExamQuestionQidDeleteRequest struct {
	ctx context.Context
	ApiService *ExamAPIService
	qid int32
}

func (r ApiDeleteQuestionApiV1ExamQuestionQidDeleteRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DeleteQuestionApiV1ExamQuestionQidDeleteExecute(r)
}

/*
DeleteQuestionApiV1ExamQuestionQidDelete 删除题目

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param qid
 @return ApiDeleteQuestionApiV1ExamQuestionQidDeleteRequest
*/
func (a *ExamAPIService) DeleteQuestionApiV1ExamQuestionQidDelete(ctx context.Context, qid int32) ApiDeleteQuestionApiV1ExamQuestionQidDeleteRequest {
	return ApiDeleteQuestionApiV1ExamQuestionQidDeleteRequest{
		ApiService: a,
		ctx: ctx,
		qid: qid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ExamAPIService) DeleteQuestionApiV1ExamQuestionQidDeleteExecute(r ApiDeleteQuestionApiV1ExamQuestionQidDeleteRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExamAPIService.DeleteQuestionApiV1ExamQuestionQidDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/exam/question/{qid}"
	localVarPath = strings.Replace(localVarPath, "{"+"qid"+"}", url.PathEscape(parameterValueToString(r.qid, "qid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteQuestionApiV1ExamQuestionQidDelete_0Request struct {
	ctx context.Context
	ApiService *ExamAPIService
	qid int32
}

func (r ApiDeleteQuestionApiV1ExamQuestionQidDelete_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DeleteQuestionApiV1ExamQuestionQidDelete_4Execute(r)
}

/*
DeleteQuestionApiV1ExamQuestionQidDelete_0 删除题目

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param qid
 @return ApiDeleteQuestionApiV1ExamQuestionQidDelete_0Request
*/
func (a *ExamAPIService) DeleteQuestionApiV1ExamQuestionQidDelete_4(ctx context.Context, qid int32) ApiDeleteQuestionApiV1ExamQuestionQidDelete_0Request {
	return ApiDeleteQuestionApiV1ExamQuestionQidDelete_0Request{
		ApiService: a,
		ctx: ctx,
		qid: qid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ExamAPIService) DeleteQuestionApiV1ExamQuestionQidDelete_4Execute(r ApiDeleteQuestionApiV1ExamQuestionQidDelete_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExamAPIService.DeleteQuestionApiV1ExamQuestionQidDelete_4")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/exam/question/{qid}"
	localVarPath = strings.Replace(localVarPath, "{"+"qid"+"}", url.PathEscape(parameterValueToString(r.qid, "qid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiExamPaperCategoryListRequest struct {
	ctx context.Context
	ApiService *ExamAPIService
}

func (r ApiExamPaperCategoryListRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ExamPaperCategoryListExecute(r)
}

/*
ExamPaperCategoryList 考试分类列表

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiExamPaperCategoryListRequest
*/
func (a *ExamAPIService) ExamPaperCategoryList(ctx context.Context) ApiExamPaperCategoryListRequest {
	return ApiExamPaperCategoryListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ExamAPIService) ExamPaperCategoryListExecute(r ApiExamPaperCategoryListRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExamAPIService.ExamPaperCategoryList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/exam/category/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiExamPaperCategoryList_0Request struct {
	ctx context.Context
	ApiService *ExamAPIService
}

func (r ApiExamPaperCategoryList_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ExamPaperCategoryList_5Execute(r)
}

/*
ExamPaperCategoryList_0 考试分类列表

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiExamPaperCategoryList_0Request
*/
func (a *ExamAPIService) ExamPaperCategoryList_5(ctx context.Context) ApiExamPaperCategoryList_0Request {
	return ApiExamPaperCategoryList_0Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ExamAPIService) ExamPaperCategoryList_5Execute(r ApiExamPaperCategoryList_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExamAPIService.ExamPaperCategoryList_5")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/exam/category/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetPaperApiV1ExamPaperPidGetRequest struct {
	ctx context.Context
	ApiService *ExamAPIService
	pid int32
}

func (r ApiGetPaperApiV1ExamPaperPidGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetPaperApiV1ExamPaperPidGetExecute(r)
}

/*
GetPaperApiV1ExamPaperPidGet 试卷详情

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pid
 @return ApiGetPaperApiV1ExamPaperPidGetRequest
*/
func (a *ExamAPIService) GetPaperApiV1ExamPaperPidGet(ctx context.Context, pid int32) ApiGetPaperApiV1ExamPaperPidGetRequest {
	return ApiGetPaperApiV1ExamPaperPidGetRequest{
		ApiService: a,
		ctx: ctx,
		pid: pid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ExamAPIService) GetPaperApiV1ExamPaperPidGetExecute(r ApiGetPaperApiV1ExamPaperPidGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExamAPIService.GetPaperApiV1ExamPaperPidGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/exam/paper/{pid}"
	localVarPath = strings.Replace(localVarPath, "{"+"pid"+"}", url.PathEscape(parameterValueToString(r.pid, "pid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetPaperApiV1ExamPaperPidGet_0Request struct {
	ctx context.Context
	ApiService *ExamAPIService
	pid int32
}

func (r ApiGetPaperApiV1ExamPaperPidGet_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetPaperApiV1ExamPaperPidGet_6Execute(r)
}

/*
GetPaperApiV1ExamPaperPidGet_0 试卷详情

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pid
 @return ApiGetPaperApiV1ExamPaperPidGet_0Request
*/
func (a *ExamAPIService) GetPaperApiV1ExamPaperPidGet_6(ctx context.Context, pid int32) ApiGetPaperApiV1ExamPaperPidGet_0Request {
	return ApiGetPaperApiV1ExamPaperPidGet_0Request{
		ApiService: a,
		ctx: ctx,
		pid: pid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ExamAPIService) GetPaperApiV1ExamPaperPidGet_6Execute(r ApiGetPaperApiV1ExamPaperPidGet_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExamAPIService.GetPaperApiV1ExamPaperPidGet_6")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/exam/paper/{pid}"
	localVarPath = strings.Replace(localVarPath, "{"+"pid"+"}", url.PathEscape(parameterValueToString(r.pid, "pid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetRecordApiV1ExamRecordRidGetRequest struct {
	ctx context.Context
	ApiService *ExamAPIService
	rid int32
}

func (r ApiGetRecordApiV1ExamRecordRidGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetRecordApiV1ExamRecordRidGetExecute(r)
}

/*
GetRecordApiV1ExamRecordRidGet 考试记录详情

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param rid
 @return ApiGetRecordApiV1ExamRecordRidGetRequest
*/
func (a *ExamAPIService) GetRecordApiV1ExamRecordRidGet(ctx context.Context, rid int32) ApiGetRecordApiV1ExamRecordRidGetRequest {
	return ApiGetRecordApiV1ExamRecordRidGetRequest{
		ApiService: a,
		ctx: ctx,
		rid: rid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ExamAPIService) GetRecordApiV1ExamRecordRidGetExecute(r ApiGetRecordApiV1ExamRecordRidGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExamAPIService.GetRecordApiV1ExamRecordRidGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/exam/record/{rid}"
	localVarPath = strings.Replace(localVarPath, "{"+"rid"+"}", url.PathEscape(parameterValueToString(r.rid, "rid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetRecordApiV1ExamRecordRidGet_0Request struct {
	ctx context.Context
	ApiService *ExamAPIService
	rid int32
}

func (r ApiGetRecordApiV1ExamRecordRidGet_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetRecordApiV1ExamRecordRidGet_7Execute(r)
}

/*
GetRecordApiV1ExamRecordRidGet_0 考试记录详情

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param rid
 @return ApiGetRecordApiV1ExamRecordRidGet_0Request
*/
func (a *ExamAPIService) GetRecordApiV1ExamRecordRidGet_7(ctx context.Context, rid int32) ApiGetRecordApiV1ExamRecordRidGet_0Request {
	return ApiGetRecordApiV1ExamRecordRidGet_0Request{
		ApiService: a,
		ctx: ctx,
		rid: rid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ExamAPIService) GetRecordApiV1ExamRecordRidGet_7Execute(r ApiGetRecordApiV1ExamRecordRidGet_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExamAPIService.GetRecordApiV1ExamRecordRidGet_7")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/exam/record/{rid}"
	localVarPath = strings.Replace(localVarPath, "{"+"rid"+"}", url.PathEscape(parameterValueToString(r.rid, "rid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListPapersApiV1ExamPaperListGetRequest struct {
	ctx context.Context
	ApiService *ExamAPIService
	page *int32
	limit *int32
	categoryId *int32
	keyword *string
	difficulty *int32
	isFree *bool
}

func (r ApiListPapersApiV1ExamPaperListGetRequest) Page(page int32) ApiListPapersApiV1ExamPaperListGetRequest {
	r.page = &page
	return r
}

func (r ApiListPapersApiV1ExamPaperListGetRequest) Limit(limit int32) ApiListPapersApiV1ExamPaperListGetRequest {
	r.limit = &limit
	return r
}

func (r ApiListPapersApiV1ExamPaperListGetRequest) CategoryId(categoryId int32) ApiListPapersApiV1ExamPaperListGetRequest {
	r.categoryId = &categoryId
	return r
}

func (r ApiListPapersApiV1ExamPaperListGetRequest) Keyword(keyword string) ApiListPapersApiV1ExamPaperListGetRequest {
	r.keyword = &keyword
	return r
}

func (r ApiListPapersApiV1ExamPaperListGetRequest) Difficulty(difficulty int32) ApiListPapersApiV1ExamPaperListGetRequest {
	r.difficulty = &difficulty
	return r
}

func (r ApiListPapersApiV1ExamPaperListGetRequest) IsFree(isFree bool) ApiListPapersApiV1ExamPaperListGetRequest {
	r.isFree = &isFree
	return r
}

func (r ApiListPapersApiV1ExamPaperListGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListPapersApiV1ExamPaperListGetExecute(r)
}

/*
ListPapersApiV1ExamPaperListGet 试卷列表

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListPapersApiV1ExamPaperListGetRequest
*/
func (a *ExamAPIService) ListPapersApiV1ExamPaperListGet(ctx context.Context) ApiListPapersApiV1ExamPaperListGetRequest {
	return ApiListPapersApiV1ExamPaperListGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ExamAPIService) ListPapersApiV1ExamPaperListGetExecute(r ApiListPapersApiV1ExamPaperListGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExamAPIService.ListPapersApiV1ExamPaperListGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/exam/paper/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.categoryId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "category_id", r.categoryId, "form", "")
	}
	if r.keyword != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "keyword", r.keyword, "form", "")
	}
	if r.difficulty != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "difficulty", r.difficulty, "form", "")
	}
	if r.isFree != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_free", r.isFree, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListPapersApiV1ExamPaperListGet_0Request struct {
	ctx context.Context
	ApiService *ExamAPIService
	page *int32
	limit *int32
	categoryId *int32
	keyword *string
	difficulty *int32
	isFree *bool
}

func (r ApiListPapersApiV1ExamPaperListGet_0Request) Page(page int32) ApiListPapersApiV1ExamPaperListGet_0Request {
	r.page = &page
	return r
}

func (r ApiListPapersApiV1ExamPaperListGet_0Request) Limit(limit int32) ApiListPapersApiV1ExamPaperListGet_0Request {
	r.limit = &limit
	return r
}

func (r ApiListPapersApiV1ExamPaperListGet_0Request) CategoryId(categoryId int32) ApiListPapersApiV1ExamPaperListGet_0Request {
	r.categoryId = &categoryId
	return r
}

func (r ApiListPapersApiV1ExamPaperListGet_0Request) Keyword(keyword string) ApiListPapersApiV1ExamPaperListGet_0Request {
	r.keyword = &keyword
	return r
}

func (r ApiListPapersApiV1ExamPaperListGet_0Request) Difficulty(difficulty int32) ApiListPapersApiV1ExamPaperListGet_0Request {
	r.difficulty = &difficulty
	return r
}

func (r ApiListPapersApiV1ExamPaperListGet_0Request) IsFree(isFree bool) ApiListPapersApiV1ExamPaperListGet_0Request {
	r.isFree = &isFree
	return r
}

func (r ApiListPapersApiV1ExamPaperListGet_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListPapersApiV1ExamPaperListGet_8Execute(r)
}

/*
ListPapersApiV1ExamPaperListGet_0 试卷列表

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListPapersApiV1ExamPaperListGet_0Request
*/
func (a *ExamAPIService) ListPapersApiV1ExamPaperListGet_8(ctx context.Context) ApiListPapersApiV1ExamPaperListGet_0Request {
	return ApiListPapersApiV1ExamPaperListGet_0Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ExamAPIService) ListPapersApiV1ExamPaperListGet_8Execute(r ApiListPapersApiV1ExamPaperListGet_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExamAPIService.ListPapersApiV1ExamPaperListGet_8")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/exam/paper/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.categoryId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "category_id", r.categoryId, "form", "")
	}
	if r.keyword != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "keyword", r.keyword, "form", "")
	}
	if r.difficulty != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "difficulty", r.difficulty, "form", "")
	}
	if r.isFree != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_free", r.isFree, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListQuestionsApiV1ExamQuestionListGetRequest struct {
	ctx context.Context
	ApiService *ExamAPIService
	paperId *int32
}

func (r ApiListQuestionsApiV1ExamQuestionListGetRequest) PaperId(paperId int32) ApiListQuestionsApiV1ExamQuestionListGetRequest {
	r.paperId = &paperId
	return r
}

func (r ApiListQuestionsApiV1ExamQuestionListGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListQuestionsApiV1ExamQuestionListGetExecute(r)
}

/*
ListQuestionsApiV1ExamQuestionListGet 题目列表

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListQuestionsApiV1ExamQuestionListGetRequest
*/
func (a *ExamAPIService) ListQuestionsApiV1ExamQuestionListGet(ctx context.Context) ApiListQuestionsApiV1ExamQuestionListGetRequest {
	return ApiListQuestionsApiV1ExamQuestionListGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ExamAPIService) ListQuestionsApiV1ExamQuestionListGetExecute(r ApiListQuestionsApiV1ExamQuestionListGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExamAPIService.ListQuestionsApiV1ExamQuestionListGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/exam/question/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.paperId == nil {
		return localVarReturnValue, nil, reportError("paperId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "paper_id", r.paperId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListQuestionsApiV1ExamQuestionListGet_0Request struct {
	ctx context.Context
	ApiService *ExamAPIService
	paperId *int32
}

func (r ApiListQuestionsApiV1ExamQuestionListGet_0Request) PaperId(paperId int32) ApiListQuestionsApiV1ExamQuestionListGet_0Request {
	r.paperId = &paperId
	return r
}

func (r ApiListQuestionsApiV1ExamQuestionListGet_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListQuestionsApiV1ExamQuestionListGet_9Execute(r)
}

/*
ListQuestionsApiV1ExamQuestionListGet_0 题目列表

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListQuestionsApiV1ExamQuestionListGet_0Request
*/
func (a *ExamAPIService) ListQuestionsApiV1ExamQuestionListGet_9(ctx context.Context) ApiListQuestionsApiV1ExamQuestionListGet_0Request {
	return ApiListQuestionsApiV1ExamQuestionListGet_0Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ExamAPIService) ListQuestionsApiV1ExamQuestionListGet_9Execute(r ApiListQuestionsApiV1ExamQuestionListGet_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExamAPIService.ListQuestionsApiV1ExamQuestionListGet_9")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/exam/question/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.paperId == nil {
		return localVarReturnValue, nil, reportError("paperId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "paper_id", r.paperId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListRecordsApiV1ExamRecordListGetRequest struct {
	ctx context.Context
	ApiService *ExamAPIService
	page *int32
	limit *int32
	userId *string
	paperId *int32
}

func (r ApiListRecordsApiV1ExamRecordListGetRequest) Page(page int32) ApiListRecordsApiV1ExamRecordListGetRequest {
	r.page = &page
	return r
}

func (r ApiListRecordsApiV1ExamRecordListGetRequest) Limit(limit int32) ApiListRecordsApiV1ExamRecordListGetRequest {
	r.limit = &limit
	return r
}

func (r ApiListRecordsApiV1ExamRecordListGetRequest) UserId(userId string) ApiListRecordsApiV1ExamRecordListGetRequest {
	r.userId = &userId
	return r
}

func (r ApiListRecordsApiV1ExamRecordListGetRequest) PaperId(paperId int32) ApiListRecordsApiV1ExamRecordListGetRequest {
	r.paperId = &paperId
	return r
}

func (r ApiListRecordsApiV1ExamRecordListGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListRecordsApiV1ExamRecordListGetExecute(r)
}

/*
ListRecordsApiV1ExamRecordListGet 考试记录列表

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListRecordsApiV1ExamRecordListGetRequest
*/
func (a *ExamAPIService) ListRecordsApiV1ExamRecordListGet(ctx context.Context) ApiListRecordsApiV1ExamRecordListGetRequest {
	return ApiListRecordsApiV1ExamRecordListGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ExamAPIService) ListRecordsApiV1ExamRecordListGetExecute(r ApiListRecordsApiV1ExamRecordListGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExamAPIService.ListRecordsApiV1ExamRecordListGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/exam/record/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", r.userId, "form", "")
	}
	if r.paperId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "paper_id", r.paperId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListRecordsApiV1ExamRecordListGet_0Request struct {
	ctx context.Context
	ApiService *ExamAPIService
	page *int32
	limit *int32
	userId *string
	paperId *int32
}

func (r ApiListRecordsApiV1ExamRecordListGet_0Request) Page(page int32) ApiListRecordsApiV1ExamRecordListGet_0Request {
	r.page = &page
	return r
}

func (r ApiListRecordsApiV1ExamRecordListGet_0Request) Limit(limit int32) ApiListRecordsApiV1ExamRecordListGet_0Request {
	r.limit = &limit
	return r
}

func (r ApiListRecordsApiV1ExamRecordListGet_0Request) UserId(userId string) ApiListRecordsApiV1ExamRecordListGet_0Request {
	r.userId = &userId
	return r
}

func (r ApiListRecordsApiV1ExamRecordListGet_0Request) PaperId(paperId int32) ApiListRecordsApiV1ExamRecordListGet_0Request {
	r.paperId = &paperId
	return r
}

func (r ApiListRecordsApiV1ExamRecordListGet_0Request) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ListRecordsApiV1ExamRecordListGet_10Execute(r)
}

/*
ListRecordsApiV1ExamRecordListGet_0 考试记录列表

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListRecordsApiV1ExamRecordListGet_0Request
*/
func (a *ExamAPIService) ListRecordsApiV1ExamRecordListGet_10(ctx context.Context) ApiListRecordsApiV1ExamRecordListGet_0Request {
	return ApiListRecordsApiV1ExamRecordListGet_0Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ExamAPIService) ListRecordsApiV1ExamRecordListGet_10Execute(r ApiListRecordsApiV1ExamRecordListGet_0Request) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExamAPIService.ListRecordsApiV1ExamRecordListGet_10")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/exam/record/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", r.userId, "form", "")
	}
	if r.paperId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "paper_id", r.paperId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiMarkMasteredApiV1ExamWrongWidMasterPutRequest struct {
	ctx context.Context
	ApiService *ExamAPIService
	wid int32
}

func (r ApiMarkMasteredApiV1ExamWrongWidMasterPutRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.MarkMasteredApiV1ExamWrongWidMasterPutExecute(r)
}

/*
MarkMasteredApiV1ExamWrongWidMasterPut 标记错题为已掌握

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param wid
 @return ApiMarkMasteredApiV1ExamWrongWidMasterPutRequest
*/
func (a *ExamAPIService) MarkMasteredApiV1ExamWrongWidMasterPut(ctx context.Context, wid int32) ApiMarkMasteredApiV1ExamWrongWidMasterPutRequest {
	return ApiMarkMasteredApiV1ExamWrongWidMasterPutRequest{
		ApiService: a,
		ctx: ctx,
		wid: wid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ExamAPIService) MarkMasteredApiV1ExamWrongWidMasterPutExecute(r ApiMarkMasteredApiV1ExamWrongWidMasterPutRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
[...]
