<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai.manager.small.mapper.AgentCategoryLinkMapper">
    
    <resultMap type="com.ai.manager.small.domain.AgentCategoryLink" id="AgentCategoryLinkResult">
        <result property="id"    column="id"    />
        <result property="agentId"    column="agent_id"    />
        <result property="categoryId"    column="category_id"    />
        <result property="isDel"    column="is_del"    />
        <result property="field1"    column="field1"    />
        <result property="field2"    column="field2"    />
        <result property="createdAt"    column="created_at"    />
    </resultMap>

    <sql id="selectAgentCategoryLinkVo">
        select id, agent_id, category_id, is_del, field1, field2, created_at
    </sql>
    <sql id="fromAgentCategoryLinkTable">
        from agent_category_link
    </sql>

    <select id="selectAgentCategoryLinkList" parameterType="com.ai.manager.small.domain.AgentCategoryLink" resultMap="AgentCategoryLinkResult">
        <include refid="selectAgentCategoryLinkVo"/>
        <include refid="fromAgentCategoryLinkTable"/>
        <where>
            <if test="agentId != null  and agentId != ''"> and agent_id = #{agentId}</if>
            <if test="categoryId != null  and categoryId != ''"> and category_id = #{categoryId}</if>
            <if test="isDel != null "> and is_del = #{isDel}</if>
            <if test="createdAt != null "> and created_at = #{createdAt}</if>
        </where>
    </select>
    
    <select id="selectAgentCategoryLinkById" parameterType="Integer" resultMap="AgentCategoryLinkResult">
        <include refid="selectAgentCategoryLinkVo"/>
        <include refid="fromAgentCategoryLinkTable"/>
        where id = #{id}
    </select>

    <insert id="insertAgentCategoryLink" parameterType="com.ai.manager.small.domain.AgentCategoryLink">
        insert into agent_category_link
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="agentId != null and agentId != ''">agent_id,</if>
            <if test="categoryId != null and categoryId != ''">category_id,</if>
            <if test="isDel != null">is_del,</if>
            <if test="field1 != null">field1,</if>
            <if test="field2 != null">field2,</if>
            <if test="createdAt != null">created_at,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="agentId != null and agentId != ''">#{agentId},</if>
            <if test="categoryId != null and categoryId != ''">#{categoryId},</if>
            <if test="isDel != null">#{isDel},</if>
            <if test="field1 != null">#{field1},</if>
            <if test="field2 != null">#{field2},</if>
            <if test="createdAt != null">#{createdAt},</if>
         </trim>
    </insert>
    <insert id="addTypeAndCategory">
        insert into agent_category_link (agent_id, category_id ,field2 ) values
        <foreach collection="types" item="type" separator=",">
            (#{id},#{type}, 0)
        </foreach>
        <foreach collection="categorys" item="category" separator="," open=",">
            (#{id},#{category}, 1)
        </foreach>
    </insert>

    <update id="updateAgentCategoryLink" parameterType="com.ai.manager.small.domain.AgentCategoryLink">
        update agent_category_link
        <trim prefix="SET" suffixOverrides=",">
            <if test="agentId != null and agentId != ''">agent_id = #{agentId},</if>
            <if test="categoryId != null and categoryId != ''">category_id = #{categoryId},</if>
            <if test="isDel != null">is_del = #{isDel},</if>
            <if test="field1 != null">field1 = #{field1},</if>
            <if test="field2 != null">field2 = #{field2},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAgentCategoryLinkById" parameterType="Integer">
        delete from agent_category_link where id = #{id}
    </delete>

    <delete id="deleteAgentCategoryLinkByIds" parameterType="String">
        delete from agent_category_link where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <delete id="removeByAgentIds">
        delete from agent_category_link
        <foreach collection="ids" item="agentId" open=" where agent_id in (" close=")" separator=",">
            #{agentId}
        </foreach>
    </delete>
</mapper>