<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai.manager.small.mapper.AgentRuleMapper">

    <resultMap type="com.ai.manager.small.domain.AgentRule" id="AgentRuleResult">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="remark" column="remark"/>
        <result property="type" column="type"/>
        <result property="field1" column="field1"/>
        <result property="isHidden" column="is_hidden"/>
        <result property="creator" column="creator"/>
        <result property="createdAt" column="created_at"/>
        <collection property="ruleParams" resultMap="AgentRuleParamResult"/>
    </resultMap>
    <resultMap type="com.ai.manager.small.domain.AgentRuleParam" id="AgentRuleParamResult">
        <result property="id" column="rp_id"/>
        <result property="ruleId" column="rp_rule_id"/>
        <result property="context" column="rp_context"/>
        <result property="paramName" column="rp_param_name"/>
        <result property="type" column="rp_type"/>
        <result property="sortord" column="rp_sortord"/>
        <result property="isUse" column="rp_is_use"/>
        <result property="remark" column="rp_remark"/>
        <result property="creator" column="rp_creator"/>
        <result property="createdAt" column="rp_created_at"/>
    </resultMap>


    <resultMap type="com.ai.manager.small.domain.Agents" id="AgentsResult">
        <result property="agentId" column="agent_id"/>
        <result property="agentName" column="agent_name"/>
        <result property="agentDescription" column="agent_description"/>
        <result property="agentAvatar" column="agent_avatar"/>
        <result property="agentVersion" column="agent_version"/>
        <result property="botId" column="bot_id"/>
        <result property="botIdStr" column="bot_id_str"/>
        <result property="botName" column="bot_name"/>
        <result property="connectorId" column="connector_id"/>
        <result property="connectorUserId" column="connector_user_id"/>
        <result property="userId" column="user_id"/>
        <result property="userIdStr" column="user_id_str"/>
        <result property="userName" column="user_name"/>
        <result property="agentPrompt" column="agent_prompt"/>
        <result property="agentModel" column="agent_model"/>
        <result property="agentTemperature" column="agent_temperature"/>
        <result property="agentMaxTokens" column="agent_max_tokens"/>
        <result property="agentVariables" column="agent_variables"/>
        <result property="publishStatus" column="publish_status"/>
        <result property="publishChannel" column="publish_channel"/>
        <result property="publishTime" column="publish_time"/>
        <result property="category" column="category"/>
        <result property="tags" column="tags"/>
        <result property="isPublic" column="is_public"/>
        <result property="accessLevel" column="access_level"/>
        <result property="usageCount" column="usage_count"/>
        <result property="likeCount" column="like_count"/>
        <result property="shareCount" column="share_count"/>
        <result property="creatorId" column="creator_id"/>
        <result property="creatorName" column="creator_name"/>
        <result property="callbackData1" column="callback_data_1"/>
        <result property="callbackData2" column="callback_data_2"/>
        <result property="callbackData3" column="callback_data_3"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="prologue" column="prologue"/>
        <result property="allToken" column="all_token"/>
        <result property="sort" column="sort"/>
        <result property="cozeAccountId" column="coze_account_id"/>
        <result property="type" column="type"/>
        <result property="source" column="source"/>

        <result property="categoryId" column="category_id"/>
        <result property="categoryName" column="category_name"/>
        <result property="labelIds" column="label_ids"/>
        <result property="labelNames" column="label_names"/>

        <result property="isThumbs" column="is_thumbs"/>
        <result property="isCollect" column="is_collect"/>
        <result property="userNickname" column="user_nickname"/>
        <result property="userAvatar" column="user_avatar"/>
        <result property="suggestedQuestions" column="suggested_questions"/>

        <association property="agentBuy" resultMap="ZhsAgentBuyResult"/>
        <association property="categoryList" resultMap="ZhsAgentCategoryResult"/>
    </resultMap>
    <resultMap type="com.ai.manager.small.domain.ZhsAgentBuy" id="ZhsAgentBuyResult">
        <result property="id" column="ab_id"/>
        <result property="agentId" column="ab_agent_id"/>
        <result property="agentName" column="ab_agent_name"/>
        <result property="agentOrderUuid" column="ab_agent_order_uuid"/>
        <result property="bugUuid" column="ab_bug_uuid"/>
        <result property="bugName" column="ab_bug_name"/>
        <result property="bugTime" column="ab_bug_time"/>
        <result property="categoryId" column="ab_category_id"/>
        <result property="discount" column="ab_discount"/>
        <result property="realPrice" column="ab_real_price"/>
        <result property="price" column="ab_price"/>
        <result property="count" column="ab_count"/>
        <result property="expirationDate" column="ab_expiration_date"/>
        <result property="status" column="ab_status"/>
        <result property="orderNo" column="ab_order_no"/>
        <result property="settlement" column="ab_settlement"/>
        <result property="prologue" column="ab_prologue"/>
    </resultMap>
    <resultMap type="com.ai.manager.small.domain.ZhsAgentCategory" id="ZhsAgentCategoryResult">
        <result property="id" column="zac_id"/>
        <result property="agentId" column="zac_agent_id"/>
        <result property="agentName" column="zac_agent_name"/>
        <result property="createUuid" column="zac_create_uuid"/>
        <result property="createName" column="zac_create_name"/>
        <result property="createTime" column="zac_create_time"/>
        <result property="agentMainCategory" column="zac_agent_main_category"/>
        <result property="agentCategory" column="zac_agent_category"/>
        <result property="type" column="zac_type"/>
        <result property="account" column="zac_account"/>
        <result property="group" column="zac_group"/>
        <result property="limitFree" column="zac_limit_free"/>
        <result property="discountMonth" column="zac_discount_month"/>
        <result property="prologue" column="zac_prologue"/>
        <result property="typeChild" column="zac_type_child"/>
    </resultMap>

    <sql id="selectAgentRuleVo">
        select r.`id`, r.`title`, r.`remark`, r.`type`, r.`field1`, r.`is_hidden`, r.`creator`, r.`created_at`
    </sql>
    <sql id="fromAgentRuleTable">
        from agent_rule r
    </sql>

    <select id="getList" parameterType="com.ai.manager.small.domain.AgentRule" resultMap="AgentRuleResult">
        <include refid="selectAgentRuleVo"/>
        , rp.`id` rp_id, rp.`rule_id` rp_rule_id, rp.`context` rp_context, rp.`param_name` rp_param_name, rp.`type` rp_type, rp.`sortord` rp_sortord, rp.`is_use` rp_is_use, rp.`remark` rp_remark, rp.`creator` rp_creator, rp.`created_at` rp_created_at
        <include refid="fromAgentRuleTable"/>
        left join agent_rule_param rp on r.id = rp.rule_id
        <where>
            <if test="title != null  and title != ''"> and r.title = #{title}</if>
            <if test="type != null "> and r.type = #{type}</if>
        </where>
    </select>
    
    <select id="getById" parameterType="Long" resultMap="AgentRuleResult">
        <include refid="selectAgentRuleVo"/>
        , rp.`id` rp_id, rp.`rule_id` rp_rule_id, rp.`context` rp_context, rp.`param_name` rp_param_name, rp.`type` rp_type, rp.`sortord` rp_sortord, rp.`is_use` rp_is_use, rp.`remark` rp_remark, rp.`creator` rp_creator, rp.`created_at` rp_created_at
        <include refid="fromAgentRuleTable"/>
        left join agent_rule_param rp on r.id = rp.rule_id
        where r.id = #{id}
    </select>
    <select id="getAgentListByRuleId" resultMap="AgentsResult" >
        select a.*,
        a.user_name user_nickname,
        (select u.avatar from zhs_center_project.users u where u.uuid = a.connector_user_id) user_avatar
        ,zac.id AS zac_id,
        zac.agent_id AS zac_agent_id,
        zac.agent_name AS zac_agent_name,
        zac.create_uuid AS zac_create_uuid,
        zac.create_name AS zac_create_name,
        zac.create_time AS zac_create_time,
        zac.agent_main_category AS zac_agent_main_category,
        zac.agent_category AS zac_agent_category,
        zac.type AS zac_type,
        zac.account AS zac_account,
        zac.`group` AS zac_group,
        zac.limit_free AS zac_limit_free,
        zac.discount_month AS zac_discount_month,
        zac.prologue AS zac_prologue,
        zac.type_child AS zac_type_child
        ,IF(EXISTS(select 1 from zhs_agent_collect c where a.bot_id = c.bot_id AND c.uuid = #{uuid}), 1,0)  is_collect
        ,IF(EXISTS(select 1 from zhs_agent_thumbs t where a.bot_id = t.bot_id AND t.uuid = #{uuid}), 1,0)  is_thumbs

        from agents a
        left join zhs_agent_category zac on a.agent_id = zac.agent_id

        <where>
            a.publish_status = 'published'
            <if test="paramList != null">
                <foreach collection="paramList" item="param" separator=" or " open=" and (" close=")">
                    <if test="param.isUse == 0">
                        (a.${param.paramName} LIKE CONCAT('%', #{param.context},'%'))
                    </if>
                </foreach>
            </if>
            <if test="agentCategory != null and agentCategory != ''">
                and zac.agent_category like CONCAT('%', #{agentCategory},'%')
            </if>
            <if test="agentMainCategory != null and agentMainCategory != ''">
                and zac.agent_main_category like CONCAT('%', #{agentMainCategory},'%')
            </if>
        </where>
        <if test="orderList != null">
            <foreach collection="orderList" item="ord" open="order by" separator=",">
                a.${ord.paramName}
                <if test="ord.sortord == 1"> desc </if>
            </foreach>
        </if>

    </select>

    <insert id="addAgentRule" parameterType="com.ai.manager.small.domain.AgentRule" useGeneratedKeys="true" keyProperty="id">
        insert into agent_rule
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">title,</if>
            <if test="remark != null">remark,</if>
            <if test="type != null">type,</if>
            <if test="field1 != null">field1,</if>
            <if test="isHidden != null">is_hidden,</if>
            <if test="creator != null">creator,</if>
            <if test="createdAt != null">created_at,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">#{title},</if>
            <if test="remark != null">#{remark},</if>
            <if test="type != null">#{type},</if>
            <if test="field1 != null">#{field1},</if>
            <if test="isHidden != null">#{isHidden},</if>
            <if test="creator != null">#{creator},</if>
            <if test="createdAt != null">#{createdAt},</if>
         </trim>
    </insert>

    <update id="edit" parameterType="com.ai.manager.small.domain.AgentRule">
        update agent_rule
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="type != null">type = #{type},</if>
            <if test="field1 != null">field1 = #{field1},</if>
            <if test="isHidden != null">is_hidden = #{isHidden},</if>
            <if test="creator != null">creator = #{creator},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="delById" parameterType="Long">
        delete from agent_rule where id = #{id}
    </delete>

    <delete id="delByIds" parameterType="String">
        delete from agent_rule where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="getListByLink" parameterType="com.ai.manager.small.domain.AgentRule" resultMap="AgentRuleResult">
        <include refid="selectAgentRuleVo"/>
        , rp.`id` rp_id, rp.`rule_id` rp_rule_id, rp.`context` rp_context, rp.`param_name` rp_param_name, rp.`type` rp_type, rp.`sortord` rp_sortord, rp.`is_use` rp_is_use, rp.`remark` rp_remark, rp.`creator` rp_creator, rp.`created_at` rp_created_at
        from agent_rule r
        <!-- left join agent_rule_link arl on r.id = arl.rule_id -->
        left join agent_rule_param rp on r.id = rp.rule_id
        <where>
            <if test="title != null  and title != ''"> and r.title = #{title}</if>
            <if test="type != null "> and r.type = #{type}</if>
        </where>
        <!-- group by r.id -->
    </select>
    
    <resultMap type="com.ai.manager.small.domain.AgentRule" id="AgentRuleWithLinkResult">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="remark" column="remark"/>
        <result property="type" column="type"/>
        <result property="field1" column="field1"/>
        <result property="isHidden" column="is_hidden"/>
        <result property="creator" column="creator"/>
        <result property="createdAt" column="created_at"/>
        <collection property="ruleLinks" ofType="com.ai.manager.small.domain.AgentRuleLink">
            <result property="agentId" column="arl_agent_id"/>
            <result property="ruleId" column="arl_rule_id"/>
        </collection>
    </resultMap>
    
    <select id="getRuleByIdWithLink" parameterType="Long" resultMap="AgentRuleWithLinkResult">
        <include refid="selectAgentRuleVo"/>
        from agent_rule r
        <!-- left join agent_rule_link arl on r.id = arl.rule_id -->
        where r.id = #{id}
    </select>
    
    <select id="getAgentsByLink" resultMap="AgentsResult">
        select a.*,
        a.user_name user_nickname,
        (select u.avatar from zhs_center_project.users u where u.`uuid` = a.connector_user_id) user_avatar
        ,zac.id AS zac_id,
        zac.agent_id AS zac_agent_id,
        zac.agent_name AS zac_agent_name,
        zac.create_uuid AS zac_create_uuid,
        zac.create_name AS zac_create_name,
        zac.create_time AS zac_create_time,
        zac.agent_main_category AS zac_agent_main_category,
        zac.agent_category AS zac_agent_category,
        zac.type AS zac_type,
        zac.account AS zac_account,
        zac.`group` AS zac_group,
        zac.limit_free AS zac_limit_free,
        zac.discount_month AS zac_discount_month,
        zac.prologue AS zac_prologue,
        zac.type_child AS zac_type_child
        ,IF(EXISTS(select 1 from zhs_agent_collect c where a.bot_id = c.bot_id AND c.uuid = #{uuid}), 1,0)  is_collect
        ,IF(EXISTS(select 1 from zhs_agent_thumbs t where a.bot_id = t.bot_id AND t.uuid = #{uuid}), 1,0)  is_thumbs

        from agents a
        left join zhs_agent_category zac on a.agent_id = zac.agent_id
        left join agent_rule_link arl on a.agent_id = arl.agent_id

        <where>
            a.publish_status = 'published'
            <if test="ruleId != null">
                and arl.rule_id = #{ruleId}
            </if>
            <if test="agentCategory != null and agentCategory != ''">
                and zac.agent_category like CONCAT('%', #{agentCategory},'%')
            </if>
            <if test="agentMainCategory != null and agentMainCategory != ''">
                and zac.agent_main_category like CONCAT('%', #{agentMainCategory},'%')
            </if>
        </where>
    </select>
    <select id="useHistory" resultMap="AgentsResult">
        select a.* from agents a left join zhs_agent_useDetail uac on a.agent_id = uac.bot_id where uac.uuid = #{userUuid} order by uac.last_time desc limit #{useHistory}
    </select>
</mapper>