<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai.manager.small.mapper.AgentRuleParamMapper">
    
    <resultMap type="com.ai.manager.small.domain.AgentRuleParam" id="AgentRuleParamResult">
        <result property="id"    column="id"    />
        <result property="ruleId"    column="rule_id"    />
        <result property="context"    column="context"    />
        <result property="paramName"    column="param_name"    />
        <result property="type"    column="type"    />
        <result property="sortord"    column="sortord"    />
        <result property="isUse"    column="is_use"    />
        <result property="remark"    column="remark"    />
        <result property="creator"    column="creator"    />
        <result property="createdAt"    column="created_at"    />
    </resultMap>

    <sql id="selectAgentRuleParamVo">
        select distinct `id`, `rule_id`, `context`, `param_name`, `type`, `sortord`, `is_use`, `remark`, `creator`, `created_at`
    </sql>
    <sql id="fromAgentRuleParamTable">
        from agent_rule_param
    </sql>

    <select id="getList" parameterType="com.ai.manager.small.domain.AgentRuleParam" resultMap="AgentRuleParamResult">
        <include refid="selectAgentRuleParamVo"/>
        <include refid="fromAgentRuleParamTable"/>
        <where>
            <if test="ruleId != null "> and rule_id = #{ruleId}</if>
            <if test="type != null "> and type = #{type}</if>
        </where>
    </select>
    
    <select id="getById" parameterType="Long" resultMap="AgentRuleParamResult">
        <include refid="selectAgentRuleParamVo"/>
        <include refid="fromAgentRuleParamTable"/>
        where id = #{id}
    </select>

    <insert id="addAgentRuleParam" parameterType="com.ai.manager.small.domain.AgentRuleParam" useGeneratedKeys="true" keyProperty="id">
        insert into agent_rule_param
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ruleId != null">rule_id,</if>
            <if test="context != null">context,</if>
            <if test="paramName != null">param_name,</if>
            <if test="type != null">type,</if>
            <if test="sortord != null">sortord,</if>
            <if test="isUse != null">is_use,</if>
            <if test="remark != null">remark,</if>
            <if test="creator != null">creator,</if>
            <if test="createdAt != null">created_at,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ruleId != null">#{ruleId},</if>
            <if test="context != null">#{context},</if>
            <if test="paramName != null">#{paramName},</if>
            <if test="type != null">#{type},</if>
            <if test="sortord != null">#{sortord},</if>
            <if test="isUse != null">#{isUse},</if>
            <if test="remark != null">#{remark},</if>
            <if test="creator != null">#{creator},</if>
            <if test="createdAt != null">#{createdAt},</if>
         </trim>
    </insert>

    <update id="edit" parameterType="com.ai.manager.small.domain.AgentRuleParam">
        update agent_rule_param
        <trim prefix="SET" suffixOverrides=",">
            <if test="ruleId != null">rule_id = #{ruleId},</if>
            <if test="context != null">context = #{context},</if>
            <if test="paramName != null">param_name = #{paramName},</if>
            <if test="type != null">type = #{type},</if>
            <if test="sortord != null">sortord = #{sortord},</if>
            <if test="isUse != null">is_use = #{isUse},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="creator != null">creator = #{creator},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="delById" parameterType="Long">
        delete from agent_rule_param where id = #{id}
    </delete>

    <delete id="delByIds" parameterType="String">
        delete from agent_rule_param where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>