<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai.manager.small.mapper.AiUserFeedbackMapper">
    
    <resultMap type="com.ai.manager.small.domain.AiUserFeedback" id="AiUserFeedbackResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="context"    column="context"    />
        <result property="filePath"    column="file_path"    />
        <result property="status"    column="status"    />
        <result property="isDel"    column="is_del"    />
        <result property="feedback"    column="feedback"    />
        <result property="feedbackPath"    column="feedback_path"    />
        <result property="creator"    column="creator"    />
        <result property="createdAt"    column="created_at"    />
        <result property="updatedAt"    column="updated_at"    />
        <result property="username"    column="username"    />
        <result property="phone"    column="phone"    />
    </resultMap>

    <sql id="selectAiUserFeedbackVo">
        select distinct `id`, `title`, `context`, `file_path`, `status`, `is_del`, `feedback`, `feedback_path`, `creator`, `created_at`, `updated_at`, `phone`, `username`
    </sql>
    <sql id="fromAiUserFeedbackTable">
        from ai_user_feedback
    </sql>

    <select id="getList" parameterType="com.ai.manager.small.domain.AiUserFeedback" resultMap="AiUserFeedbackResult">
        <include refid="selectAiUserFeedbackVo"/>
        <include refid="fromAiUserFeedbackTable"/>
        <where>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="status != null "> and `status` = #{status}</if>
            <if test="creator != null  and creator != ''"> and creator = #{creator}</if>
            <if test="createdAt != null "> and created_at = #{ createdAt}</if>
        </where>
    </select>
    
    <select id="getById" parameterType="Integer" resultMap="AiUserFeedbackResult">
        <include refid="selectAiUserFeedbackVo"/>
        <include refid="fromAiUserFeedbackTable"/>
        where id = #{id}
    </select>

    <insert id="addAiUserFeedback" parameterType="com.ai.manager.small.domain.AiUserFeedback" useGeneratedKeys="true" keyProperty="id">
        insert into ai_user_feedback
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null">username,</if>
            <if test="phone != null">phone,</if>
            <if test="title != null">title,</if>
            <if test="context != null">`context`,</if>
            <if test="filePath != null">file_path,</if>
            <if test="status != null">`status`,</if>
            <if test="isDel != null">is_del,</if>
            <if test="feedback != null">feedback,</if>
            <if test="feedbackPath != null">feedback_path,</if>
            <if test="creator != null">creator,</if>
            <if test="createdAt != null">created_at,</if>
            <if test="updatedAt != null">updated_at,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null">#{username},</if>
            <if test="phone != null">#{phone},</if>
            <if test="title != null">#{title},</if>
            <if test="context != null">#{context},</if>
            <if test="filePath != null">#{filePath},</if>
            <if test="status != null">#{status},</if>
            <if test="isDel != null">#{isDel},</if>
            <if test="feedback != null">#{feedback},</if>
            <if test="feedbackPath != null">#{feedbackPath},</if>
            <if test="creator != null">#{creator},</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="updatedAt != null">#{updatedAt},</if>
         </trim>
    </insert>

    <update id="edit" parameterType="com.ai.manager.small.domain.AiUserFeedback">
        update ai_user_feedback
        <trim prefix="SET" suffixOverrides=",">
            <if test="username != null">username = #{username},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="title != null">title = #{title},</if>
            <if test="context != null">`context` = #{context},</if>
            <if test="filePath != null">file_path = #{filePath},</if>
            <if test="status != null">`status` = #{status},</if>
            <if test="isDel != null">is_del = #{isDel},</if>
            <if test="feedback != null">feedback = #{feedback},</if>
            <if test="feedbackPath != null">feedback_path = #{feedbackPath},</if>
            <if test="creator != null">creator = #{creator},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="updatedAt != null">updated_at = #{updatedAt},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="delById" parameterType="Integer">
        delete from ai_user_feedback where id = #{id}
    </delete>

    <delete id="delByIds" parameterType="String">
        delete from ai_user_feedback where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>