<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai.manager.small.mapper.AppVersionMapper">
    
    <resultMap type="com.ai.manager.small.domain.AppVersion" id="AppVersionResult">
        <result property="id"    column="id"    />
        <result property="appId"    column="app_id"    />
        <result property="versionCode"    column="version_code"    />
        <result property="versionName"    column="version_name"    />
        <result property="publishTime"    column="publish_time"    />
        <result property="isForceUpdate"    column="is_force_update"    />
        <result property="status"    column="status"    />
        <result property="filePath"    column="file_path"    />
        <result property="needUpdate"    column="need_update"    />
    </resultMap>

    <sql id="selectAppVersionVo">
        select distinct `id`, `app_id`, `version_code`, `version_name`, `publish_time`, `is_force_update`, `status`, `file_path`
    </sql>
    <sql id="fromAppVersionTable">
        from app_version
    </sql>

    <select id="getList" parameterType="com.ai.manager.small.domain.AppVersion" resultMap="AppVersionResult">
        <include refid="selectAppVersionVo"/>
        <include refid="fromAppVersionTable"/>
        <where>
            <if test="appId != null  and appId != ''"> and app_id = #{appId}</if>
            <if test="versionName != null  and versionName != ''"> and version_name like concat('%', #{versionName}, '%')</if>
        </where>
    </select>
    
    <select id="getById" parameterType="Long" resultMap="AppVersionResult">
        <include refid="selectAppVersionVo"/>
        <include refid="fromAppVersionTable"/>
        where id = #{id}
    </select>
    <select id="getNowVersion" resultMap="AppVersionResult">
        <include refid="selectAppVersionVo"/>
        ,CASE WHEN version_code > #{version} THEN 1 ELSE 0 END AS need_update
        <include refid="fromAppVersionTable"/>
        WHERE
            app_id = #{appId}
          AND status = 1
        ORDER BY
            version_code DESC
        LIMIT 1;
    </select>

    <insert id="addAppVersion" parameterType="com.ai.manager.small.domain.AppVersion" useGeneratedKeys="true" keyProperty="id">
        insert into app_version
        <trim prefix="(" suffix=")" suffixOverrides=",">
            version_code,
            <if test="appId != null and appId != ''">app_id,</if>
            <if test="versionName != null and versionName != ''">version_name,</if>
            <if test="publishTime != null">publish_time,</if>
            <if test="isForceUpdate != null">is_force_update,</if>
            <if test="status != null">`status`,</if>
            <if test="filePath != null">file_path,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            (SELECT max_version + 1 FROM (SELECT IFNULL(MAX(version_code), 0) AS max_version FROM app_version) AS temp),
            <if test="appId != null and appId != ''">#{appId},</if>
            <if test="versionName != null and versionName != ''">#{versionName},</if>
            <if test="publishTime != null">#{publishTime},</if>
            <if test="isForceUpdate != null">#{isForceUpdate},</if>
            <if test="status != null">#{status},</if>
            <if test="filePath != null">#{filePath},</if>
         </trim>
    </insert>

    <update id="edit" parameterType="com.ai.manager.small.domain.AppVersion">
        update app_version
        <trim prefix="SET" suffixOverrides=",">
            <if test="appId != null and appId != ''">app_id = #{appId},</if>
            <if test="versionCode != null">version_code = #{versionCode},</if>
            <if test="versionName != null and versionName != ''">version_name = #{versionName},</if>
            <if test="publishTime != null">publish_time = #{publishTime},</if>
            <if test="isForceUpdate != null">is_force_update = #{isForceUpdate},</if>
            <if test="status != null">status = #{status},</if>
            <if test="filePath != null">file_path = #{filePath},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="delById" parameterType="Long">
        delete from app_version where id = #{id}
    </delete>

    <delete id="delByIds" parameterType="String">
        delete from app_version where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>