<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai.manager.small.mapper.CommissionFlowMapper">

    <!-- CommissionFlow 实体类的 resultMap -->
    <resultMap id="CommissionFlowMap" type="com.ai.manager.small.domain.CommissionFlow">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="orderId" column="order_id"/>
        <result property="openId" column="open_id"/>
        <result property="amount" column="amount"/>
        <result property="type" column="type"/>
        <result property="status" column="status"/>
        <result property="token" column="token"/>
        <result property="time" column="time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectZhsCommissionFlowVo">
        select id, user_id, order_id, open_id, amount, type, status, token, `time`, remark from zhs_commission_flow
    </sql>
    <!-- TODO: 在这里定义 CommissionFlowMapper 接口中方法的 SQL 实现 -->

    <select id="sumAmountByUserIdAndTimeGreaterThanEqual" resultType="java.math.BigDecimal">
        SELECT SUM(amount)
        FROM zhs_commission_flow
        WHERE user_id = #{userId}
        <if test="timeGreaterThanEqual != null">
            AND time &gt;= #{timeGreaterThanEqual}
        </if>
    </select>

    <select id="sumAmountByUserId" resultType="java.math.BigDecimal">
        SELECT SUM(amount)
        FROM zhs_commission_flow
        WHERE user_id = #{userId}
    </select>

    <select id="selectByUserIdOrderByTimeDesc" resultMap="CommissionFlowMap">
        SELECT * FROM zhs_commission_flow
        WHERE user_id = #{userId}
        ORDER BY time DESC
    </select>

    <select id="selectByUserId" resultMap="CommissionFlowMap">
        SELECT * FROM zhs_commission_flow
        WHERE user_id = #{userId}
        ORDER BY time DESC
    </select>

    <select id="countByUserId" resultType="long">
        SELECT COUNT(*)
        FROM zhs_commission_flow
        WHERE user_id = #{userId}
    </select>

    <select id="getAccountByOpenId" resultType="java.util.HashMap">
        SELECT
            SUM(CASE WHEN status = 0 AND order_status = 2 THEN amount ELSE 0 END) AS Withdrawable,         -- 可提现
            SUM(CASE WHEN status = 1 THEN amount ELSE 0 END) AS Withdrawn,                                 -- 已提现
            SUM(CASE WHEN order_status = 0 THEN amount ELSE 0 END) AS PendingSettlementAmount,             -- 待结算金额
            SUM(CASE WHEN order_status = 0 AND time &gt;= UNIX_TIMESTAMP(CURDATE()) AND time &lt; UNIX_TIMESTAMP(DATE_ADD(CURDATE(), INTERVAL 1 DAY))
        THEN amount ELSE 0 END) AS TodayCommission,                                                -- 今日佣金
            SUM(CASE WHEN order_status=0 or order_status=2 THEN amount ELSE 0 END ) as AccumulatedCommission      -- 累计佣金
        FROM
            zhs_commission_flow
        WHERE
            belongers_open_id = #{token};

    </select>
    <select id="selectAllOrders" resultType="java.util.HashMap">
        SELECT *

        FROM
            zhs_commission_flow
        WHERE
            belongers_open_id = #{token}
        <if test="orderStatus != null and orderStatus!=''">
            and order_status=#{orderStatus}
        </if>
        <if test="startOfDay != null and startOfDay!=0" >
            and time &gt;= #{startOfDay} AND time &lt;  #{endOfDay}
        </if>
        <if test="endOfDay != null and endOfDay !=0" >
            and  time &lt;  #{endOfDay}
        </if>
            order by time desc
    </select>
    <insert id="insert" parameterType="com.ai.manager.small.domain.CommissionFlow" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO zhs_commission_flow (user_id, invited_user_id, amount, time, remark)
        VALUES (#{userId}, #{invitedUserId}, #{amount}, #{time}, #{remark})
    </insert>



    <insert id="saveList">
        INSERT INTO zhs_commission_flow (user_id, order_id, open_id, amount, type, token, time, remark,belongers_open_id)
        <foreach collection="commissionFlows" item="item" open=" VALUES " separator=",">
            (#{item.userId}, #{item.orderId}, #{item.openId}, #{item.amount}, #{item.type}, #{item.token}, #{item.time}, #{item.remark}, #{item.belongersOpenId})
        </foreach>
    </insert>

    <update id="updateStatus">
        update zhs_commission_flow f set f.`status` = 2 where f.id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>
</mapper> 