<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai.manager.small.mapper.OrderMapper">

    <!-- Order 实体类的 resultMap -->
    <resultMap id="OrderMap" type="com.ai.manager.small.domain.Order">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="outTradeNo" column="out_trade_no"/>
        <result property="openId" column="open_id"/>
        <result property="amount" column="amount"/>
        <result property="status" column="status"/>
        <result property="paymentStatus" column="payment_status"/>
        <result property="createdAt" column="created_at"/>
        <result property="paidAt" column="paid_at"/>
        <result property="productId" column="product_id"/>
        <result property="orderType" column="order_type"/>
        <result property="activityId" column="activity_id"/>
        <result property="productIdentityId" column="product_identity_id"/>
        <result property="productName" column="product_name"/>
<!--        <result property="activityName" column="activity_name"/>-->
<!--        <result property="productIdentityName" column="product_identity_name"/>-->
        <result property="payType" column="pay_type"/>
        <result property="images" column="images"/>
    </resultMap>

    <!-- TODO: 在这里定义 OrderMapper 接口中方法的 SQL 实现 -->

    <select id="selectByUserIdInOrderByCreatedAtDesc" resultMap="OrderMap">
        SELECT * FROM zhs_order
        WHERE user_id IN
        <foreach collection="userIds" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
        ORDER BY created_at DESC
    </select>

    <select id="countByUserIdInAndStatusIn" resultType="long">
        SELECT COUNT(*)
        FROM zhs_order
        WHERE user_id IN
        <foreach collection="userIds" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
        AND status IN
        <foreach collection="statuses" item="status" open="(" separator="," close=")">
            #{status}
        </foreach>
    </select>

    <select id="sumAmountByUserId" resultType="java.math.BigDecimal">
        SELECT SUM(amount)
        FROM zhs_order
        WHERE user_id = #{userId}
    </select>

    <!-- DistributionService 和 WXPayService 中使用到的方法 -->
    <select id="selectByUserIdIn" resultMap="OrderMap">
        SELECT * FROM zhs_order
        WHERE user_id IN
        <foreach collection="userIds" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
        ORDER BY created_at DESC
    </select>

    <select id="countByUserIdIn" resultType="long">
        SELECT COUNT(*)
        FROM zhs_order
        WHERE user_id IN
        <foreach collection="userIds" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </select>

    <select id="countByUserIdInAndStatusInAndCreatedAtGreaterThanEqual" resultType="long">
        SELECT COUNT(*)
        FROM zhs_order
        WHERE user_id IN
        <foreach collection="userIds" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
        AND status IN
        <foreach collection="statuses" item="status" open="(" separator="," close=")">
            #{status}
        </foreach>
        AND created_at >= #{createdAt}
    </select>

    <select id="countByUserId" resultType="long">
        SELECT COUNT(*)
        FROM zhs_order
        WHERE user_id = #{userId}
    </select>

    <select id="selectTopByUserIdOrderByCreatedAtDesc" resultMap="OrderMap">
        SELECT * FROM zhs_order
        WHERE user_id = #{userId}
        ORDER BY created_at DESC
        LIMIT 1
    </select>

    <select id="sumAmountByUserIdInAndStatusIn" resultType="java.math.BigDecimal">
        SELECT SUM(amount)
        FROM zhs_order
        WHERE user_id IN
        <foreach collection="userIds" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
        AND status IN
        <foreach collection="statuses" item="status" open="(" separator="," close=")">
            #{status}
        </foreach>
    </select>

    <select id="selectByOutTradeNo" resultMap="OrderMap">
        SELECT * FROM zhs_order WHERE out_trade_no = #{outTradeNo}
    </select>

    <insert id="insertOrder" parameterType="com.ai.manager.small.domain.Order" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO zhs_order (out_trade_no, open_id, amount, status, payment_status, created_at, paid_at, product_id, order_type, activity_id, product_identity_id, pay_type)
        VALUES (#{outTradeNo}, #{openId}, #{amount}, #{status}, #{paymentStatus}, #{createdAt}, #{paidAt}, #{productId}, #{orderType}, #{activityId}, #{productIdentityId}, #{payType})
    </insert>

    <update id="updateOrder" parameterType="com.ai.manager.small.domain.Order">
        UPDATE zhs_order
        SET status = #{status},
            payment_status = #{paymentStatus},
            paid_at = #{paidAt}
        WHERE id = #{id}
    </update>
    <update id="updateStatus">
        update zhs_order set status = #{status} where out_trade_no = #{outTradeNo}
    </update>

    <!-- 根据用户ID列表查询订单 -->
    <select id="selectByUserIdsIn" resultMap="OrderMap">
        SELECT * FROM zhs_order WHERE user_id IN
        <foreach item="userId" collection="userIds" open="(" separator="," close=")">
            #{userId}
        </foreach>
        <if test="orderBy != null">
            ORDER BY ${orderBy}
        </if>
        <if test="orderDesc != null">
             ${orderDesc}
        </if>
        <if test="limit != null">
            LIMIT #{limit}
        </if>
        <if test="offset != null">
            OFFSET #{offset}
        </if>
    </select>

    <!-- 统计用户ID列表中的订单数量 -->
    <select id="countByUserIdsIn" resultType="Integer">
        SELECT COUNT(*) FROM zhs_order WHERE user_id IN
        <foreach item="userId" collection="userIds" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </select>

     <!-- 统计用户ID列表中的订单总金额 -->
    <select id="sumAmountByUserIdsIn" resultType="java.math.BigDecimal">
        SELECT SUM(amount) FROM zhs_order WHERE user_id IN
        <foreach item="userId" collection="userIds" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </select>

    <!-- 获取用户ID列表中的最新订单时间 -->
     <select id="selectLatestCreatedAtByUserIdsIn" resultType="Integer">
        SELECT MAX(created_at) FROM zhs_order WHERE user_id IN
        <foreach item="userId" collection="userIds" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </select>

    <!-- 根据用户ID列表和状态统计订单数量 -->
     <select id="countByUserIdsInAndStatusIn" resultType="Long">
        SELECT COUNT(*) FROM zhs_order WHERE user_id IN
        <foreach item="userId" collection="userIds" open="(" separator="," close=")">
            #{userId}
        </foreach>
        AND status IN
        <foreach item="status" collection="statuses" open="(" separator="," close=")">
            #{status}
        </foreach>
        <if test="createdAtGreaterThanEqual != null">
             AND created_at &gt;= #{createdAtGreaterThanEqual}
        </if>
    </select>
    <select id="selectByOpenId" resultType="java.lang.Long">
        select product_id from zhs_order where open_id = #{openId}
    </select>
    <select id="selectOutTradeNoByOpenId" resultType="java.lang.String">
        select out_trade_no from zhs_order where  open_id = #{openId}
    </select>

    <sql id="selectZhsOrderVo">
        select id, user_id, out_trade_no, open_id, amount, status, payment_status, created_at, paid_at, product_id, order_type, refund_time, refund_reason
             ,(select u.nickname from zhs_user u where u.id = user_id ) nickname
        from zhs_order
    </sql>

    <select id="getOrder" resultMap="OrderMap">
        select o.id, o.user_id, o.out_trade_no, o.open_id, o.amount, o.`status`, o.payment_status, o.created_at, o.paid_at, o.product_id, o.order_type, o.refund_time, o.refund_reason
        /*,p.`name` product_name
        ,a.activity_name
        ,pi.remark product_identity_name*/

        /*,IF(p.`name` IS NOT NULL,p.`name`, IF(a.activity_name IS NOT NULL,a.activity_name,o.product_identity_id)) product_name*/
        ,IF(p.`name` IS NOT NULL,p.`name`, IF(a.activity_name IS NOT NULL,a.activity_name,IF(pi.remark IS NOT NULL,pi.remark,''))) product_name

        ,p.images
        ,IF(p.`name` IS NOT NULL,p.images, IF(a.activity_name IS NOT NULL,1,o.product_identity_id)) images

        from zhs_order o
        left join zhs_product p on o.product_id = p.id
        left join zhs_activity a on o.activity_id = a.id
        left join zhs_center_project.zhs_product_identity pi on o.product_identity_id = pi.id
        <where>
            <if test="userId != null "> and o.user_id = #{userId}</if>
            <if test="outTradeNo != null  and outTradeNo != ''"> and out_trade_no = #{outTradeNo}</if>
            <if test="openId != null  and openId != ''"> and open_id = #{openId}</if>
            <if test="amount != null "> and amount = #{amount}</if>
            <if test="status != null "> and o.`status` = #{status}</if>
            <if test="paymentStatus != null "> and o.payment_status = #{paymentStatus}</if>
            <if test="createdAt != null "> and o.created_at = #{createdAt}</if>
            <if test="paidAt != null "> and o.paid_at = #{paidAt}</if>
            <if test="productId != null "> and o.product_id = #{productId}</if>
            <if test="orderType != null "> and o.order_type = #{orderType}</if>
            <if test="refundTime != null "> and o.refund_time = #{refundTime}</if>
            <if test="refundReason != null  and refundReason != ''"> and o.refund_reason = #{refundReason}</if>
            <if test="search != null  and search != ''">
                and (p.`name` like CONCAT("%", #{search}, "%")
                         or a.`activity_name` like CONCAT("%", #{search}, "%")
                         /*or pi.`remark` like CONCAT("%", #{search}, "%")*/
                         or o.out_trade_no like CONCAT(#{search}, "%"))
            </if>
        </where>
        order by o.created_at desc
<!--        <if test="pageSize != null">-->
<!--            limit #{skipNum}, #{pageSize}-->
<!--        </if>-->
    </select>

</mapper> 