<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai.manager.small.mapper.ZhsAgentMapper">

    <resultMap type="com.ai.manager.small.domain.ZhsAgent" id="ZhsAgentResult">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="consume" column="consume"/>
        <result property="image" column="image"/>
        <result property="url" column="url"/>
        <result property="info" column="info"/>
        <result property="remark" column="remark"/>
        <result property="seqencing" column="seqencing"/>
        <result property="price" column="price"/>
        <result property="type" column="type"/>
        <result property="isHidden" column="is_hidden"/>
        <result property="isOpen" column="is_open"/>
        <result property="heat" column="heat"/>
        <result property="field1" column="field1"/>
        <result property="field2" column="field2"/>
        <result property="field3" column="field3"/>
        <result property="creator" column="creator"/>
        <result property="createdTime" column="created_time"/>
        <result property="updator" column="updator"/>
        <result property="updatedTime" column="updated_time"/>
    </resultMap>

    <sql id="selectZhsAgentVo">
        select id, name, consume, image, url, info, remark, seqencing, price, type, is_hidden, is_open, heat, field1, field2, field3, creator, created_time, updator, updated_time from zhs_agent
    </sql>

    <select id="selectZhsAgentList" parameterType="com.ai.manager.small.domain.ZhsAgent" resultMap="ZhsAgentResult">
        <include refid="selectZhsAgentVo"/>
        <where>
            <if test="name != null  and name != ''">and name like concat('%', #{name}, '%')</if>
            <if test="type != null ">and type = #{type}</if>
            <if test="field1 != null  and field1 != ''">and field1 = #{field1}</if>
        </where>
    </select>

    <select id="selectZhsAgentById" parameterType="String" resultMap="ZhsAgentResult">
        <include refid="selectZhsAgentVo"/>
        where id = #{id}
    </select>

    <insert id="insertZhsAgent" parameterType="com.ai.manager.small.domain.ZhsAgent">
        insert into zhs_agent
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="consume != null">consume,</if>
            <if test="image != null">image,</if>
            <if test="url != null">url,</if>
            <if test="info != null">info,</if>
            <if test="remark != null">remark,</if>
            <if test="seqencing != null">seqencing,</if>
            <if test="price != null">price,</if>
            <if test="type != null">type,</if>
            <if test="isHidden != null">is_hidden,</if>
            <if test="isOpen != null">is_open,</if>
            <if test="heat != null">heat,</if>
            <if test="field1 != null">field1,</if>
            <if test="field2 != null">field2,</if>
            <if test="field3 != null">field3,</if>
            <if test="creator != null">creator,</if>
            <if test="createdTime != null">created_time,</if>
            <if test="updator != null">updator,</if>
            <if test="updatedTime != null">updated_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="consume != null">#{consume},</if>
            <if test="image != null">#{image},</if>
            <if test="url != null">#{url},</if>
            <if test="info != null">#{info},</if>
            <if test="remark != null">#{remark},</if>
            <if test="seqencing != null">#{seqencing},</if>
            <if test="price != null">#{price},</if>
            <if test="type != null">#{type},</if>
            <if test="isHidden != null">#{isHidden},</if>
            <if test="isOpen != null">#{isOpen},</if>
            <if test="heat != null">#{heat},</if>
            <if test="field1 != null">#{field1},</if>
            <if test="field2 != null">#{field2},</if>
            <if test="field3 != null">#{field3},</if>
            <if test="creator != null">#{creator},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="updator != null">#{updator},</if>
            <if test="updatedTime != null">#{updatedTime},</if>
        </trim>
    </insert>

    <update id="updateZhsAgent" parameterType="com.ai.manager.small.domain.ZhsAgent">
        update zhs_agent
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="consume != null">consume = #{consume},</if>
            <if test="image != null">image = #{image},</if>
            <if test="url != null">url = #{url},</if>
            <if test="info != null">info = #{info},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="seqencing != null">seqencing = #{seqencing},</if>
            <if test="price != null">price = #{price},</if>
            <if test="type != null">type = #{type},</if>
            <if test="isHidden != null">is_hidden = #{isHidden},</if>
            <if test="isOpen != null">is_open = #{isOpen},</if>
            <if test="heat != null">heat = #{heat},</if>
            <if test="field1 != null">field1 = #{field1},</if>
            <if test="field2 != null">field2 = #{field2},</if>
            <if test="field3 != null">field3 = #{field3},</if>
            <if test="creator != null">creator = #{creator},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
            <if test="updator != null">updator = #{updator},</if>
            <if test="updatedTime != null">updated_time = #{updatedTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteZhsAgentById" parameterType="String">
        delete
        from zhs_agent
        where id = #{id}
    </delete>

    <delete id="deleteZhsAgentByIds" parameterType="String">
        delete from zhs_agent where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>