<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai.manager.small.mapper.ZhsIdentityProportionMapper">
    
    <resultMap type="com.ai.manager.small.domain.ZhsIdentityProportion" id="ZhsIdentityProportionResult">
        <result property="id"    column="id"    />
        <result property="beginTime"    column="begin_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="status"    column="status"    />
        <result property="gift"    column="gift"    />
        <result property="tokenProportion"    column="token_proportion"    />
        <result property="vipGift"    column="vip_gift"    />
        <result property="routineProportion"    column="routine_proportion"    />
        <result property="vipProportion"    column="vip_proportion"    />
        <result property="traderProportion"    column="trader_proportion"    />
        <result property="traderGift"    column="trader_gift"    />
        <result property="traderRoutineProportion"    column="trader_routine_proportion"    />
        <result property="traderVipProportion"    column="trader_vip_proportion"    />
        <result property="traderTraderProportion"    column="trader_trader_proportion"    />
        <result property="grandRoutineProportion"    column="grand_routine_proportion"    />
        <result property="grandVipProportion"    column="grand_vip_proportion"    />
        <result property="grandTraderProportion"    column="grand_trader_proportion"    />
        <result property="creator"    column="creator"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updator"    column="updator"    />
        <result property="updatedTime"    column="updated_time"    />
    </resultMap>

    <sql id="selectZhsIdentityProportionVo">
        select id, begin_time, end_time, status, gift, token_proportion, vip_gift, routine_proportion, vip_proportion, trader_proportion, trader_gift, trader_routine_proportion, trader_vip_proportion, trader_trader_proportion, grand_routine_proportion, grand_vip_proportion, grand_trader_proportion, creator, created_time, updator, updated_time from zhs_identity_proportion
    </sql>

    <select id="selectZhsIdentityProportionList" parameterType="com.ai.manager.small.domain.ZhsIdentityProportion" resultMap="ZhsIdentityProportionResult">
        <include refid="selectZhsIdentityProportionVo"/>
        <where>  
            <if test="beginTime != null "> and begin_time = #{beginTime}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectZhsIdentityProportionById" parameterType="String" resultMap="ZhsIdentityProportionResult">
        <include refid="selectZhsIdentityProportionVo"/>
        where id = #{id}
    </select>
    <select id="getCrankUpProportion" resultMap="ZhsIdentityProportionResult">
        <include refid="selectZhsIdentityProportionVo"/>
        where `status` = 1
        order by created_time desc
        limit 1
    </select>

    <insert id="insertZhsIdentityProportion" parameterType="com.ai.manager.small.domain.ZhsIdentityProportion">
        insert into zhs_identity_proportion
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="beginTime != null">begin_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="status != null">status,</if>
            <if test="gift != null">gift,</if>
            <if test="tokenProportion != null">token_proportion,</if>
            <if test="vipGift != null">vip_gift,</if>
            <if test="routineProportion != null">routine_proportion,</if>
            <if test="vipProportion != null">vip_proportion,</if>
            <if test="traderProportion != null">trader_proportion,</if>
            <if test="traderGift != null">trader_gift,</if>
            <if test="traderRoutineProportion != null">trader_routine_proportion,</if>
            <if test="traderVipProportion != null">trader_vip_proportion,</if>
            <if test="traderTraderProportion != null">trader_trader_proportion,</if>
            <if test="grandRoutineProportion != null">grand_routine_proportion,</if>
            <if test="grandVipProportion != null">grand_vip_proportion,</if>
            <if test="grandTraderProportion != null">grand_trader_proportion,</if>
            <if test="creator != null">creator,</if>
            <if test="createdTime != null">created_time,</if>
            <if test="updator != null">updator,</if>
            <if test="updatedTime != null">updated_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="beginTime != null">#{beginTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="status != null">#{status},</if>
            <if test="gift != null">#{gift},</if>
            <if test="tokenProportion != null">#{tokenProportion},</if>
            <if test="vipGift != null">#{vipGift},</if>
            <if test="routineProportion != null">#{routineProportion},</if>
            <if test="vipProportion != null">#{vipProportion},</if>
            <if test="traderProportion != null">#{traderProportion},</if>
            <if test="traderGift != null">#{traderGift},</if>
            <if test="traderRoutineProportion != null">#{traderRoutineProportion},</if>
            <if test="traderVipProportion != null">#{traderVipProportion},</if>
            <if test="traderTraderProportion != null">#{traderTraderProportion},</if>
            <if test="grandRoutineProportion != null">#{grandRoutineProportion},</if>
            <if test="grandVipProportion != null">#{grandVipProportion},</if>
            <if test="grandTraderProportion != null">#{grandTraderProportion},</if>
            <if test="creator != null">#{creator},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="updator != null">#{updator},</if>
            <if test="updatedTime != null">#{updatedTime},</if>
         </trim>
    </insert>

    <update id="updateZhsIdentityProportion" parameterType="com.ai.manager.small.domain.ZhsIdentityProportion">
        update zhs_identity_proportion
        <trim prefix="SET" suffixOverrides=",">
            <if test="beginTime != null">begin_time = #{beginTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="gift != null">gift = #{gift},</if>
            <if test="tokenProportion != null">token_proportion = #{tokenProportion},</if>
            <if test="vipGift != null">vip_gift = #{vipGift},</if>
            <if test="routineProportion != null">routine_proportion = #{routineProportion},</if>
            <if test="vipProportion != null">vip_proportion = #{vipProportion},</if>
            <if test="traderProportion != null">trader_proportion = #{traderProportion},</if>
            <if test="traderGift != null">trader_gift = #{traderGift},</if>
            <if test="traderRoutineProportion != null">trader_routine_proportion = #{traderRoutineProportion},</if>
            <if test="traderVipProportion != null">trader_vip_proportion = #{traderVipProportion},</if>
            <if test="traderTraderProportion != null">trader_trader_proportion = #{traderTraderProportion},</if>
            <if test="grandRoutineProportion != null">grand_routine_proportion = #{grandRoutineProportion},</if>
            <if test="grandVipProportion != null">grand_vip_proportion = #{grandVipProportion},</if>
            <if test="grandTraderProportion != null">grand_trader_proportion = #{grandTraderProportion},</if>
            <if test="creator != null">creator = #{creator},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
            <if test="updator != null">updator = #{updator},</if>
            <if test="updatedTime != null">updated_time = #{updatedTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteZhsIdentityProportionById" parameterType="String">
        delete from zhs_identity_proportion where id = #{id}
    </delete>

    <delete id="deleteZhsIdentityProportionByIds" parameterType="String">
        delete from zhs_identity_proportion where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>