<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai.manager.small.mapper.ZhsUserAgentAudioMapper">
    
    <resultMap type="com.ai.manager.small.domain.ZhsUserAgentAudio" id="ZhsUserAgentAudioResult">
        <result property="id"    column="id"    />
        <result property="uuid"    column="uuid"    />
        <result property="audioId"    column="audio_id"    />
        <result property="agentId"    column="agent_id"    />
        <result property="audioPath"    column="audio_path"    />
        <result property="source"    column="source"    />
        <result property="platform"    column="platform"    />
        <result property="field1"    column="field1"    />
        <result property="isDel"    column="is_del"    />
        <result property="createdAt"    column="created_at"    />
        <result property="updateAt"    column="update_at"    />
        <result property="name"    column="name"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectZhsUserAgentAudioVo">
        select distinct `id`, `uuid`, `audio_id`, `agent_id`, `audio_path`, `source`, `platform`, `field1`, `is_del`, `created_at`, `update_at`, `name`, remark
    </sql>
    <sql id="fromZhsUserAgentAudioTable">
        from zhs_user_agent_audio
    </sql>

    <select id="getList" parameterType="com.ai.manager.small.domain.ZhsUserAgentAudio" resultMap="ZhsUserAgentAudioResult">
        <include refid="selectZhsUserAgentAudioVo"/>
        <include refid="fromZhsUserAgentAudioTable"/>
        <where>
            <if test="uuid != null  and uuid != ''"> and `uuid` = #{uuid}</if>
            <if test="audioId != null  and audioId != ''"> and audio_id = #{audioId}</if>
            <if test="agentId != null  and agentId != ''"> and agent_id = #{agentId}</if>
            <if test="source != null  and source != ''"> and `source` = #{source}</if>
            <if test="platform != null  and platform != ''"> and platform = #{platform}</if>
        </where>
    </select>
    
    <select id="getById" parameterType="String" resultMap="ZhsUserAgentAudioResult">
        <include refid="selectZhsUserAgentAudioVo"/>
        <include refid="fromZhsUserAgentAudioTable"/>
        where id = #{id}
    </select>
    <select id="getByUuid" resultMap="ZhsUserAgentAudioResult">
        <include refid="selectZhsUserAgentAudioVo"/>
        <include refid="fromZhsUserAgentAudioTable"/>
        where `uuid` = #{uuid}
        limit 1
    </select>
    <select id="getAudioSys" resultMap="ZhsUserAgentAudioResult" >
        <include refid="selectZhsUserAgentAudioVo"/>
        <include refid="fromZhsUserAgentAudioTable"/>
        where agent_id = 'cosyvoice'
        and `uuid` is null
        and `status` = 1
        and is_del = 1
    </select>

    <insert id="addZhsUserAgentAudio" parameterType="com.ai.manager.small.domain.ZhsUserAgentAudio">
        insert into zhs_user_agent_audio
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="uuid != null">`uuid`,</if>
            <if test="audioId != null">audio_id,</if>
            <if test="agentId != null">agent_id,</if>
            <if test="audioPath != null">audio_path,</if>
            <if test="source != null">`source`,</if>
            <if test="platform != null">platform,</if>
            <if test="field1 != null">field1,</if>
            <if test="isDel != null">is_del,</if>
            <if test="createdAt != null">created_at,</if>
            <if test="updateAt != null">update_at,</if>
            <if test="name != null">`name`,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="uuid != null">#{uuid},</if>
            <if test="audioId != null">#{audioId},</if>
            <if test="agentId != null">#{agentId},</if>
            <if test="audioPath != null">#{audioPath},</if>
            <if test="source != null">#{source},</if>
            <if test="platform != null">#{platform},</if>
            <if test="field1 != null">#{field1},</if>
            <if test="isDel != null">#{isDel},</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="updateAt != null">#{updateAt},</if>
            <if test="name != null">#{name},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>
    <insert id="addOrUpdate">
        insert into zhs_user_agent_audio
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="uuid != null">`uuid`,</if>
            <if test="audioId != null">audio_id,</if>
            <if test="agentId != null">agent_id,</if>
            <if test="audioPath != null">audio_path,</if>
            <if test="source != null">`source`,</if>
            <if test="platform != null">platform,</if>
            <if test="field1 != null">field1,</if>
            <if test="isDel != null">is_del,</if>
            <if test="createdAt != null">created_at,</if>
            <if test="updateAt != null">update_at,</if>
            <if test="name != null">`name`,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="uuid != null">#{uuid},</if>
            <if test="audioId != null">#{audioId},</if>
            <if test="agentId != null">#{agentId},</if>
            <if test="audioPath != null">#{audioPath},</if>
            <if test="source != null">#{source},</if>
            <if test="platform != null">#{platform},</if>
            <if test="field1 != null">#{field1},</if>
            <if test="isDel != null">#{isDel},</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="updateAt != null">#{updateAt},</if>
            <if test="name != null">#{name},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
        <trim prefix="ON DUPLICATE KEY UPDATE" suffixOverrides=",">
            <if test="uuid != null">`uuid` = VALUE(`uuid`),</if>
            <if test="audioId != null">audio_id = VALUE(audioId),</if>
            <if test="agentId != null">agent_id = VALUE(agentId),</if>
            <if test="audioPath != null">audio_path = VALUE(audioPath),</if>
            <if test="source != null">`source` = VALUE(source),</if>
            <if test="platform != null">platform = VALUE(platform),</if>
            <if test="field1 != null">field1 = VALUE(field1),</if>
            <if test="isDel != null">is_del = VALUE(isDel),</if>
            <if test="createdAt != null">created_at = VALUE(createdAt),</if>
            <if test="updateAt != null">update_at = VALUE(updateAt),</if>
            <if test="name != null">name = VALUE(name),</if>
            <if test="remark != null">remark = VALUE(remark),</if>
        </trim>
    </insert>

    <update id="edit" parameterType="com.ai.manager.small.domain.ZhsUserAgentAudio">
        update zhs_user_agent_audio
        <trim prefix="SET" suffixOverrides=",">
            <if test="uuid != null">`uuid` = #{uuid},</if>
            <if test="audioId != null">audio_id = #{audioId},</if>
            <if test="agentId != null">agent_id = #{agentId},</if>
            <if test="audioPath != null">audio_path = #{audioPath},</if>
            <if test="source != null">`source` = #{source},</if>
            <if test="platform != null">platform = #{platform},</if>
            <if test="field1 != null">field1 = #{field1},</if>
            <if test="isDel != null">is_del = #{isDel},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="updateAt != null">update_at = #{updateAt},</if>
            <if test="name != null">`name` = #{name},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="delById" parameterType="String">
        delete from zhs_user_agent_audio where id = #{id}
    </delete>

    <delete id="delByIds" parameterType="String">
        delete from zhs_user_agent_audio where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>